.cart-product {
  $this: &;
  // justify-content: space-between;

  &.is-order {
    #{$this}__counter {
      display: none;
    }
    #{$this}__order {
      display: block;
    }
  }

  &__counter {

  }

  &__order {
    width: 112px;
    display: none;
  }

  &__order-text {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 500;
  }

  &__container {
    display: flex;
    align-items: center;
    position: relative;

    @media (max-width: $xs) {
      align-items: flex-start;
    }
  }

  &__image {
    width: 128px;
    margin-right: 16px;
    @media (max-width: $xs) {     
      width: 96px;
    }
    @media (max-width: $xxs) {     
      margin-right: 8px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    margin-right: 48px;

    @media (max-width: $s) {      
      margin-right: 24px;
    }

    @media (max-width: $xs) {
      flex-direction: column;
      align-items: flex-start;
      margin-right: 16px;
    }
  }

  &__description {
    width: 288px;
    margin-right: 48px;

    @media (max-width: $s) {
      width: 192px;
      margin-right: 24px;
    }
    @media (max-width: $xs) {
      width: 100%;
      max-width: 296px;
      margin-right: 0;
    }
    @media (max-width: $xxs) {
      width: 152px;
    }
  }

  &__icon-close {
    width: 24px;
    height: 24px;
    fill: $color-icon-secondary;
    cursor: pointer;
    

    @media (max-width: $xs) {
      
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__title {
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 700;
  }
  &__specifications {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 500;
    margin-top: 8px;
  }

  &__status {
    margin-top: 16px;
  }

  &__price {
    color: $color-text-heading;
    @include fontSize(16, 24);
    font-weight: 700;
    width: 88px;
    margin-left: 48px;

    @media (max-width: $s) {
      margin-left: 24px;
    }
    @media (max-width: $xxs) {
      margin-left: 0;
      margin-top: 16px;
    }
  }

  &__complect {
    margin-top: 16px;
  }

  &__accordion {
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    fill: $color-icon-secondary;
    cursor: pointer;
  }
  &__accordion-body {
    // position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 144px;

    @media (max-width: $xs) {     
      padding-left: 112px;
    }
    @media (max-width: $xxs) {     
      padding-left: 48px;
    }
  }

  &__accordion-item {
    margin-top: 8px;
    padding: 16px 0;
    display: flex;
  }

  &__image-complect {
    width: 48px;
    height: 48px;
    margin-right: 16px;
    @media (max-width: $xxs) {     
      margin-right: 8px;
    }
  }

  &__values {
    display: flex;
    align-items: center;

    @media (max-width: $xs) {     
      margin-top: 16px;
    }

    @media (max-width: $xxs) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__description-complect {
    display: flex;
    align-items: center;
    @media (max-width: $xs) {     
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title-complect {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;
    margin-right: 48px;
    width: 224px;
    @media (max-width: $s) {
      width: 128px;
      margin-right: 24px;
    }
    @media (max-width: $xs) {     
      width: 100%;
      margin-right: 0;
    }
  }
}
