<template lang="pug">
  .cart-product
    .cart-product__container
      img.cart-product__image(:src='data.image')
      .cart-product__content
        .cart-product__description
          h2.cart-product__title {{data.title}}
          p.cart-product__specifications(v-if="data.specifications") {{data.specifications}}
          .cart-product__status(v-if="data.badge")
            StatusBadge(:status='data.badge')
          .cart-product__complect(v-if="data.complect")
            .cart-product__accordion(@click='toogleComplect')
              | Состав комплекта
              svg-icon.cart-product__icon(name='chevron-down')
        .cart-product__values
          .cart-product__counter                     
            Counter(:quantity='data.quantity' class='small in-complect' @change='updateQuantity')
          .cart-product__order
            p.cart-product__order-text {{data.price}} ₽ × {{data.quantity}} {{data.unit}}
          p.cart-product__price {{currentPrice}} ₽
      svg-icon.cart-product__icon-close(name='delete-small')
    .cart-product__accordion-body(v-if="data.complect" v-show-slide:500:example-easing="complectOpened")
      .cart-product__accordion-item(v-for="item in data.complect" :key="item.id")
        img.cart-product__image-complect(:src='item.image')
        .cart-product__description-complect
          h2.cart-product__title-complect {{item.title}}
          .cart-product__values
            .cart-product__counter 
              Counter(:quantity='item.quantity' class='small in-complect')
            .cart-product__order
              p.cart-product__order-text {{item.price}} ₽ × {{item.quantity}} {{item.unit}}
            p.cart-product__price {{item.price}} ₽
</template>

<script>
export default {
  props: ['data'],
  data() {
    return {
      complectOpened: true,
      price: this.data.price,
      quantity: this.data.quantity
    }
  },
  computed: {
    currentPrice() {
      // let price = this.data.quantity * this.data.price
      return this.quantity * this.price
    }
  },
  methods: {
    toogleComplect() {
      this.complectOpened = !this.complectOpened
    },
    updateQuantity() {
      console.log(123);
    }
  },
}
</script>

<style lang="scss" src='./cart-product.scss'>
  
</style>