.header {
  $this: &;
  background-color: $color-bg-primary;
  padding-bottom: 72px;
  opacity: 1;
  
  @media (max-width: $s) {
    padding-bottom: 0;
  }
  z-index: 100;
  transition: transform 1s ease, opacity 1s ease;

  &.is-fixed {
    width: 100%;
    position: fixed !important;
    top: -180px;
    transform: translateY(180px);
  }

  &.is-cart {
    padding-bottom: 0;
  }

  &.is-hidden {
    opacity: 0;
    transform: translateY(-100%);
  }

  &.is-down {
    box-shadow: 0 0 12px rgba(11, 14, 20, 0.16);
  }

  &__desktop {
    @media (max-width: $s) {
      display: none;
    }
  }

  &__mobile {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    position: relative;
    @media (max-width: $s) {
      display: flex;
    }
    @media (max-width: $xs) {
      padding: 12px 0;
    }    
  }

  &__nav {
    background-color: $color-bg-secondary;
    z-index: 52; 
    position: relative;
  }

  &__info {
    display: flex;
    padding: 24px 0 20px;
    justify-content: space-between;   
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__info-item {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 32px;
    &:hover {
      #{$this}__text {
        color: $color-accent-light-blue;
      }
      #{$this}__icon-info {
        stroke: $color-accent-light-blue;
      }
      #{$this}__icon-estimate {
        fill: $color-accent-light-blue;
      }
    }

    &.city {
      &:hover {
        #{$this}__city-popup {
          // opacity: 1;
          // visibility: visible;
          // z-index: 2;
        }
      }
    }

    &.dropdown {
      &:hover {
        #{$this}__dropdown-container {
          opacity: 1;
          visibility: visible;
          // z-index: 2;
          z-index: 56;
        }
      }
    }
  }

  &__popup-button {
    border-radius: 4px;
    padding: 10px 12px;
    color: $color-text-contrast;
    @include fontSize(14, 20);
    font-weight: 600;
    background-color: $color-accent-dark-blue;

    &.unfill {
      background-color: $color-bg-secondary;
      color: $color-accent-dark-blue;
      &:hover {
        background-color: $color-accent-light-blue;
        color: $color-text-contrast;
      }
    }

    &:hover {
      background-color: $color-accent-light-blue;
    }
  }

  &__city-popup {
    transition: opacity, visibility, transform;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    background: $color-grey-0;
    box-shadow: 0px 0px 12px rgba(11, 14, 20, 0.16);
    border-radius: 8px;
    padding: 16px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 34px;
    left: 0;    
    visibility: visible;
    z-index: 3;
    width: 287px;
    transform: translateY(-32px);
    opacity: 0;
    pointer-events: none;

    &.visible {    
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
      
    }

    &::after {
      content: '';
      position: absolute;
      top: -22px;
      width: 240px;
      height: 26px;
      right: 0;
      left: 0;
      z-index: 0;
    }

    @media (max-width: $s) {
      display: none;
    }
  }

  &__dropdown-container {
    transition: opacity, visibility;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    border-radius: 4px;
    background: $color-grey-0;
    box-shadow: 0px 0px 12px rgba(11, 14, 20, 0.16);
    padding: 8px 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 34px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    width: 224px;

    &::after {
      content: '';
      position: absolute;
      top: -22px;
      width: 240px;
      height: 26px;
      right: 0;
      left: 0;
      z-index: 0;
    }
  }

  &__dropdown-item {
    padding: 12px 16px;
    color: $color-text-primary;
    @include fontSize(13, 16);
    font-weight: 500;
    transition: background-color 0.3s ease;

    &.red {
      color: $color-accent-red;
      &:hover {
        color: $color-accent-red;
      }
    }

    &:hover {
      background-color: $color-bg-secondary;
      color: $color-text-primary;
    }
  }
  &__text-popup {
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 500;
  }

  &__text {
    color: $color-accent-dark-blue;
    @include fontSize(13, 16);
    font-weight: 600;
    transition: color 0.3s ease;

    &.mobile {
      margin-left: 8px;
      @media (max-width: $xs) {
        display: none;
      }
    }
  }

  &__icon-info {
    width: 20px;
    height: 20px;
    stroke: $color-accent-dark-blue;
    stroke-width: 1.5;
    stroke-linecap: round;
    margin-right: 8px;
    transition: stroke 0.3s ease;

    &.margin {
      margin: 0;
    }
  }
  &__icon-estimate {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    fill: $color-accent-dark-blue;
    fill-rule: evenodd;
    clip-rule: evenodd;
    transition: fill 0.3s ease;

    &.margin {
      width: 24px;
      height: 24px;
      margin: 0;
    }

    &.chevron {
      width: 16px;
      height: 16px;
      margin-right: 0;
      margin-left: 8px;
    }
  }

  &__catalog-button {
    padding: 12px 16px;
    background-color: $color-accent-dark-blue;
    border-radius: 4px;
    display: flex;
    align-items: center;
    color: $color-text-contrast;
    @include fontSize(16, 24);
    font-weight: 600;

    &:hover {
      background-color: $color-accent-light-blue;
    }
  }

  &__burger-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    stroke: $color-grey-0;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    &.dark {
      margin-right: 0;
      stroke: $color-accent-dark-blue;
    }
  }

  &__search {
    width: 100%;
    padding-left: 16px;
    padding-right: 40px;
    flex-grow: 0;
    flex-shrink: 1;
    @media (max-width: $m) {
      padding-right: 24px;
    }
  }

  &__fixed {
    position: fixed;    
    top: var(--top);
    z-index: 50;
    background-color: $color-bg-primary;
    width: 100%;

    &.is-overflow {
      top: unset;
    }
    
    &.is-down {
      box-shadow: 0 0 12px rgba(11, 14, 20, 0.16);
    }
    @media (max-width: $s) {
      display: none;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    padding: 12px 0;    
  }

  &__actions-list {
    display: flex;
    flex-shrink: 0;
  }

  &__badge {
    top: 0;
    right: 4px;
    position: absolute;
    background-color: $color-accent-red;
    border-radius: 999px;
    padding: 0 4px;
    color: $color-text-contrast;
    @include fontSize(11, 16);
    font-weight: 600;
    display: none;
  }

  &__icon-container {
    position: relative;
    &::after {
      content: var(--quantity);
      top: -4px;
      right: -8px;
      min-width: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background-color: $color-accent-red;
      border-radius: 999px;
      padding: 0 4px;
      color: $color-text-contrast;
      @include fontSize(11, 16);
      font-weight: 600;
      @media (max-width: $m) {
        top: 0;
        right: -4px;
      }
    }
  }

  &__cart-container {
    position: absolute;
    background-color: $color-bg-primary;
    width: 384px;
    top: 64px;
    z-index: 4;
    right: 0;
    transform: translateY(24px);
    filter: drop-shadow(0px 0px 12px rgba(11, 14, 20, 0.16));
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.5s ease;
    &::after {
      content: '';
      position: absolute;
      top: -22px;
      width: 384px;
      height: 26px;
      right: 0;
      left: 0;
      z-index: 0;
    }

    @media (max-width: $s) {
      display: none;
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;

    &.is-cart {
      &:hover {
        #{$this}__cart-container {
          opacity: 1;
          pointer-events: all;
          transform: translateY(0);
        }        

        & .dropdown-cart__body {
          &::-webkit-scrollbar {
            display: block;
          }
        }
      }
    }

    @media (max-width: $m) {
      #{$this}__text {
        display: none;
      }
    }

    &:hover {
      #{$this}__text {
        color: $color-accent-light-blue;
      }
      #{$this}__icon {
        // transform: scale(1.1);
        &.action {
          stroke: $color-accent-light-blue;
        }

        &.is-cart {
          fill: $color-accent-light-blue;
        }
      }
    }

    & + & {
      padding-left: 16px;
      @media (max-width: $m) {
        padding-left: 8px;
      }
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;

    &.action {
      stroke: $color-accent-dark-blue;
      stroke-width: 1.5;
      // stroke-linecap: round;
      // stroke-linejoin: round;
    }

    &.is-cart {
      fill: $color-accent-dark-blue;
      fill-rule: evenodd;
      clip-rule: evenodd;
    }
  }

  &__mobile-container {
    display: flex;
    align-items: center;

    &.is-logo {
      position: absolute;
      left: calc(50% - 67.5px);
      @media (max-width: $xs) {
        position: relative;
        left: unset;
      }
    }
  }

  &__icon-phone {
    width: 24px;
    height: 24px;
    stroke: $color-accent-dark-blue;
    stroke-width: 2;
  }

  &__icon-container {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $m) {
      width: 48px;
      height: 48px;
    }
    @media (max-width: $s) {
      width: 32px;
    height: 32px;
    }

    &.margin {
      margin-left: 8px;
    }
  }

  &__sidebar {
    transition: all 0.3s ease;
    position: fixed;
    left: 0;
    top: 0;
    // width: 100%;
    // max-width: 40rem;
    transform: translateX(-100%);
    height: calc(var(--vh, 1vh) * 100);
    background: $color-grey-0;
    z-index: 100;
    display: flex;
    flex-flow: column nowrap;

    &.active {
      transform: translateX(0);
    }
  }

  &__sidebar-menu {
    transition: all 0.3s ease;
    position: fixed;
    left: 0;
    top: 0;
    // width: 100%;
    // max-width: 40rem;
    transform: translateX(-100%);
    height: calc(var(--vh, 1vh) * 100);
    background: $color-grey-0;
    z-index: 98;
    display: flex;
    flex-flow: column nowrap;

    &.active {
      transform: translateX(0);
    }
  }

  &__area {
    transition: all 0.3s ease;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    // background: rgba($color-grey-900, 0.25);
    // background: $color-grey-300;
    background-color: rgba(0, 0, 0, 0.32);
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__area-close {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    fill: $color-icon-contrast;
    cursor: pointer;
  }

  &__search-mobile {
    padding: 16px 24px;
    padding-right: 36px;
    transition: all 0.3s ease;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    // max-width: 40rem;
    transform: translateX(-100%);
    // height: calc(var(--vh, 1vh) * 100);
    background: $color-grey-0;
    z-index: 98;
    display: flex;
    gap: 24px;
    align-items: center;

    @media (max-width: $xs) {
      padding: 12px 16px;
    }

    &.active {
      transform: translateX(0);
    }
  }

  &__search-cancel {
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 600;
  }

  &__search-close {
    width: 24px;
    height: 24px;
    fill: $color-icon-primary;
    margin-left: 24px;
  }

  &__cart-mobile {
    & + & {
      margin-left: 16px;
    }
  }

  &__cart-text {
    color: $color-accent-dark-blue;
    @include fontSize(14, 16);
    font-weight: 600;
    margin-left: 8px;

    &.phone {
      @media (max-width: $xs) {
        display: none;
      }
    }
    @media (max-width: $xxs) {
      display: none;
    }
  }
}
