<template lang="pug">
.header
  .header__desktop
    .header__nav(v-if="visible")
      .container
        Nav
    .container
      .header__info(v-if="visible")
        .header__container
          Logo
          .header__info-item.city
            .header__container(@click='chooseCity')
              svg-icon.header__icon-info(name='location')
              p.header__text Санкт-Петербург
            .header__city-popup(:class='{"visible": cityVisible}' style='z-index: 51')
              p.header__text-popup Ваш город Санкт-Петербург?
              .header__container(style='justify-content: space-between; margin-top: 16px;')
                button.header__popup-button(@click='hideCity') Да, верно
                button.header__popup-button.unfill(@click='chooseCity') Нет, изменить город
        .header__container
          .header__info-item(@click='getEstimate')
            svg-icon.header__icon-estimate(name='cost-estimate')
            p.header__text Получить смету
          a.header__info-item(href='tel:+7 (495) 225-63-03') 
            svg-icon.header__icon-info(name='phone')
            p.header__text +7 (495) 225-63-03
          .header__info-item.dropdown(v-if="logined")
            p.header__text Личный кабинет
            svg-icon.header__icon-estimate.chevron(name='chevron-down')
            .header__dropdown-container
              nuxt-link.header__dropdown-item(to='/account') Профиль
              nuxt-link.header__dropdown-item(to='/account/orders') Заказы
              nuxt-link.header__dropdown-item(to='/favorites') Избранное
              nuxt-link.header__dropdown-item(to='/compare') Сравнение
              nuxt-link.header__dropdown-item(to='/viewed') Недавно просмотренное
              .header__dropdown-item.red(@click='logout') Выйти
          .header__info-item(v-if="!logined" @click='modalLogin')
            p.header__text Войти или зарегистрироваться
    .header__fixed(:style='"--top: " + top + "px"')
      .container
        .header__actions
          button.header__catalog-button(@click='openFilters')
            svg-icon.header__burger-icon(name='burger-menu')
            | Каталог
          .header__search
            SearchField
          .header__actions-list
            nuxt-link.header__action.is-cart(to='/viewed')
              .header__icon-container(style='--quantity: "2";')            
                svg-icon.header__icon.action(name='eye')
              p.header__text Вы смотрели
              .header__cart-container
                DropdownViews
            nuxt-link.header__action(to='/compare')            
              .header__icon-container(style='--quantity: "4";')
                svg-icon.header__icon.action(name='compare')
                .header__badge 35
              p.header__text Сравнение
            nuxt-link.header__action(to='/favorites') 
              .header__icon-container(style='--quantity: "11";')              
                svg-icon.header__icon.action(name='favorites')
                .header__badge 48
              p.header__text Избранное
            nuxt-link.header__action.is-cart(to='/cart')
              .header__icon-container(style='--quantity: "32";')              
                svg-icon.header__icon.is-cart(name='cart')
                .header__badge 33
              p.header__text Корзина
              .header__cart-container
                DropdownCart
  .container
    .header__mobile
      .header__mobile-container
        .header__icon-container
          svg-icon.header__burger-icon.dark(name='burger-menu' @click='openMenu')
        .header__icon-container.margin
          svg-icon.search-field__icon.in-header(name='search' @click='openSeach')
        p.header__text.mobile(@click='openSeach') Поиск
      .header__mobile-container.is-logo
        Logo 
      .header__mobile-container
        .header__icon-container(@click='getEstimate')
          svg-icon.header__icon-estimate.margin(name='cost-estimate')
        p.header__text.mobile(@click='getEstimate') Получить смету
        a.header__icon-container.margin(href='tel:+7 (495) 225-63-03')
          svg-icon.header__icon-phone.margin(name='phone')  
  .header__sidebar(:class='{"active": sidebarOpened}')
    DropdownCatalog
  .header__sidebar(:class='{"active": calculator}')
    DropdownCalculator
  .header__sidebar-menu(:class='{"active": menuOpened}')
    DropdownMenu  
  .header__search-mobile(:class='{"active": searchOpened}')
    SearchField
    //- svg-icon.header__search-close(name='close' @click='closeSeach')
    .header__search-cancel(@click='closeSeach')  Отменить
  .header__area(:class='{"active": sidebarOpened}' @click='closeFilters')
    svg-icon.header__area-close(name='close' @click='closeMenu')
</template>

<script>
import ModalEstimate from '../ModalEstimate/ModalEstimate'
import ModalCity from '../ModalCity/ModalCity'
import ModalLogin from '../ModalLogin/ModalLogin'
export default {
  data() {
    return {
      paddingTop: 108,
      lastScroll: 0,
      visible: true,
      sidebarOpened: false,
      menuOpened: false,
      cityPopup: true,
      searchOpened: false,
      calculator: false,
      logined: true,
      cityVisible: false
    }
  },
  computed: {
    top() {
      return this.paddingTop
    }
  },
  methods: {
    logout() {
      this.logined = false
      // this.$store.state.account.commit('logout')
    },
    modalLogin() {
      this.$modal.show(
        ModalLogin,
        {},
        { width: '400', scrollable: true, adaptive: true }
      )
    },
    hideCity() {
      this.cityVisible = false
    },
    chooseCity() {
      this.$modal.show(
        ModalCity,
        {},
        { width: '400', scrollable: true, adaptive: true }
      )
    },
    getEstimate() {      
      this.$modal.show(
        ModalEstimate,
        {},
        { width: '400', scrollable: true, adaptive: true }
      )
    },
    openSeach() {
      this.searchOpened = !this.searchOpened
      document.querySelector('body').classList.add('fixed')
      this.$nuxt.$emit('searchFocused')
      setTimeout(() => {
        console.log(123);
        document.getElementById('searhFocus').focus();
        console.log(333);
      }, 1000);
             
    },
    closeSeach() {
       this.searchOpened = false
       document.querySelector('body').classList.remove('fixed')
    },
    openMenu() {
      this.menuOpened = !this.menuOpened
      document.querySelector('body').classList.add('fixed')
    },
    closeMenu() {
      this.menuOpened = false
      document.querySelector('body').classList.remove('fixed')
    },
    openFilters() {
      this.sidebarOpened = true
      document.querySelector('body').classList.add('fixed')
    },
    closeFilters() {
      this.$nuxt.$emit('deleteCatalogState')
      this.sidebarOpened = false
      document.querySelector('body').classList.remove('fixed')
    },
    openCalc() {
      this.calculator = !this.calculator
    },
    closeCalc() {
      this.calculator = false
    }
  },
  mounted() {
    this.$nuxt.$on('closeSeach', this.closeSeach)
    this.$nuxt.$on('openCalculator', this.openCalc)
    this.$nuxt.$on('closeCalculator', this.closeCalc)
    this.$nuxt.$on('openCity', this.chooseCity)
    this.$nuxt.$on('openEstimate', this.getEstimate)
    this.$nuxt.$on('closeCity', this.hideCity)
    this.$nuxt.$on('openCatalog', this.openFilters)
    this.$nuxt.$on('closeCatalog', this.closeFilters)
    this.$nuxt.$on('closeMenu', this.closeMenu)
    let head = document.querySelector('.header')   
    
    if (window.outerWidth < 960) {
      head.classList.add('is-fixed')      
    }
    if (window.pageYOffset > 108) {
      this.paddingTop = 0
      document.querySelector('.header__fixed').classList.add('is-down')
    }     
    window.addEventListener('scroll', () => {
      this.scrollTop = scrollY      

      if (window.outerWidth >= 960 ) {
        if (this.scrollTop <= 108) {
          this.paddingTop = 108 - this.scrollTop
          document.querySelector('.header__fixed').classList.remove('is-down') 
        } else {
          this.paddingTop = 0
          document.querySelector('.header__fixed').classList.add('is-down')
        }
        if (this.scrollTop < 0) {
          document.querySelector('.header__fixed').classList.add('is-overflow')
        } else {
          document.querySelector('.header__fixed').classList.remove('is-overflow')
        }        
      } else {       
        let currentScroll = document.documentElement.scrollTop || document.body.scrollTop;

        if (currentScroll > 0 && this.lastScroll <= currentScroll){
          this.lastScroll = currentScroll;
          document.querySelector('.header').classList.add('is-hidden')
          document.querySelector('.header').classList.remove('is-down')
        }else{
          this.lastScroll = currentScroll;
          document.querySelector('.header').classList.remove('is-hidden')
          document.querySelector('.header').classList.add('is-down') 
        }


      }    
    }),
    setTimeout(() => {
      this.cityVisible = true
    }, 1000);
  },
}
</script>

<style src='./header.scss' lang="scss">
</style>