<template lang="pug">
.tabs
  .tabs__item.active Все товары <span class='tabs__span'>15</span>
  button.tabs__item(v-for="(tab, i) in tabs" :key="i" type='button' @click='toggleTab(i)', :class='{ "active": tab == i }') {{tab.title}} <span class='tabs__span'>{{tab.quantity}}</span>
  
</template>

<script>
export default {
  props: ['tabs'],
  data() {
    return {
      tab: 1,
    }
  },
  methods: {
    toggleTab(id) {
      this.tab = id;
    },
  },
}
</script>

<style lang="scss" src='./tabs.scss'>
  
</style>