.tabs {
  $this: &;
  display: flex;
  margin-top: 24px;
  @media (max-width: $xs) {
    margin-top: 16px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__item {
    cursor: pointer;
    flex-shrink: 0;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: $color-bg-secondary;
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 500;
    transition: background-color 0.5s ease, color 0.5s ease;

    &.active {
      background-color: $color-accent-light-blue;
      color: $color-text-contrast;

      #{$this}__span {
        color: $color-text-contrast;
        opacity: 0.64;
      }

      &:hover {
        background-color: $color-accent-light-blue;
      }
    }

    &:hover {
      background-color: $color-bg-tertiary;     
    }

    & + & {
      margin-left: 8px;
    }
  }

  &__span {
    color: $color-text-tertiary;
    @include fontSize(14, 20);
    font-weight: 500;
  }
}
