<template lang="pug">
  .contacts-page
    .vacancies-page__tabs
      button.vacancies-page__tab(v-for="(tab, i) in contacts" :key="i" type='button' @click='toggleTab(i)', :class='{ "active": index == i }') {{tab.tabName}} 
    .contacts-page__content(v-for="(city, j) in contacts" :key="j" v-if="index == j")
      .contacts-page__head
        h2.contacts-page__title {{city.title}}
        .contacts-page__info
          button.contacts-page__button
            svg-icon.contacts-page__icon(name='send-message')
            | Отправить письмо
          a.contacts-page__button(href='#' download)
            svg-icon.contacts-page__icon(name='download-cloud')
            | Скачать реквизиты
      .contacts-page__item
        p.contacts-page__subtext.item Адрес
        .contacts-page__item-content
          .contacts-page__metro(v-if="city.address.metro")
            .contacts-page__circle(:style='"background-color: " + city.address.metro.hex')
            p.contacts-page__subtext.small(style='margin-top: 0;') {{city.address.metro.name}}
          p.contacts-page__text {{city.address.location}}
          .contacts-page__buttons
            button.contacts-page__yandex
              img.contacts-page__icon-yandex(src='/icons/yandex-navigator.svg')
              | Построить маршрут
            button.contacts-page__yandex
              img.contacts-page__icon-yandex(src='/icons/yandex-taxi.svg')
              | Вызвать такси
      .contacts-page__item
        p.contacts-page__subtext.item График работы
        .contacts-page__item-content.row
          .contacts-page__worktime(v-for="time in city.worktime" :key="time.id")
            p.contacts-page__text {{time.time}}
            p.contacts-page__subtext.small {{time.text}}
      .contacts-page__item
        p.contacts-page__subtext.item Телефон
        .contacts-page__item-content.row
          p.contacts-page__text {{city.phone}}
      .contacts-page__item
        p.contacts-page__subtext.item Менеджеры по продажам
        .contacts-page__item-content.grid
          .contacts-page__person(v-for="manager in city.managers" :key="manager.id")
            img.contacts-page__image(:src='manager.image')
            .contacts-page__personal
              p.contacts-page__name {{manager.name}}
              p.contacts-page__subtext.small {{manager.phone}}
              p.contacts-page__subtext.small {{manager.email}}
      .contacts-page__item
        p.contacts-page__subtext.item Генеральный директор
        .contacts-page__item-content
          .contacts-page__person
            img.contacts-page__image(:src='city.director.image')
            .contacts-page__personal
              p.contacts-page__name {{city.director.name}}
              p.contacts-page__subtext.small {{city.director.phone}}
              p.contacts-page__subtext.small {{city.director.email}}
      .contacts-page__item
        p.contacts-page__subtext.item Зона обслуживания офиса
        .contacts-page__item-content
          ul.contacts-page__list
            li.contacts-page__list-item(v-for="location in city.zone" :key="location.id") {{location}}
      .contacts-page__item
        p.contacts-page__subtext.item Расположение офиса на карте
        .contacts-page__item-content
          .contacts-page__map
            //- Map
            Map2(:map='city.map')
          

    
</template>

<script>
export default {
  props: ['contacts'],
  data() {
    return {
      index: 0
    }
  },
  methods: {
    toggleTab(id) {
      this.index = id;
    },
  },
}
</script>



<style lang="scss" src='./contacts-page.scss'>
  
</style>