.contacts-page {
  $this: &;
  &__content {
    display: flex;
    flex-direction: column;
    background-color: $color-bg-secondary;
    padding: 40px;
    margin-top: 48px;
    border-radius: 8px;
    @media (max-width: $m) {
      padding: 32px;
    }
    @media (max-width: $s) {
      padding: 24px;
      margin-top: 32px;
    }
    @media (max-width: $xs) {
      padding: 16px;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $s) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;

    @media (max-width: $m) {
      @include fontSize(20, 28);
    }
  }

  &__info {
    display: flex;
    gap: 24px;

    @media (max-width: $s) {
      margin-top: 16px;
    }
    @media (max-width: $xxs) {
      flex-direction: column;
    }
  }

  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 600;

    &:hover {
      color: $color-accent-light-blue;
      #{$this}__icon {
        stroke: $color-accent-light-blue;
      }
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    stroke: $color-accent-dark-blue;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    margin-right: 8px;
  }

  &__item {
    margin-top: 48px;
    display: flex;
    gap: 40px;

    @media (max-width: $m) {
      gap: 32px;
    }

    @media (max-width: $s) {
      gap: 12px;
      flex-direction: column;
      margin-top: 32px;
    }
  }

  &__text {
    color: $color-text-primary;
    @include fontSize(18, 24);
    font-weight: 500;
  }

  &__subtext {
    color: $color-text-secondary;
    @include fontSize(16, 24);
    font-weight: 500;

    &.item {
      width: 192px;
      flex-shrink: 0;
      @media (max-width: $s) {
        width: unset;
      }
    }

    &.small {
      @include fontSize(14, 20);
      margin-top: 4px;
    }
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    

    &.row {
      flex-direction: row;
      gap: 48px;
      @media (max-width: $s) {
        gap: 32px;
      }
    }

    &.grid {
      display: grid;
      gap: 32px;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-auto-rows: 1fr;

      @media (max-width: $m) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      @media (max-width: $s) {
        gap: 24px;
      }
      @media (max-width: $xs) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
  }

  &__metro {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  &__circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
  }

  &__buttons {
    display: flex;
    gap: 8px;
    margin-top: 16px;

    @media (max-width: $xxs) {
      flex-direction: column;
    }
  }

  &__yandex {
    background-color: $color-bg-primary;
    border: 1px solid $color-separator;
    height: 48px;
    border-radius: 4px;
    display: flex;
    padding: 14px 16px;
    align-items: center;
    gap: 8px;
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 600;

    &:hover {
      color: $color-accent-light-blue;
    }
  }

  &__person {
    display: flex;
    gap: 16px;
  }

  &__image {
    width: 72px;
    height: 72px;
    border-radius: 8px;
  }

  &__name {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 600;
    padding-bottom: 4px;
  }

  &__list-item {
    position: relative;
    padding-left: 32px;
    margin-top: 12px;

    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 500;

    &:nth-child(1) {
      margin-top: 0;
    }

    &::before {
      position: absolute;
      content: '';
      top: 6px;
      left: 8px;
      width: 8px;
      height: 8px;
      border-radius: 2px;
      background-color: $color-accent-light-blue;
    }
  }

  &__map {    
    display: flex;    
    aspect-ratio: 2 / 1;

    @media (max-width: $xxs) {
      width: 100%;
      height: 256px;
    }
  }
}
