.pagination {
  $this: &;
  display: flex;
  align-items: center;
  padding-top: 64px;

  @media (max-width: $s) {
    padding-top: 48px;
  }

  &__flex {
    display: flex;
    align-items: center;
  }

  &__item {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-bg-secondary;
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 600;
    transition: background-color 0.3s ease, width 0.3s ease;
    & + & {
      margin-left: 8px;
    }

    &:hover {
      #{$this}__link {
        color: $color-accent-light-blue;
      } 
      
      background-color: $color-bg-tertiary;      
    }

    &.active {
      #{$this}__link {
        color: $color-text-contrast;
      }      
      background-color: $color-accent-light-blue;
    }

    &.button {
      width: 74px;
      & > a {
        color: $color-accent-dark-blue;
      }
      &:hover {
        & > a {
          color: $color-accent-light-blue !important;
        }
      }  
    }

    &.disabled {
      opacity: 0;
      width: 0;      
    }

    &.is-break {
      opacity: 1;
      width: unset;
      background-color: unset;
    }
  }

  &__link {    
    text-decoration: none;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
    color: $color-accent-dark-blue;
  }  
}
