<template lang="pug">
.product-main
  .product-main__slider
    .product-main__main-mobile
      ProductLabels(:labels='data.labels')
      h2.product-main__title {{data.title}}
      .product-main__actions
        .product-main__action(@click='toogleFavorites' :class='{"active": inFavorites}')
          svg-icon.product-main__icon.favorites(name='favorites')
          p.product-main__actiont-text В избранное
        .product-main__action(@click='toogleCompare' :class='{"active": inCompare}')
          svg-icon.product-main__icon.compare(name='compare-add')
          p.product-main__actiont-text В сравнение
        StatusBadge(status='in-stock' class='in-product')
    .product-main__images(:style='"--top: " + top + "px"')
      ImagesSlider(:data='data.slider')
  .product-main__content
    .product-main__main
      ProductLabels(:labels='data.labels')
      h2.product-main__title {{data.title}}
      .product-main__actions
        .product-main__action(@click='toogleFavorites' :class='{"active": inFavorites}')
          svg-icon.product-main__icon.favorites(name='favorites')
          p.product-main__actiont-text В избранное
        .product-main__action(@click='toogleCompare' :class='{"active": inCompare}')
          svg-icon.product-main__icon.compare(name='compare-add')
          p.product-main__actiont-text В сравнение
        StatusBadge(status='in-stock' class='in-product')
      .product-main__description(v-if="data.description")
        p.product-main__description-text {{data.description.text}}        
        .product-main__description.bottom(v-show-slide:500:example-easing="descriptionOpened")
          Wysiwyg(:data='data.description.wysiwyg')   
        p.product-main__button-text(@click='toogleDescription' v-if="!descriptionOpened") Подробнее     
        p.product-main__button-text.is-padding(@click='toogleDescription' v-if="descriptionOpened") Скрыть
    .product-main__section(v-if="data.coating")
      .product-main__header
        p.product-main__subtitle Материал покрытия
        InfoIcon(text='Пример немного длинного, но не совсем длинного текста')
      .product-main__container
        CoatingCard(:coat='data.coating')
        button.product-main__button-select(@click='toogleCoats')
          | Выбрать другое покрытие
          svg-icon.product-main__arrow(name='arrow-right')
    .product-main__section
      .product-main__header
        p.product-main__subtitle Цвет покрытия
        InfoIcon(text='Пример немного длинного, но не совсем длинного текста')
      .product-main__preview(v-if="data.color")
        .product-main__color(v-if="data.color.hex" :style='"background-color: " + data.color.hex')
        img.product-main__texture(:src='data.color.texture' v-if="data.color.texture")
        p.product-main__subtext Helios медный
      .product-main__container        
        .product-main__colors-grid
          ColorItem(v-for="color in data.colors" :key="color.id" :color='color') 
    .product-main__section(v-if="data.filters" v-for="filter in data.filters" :key="filter.id")
      .product-main__header
        p.product-main__subtitle {{filter.title}}
        InfoIcon(:text='filter.info')
      .product-main__preview
        img.product-main__icon-filter(:src='filter.icon')
        p.product-main__subtext {{filter.value}}
      .product-main__container        
        .product-main__attributes
          AttributeItem(v-for="attribute in filter.attributes" :key="attribute.id" :attribute='attribute')
    .product-main__section(v-if="data.complects")
      .product-main__header
        p.product-main__subtitle {{data.complects.title}}
        InfoIcon(:text='data.complects.title')      
      .product-main__container        
        .product-main__complect-grid
          ComplectCard(:complect='complect' v-for="complect in data.complects.complect_list" :key="complect.id")
    .product-main__box
      .product-main__section-price        
        p.product-main__price.red(v-if="data.priceSale") {{data.priceSale}} ₽/м²  
        p.product-main__price(:class='{"sale": data.priceSale}') {{data.price}} ₽/м²        
             
      .product-main__buttons
        Counter(:quantity='data.quantity' class='big white in-product')        
        button.product-main__button(@click='addToCart' v-if="!inCart")
          span.product-main__total 88 900 ₽ 
          .product-main__button-separator      
          span Добавить в корзину
        button.product-main__button.green(v-if="inCart")
          svg-icon.product-main__icon-cart(name='check-circle-small')
          | Товар в корзине        

      .product-main__section-info
        button.product-main__info-button
          svg-icon.product-main__info-icon(name='fast-buy')
          | Купить в 1 клик
        button.product-main__info-button
          svg-icon.product-main__info-icon(name='calculator')
          | Рассчитать цену в калькуляторе забора
        .product-main__section-item
          svg-icon.product-main__info-icon(name='rocket')
          .product-main__section-list
            p.product-main__text Доставка по <a href='#' class='product-main__text link'>Санкт-Петербургу</a> от 2 750 ₽
            p.product-main__text Бесплатный самовывоз            
            p.product-main__text При заказе менее 25 м² цена может отличаться от указанной на сайте
  .product-main__sidebar(:class='{"active": coatsOpened}' v-if="data.coating_filters")
    CoatingSidebar(:data='data.coating_filters')
  .product-main__area(:class='{"active": coatsOpened}' @click='toogleCoats')         
</template>

<script>
export default {
  props: ['data'],
  data() {
    return {
      inFavorites: false,
      inCompare: false,
      coatsOpened: false,
      inCart: false,
      descriptionOpened: false,
      distance: 236
    }
  },
  computed: {
    top() {
      return this.distance
    }
  },  
  methods: {
    addToCart() {
      this.inCart = !this.inCart
    },
    toogleCoats() {
      this.coatsOpened = !this.coatsOpened
    },
    toogleFavorites() {
      this.inFavorites = !this.inFavorites
    },
    toogleCompare() {
      this.inCompare = !this.inCompare
    },
    toogleDescription() {
      this.descriptionOpened = !this.descriptionOpened
    }
  },
  mounted() {
    this.$nuxt.$on('closeCoatings', this.toogleCoats)
    let slider = document.querySelector('.product-main__slider')
    let content = document.querySelector('.product-main__content')
    let images = document.querySelector('.product-main__images')
    let distanceToTop = window.pageYOffset + content.getBoundingClientRect().top       
    console.log(images.clientHeight);
    
    if (window.pageYOffset > 236) {
      slider.classList.add('hidden')
    }
    window.addEventListener('scroll', () => {
      if (window.scrollY <= 236) {
        this.distance = 236 - window.scrollY
      } else {
        this.distance = 24
      }         
      

      if ((window.scrollY - distanceToTop + 24 + images.clientHeight) >= content.clientHeight) {
        slider.classList.add('hidden')
      } else {
        slider.classList.remove('hidden')
      }

      
               
    })
  },
}
</script>

<style lang="scss" src='./product-main.scss'>
</style>