.product-main {
  $this: &;
  display: flex;
  width: 100%;
  gap: 40px;
  margin-top: 24px;
  position: relative;

  @media (max-width: $m) {
    gap: 32px;
  }

  @media (max-width: $s) {
    gap: 24px;
    flex-direction: column;
  }

  &__slider {
    width: 45%;    
    display: flex;
    flex-shrink: 0;    
    transition: opacity 0.3s ease;

    &.hidden {
      opacity: 0;   
      #{$this}__images {
        transform: translateY(-40px);
      }   
    }
    // &.is-fixed {
    //   position: fixed;
    // }
    @media (max-width: $s) {
      width: 100%;
      flex-direction: column;
    }
  }

  &__images {
    position: fixed;
    width: 45%;    
    display: flex;
    top: var(--top);
    transition: transform 0.3s ease;    
    @media (max-width: $s) {
      position: relative;
      top: 0;
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__main {
    display: flex;
    flex-direction: column;
    @media (max-width: $s) {
      display: none;
    }
  }

  &__main-mobile {
    display: none;
    flex-direction: column;
    padding-bottom: 24px;
    @media (max-width: $s) {
      display: flex;
    }
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;
    margin-top: 16px;

    @media (max-width: $m) {
      @include fontSize(20, 28);
      margin-top: 12px;
    }
    @media (max-width: $s) {
      @include fontSize(18, 24);
    }
  }

  &__description {
    padding-top: 32px;

    &.bottom {
      padding-top: 16px;
    }
  }

  &__description-text {
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 500;
  }

  &__button-text {    
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    width: fit-content;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: $color-accent-light-blue;
    }

    &.is-padding {
      padding-top: 16px;
    }
  }

  &__actions {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    align-items: center;

    @media (max-width: $xxs) {   
      gap: 12px 16px;   
      flex-wrap: wrap;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    &.active {
      #{$this}__actiont-text {
        color: $color-accent-light-blue;
      }
      #{$this}__icon {
        &.favorites {
          stroke: $color-accent-light-blue;
        }

        &.compare {
          fill: $color-accent-light-blue;
        }
      }
      // background-color: $color-accent-light-blue;
      // padding: 4px 12px;
      // border-radius: 12px;
      // #{$this}__actiont-text {
      //   color: $color-text-contrast;
      // }

      // #{$this}__icon {
      //   &.favorites {
      //     stroke: $color-icon-contrast;
      //   }

      //   &.compare {
      //     fill: $color-icon-contrast;
      //   }
      // }
    }

    &:hover {
      #{$this}__actiont-text {
        color: $color-accent-light-blue;
      }
      #{$this}__icon {
        &.favorites {
          stroke: $color-accent-light-blue;
        }

        &.compare {
          fill: $color-accent-light-blue;
        }
      }
    }
  }

  &__actiont-text {
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 600;
  }

  &__icon {
    width: 20px;
    height: 20px;

    &.favorites {
      stroke: $color-accent-dark-blue;
      stroke-width: 1.5;
    }

    &.compare {
      fill: $color-accent-dark-blue;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__subtitle {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 600;
  }

  &__container {
    margin-top: 16px;
  }

  &__button-select {
    margin-top: 4px;
    padding: 12px 16px;
    background-color: $color-bg-secondary;
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 4px;

    &:hover {
      background-color: $color-accent-light-blue;
      color: $color-text-contrast;
      #{$this}__arrow {
        fill: $color-icon-contrast;
      }
    }
  }

  &__arrow {
    width: 24px;
    height: 24px;
    fill: $color-accent-dark-blue;
  }

  &__preview {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 12px;
  }

  &__color {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  &__texture {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  &__subtext {
    color: $color-text-heading;
    @include fontSize(16, 24);
    font-weight: 600;
  }

  &__colors-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    @media (max-width: $s) {      
      display: flex;
      flex-wrap: nowrap;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }

  &__attributes {
    display: flex;
    flex-wrap: wrap;    
    gap: 8px;

    @media (max-width: $s) { 
      flex-wrap: nowrap;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }

  &__section-price {
    display: flex;
    gap: 12px;
  }

  &__sale {
    display: flex;
    gap: 16px;
  }

  &__price {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;

    &.sale {
      color: $color-text-primary;
      @include fontSize(16, 24);
      font-weight: 500;
      text-decoration: line-through;
      text-decoration-color: $color-accent-red;
    }

    &.red {
      color: $color-accent-red;
    }
  }

  // &__sale-badge {
  //   color: $color-accent-red;
  //   @include fontSize(14, 16);
  //   font-weight: 500;
  //   background-color: rgba(241, 48, 45, 0.16);
  //   border-radius: 3px;
  //   padding: 8px;
  // }
  
  &__buttons {
    display: flex;
    gap: 16px;
    margin-top: 32px;

    @media (max-width: $xxs) {      
      flex-direction: column;
      align-items: center; 
    }
  }

  &__button-separator {
    width: 1px;
    height: 24px;
    background-color: $color-separator;
    opacity: 0.3;
    @media (max-width: $xs) {      
      display: none;
    }
  }

  &__total {
    min-width: 76px;
    color: $color-text-contrast;
    @include fontSize(16, 24);
    font-weight: 500;
    @media (max-width: $m) {      
      @include fontSize(13, 16);
    }
    @media (max-width: $s) {      
      @include fontSize(16, 24);
    }
    @media (max-width: $xs) {      
      @include fontSize(13, 16);
    }
  }

  &__button {
    padding: 16px 32px;
    min-width: 290px;
    height: 56px;
    width: fit-content;
    display: flex;
    gap: 12px;
    border-radius: 4px;
    background-color: $color-accent-dark-blue;
    color: $color-text-contrast;
    @include fontSize(16, 24);
    font-weight: 600;

    @media (max-width: $m) {
      flex-direction: column;
      align-items: center;
      gap: 0;
      padding: 8px 32px;
      min-width: max-content;
      width: max-content;
    } 

    @media (max-width: $s) {
      padding: 16px 20px;
      flex-direction: row;
      min-width: 290px;
      height: 56px;
      width: fit-content;
      display: flex;
      gap: 12px;
    } 

    @media (max-width: $xs) {      
      flex-direction: column;
      align-items: center;
      gap: 0;
      padding: 8px 32px;
      min-width: max-content;
      width: max-content;
    }

    @media (max-width: $xxs) {
      width: 100%;
    }


    &:hover {
      background-color: $color-accent-light-blue;
    }

    &.green {
      background-color: $color-success;
      justify-content: center;
      @media (max-width: $xs) {
        flex-direction: row;
        gap: 8px;
      }
      @media (max-width: $xxs) {
        height: 56px;
        flex-direction: row;
        gap: 8px;
      }
    }
  }

  &__icon-cart {
    width: 24px;
    height: 24px;
    fill: $color-icon-contrast;
    fill-rule: evenodd;
    clip-rule: evenodd;    
  }

  &__section-info {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    // gap: 8px;
  }

  &__text {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;

    &.link {
      font-weight: 600;
      color: $color-accent-dark-blue;

      &:hover {
        color: $color-accent-light-blue;
      }
    }
  }

  &__complect-grid {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;

    @media (max-width: $m) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    } 
    @media (max-width: $s) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    } 
    @media (max-width: $xs) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &__area {
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    // background: rgba($color-grey-900, 0.25);
    // background: $color-grey-300;
    background-color: rgba(0, 0, 0, 0.32);
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__sidebar {
    transition: all 0.3s ease;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 40rem;
    transform: translateX(-100%);
    height: calc(var(--vh, 1vh) * 100);
    background: $color-grey-0;
    z-index: 100;
    display: flex;
    flex-flow: column nowrap;
    opacity: 0;

    &.active {
      transform: translateX(0);
      opacity: 1;
    }

    @media (max-width: $xs) {
      max-width: 100%;
    }
  }

  &__box {
    background-color: $color-bg-secondary;
    border-radius: 8px;
    margin-top: 48px;
    padding: 40px 32px;

    @media (max-width: $m) {
      padding: 32px 24px;
    }
  }

  &__info-icon {
    width: 20px;
    height: 20px;
    fill: $color-accent-dark-blue;
    fill-rule: evenodd;
    clip-rule: evenodd;
    flex-shrink: 0;
  }

  &__info-button {
    padding: 20px 0;
    border-bottom: 1px solid $color-separator;
    display: flex;
    align-items: center;
    gap: 16px;
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 600;
    text-align: left;

    &:hover {
      color: $color-accent-light-blue;
      #{$this}__info-icon {
        fill: $color-accent-light-blue;
      }
    }
  }

  &__section-item {
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }

  &__section-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
