<template lang='pug'>
.images-slider
  .images-slider__container(ref='container')
    .images-slider__wrapper
      .images-slider__slide(v-for='(item, i) in data', :key='i')
        img.images-slider__img(:src='item')
    .images-slider__paginations
      .images-slider__pagination  
</template>

<script>
import Swiper, { Navigation, Pagination } from 'swiper'
Swiper.use([Navigation, Pagination])
export default {
  props: ['data'],
  methods: {
    initSwiper() {
      new Swiper(this.$refs.container, {
        wrapperClass: 'images-slider__wrapper',
        slideClass: 'images-slider__slide',
        slidesPerView: 1,
        pagination: {
          el: '.images-slider__pagination',
          type: 'bullets',
          clickable: true
        },        
        direction: 'horizontal',        
      })
    },
  },
  mounted() {
    this.initSwiper()
  },
}
</script>

<style lang='scss' src='./images-slider.scss'></style>