.images-slider {
  $this: &;
  width: 100%;
  overflow: hidden;

  border-radius: 8px;

  &__container {
    position: relative;
  }

  &__wrapper {
    display: flex;
    // align-items: center;
  }  

  &__slide {
    flex-shrink: 0;
    display: flex;
    width: 100%;
    // max-height: 324px;
  }  

  &__paginations {
    position: absolute;
    width: 100%;
    bottom: 24px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    z-index: 3;
  }
  &__pagination {
    display: flex;
    background: rgba(0, 0, 0, 0.12);
    border-radius: 999px;
    padding: 8px;
  }

  &__img {
    width: 100%;
  }
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: $color-bg-primary;
  border-radius: 50%;
  cursor: pointer;

  &+&{
    margin-left: 8px;
  }
}

.swiper-pagination-bullet-active {
  background-color: $color-accent-light-blue;
}
