.color-item {
  $this: &;
  // padding: 10px;
  background-color: $color-bg-secondary;
  border: 2px solid $color-bg-secondary;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: border 0.3s ease;
  position: relative;

  // width: 64px;
  // height: 64px;
  padding: 10px;  

  &.white {
    background-color: $color-bg-primary !important;
  }

  &:hover {
    border: 2px solid $color-separator;
  }

  &.selected {
    border: 2px solid $color-accent-light-blue;
  }

  &.text {
    padding: 16px 8px;
    background-color: $color-bg-secondary;
    // width: 88px !important;
    @media (max-width: $s) { 
      width: 88px !important;     
      flex-shrink: 0;
      display: flex;      
    }
  }



  &__color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__text {
    margin-top: 8px;
    text-align: center;
    // width: 72px;
    max-height: 32px;
    color: $color-text-primary;
    @include fontSize(12, 16);
    font-weight: 500;
  }

  &__input {
    cursor: pointer;
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    

    &:checked {
      border-radius: 4px;
      border: 2px solid $color-accent-light-blue;
    }
  }

  &__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
