<template lang="pug">
label.color-item(:class='{ "text": color.text }' ref='label')
  input.color-item__input(
    type='checkbox',    
    value='value',    
    @change='addFilter'
  )
  .color-item__color(:style='"background-color: " + color.hex' v-if='color.hex')
  img.color-item__image(v-if='color.image' :src='color.image')
  p.color-item__text(v-if='color.text') {{ color.text }}
</template>

<script>
export default {
  props: ['color'],
  methods: {
    addFilter(e) {
      this.$emit('change', this.$refs.label)
      this.$emit('input', e.target.checked)
    },
  },
}
</script>

<style lang="scss" src='./color-item.scss'>
</style>