<template lang="pug">
  .color-card
    .color-card__color(:style='"background-color: " + color.hex' :alt='color.name')
    .color-card__name {{color.title}}
</template>

<script>
export default {
  props: ['color']
}
</script>

<style lang="scss" src='./color-card.scss'>
  
</style>