.color-card {  
  &__color {
    width: 100%;
    min-height: 117px;
    border-radius: 8px 8px 0 0;

    @media (max-width: $l) {
      min-height: 102px;
    }
    @media (max-width: $s) {
      min-height: 110px;
    }
    @media (max-width: $s) {
      min-height: 110px;
    }
    @media (max-width: $xs) {
      min-height: 102px;
    }
  }

  &__name {
    padding: 16px;
    background-color: $color-bg-secondary;
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;
    border-radius: 0 0 8px 8px;
  }
}
