.compare-section {
  $this: &;
  position: relative;
  // padding-top: 64px;

  // @media (max-width: $s) {
  //   padding-top: 48px;
  // }

  &.is-main {
    #{$this}__title {
      text-align: center;
      @media (max-width: $s) {
        text-align: left;
      }
    }
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;
    margin-bottom: 24px;
    @media (max-width: $m) {
      @include fontSize(20, 28);
    }
    @media (max-width: $s) {
      @include fontSize(18, 24);
    }
  }

  &:hover {
    #{$this}__controls {
      opacity: 1;
    }
  }

  &__container {
    position: relative;
  }

  &__wrapper {
    display: flex;
    position: relative;
  }

  &__slide {
    flex-shrink: 0;  
    width: 240px;  
    

    @media (max-width: $l) {
      width: 255px;
    }
    @media (max-width: $m) {
      width: 240px;
    }
    @media (max-width: $s) {
      width: 226px;
    }
  }

  &__product { 
    
  }

  &__controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 32px);
    left: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    top: 148px;

    @media (max-width: $s) {
      display: none;
    }
  }

  &__next,
  &__prev {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 0;
    background-color: $color-bg-primary;
    box-shadow: 0px 0px 12px rgba(18, 22, 26, 0.24);
    z-index: 20;
    outline: none;
    opacity: 1;
    pointer-events: all;

    &:hover {
      & .products-slider__icon {
      }
    }

    &.swiper-button-disabled {
      // opacity: 0;
      // pointer-events: none;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $color-accent-dark-blue;

    &.prev {
      transform: rotateY(180deg);
    }
  }

  &__specifications {
    display: flex;
    flex-direction: column;
    padding-top: 116px;
    
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 68px;
    padding-bottom: 27px;    
    height: 119px;
    // border-top: 1px solid $color-separator;
    position: relative;
    &::after {
      content: '';
      top: 0;
      left: -40px;
      position: absolute;
      width: 100vw;
      height: 1px;
      background-color: $color-separator;
    }
  }

  &__options {
    position: absolute;
    top: 408px;
    @media (max-width: $s) {
      #{$this}__cover {
        top: 400px;
      }
    }
  }

  &__option-head {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
  }

  &__chevron {
    width: 24px;
    height: 24px;
  }

  &__option-item {
    &+&{
      // padding-top: 64px;
      padding-top: 128px;
    }
  }

  &__option {
    // margin-top: 56px;
    // background-color: red;
    padding-top: 56px;
    // border-top: 1px solid $color-separator;
    // border-bottom: 1px solid $color-separator;
    width: 100vw;

    & + & {
      padding-top: 96px;
    }
  }

  &__text {
    color: $color-text-heading;
    @include fontSize(16, 24);
    font-weight: 500;

    &.grey {
      color: $color-text-secondary;
    }

    &.big {
      @include fontSize(18, 24);
      font-weight: 600;
    }
  }

  &__color {
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }

  &__rating {
    display: flex;
    gap: 8px;
  }

  &__dot {
    width: 12px;
    height: 12px;
    background-color: $color-grey-900;
    border-radius: 50%;

    &.active {
      background-color: $color-grey-300;
    }
  }
}
