<template lang="pug">
.compare-section  
  .compare-section__container(ref='container')
    .compare-section__wrapper 
      .compare-section__slide(v-for='item in products', :key='item.id')
        .compare-section__product    
          ProductCard(:data='item' class='is-compare')
        .container.in-compare
          .compare-section__specifications(v-for="specification in item.specifications_list" :key="specification.id")            
            .compare-section__item(v-for="option in specification.specifications" :key="option.id")              
              .compare-section__color(v-if="option.hex" :style='"background-color: " + option.hex')           
              img.compare-section__color(v-if="option.texture" :src='option.texture')
              p.compare-section__text(v-if="option.value") {{option.value}}
              .compare-section__rating(v-if="option.quantity")
                .compare-section__dot(v-for="(item, i) in 5" :key="i" :class='{"active": i >= option.quantity}')    
                    
    .container.in-compare
      .compare-section__options
        .compare-section__option-item
          .compare-section__option-head(@click='toogleSpecification(0)')
            p.compare-section__text.big Характеристики покрытия
            svg-icon.compare-section__chevron(name='chevron-down')
          .compare-section__option-body
            .compare-section__option
              p.compare-section__text.grey Покрытие
            .compare-section__option
              p.compare-section__text.grey Цвет покрытия        
            .compare-section__option
              p.compare-section__text.grey Плотность цинкования
            .compare-section__option
              p.compare-section__text.grey Толщина покрытия
            .compare-section__option
              p.compare-section__text.grey Гарантия
            .compare-section__option
              p.compare-section__text.grey Коррозионная стойкость
        .compare-section__option-item
          .compare-section__option-head(@click='toogleSpecification(1)')
            p.compare-section__text.big Характеристики товара
            svg-icon.compare-section__chevron(name='chevron-down')
          .compare-section__option-body
            .compare-section__option
              p.compare-section__text.grey Толщина
            .compare-section__option
              p.compare-section__text.grey Марка  
            .compare-section__option
              p.compare-section__text.grey Область применения  
    .compare-section__controls
      button.compare-section__prev(type='button', title='Предыдущий слайд', ref='prev')
        svg-icon.compare-section__icon.prev(name='chevron-right')
      button.compare-section__next(type='button', title='Следующий слайд', ref='next')
        svg-icon.compare-section__icon(name='chevron-right')

</template>

<script>
import Swiper, { Navigation } from 'swiper'
Swiper.use(Navigation)
export default {
  props: ['products'],
  data() {
    return {
      opened: true
    }
  },
  methods: {
    toogleSpecification(id) {
      this.opened = !this.opened
      
    },
    initProductsSlider() {
      this.swiper = new Swiper(this.$refs.container, {
        wrapperClass: 'compare-section__wrapper',
        slideClass: 'compare-section__slide',
        // slidesPerView: 'auto',
        slidesPerView: 3,
        // spaceBetween: 16,
        navigation: {
          nextEl: this.$refs.next,
          prevEl: this.$refs.prev,
        },     
        breakpoints: {
          960: {
            slidesPerView: 4,
          },
          1280: {
            slidesPerView: 5,
          },
        }   
      })
    },
  },
  mounted() {
    this.initProductsSlider()
  },
}
</script>

<style src='./compare-section.scss' lang="scss">
</style>