.order-page {
  $this: &;
  &__back {
    display: flex;
    align-items: center;
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: $color-accent-light-blue;
      #{$this}__icon-back {
        stroke: $color-accent-light-blue;
      }
    }
  }

  &__icon-back {
    width: 24px;
    height: 24px;
    stroke: $color-accent-dark-blue;
    stroke-width: 2;
    stroke-linecap: square;
    margin-right: 8px;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__head-top {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__section {
    & + & {
      padding-top: 48px;
    }

    @media (max-width: $s) {
      & + & {
        padding-top: 32px;
      }
    }
  }

  &__manager {        
    display: flex;
    gap: 16px;
    // align-items: center;
    width: fit-content;
  }

  &__person {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__personal {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__text {
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 400;

    &.bold {
      font-weight: 700;
    }

    &.grey {
      color: $color-text-secondary;
    }
  }

  &__link {
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 400;

    &:hover {
      color: $color-accent-light-blue;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__img {
    width: 64px;
    height: 64px;
    border-radius: 4px;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 24px;

    @media (max-width: $xs) {
      flex-direction: column;
      gap: 8px;
    }
  }

  &__name {
    display: flex;
    width: 256px;
    flex-shrink: 0;
  }

  &__total {
    color: $color-text-heading;
    @include fontSize(16, 24);
    font-weight: 600;
    margin-left: 32px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding-top: 40px;

    @media (max-width: $l) {
      gap: 48px;
    }
    @media (max-width: $m) {
      gap: 16px;
    }
    @media (max-width: $s) {
      grid-template-columns: 1fr;
      gap: 48px;
      padding-top: 24px;
    }
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(16, 24);
    font-weight: 500;

    &.bold {
      @include fontSize(18, 24);
      margin-bottom: 12px;
      font-weight: 700;
    }

    @media (max-width: $s) {
      margin-bottom: 16px;
    }
  }

  &__subtext {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 500;
  }

  &__products {
  }

  &__product {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__product-section {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__product-container {
    display: flex;
    align-items: center;
  }

  &__product-image {
    width: 128px;
    height: 64px;
    margin-right: 16px;
  }

  &__service {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: $color-bg-secondary;

    & + & {
      margin-top: 8px;
    }
  }

  &__service-image {
    width: 48px;
    height: 48px;
    margin-right: 16px;
  }

  &__col1 {
    order: 0;
    @media (max-width: $s) {
      order: 1;
    }
  }

  &__col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    height: fit-content;
    order: 1;

    @media (max-width: $m) {
      grid-template-columns: 1fr;
    }

    @media (max-width: $s) {
      grid-template-columns: 1fr 1fr;
      order: 0;
    }
    @media (max-width: $xs) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    padding: 24px;
    border-radius: 8px;
    background-color: $color-bg-secondary;
  }

  &__card-icon {
    margin-right: 16px;
    width: 24px;
    height: 24px;
    stroke: $color-icon-primary;
    stroke-width: 2;
    stroke-linecap: square;
  }

  &__card-head {
    display: flex;
    align-items: center;
    padding-bottom: 19px;
    border-bottom: 1px solid $color-separator;
  }

  &__card-body {
    padding-top: 20px;
  }

  &__card-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & + & {
      margin-top: 12px;
    }
  }
}
