<template lang="pug">
.order-page
  //- nuxt-link.order-page__back(to='/account/orders')
  //-   svg-icon.order-page__icon-back(name='arrow-left')
  //-   | Вернуться к заказам












  .order-page__head
    .order-page__head-top
      Headline(:title='"Заказ №" + order.order_number' style='padding-top: 0')
      OrderStatus(status='delivered')
    .order-page__head-data
      p.order-page__text.grey {{order.date}}
  .order-page__content
    .order-page__col1
      .order-page__section
        h2.order-page__title.bold Товары
        .order-page__products
          .order-page__product(v-for="product in order.products" :key="product.id")
            .order-page__product-container
              img.order-page__product-image(:src='product.image')
              .order-page__product-section
                span.order-page__text {{product.title}}
                span.order-page__subtext {{product.specifications}}
            .order-page__product-container
              span.order-page__subtext {{product.price}} • {{product.quantity}} {{product.unit}}
              span.order-page__total {{product.total}} ₽
      .order-page__section
        h2.order-page__title.bold Услуги
        .order-page__services
          .order-page__service
            img(src='/img/service-card-1.svg').order-page__service-image
            span.order-page__text Монтаж металлоконструкций
          .order-page__service
            img(src='/img/service-card-1.svg').order-page__service-image
            span.order-page__text Монтаж металлоконструкций
          .order-page__service
            img(src='/img/service-card-1.svg').order-page__service-image
            span.order-page__text Монтаж металлоконструкций
      .order-page__section
        h2.order-page__title.bold Комментарий к заказу
        p.order-page__text(style='margin-bottom: 12px') {{order.comment}}
        a.order-page__link(href='/img/service-card-1.svg' download) Дизайн-план забора.pdf
    .order-page__col2
      .order-page__card
        .order-page__card-head
          svg-icon.order-page__card-icon(name='info-2')
          h2.order-page__title О заказе
        .order-page__card-body
          .order-page__card-item
            span.order-page__text Товары (5)
            span.order-page__text 129 268 ₽
          .order-page__card-item
            span.order-page__text Услуги (2)
            span.order-page__text 15 990 ₽
          .order-page__card-item
            span.order-page__text Доставка
            span.order-page__text 2500 ₽
          .order-page__card-item
            span.order-page__text.bold Сумма заказа
            span.order-page__text.bold 147 758 ₽
      .order-page__card
        .order-page__card-head
          svg-icon.order-page__card-icon(name='smile')
          h2.order-page__title Покупатель
        .order-page__card-body
          .order-page__card-item
            span.order-page__text Константин Константинов
          .order-page__card-item
            span.order-page__text +7 (984) 848-88-44
          .order-page__card-item
            span.order-page__text konstantin844@gmail.com
      .order-page__card
        .order-page__card-head
          svg-icon.order-page__card-icon(name='package')
          h2.order-page__title Получение товара
        .order-page__card-body
          .order-page__card-item
            span.order-page__text Доставка СТАЛЬ ТД
          .order-page__card-item
            span.order-page__text г. Смоленск, ул. Октябрьской Революции, д. 9к2
      .order-page__card
        .order-page__card-head
          svg-icon.order-page__card-icon(name='phone')
          h2.order-page__title Менеджер заказа
        .order-page__card-body
          .order-page__card-item
            .order-page__manager
              img.order-page__img(:src='order.manager.image')
              .order-page__person
                p.order-page__text.bold {{order.manager.name}}
                .order-page__personal
                  p.order-page__text.grey {{order.manager.phone}}
                  p.order-page__text.grey {{order.manager.email}}
</template>

<script>
export default {
  props: ['order'],
  data() {
    return {
      productsOpened: true,
    }
  },
  methods: {
    toogleProducts() {
      this.productsOpened = !this.productsOpened
    },
  },
  
}
</script>

<style lang="scss">
@import 'order-page.scss';
@import '../Cart/cart.scss';
</style>