.filter-sidebar {
  $this: &;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  
  &__head {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;

    &.shadow {
      box-shadow: 0px 0px 12px rgba(11, 14, 20, 0.16);
    } 
  }

  &__main {
    flex-shrink: 0;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    // position: absolute;
    
    scroll-behavior: smooth;
    // height: 100%; 
    height: calc(100vh - 144px);
      
    overflow-y: auto;
    
    &::-webkit-scrollbar {
      width: 0;
      height: 0;      
    }
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(18, 24);
    font-weight: 600;
  }

  &__icon-close {
    cursor: pointer;
    position: absolute;
    right: 24px;
    width: 24px;
    height: 24px;
    fill: $color-icon-secondary;
  }

  &__item {
    & + & {
      padding-top: 16px;
    }
  }

  &__bottom {
    display: flex;
    gap: 16px;
    padding: 12px 24px;

    &.shadow {
      box-shadow: 0px 0px 12px rgba(11, 14, 20, 0.16);
    }    
  }

  &__button {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    align-items: center;
    height: 48px;
    width: 100%;
    background-color: $color-accent-dark-blue;
    color: $color-text-contrast;
    @include fontSize(16, 24);
    font-weight: 600;
    transition: background-color 0.5s ease, color 0.5s ease;

    &:disabled {
      background-color: $color-grey-300 !important;
      color: $color-text-contrast !important;
    }

    &.grey {
      background-color: $color-bg-secondary;
      color: $color-accent-dark-blue;
      &:hover {
        background-color: $color-accent-light-blue;
        color: $color-text-contrast;
      }
    }

    &:hover {
      background-color: $color-accent-light-blue;
    }
  }

  &__number {
    color: $color-text-contrast;
    opacity: 0.64;
    @include fontSize(16, 24);
    font-weight: 600;
    margin-left: 8px;
  }
}