<template lang="pug">
.filter-sidebar
  .filter-sidebar__container
    .filter-sidebar__head(:class='{"shadow": shadow}')
      h2.filter-sidebar__title Фильтр
      svg-icon.filter-sidebar__icon-close(name='close' @click='close')
    .filter-sidebar__main    
      .filter-sidebar__item(v-for="filter in filters" :key="filter.id" )      
        FilterSidebarItem(:data='filter.data' :filterName='filter.filterName' :name='filter.name')
  .filter-sidebar__bottom(:class='{"shadow": shadow}')
    button.filter-sidebar__button.grey(disabled) Сбросить
    button.filter-sidebar__button Применить <span class='filter-sidebar__number'>48</span>
</template>

<script>
export default {
  props: ['filters'],  
  data() {
    return {
      shadow: false
    }
  },
  methods: {  
    setShadow() {
      this.shadow = true
    },
    removeShadow() {
      this.shadow = false
    },
    close() {
      this.$nuxt.$emit('closeFilters')
    }
  },
  mounted() {
    this.$nuxt.$on('setShadow', this.setShadow)
    this.$nuxt.$on('removeShadow', this.removeShadow)
    let container = document.querySelector('.filter-sidebar__main')    
    if (container.scrollHeight > container.offsetHeight) {
      this.shadow = true
    }  

  },
}
</script>

<style lang="scss" src='./filter-sidebar.scss'>
  
</style>