.order-card {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-separator;
  border-radius: 8px;

  &__top {
    background-color: $color-bg-secondary;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $s) {
      padding: 16px;
    }
  }

  &__top-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &.right {
      align-items: flex-end;
    }
  }

  &__order {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__number {
    color: $color-accent-dark-blue;
    @include fontSize(24, 32);
    font-weight: 700;
    @media (max-width: $m) {
      @include fontSize(20, 28);
    }
    @media (max-width: $s) {
      @include fontSize(18, 24);
    }
  }
  &__text {
    color: $color-text-heading;
    @include fontSize(16, 24);
    font-weight: 500;

    &.grey {
      color: $color-text-secondary;
    }

    &.mobile {
      @media (max-width: $s) {
        display: none;
      }
    }
  }
  &__total {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;

    @media (max-width: $m) {
      @include fontSize(20, 28);
    }
    @media (max-width: $s) {
      @include fontSize(18, 24);
    }

    @media (max-width: $xxs) {
      display: none;
    }
  }
  &__subtext {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 500;
  }

  &__bottom {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $m) {
      flex-direction: column;
      align-items: unset;
      gap: 48px;
    }
    @media (max-width: $s) {
      padding: 16px;
    }
    @media (max-width: $xs) {
      gap: 24px;
    }
  }

  &__left {
    display: flex;
    gap: 48px;
    @media (max-width: $m) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }

    @media (max-width: $xs) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__delivery {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__manager {
    display: flex;
    gap: 8px;
  }

  &__personal {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__images {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    gap: 16px;
    position: relative;
    @media (max-width: $m) {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    @media (max-width: $s) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    @media (max-width: $xs) {
      gap: 8px;
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    @media (max-width: $xxs) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  &__image {
    width: 144px;
    height: 72px;
    border-radius: 8px;

    &:nth-child(+n+ 4) {
      display: none;
    }

    @media (max-width: $m) {
      width: 100%;
      height: 100%;
      aspect-ratio: 2 / 1;
      &:nth-child(+n+ 4) {
        display: unset;
      }
      
    }

    @media (max-width: $s) {
      &:nth-child(+n+ 6) {
        display: none;
      }
    }
    @media (max-width: $xs) {
      &:nth-child(+n+ 5) {
        display: none;
      }
    }
    @media (max-width: $xxs) {
      &:nth-child(+n+ 4) {
        display: none;
      }
    }
  }

  &__transparent {
    top: 0;
    right: 0;
    aspect-ratio: 2 / 1;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.48);
    border-radius: 8px;
    color: $color-text-contrast;
    @include fontSize(14, 16);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;    
  }
}
