<template lang="pug">
nuxt-link.order-card(to='/account/orders/slug')
  .order-card__top
    .order-card__top-container
      .order-card__order
        p.order-card__number Заказ №{{order.order_number}}
        .order-card__status
          OrderStatus(:status='order.status')
      p.order-card__text {{order.date}}
    .order-card__top-container.right
      p.order-card__total {{order.total}} ₽
      p.order-card__text.grey.mobile Сумма указана без учёта стоимости услуг и доставки
  .order-card__bottom
    .order-card__left
      .order-card__item
        p.order-card__text.grey Способ получения
        .order-card__delivery
          p.order-card__text {{order.delivey_type}}
          p.order-card__subtext {{order.address}}
      .order-card__item
        p.order-card__text.grey Менеджер заказа
        .order-card__manager
          img.order-card__img(:src='order.manager.image')
          .order-card__personal
            p.order-card__text {{order.manager.name}}
            p.order-card__subtext {{order.manager.phone}}      
    .order-card__right
      .order-card__images
        img.order-card__image(v-for="image in order.images" :key="image.id" :src='image')
        .order-card__transparent(v-if="order.advanced") +{{order.advanced}} товаров
</template>

<script>
export default {
  props: ['order'],
  
}
</script>

<style lang="scss" src='./order-card.scss'>
</style>