<template lang="pug">
  .cart(v-if="false")
    Headline(title='Корзина')
    .cart__info
      img.cart__icon-cart(src='/icons/success.svg')
      h2.cart__headline Ваш заказ №61838 успешно оформлен
      p.cart__text В течение 10 минут с вами свяжется менеджер для уточнения всех деталей заказа. После подтверждения заказа вы сможете отслеживать его статус в <nuxt-link class='cart__text blue' to='/'>личном кабинете</nuxt-link>
      nuxt-link.cart__button.padding(to='/') Отлично, вернуться на главную
  //- .cart(:v-if="false")
  //-   Headline(title='Корзина')
  //-   .cart__info
  //-     img.cart__icon-cart(src='/icons/cart.svg')
  //-     h2.cart__headline Ваша корзина пуста
  //-     p.cart__text Вы можете перейти в каталог товаров или воспользоваться поиском, чтобы найти интересующие вас товары
  //-     .cart__back
  //-       svg-icon.cart__icon-back(name='arrow-left')
  //-       | Назад к покупкам
  .cart(v-else)
    nuxt-link.cart__back(to='/catalog')
      svg-icon.cart__icon-back(name='arrow-left')
      | Назад к покупкам
    Headline(title='Корзина')
    .cart__container
      .cart__head(@click='toogleProducts' style='cursor: pointer;')
        h2.cart__headline Товары <span class='cart__round'>3</span>
        svg-icon.cart__icon-down(name='chevron-down')
      .cart__products(v-show-slide:500:example-easing="productsOpened")
        .cart__product(v-for="item in data.products" :key="item.id")
          CartProduct(:data='item')
        .cart__total
          h2.cart__headline Общая стоимость
          p.cart__price 147 758 ₽
    .cart__container
      .cart__head
        h2.cart__headline Услуги <span class='cart__round'>1</span>
      p.cart__subtext Если вам требуется не только доставить материалы, но и установить их — выберите необходимые вам услуги. Их конечная стоимость будет рассчитана менеджером после оформления заказа
      .cart__services
        ServiceCard(v-for="item in data.services" :key="item.id" :data='item' cart='true' class='not-slider')
    .cart__container
      .cart__head
        h2.cart__headline Личные данные
      .cart__inputs
        .cart__input
          Input(type='text' placeholder='Имя' :value='person.name')
        .cart__input  
          Input(type='phone' placeholder='Телефон' :value='person.phone')
        .cart__input  
          Input(type='email' placeholder='Электронная почта' :value='person.email')  
    .cart__container
      .cart__head
        h2.cart__headline Доставка
      p.cart__subtext Стоимость доставки будет рассчитана менеджером после оформления заказа
      .cart__tabs
        button(type='button' @click='toggleTab(1)', :class='{ "active": tab == 1 }').cart__tab
          .cart__box
            .cart__radio
            span Самовывоз
          img.cart__truck(src='/icons/truck.svg')  
        button(type='button' @click='toggleTab(2)', :class='{ "active": tab == 2 }').cart__tab
          .cart__box
            .cart__radio
            span Доставка Сталь ТД
          img.cart__truck(src='/icons/truck.svg')
      .cart__input.address(v-if="tab == 1")
        SelectTest(:data='pickup_points')
        p.cart__subtext Подробнее и правилах самовывоза вы можете прочитать на странице 
          nuxt-link(to='/') Доставка и оплата
      .cart__input.address(v-if="tab == 2")
        Input(type='text' subtitle='Имя' :value='person.address')  
        p.cart__subtext Если у вашего объекта нет точного адреса, впишите в поле ввода название населённого пункта, а подробное местоположение опишите в комментарии ниже или менеджеру после оформления заказа
    .cart__container
      .cart__head
        h2.cart__headline Подробнее о вашем проекте
      p.cart__subtext Для более точного рассчёта стоимости заказа нам нужно знать как можно больше о вашем проекте. Расскажите о нём в комментарии и приложите файл с проектом, если он у вас есть
      .cart__input.textarea
        Input(type='textarea' placeholder='Расскажите о вашем проекте')      
      FileInsert
    .cart__container
      .cart__bottom
        .cart__bottom-section
          .cart__totaly
            p.cart__price.big Сумма заказа
            p.cart__price.big 147 758 ₽
          p.cart__subtext Сумма указана без учёта стоимости услуг и доставки
        button.cart__button Оформить заказ  
</template>

<script>
export default {
  props: ['data'],
  data() {
    return {
      productsOpened: true,
      tab: 2,
      person: {
        name: 'Константин Константинов',
        phone: '+7 (984) 848-88-44',
        email: 'konstantin844@gmail.com',
        address: 'г. Смоленск, ул. Октябрьской Революции, д. 9к2'
      },
      pickup_points: [
        {
          label: 'Выберите пункт самовывоза',
          value: 'unset'
        },
        {
          label: 'Москва, Дмитровское шоссе, дом 100, строение 2, БЦ «Норд Хаус», офис 32100',
          value: '32100'
        },
        {
          label: 'Санкт-Петербург, посёлок Тельмана, промзона, дом 60С',
          value: '60c'
        },
        {
          label: 'Санкт-Петербург, проспект Непокорённых, дом 49, литера А, офис № 310, 3 этаж',
          value: '4432'
        },
        {
          label: 'Псков, улица Леона Поземского, дом 92, павильон «Строительный рынок на Алмазной»',
          value: '2313'
        },
      ]
    }
  },
  methods: {
    toogleProducts() {
      this.productsOpened = !this.productsOpened
    },
    toggleTab(id) {
      this.tab = id;
    },
  },
}
</script>

<style lang="scss" src='./cart.scss'>
  
</style>