.cart {
  $this: &;
  display: flex;
  flex-direction: column;
  padding-top: 24px;

  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    @media (max-width: $s) {
      padding-top: 36px;
    }
    & + & {
      padding-top: 64px;
      @media (max-width: $s) {
        padding-top: 48px;
      }
    }
  }

  &__back {
    display: flex;
    align-items: center;
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: $color-accent-light-blue;
      #{$this}__icon-back {
        stroke: $color-accent-light-blue;
      }
    }
  }

  &__icon-back {
    width: 24px;
    height: 24px;
    stroke: $color-accent-dark-blue;
    stroke-width: 2;
    stroke-linecap: square;
    margin-right: 8px;
  }

  &__icon-down {
    width: 24px;
    height: 24px;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__headline {
    color: $color-text-heading;
    @include fontSize(18, 24);
    font-weight: 600;
    display: flex;
  }

  &__round {
    margin-left: 8px;
    width: 24px;
    height: 24px;
    background-color: $color-accent-red;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-text-contrast;
    @include fontSize(14, 16);
    font-weight: 600;
  }

  &__products {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
  }

  &__product {
    padding: 12px 0;
    border-top: 1px solid $color-separator;
    border-bottom: 1px solid $color-separator;
    & + & {
      border-top: unset;
    }
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
  }

  &__price {
    color: $color-text-heading;
    @include fontSize(18, 24);
    font-weight: 600;

    &.big {
      @include fontSize(22, 32);
    }
  }

  &__subtext {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 400;
    margin-top: 12px;
  }

  &__services {
    padding-top: 24px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;

    @media (max-width: $s) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (max-width: $xxs) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 100%;
    margin-top: 16px;

    &.address {
      margin-top: 32px;
    }

    &.textarea {
      margin-top: 24px;
    }
  }

  &__tabs {
    display: flex;
    gap: 16px;
    margin-top: 24px;

    @media (max-width: $xs) {
      flex-direction: column;
      gap: 8px;
    }
  }

  &__tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-bg-secondary;
    border: 2px solid $color-bg-secondary;
    border-radius: 8px;
    width: 100%;
    padding: 16px 24px;
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 500;

    &:hover {
      border: 2px solid $color-separator;
      #{$this}__radio {
        &::before {          
          background-color: $color-accent-dark-blue;
          opacity: 0.48;
        }
      }
    }

    &.active {            
      // border: 2px solid $color-accent-light-blue;
      #{$this}__radio {
        background-color: $color-accent-dark-blue;
        // border: 6px solid $color-accent-dark-blue;
        &::before {          
          background-color: $color-bg-primary;
          opacity: 1;
          border-radius: 50%;
          top: 5px;
          left: 5px;
        }
      }
    }
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__radio {
    width: 24px;
    height: 24px;
    border: 1px solid $color-accent-dark-blue;
    background-color: $color-bg-primary;
    border-radius: 50%;
    margin-right: 16px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 12px;
      height: 12px;
      background-color: $color-accent-dark-blue;
      opacity: 0;
      border-radius: 50%;
      top: 5px;
      left: 5px;
      transition: background-color 0.3s ease, opacity 0.3s ease;
    }
  }

  &__button {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-accent-dark-blue;
    color: $color-text-contrast;
    font-weight: 600;
    @include fontSize(16px, 24px);
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-accent-light-blue;
      color: $color-text-contrast;
    }

    &.padding {
      width: unset;
      height: unset;
      padding: 12px 16px;
      margin-top: 24px;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    @media (max-width: $m) {
      gap: 32px;
    }

    @media (max-width: $xs) {
      gap: 24px;
      grid-template-columns: 1fr;
    }
  }

  &__bottom-section {
    display: flex;
    flex-direction: column;
  }

  &__totaly {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    width: 100%;
    padding-top: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    flex-shrink: 0;
  }

  &__icon-cart {
    margin-bottom: 24px;
  }

  &__text {
    color: $color-text-primary;
    font-weight: 500;
    @include fontSize(16px, 24px);
    margin-top: 12px;
    margin-bottom: 24px;
    max-width: 580px;

    &.blue {
      color: $color-accent-light-blue;
    }
  }
}
