<template lang='pug'>
  .main-popular
    .container
      .main-popular__head
        h2.main-popular__title Популярные товары
        .main-popular__tabs
          button(type='button' @click='toggleTab(1)', :class='{ "active": tab == 1 }').main-popular__tab Кровля
          button(type='button' @click='toggleTab(2)', :class='{ "active": tab == 2 }').main-popular__tab Фасад
          button(type='button' @click='toggleTab(3)', :class='{ "active": tab == 3 }').main-popular__tab Забор
          button(type='button' @click='toggleTab(4)', :class='{ "active": tab == 4 }').main-popular__tab Элементы кровли
    .main-popular__content(v-if='tab == 1')
      .main-popular__grid
        .main-popular__item(v-for="product in products_meta" :key="product.id" :class='{ "big": product.big, "very-big": product.very_big }')
          ProductCardMeta(:product='product' :class='{ "big": product.big, "very-big": product.very_big }')
        //- ProductCard(v-for="product in products" :key="product.id" :product='product')
</template>

<script>
export default {  
  data() {
    return {
      tab: 1,
      products_meta: [
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          big: true,
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
      ],
      products: [
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'order',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'chat',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'out-of-stock',
          price: 84844
        },
      ]
    };
  },
  methods: {
    toggleTab(id) {
      this.tab = id;
    },
  },
}
</script>

<style lang='scss' src='./main-popular.scss'></style>