.main-popular {
  padding-top: 64px;
  @media (max-width: $s) {
    padding-top: 48px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;

    @media (max-width: $xs) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;
    @media (max-width: $m) {
      @include fontSize(20, 28);
    }
    @media (max-width: $s) {
      @include fontSize(18, 24);
    }
  }

  &__tabs {
    display: flex;
    @media (max-width: $xs) {
      margin-top: 16px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }

  &__tab {
    flex-shrink: 0;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: $color-bg-secondary;
    color: $color-accent-dark-blue;
    @include fontSize(14, 16);
    font-weight: 500;
    transition: background-color 0.5s ease, color 0.5s ease;

    &.active {
      background-color: $color-accent-light-blue;
      color: $color-text-contrast;
    }

    &:hover {
      background-color: $color-accent-dark-blue;
      color: $color-text-contrast;
    }

    & + & {
      margin-left: 8px;
    }
  }

  &__grid {
    border-top: 1px solid $color-separator;
    border-bottom: 1px solid $color-separator;
    display: grid;
    background-color: $color-separator;
    gap: 1px;

    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;

    @media (max-width: $m) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media (max-width: $s) {
      scroll-behavior: smooth;
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
      scroll-snap-stop: always;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
        opacity: 0;
        -webkit-appearance: none;
      }
    }
  }

  &__item {
    &.big {
      grid-column: span 2;
      @media (max-width: $s) {
        grid-column: span 1;
      }
    }
  }
}
