<template lang="pug">
  .error-page(v-if="false")    
    .error-page__info
      img.error-page__icon(src='/icons/404.svg')
      h2.error-page__headline Страница не найдена
      p.error-page__text К сожалению, страница, которую вы запросили, не была найдена (ошибка 404). Вы можете перейти на главную страницу, воспользоваться каталогом товаров или поиском.
      nuxt-link.error-page__link(to='/') Перейти на главную
  .error-page(v-else)
    .error-page__info
      img.error-page__icon(src='/icons/403.svg')
      h2.error-page__headline Доступ запрещён
      p.error-page__text К сожалению, у вас нет доступа к запрашиваемой странице. Вы можете перейти на главную страницу, воспользоваться каталогом товаров или поиском.
      nuxt-link.error-page__link(to='/') Перейти на главную
</template>

<style lang="scss" src='./error-page.scss'>
  
</style>