.error-page {
  &__info {
    width: 100%;
    padding-top: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-shrink: 0;
  }

  &__icon {
    margin-bottom: 24px;
  }

  &__headline {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;
  }

  &__text {
    color: $color-text-primary;
    font-weight: 500;
    @include fontSize(16px, 24px);
    margin-top: 12px;
    margin-bottom: 24px;
    max-width: 580px;    
  }

  &__link {
    color: $color-accent-light-blue;
    @include fontSize(16, 24);
    font-weight: 600;

    &:hover {
      color: $color-accent-dark-blue;
    }
  }
}