.dropdown-calculator {
  $this: &;
  width: 100vw;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    @media (max-width: $xs) {
      padding: 16px;
    }
  }

  &__headline {
    color: $color-text-heading;
    @include fontSize(18, 24);
    font-weight: 600;
  }

  &__body {
    margin-top: 8px;
    padding: 0 24px;
    @media (max-width: $xs) {
      padding: 0 16px;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &:nth-last-child(1) {
      #{$this}__container {
        border-bottom: unset;
      }
    }
  }

  &__text {
    color: $color-accent-dark-blue;
    @include fontSize(14, 24);
    font-weight: 600;
  }

  &__container {
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid $color-separator;
    margin-left: 16px;
    width: 100%;
    justify-content: space-between;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $color-icon-secondary;
    fill-rule: evenodd;
    clip-rule: evenodd;
  }

  &__icon-arrow {
    width: 24px;
    height: 24px;
    stroke: $color-icon-primary;
    stroke-width: 2;
    stroke-linecap: square;
  }
  &__icon-close {
    width: 24px;
    height: 24px;
    fill: $color-icon-primary;
  }
}
