<template lang="pug">
.dropdown-calculator  
  .dropdown-calculator__header
    svg-icon.dropdown-calculator__icon-arrow(name='arrow-left' @click='close')
    h2.dropdown-calculator__headline Калькуляторы
    svg-icon.dropdown-calculator__icon-close(name='close' @click='close')
  .dropdown-calculator__body 
    nuxt-link.dropdown-calculator__item(to='/services' @click.native='closeCalculator')
      svg-icon.dropdown-calculator__icon(name='fence')
      .dropdown-calculator__container
        p.dropdown-calculator__text Калькулятор забора    
    nuxt-link.dropdown-calculator__item(to='/services' @click.native='closeCalculator')
      svg-icon.dropdown-calculator__icon(name='roof')
      .dropdown-calculator__container
        p.dropdown-calculator__text Калькулятор кровли    
    nuxt-link.dropdown-calculator__item(to='/services' @click.native='closeCalculator')
      svg-icon.dropdown-calculator__icon(name='gutter')
      .dropdown-calculator__container
        p.dropdown-calculator__text Калькулятор водостока
    nuxt-link.dropdown-calculator__item(to='/services' @click.native='closeCalculator')
      svg-icon.dropdown-calculator__icon(name='siding')
      .dropdown-calculator__container
        p.dropdown-calculator__text Калькулятор сайдинга
    nuxt-link.dropdown-calculator__item(to='/services' @click.native='closeCalculator')
      svg-icon.dropdown-calculator__icon(name='isolation')
      .dropdown-calculator__container
        p.dropdown-calculator__text Калькулятор утеплителя
</template>

<script>
export default {
  methods: {
    close() {
      this.$nuxt.$emit('closeCalculator')
    },
    closeCalculator() {      
      this.$nuxt.$emit('closeMenu')
      this.$nuxt.$emit('closeCalculator')
    }
  },
  
}
</script>

<style src='./dropdown-calculator.scss' lang="scss">
</style>