.reviews {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 40px;
  padding-top: 24px;

  @media (max-width: $m) {
    gap: 16px 32px;
    align-items: start;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'rating reviews'
      'form reviews'
      'form reviews'
      'form reviews';
  }

  @media (max-width: $s) {
    gap: 32px 24px;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      'rating form'
      'reviews reviews';
  }
  @media (max-width: $xs) {
    gap: 16px;
    align-items: start;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      'rating'
      'form'
      'reviews';
  }

  &__item {
    @media (max-width: $m) {
      &.is-rating {
        grid-area: rating;
      }
      &.is-reviews {
        grid-area: reviews;
      }
      &.is-form {
        grid-area: form;
      }
    }
    @media (max-width: $s) {
      &.is-rating {
        height: 100%;
        display: flex;
        flex-direction: column;
        grid-area: rating;
      }
      &.is-reviews {
        grid-area: reviews;
      }
      &.is-form {
        grid-area: form;
      }
    }
  }

  &__button {
    padding: 12px 16px;
    background-color: $color-bg-secondary;
    border: 1px solid $color-separator;
    border-radius: 4px;
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 600;
    margin-top: 32px;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: $color-bg-tertiary;
    }
  }
}
