<template lang="pug">
  .reviews
    .reviews__item.is-rating
      RatingCard(:data='reviews.review_card')
    .reviews__item.is-reviews
      ReviewCard(v-for="review in reviews.reviews_list.slice(0, arrayLength)" :key="review.id" :review='review')
      button.reviews__button(@click='showMore' v-if="this.reviews.reviews_list.length > this.arrayLength") Показать ещё
    .reviews__item.is-form
      ReviewFeedback      
</template>

<script>
export default {
  props: ['reviews'],
  data() {
    return {
      count: 1,
    }
  },
  computed: {
    arrayLength() {
      return this.count * 4
    }
  },
  methods: {
    showMore() {
      this.count = this.count + 1
    }
  },
}
</script>

<style lang="scss" src='./reviews.scss'>
</style>