<template>
    <button style="position: absolute; right: 24px; bottom: 240px; cursor: pointer; background-color: red;
    height: 60px; width: 200px" @click="$emit('applyColor')">Random color</button>
</template>
