
.range-linear .noUi-handle-lower {
  display: none;
}
.range-linear .noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: -10px;
  // top: -9px;
  outline: none;
}

.range-linear {
  // width: 312px;
  position: relative;

  
  &__values {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__value {    
    display: flex;
    // justify-content: center;
    // margin-left: -12px;
    color: $color-text-tertiary;
    @include fontSize(12, 16);
    font-weight: 600;
    
    
  }

  &__separator {
    width: 24px;
    height: 2px;
    background-color: $color-accent-dark-blue;
    margin: 0 8px;
  }

  &__slider {
    margin-top: 34px;
    margin-bottom: 10px;
  }
    
  &__inputs-price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > label {
      width: 120px;
      position: relative;
    }



    .from::before {
      content: 'от';
      @include fontSize(16, 24);
      color: $color-text-tertiary;
      position: absolute;
      top: 12px;
      left: 12px;
    }

    .to::before {
      content: 'до';
      @include fontSize(16, 24);
      color: $color-text-tertiary;
      position: absolute;
      top: 12px;
      left: 12px;
    }

    input {
      @include fontSize(16, 24);
      padding: 12px 12px 12px 38px;
      width: 100%;
      background-color: $color-bg-secondary;   
      border-radius: 0.4rem;
      color: $color-text-primary;

      &:focus {
        outline: none;
        border-color: $color-separator;
      }
    }

    input::placeholder {
      color: $color-text-tertiary;;
    }
  }
}




.noUi-target {
  position: relative;
}
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}


.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;

  transform-origin: 0 0;
  transform-style: flat;
}
.noUi-connect {
  height: 100%;
  width: 100%;
}
.noUi-origin {
  height: 10%;
  width: 10%;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;

}

.noUi-touch-area {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50%;
  &:active {
    background-color: $color-accent-light-blue;
  }
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-horizontal {
  height: 4px;
}
// .noUi-horizontal .noUi-handle {
//   width: 20px;
//   height: 20px;
//   border-radius: 50%;
//   right: 0;
//   top: -9px;
//   outline: none;
// }



.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

.noUi-target {
  background-color: $color-separator;
  border-radius: 2px;
}

.noUi-connect {
  background-color: $color-accent-dark-blue;
  height: 4px;
}

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-handle {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  background-color: $color-accent-dark-blue;
  cursor: pointer;
}