<template lang='pug'>
.range-linear(@change='priceChange', @update='priceUpdate',)
  .range-linear__inputs-price
    
  .range-linear__slider(ref='range')
  .range-linear__values
    p.range-linear__value 1
    p.range-linear__value 2
    p.range-linear__value 3
    p.range-linear__value 4
    p.range-linear__value 5
</template>

<script>
import noUiSlider from 'nouislider'
let slider
export default {
  props: ['data'],
  data() {
    return {
      
    }
  }, 

  methods: {
    priceChange() {
      console.log(666);
    },
    priceUpdate() {
      console.log(777);
    }
  },

  mounted() {
    slider = this.$refs.range
    noUiSlider.create(slider, {
      start: [1, 1],
      connect: true,
      step: 1,
      behaviour: 'drag',

      range: {
        min: 1,
        max: 5,
      },      
    })
    slider.noUiSlider.on('update', (values) => {
      console.log(123);
      // this.$emit('update', values)
    })
    slider.noUiSlider.on('end', (values) => {
      console.log(333);
      // this.$emit('change', values)
    })
  },
  watch: {
    data: function (newData, oldData) {
      slider.noUiSlider.set([this.fixFrom, this.fixTo])
    },
  },
}
</script>

<style lang='scss' src='./range-linear.scss'></style>