<template lang="pug">
.page__content
  .container
    Breadcrumbs(:data='breadcrumbs')
    Headline(title='Вакансия Менеджер по продажам (активный поиск) в компании Сталь ТД — Москва')
    Wysiwyg(:data='wysiwyg')
    .wysiwyg
      h2 Профессиональные требования:
      ul
        li заинтересованность и готовность к постоянному обучению, развитию профессиональных и личных навыков и качеств;
        li опыт в продажах аналогичной продукции или строительных материалов будет вашим преимуществом;
        li грамотное ведение деловой переписки, знание норм корпоративной культуры и делового этикета;
        li опыт в продажах аналогичной продукции или строительных материалов будет вашим преимуществом
      blockquote Наличие водительского удостоверения категории «B» и личного автомобиля обязательно
      h2 Обязанности:
      ul
        li активное привлечение и взамодействие с заказчиками;
        li консультирование с последующей продажей кровельных и фасадных материалов;
        li взаимодействие с поставщиками и производителями товаров, работ, услуг;
        li заключение договоров, отслеживание надлежащего исполнения обязательств
      h2 Условия:
      ul
        li понедельник-пятница с 9:00 до 18:00;
        li работа разъездного характера;
        li корпоративная связь;
        li компенсация ГСМ и амортизации автомобиля;
        li материально-техническое обеспечение всем необходимым для осуществления продажи;
        li работа по ТК, в том числе на время испытательного срока (3 месяца);
        li ежегодный оплачиваемый отпуск согласно законодательству РФ;
        li оплачиваемые больничные
</template>

<script>
export default {
  data() {
    return {
      wysiwyg: ''
    }
  },
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Вакансии',
          url: '/vacancies'
        },
      ]

      return breadcrumbs
    },
  },
}
</script>