<template>
  <model-gltf style='height: 100vh' src="/models/headphones/scene.gltf"></model-gltf>
</template>
<script>
import { ModelGltf } from 'vue-3d-model';
export default {
  components: { ModelGltf }
}
</script>