<template lang="pug">
  .products-section
    .container(v-if="header")
      .products-section__head
        h2.products-section__title Все товары <sup>5303</sup>
        .products-section__filter
          FilterSelect
    .products-section__grid
      .products-section__item(v-for="product in products" :key="product.id")
        ProductCard(:data='product' class='category-page')
    .container
      .products-section__pagination(v-if='hasPagination')
        Pagination      
</template>

<script>
export default {
  props: ['products', 'header'],
  computed: {
    hasPagination() {
      return (
        true
      )
    },
  },
}
</script>

<style lang="scss" src='./products-section.scss'>
  
</style>