.products-section {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 24px;
    @media (max-width: $xxs) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(32, 40);
    font-weight: 700;

    sup {
      color: $color-text-secondary;
      @include fontSize(16, 24);
      font-weight: 400;
    }
  }

  &__filter {
    @media (max-width: $xxs) {
      margin-top: 16px;
    }
  }

  &__grid {
    border-top: 1px solid $color-separator;
    border-bottom: 1px solid $color-separator;
    display: grid;
    background-color: $color-separator;
    gap: 1px;

    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;

    @media (max-width: $m) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media (max-width: $s) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (max-width: $xxs) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  &__item {
    &:nth-child(odd) {
      order: 2;
    }

    &:nth-child(even) {
      order: 1;
    }

    &.big {
      grid-column: span 2;
    }

    &.verybig {
      grid-column: span 3;
    }

    &:nth-last-child(1) {
      order: 3;
    }
  }  
}
