$animation-curve: cubic-bezier(0.42, 0, 0.58, 1);

.main-stage-slider {
  overflow: hidden;

  &.swiper-container {
    margin: 0;
  }

  & .swiper-slide:not(.swiper-slide-visible) {
    opacity: 0 !important;
  }

  & .swiper-container {
    transition: opacity 0.15s ease;
    opacity: 0;

    // @include ie11only {
    //     opacity: 1;
    // }
  }

  & .swiper-slide {
    @media (max-width: $m) {
      height: auto;
    }
  }

  & .swiper-container.swiper-container-initialized {
    opacity: 1;
  }

  //slider change animation

  .swiper-slide.swiper-slide-active {
    z-index: 2;
    & .main-stage {
      &__image {
        animation-name: moveRight;
        animation-timing-function: $animation-curve;
        animation-duration: 0.6s;
      }

      &__content-wrapper {
        animation-name: moveLeft;
        animation-timing-function: $animation-curve;
        animation-duration: 0.6s;
      }

      &__navigation {
        animation-name: fadeIn;
        animation-timing-function: $animation-curve;
        animation-duration: 0.6s;
      }
    }

    @media (max-width: $m) {
      & .main-stage {
        &__image {
          // animation-name: none;
        }

        &__content-wrapper {
          opacity: 1;
          animation-name: moveLeft;
          animation-timing-function: $animation-curve;
          animation-duration: 0.6s;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  .swiper-slide {
    @media (max-width: $m) {
      & .main-stage__content-wrapper {
        transition: opacity 0.6s $animation-curve;
        opacity: 0;
      }
    }
  }

  .swiper-slide.swiper-slide-prev,
  .swiper-slide.swiper-slide-duplicate-prev {
    & .main-stage {
      &__image {
        animation-name: moveRightReverse;
        animation-timing-function: $animation-curve;
        animation-duration: 0.6s;
      }

      &__content-wrapper {
        animation-name: moveLeftReverse;
        animation-timing-function: $animation-curve;
        animation-duration: 0.6s;
      }

      &__navigation {
        animation-name: fadeOut;
        animation-timing-function: $animation-curve;
        animation-duration: 0.6s;
      }
    }

    @media (max-width: $m) {
      & .main-stage {
        &__image {
          animation-name: none;
        }

        &__content-wrapper {
          animation-name: none;
        }
      }
    }
  }

  @keyframes moveLeft {
    0% {
      transform: translateX(80px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes moveRight {
    0% {
      transform: translateX(-80px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes moveLeftReverse {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(80px);
    }
  }

  @keyframes moveRightReverse {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-80px);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}


.main-stage {
  $this: &;
  padding-top: 3.3333%;

  @media (max-width: $m) {
    // height: 100%;
  }

  @media (max-width: $xs) {
    padding-top: 0;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;  

    @media (max-width: $s) {
      height: 100%; 
      // height: 216px;     
    }

    @media (max-width: $xs) {
      // height: 100%;
      height: 416px;
      flex-flow: column-reverse nowrap;
      // justify-content: flex-start;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    z-index: 1;

    &:hover {
      &.swiper-slide-active {
        #{$this}__image {
          transform: scale(1.03);
        }
      }     
      
    }

    &:hover + .main-stage__image {
      transform: scale(1.03);
    }

    &:hover ~ .main-stage__content .main-stage__title {
      @media (min-width: $s) {
        // @supports(--css: variables) {
        //   color: var(--hover-color) !important;
        // }
      }
    }
  }

  &__image {
    position: relative;
    width: 30.2%;
    will-change: transform;
    transform: scale(1);
    transform-origin: right bottom;
    transition: all .3s ease;

    

    @media (max-width: $s) {
      width: 40%;
    }

    @media (max-width: $xs) {
      // width: 75%;
      width: 50%;
      height: 60%;
      display: flex;
      justify-content: flex-end;
    }
    @media (max-width: $xxs) {      
      width: 75%;     
    }

    // Lazyload wrapper extra
    & > picture {
      display: flex;
      align-items: flex-end;

      & > img {
        height: 100%;
        object-fit: cover;
        object-position: right top;
      }
    }
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% + 7.5%);
    object-fit: cover;
    object-position: right top;
    transform-origin: bottom right;
    transition: all 0.3s ease;

    @media (max-width: $m) {
      height: calc(100% + 2.4rem);
    }

    @media (max-width: $s) {
      height: calc(100% + 1.6rem);
    }

    @media (max-width: $xs) {
      // position: static;
      position: relative;
      height: auto;
    }
  }

  &__content {
    position: relative;
    width: 59.06%;

    // @media (max-width: $m) {
    //   padding-right: 10.4rem; 
    // }

    @media (max-width: $s) {
      // position: static;
      // width: 88%;
      // padding-right: 0;
      // margin-bottom: auto;
      width: 88%;
      padding-right: 0;
      position: relative;
    }
  }

  &__content-wrapper {
    position: relative;
    padding-top: 40%;
    height: 0;

    @media (max-width: $m) {
      padding-top: 58%;
    }

    @media (max-width: $s) {
      padding-top: 24px;
      height: 216px;
    }
    @media (max-width: $xs) {
      height: unset;
      padding: 0;            
      padding-bottom: 64px;
      
    }

    @media (max-width: $xxs) {
      padding: 0;
      // padding-bottom: 40px;
    }
  }

  &__content-wrapper-items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 808px;

    @media (max-width: $l) {
     max-width: 704px;
    }

    @media (max-width: $m) {
      max-width: 528px;
    }

    @media (max-width: $s) {
      max-width: 394px;
      position: initial;
      // position: relative;
      padding-bottom: 80px;
      padding-left: 24px;
    }    

    @media (max-width: $xs) {
      padding-bottom: 0;
      padding-left: 16px;
      padding-top: 24px;
      height: unset;
    }
  }

  &__date,
  &__desc {
    @include fontSize(16, 24);
    color: $color-text-contrast;
    font-weight: 500;

    @media (max-width: $s) {
      font-size: 1.4rem;
      line-height: 2rem;
    }
    

    @media (max-width: $xs) {
      display: none;
    }
  }

  &__date {
    display: none;

    @media (max-width: $xs) {
      display: block;
      padding-bottom: 8px;
    }
  }

  &__desc {
    margin-top: 2.4rem;
    opacity: 0.8;

    @media (max-width: $m) {
      margin-top: 1.6rem;
    }

    @media (max-width: $xs) {
      display: none;
    }
  }

  &__title { 
    @include fontSize(32, 40);
    color: $color-text-contrast;
    font-weight: 700;       
    transition: all 0.3 ease;

    @media (max-width: $m) {
      font-size: 3.2rem;
      line-height: 4rem;
    }

    @media (max-width: $m) {
      font-size: 2.6rem;
      line-height: 3.4rem;
    }

    @media (max-width: $s) {
      font-size: 2rem;
      line-height: 2.4rem;
    }
  }

  &__navigation {
    position: relative;
    display: flex;
    height: 7.8rem;
    border-top: 1px solid rgba($color-bg-primary, 0.6);
    z-index: 2;    

    @media (max-width: $s) {
      display: none;
      // width: 100%;
      // border-top: none;
      // position: absolute;
      // right: 0;
      // bottom: 0;
      // flex-direction: row-reverse;
    }
    @media (max-width: $xs) {
      display: none;
    }
  }

  &__slide-counter-wrap {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba($color-bg-primary, 0.6);
    width: 7.7rem;
    @media (max-width: $s) {
      border-right: none;
    }

    &.mobile {
      display: none;
      @media (max-width: $s) {
        width: unset;
        display: flex;
        position: absolute;
        right: 16px;
        bottom: 16px;
      }
    }    
  }

  &__numeric {
    position: relative;
    top: -.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__slide-counter {    
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 2.4rem;
    color: $color-text-contrast;
    margin: 0;
    @media (max-width: $s) {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  &__slide-spacer {
    position: relative;
    display: block;
    width: 9px;
    height: 14px;
    margin: 0 2px;
    top: 0.8rem;
    left: 1px;
    @media (max-width: $s) {
      top: 0;
    }
    svg {
      path {
        fill: rgba($color-bg-primary, 0.5);
      }      
    }
    & > svg {
      vertical-align: top;
      fill: rgba($color-bg-primary, 0.5);
      @supports(--css: variables) {
        fill: var(--svg-fill);
      }
    }
  }

  &__all-slides {
    position: relative;
    top: 1.6rem;
    @media (max-width: $s) {
      top: 0;
    }
  }

  &__next-slide {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.2rem 0 2.4rem;
  }

  &__next-slide-title {    
    @include fontSize(16, 24);
    color: $color-text-contrast;
    font-weight: 500;
    transition: all 0.3 ease;

    @media (max-width: $m) {
      font-size: 1.4rem;
    }

    @media (max-width: $s) {
      display: none;
    }

    &:hover {
      @supports(--css: variables) {
        color: var(--hover-color) !important;
      }
    }
  }
  &__controls {
    display: flex;
    position: relative;

    // &.index {
    //   background-color: red;
    //   z-index: 200;

    //   & .main-stage__next-slide-btn {
    //     background-color: blue;
    //     z-index: 500;
    //     pointer-events: all;
    //   }
    // }
    @media (max-width: $s) {
      display: none;
    }
  }
  &__prev-slide-btn {
    transform: rotateY(180deg);
    margin-right: 8px;
  }
  &__prev-slide-btn,
  &__next-slide-btn {
    flex-shrink: 0;
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba($color-bg-primary, .5);
    border-radius: 50%;
    transition: all 0.3s ease;
    opacity: 1 !important;

    &:hover {
      @supports(--css: variables) {
        background-color: var(--hover-color) !important;
      }
    }

    // & > svg {
    //   width: 2.4rem;
    //   height: 2.4rem;
    //   fill: $color-accent-dark-blue;
    //   pointer-events: none;
    //   transition: all 0.3s ease;
    // }

    //Modifiers
    &_mobile {
      display: none;
      position: absolute;
      top: 50%;
      right: 2.4rem;
      transform: translateY(-50%);
      width: 4rem;
      height: 4rem;
      z-index: 2;


      @media (max-width: $s) {
        display: flex;
      }

      @media (max-width: $xs) {
        right: 1.6rem;
      }
    }
  }

  &__icon {
    width: 24px;
    height: 24px;    
    fill: $color-icon-contrast;
  }
}
