<template lang="pug">
.main-stage-slider.swiper-container.js-swiper-slider--main-stage(
  ref='container'
)
  .swiper-wrapper
    .swiper-slide(v-for='banner in banners', :key='banner.id')
      section.main-stage(aria-label='Главный баннер')
        .main-stage__wrapper(:style='"background-color:" + banner.color')
          a.main-stage__link(href='#') {{ banner.title }}
          aside.main-stage__image
            img.main-stage__img(:src='banner.image', alt='1')
          article.main-stage__content
            .main-stage__content-wrapper
              .main-stage__content-wrapper-items
                p.main-stage__date {{ banner.date }}
                p.main-stage__title(
                  style='--hover-color: rgba(51, 71, 103, 0.8)'
                ) {{ banner.title }}
                p.main-stage__desc {{ banner.text }}
            .main-stage__navigation
              .main-stage__slide-counter-wrap
                .main-stage__numeric.js-swiper-slider--pagination(
                  style='--svg-fill: rgba(51, 71, 103, 0.5)'
                )
              .main-stage__next-slide
                button.main-stage__next-slide-title.js-main-stage-slider-next(
                  style='--hover-color: rgba(51, 71, 103, 0.15)'
                )
                  | {{ banner.nextSlideLink }}
                .main-stage__controls
                  button.main-stage__prev-slide-btn.js-main-stage-slider-prev(
                    style='--hover-color: rgba(51, 71, 103, 0.15)',
                    ref='main__prev'
                  )
                    svg-icon.main-stage__icon(name='chevron-right')
                  button.main-stage__next-slide-btn.js-main-stage-slider-next(
                    style='--hover-color: rgba(51, 71, 103, 0.15)',
                    ref='main__next'
                  )
                    svg-icon.main-stage__icon(name='chevron-right')
          button.main-stage__next-slide-btn.main-stage__next-slide-btn_mobile.js-main-stage-slider-next
            svg-icon.main-stage__icon(name='chevron-right')
          .main-stage__slide-counter-wrap.mobile
            .main-stage__numeric.js-swiper-slider--pagination(
              style='--svg-fill: rgba(51, 71, 103, 0.5)'
            )
</template>

<script>
import Swiper, {
  Navigation,
  Pagination,
  EffectFade,
  Parallax,
  Autoplay,
} from 'swiper'
Swiper.use([Navigation, Pagination, EffectFade, Parallax, Autoplay])
export default {
  data() {
    return {
      banners: [
        {
          color: '#7998A3',
          title: 'Скидка на водосточные системы 25%',
          text: 'В течении всего сезона 2019 года мы дарим скидку на металлические водосточные системы',
          date: 'с 31 марта до 31 июля',
          image: '/img/main-slider-1.png',
          nextSlideLink: 'Скидка 12% на фальцевую кровлю',
        },
        {
          color: '#D5AD21',
          title: 'Скидка 12%',
          text: 'Самая надежная кровля по отличной цене.При заказе монтажа скидка еще 5%!',
          date: 'с 31 июля до 31 сентября',
          image: '/img/main-slider-2.png',
          nextSlideLink: 'Скидки на водосточные системы 25%',
        },
        {
          color: '#7998A3',
          title: 'Скидки на водосточные системы 25%',
          text: 'В течении всего сезона 2020 года устанавливаем скидку на металлические водосточные системы 25%',
          date: 'с 31 марта до 31 июля',
          image: '/img/main-slider-1.png',
          nextSlideLink: 'Скидка 12% на фальцевую кровлю',
        },
        {
          color: '#D5AD21',
          title: 'Скидка 12% на фальцевую кровлю',
          text: 'Самая надежная кровля по отличной цене.При заказе монтажа скидка еще 5%!',
          date: 'с 31 июля до 31 сентября',
          image: '/img/main-slider-2.png',
          nextSlideLink: 'Скидки на водосточные системы 25%',
        },
      ],
    }
  },
  methods: {    
    // nextSlide() {
    //   this.swiper.slideNext(speed, runCallbacks)
    // },
    initMainSlider() {
      const swiperMainBanner = new Swiper(this.$refs.container, {
        loop: true,
        // effect: 'fade', 
        speed: 0,
        watchSlidesProgress: true,
        watchSlidesVisibility: true,
        followFinger: false,
        fadeEffect: {
          // crossFade: true,
        },
        navigation: {
          prevEl: '.js-main-stage-slider-prev',
          nextEl: '.js-main-stage-slider-next',
        },
        autoplay: {
          delay: 4000,
        },
        pagination: {
          el: '.js-swiper-slider--pagination',
          type: 'fraction',
          renderFraction: (currentClass, totalClass) =>
            `<span class="main-stage__slide-counter main-stage__cur-slide ${currentClass}"></span>
                 <span class="main-stage__slide-counter main-stage__slide-spacer">
                 <svg width="9" height="14" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 13.2934L7.74 0 9 .7066 1.26 14 0 13.2934z"/></svg>
                 </span> 
                 <span class="main-stage__slide-counter main-stage__all-slides ${totalClass}"></span>`,
        },
      })

      swiperMainBanner.on('slideChange', function () {
        console.log(3334);
        setTimeout(() => {
          let activeSlide = document.querySelector('.swiper-slide-active').firstChild.firstChild.querySelector('.main-stage__navigation').querySelector('.main-stage__next-slide').querySelector('.main-stage__controls')

        activeSlide.classList.add('index')
        }, 500);
        
      });
      // const mainSliderContainer = document.querySelector(
      //   '.js-swiper-slider--main-stage'
      // )

      // if (mainSliderContainer) {
      //   mainSliderContainer.addEventListener('mouseenter', () =>
      //     swiperMainBanner.autoplay.stop()
      //   )
      //   mainSliderContainer.addEventListener('mouseleave', () =>
      //     swiperMainBanner.autoplay.start()
      //   )        
      // }
    },
  },

  mounted() {
    this.initMainSlider()
    let activeSlide = document.querySelector('.swiper-slide-active').firstChild.firstChild.querySelector('.main-stage__navigation').querySelector('.main-stage__next-slide').querySelector('.main-stage__controls')

    activeSlide.classList.add('index')
    console.log(activeSlide);
  },
}
</script>


<style lang="scss">
@import '~swiper/swiper';
@import 'main-slider';
</style>