.service-card {
  $this: &; 

  &.in-service {
    #{$this}__container {
      width: unset;
      height: unset;
    } 
  }

  &.not-slider {
    #{$this}__container {
      width: unset;
      height: unset;
    }    
    &:hover {
      #{$this}__container {
        background-color: $color-bg-secondary;
        border: 2px solid $color-separator;
      }
      
      & .checkbox__box::before {
        opacity: 1;
        background-image: url("data:image/svg+xml;utf8,<svg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.16675 4.58333L5.33342 8.75L12.8334 1.25' stroke='rgb(57, 83, 121, 0.48)' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/></svg>");        
      }
    }
  }

  &:hover {
    #{$this}__container {
      background-color: $color-bg-tertiary;
      border: 2px solid $color-bg-tertiary;
    }    
  }

  &__container {
    padding: 24px 0;
    width: 324px;
    height: 176px;
    border-radius: 8px;
    background-color: $color-bg-secondary;
    border: 2px solid $color-bg-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease, border 0.3s ease;
    position: relative;
    cursor: pointer;
    @media (max-width: $l) {
      width: 284px;
      height: 176px;
    }
    @media (max-width: $s) {
      width: 300px;
      height: 176px;
    }
    @media (max-width: $xs) {
      width: 293px;
      height: 176px;
    }
    @media (max-width: $xxs) {
      width: 272px;
      height: 176px;
    }
    &.active {    
      border: 2px solid $color-accent-light-blue !important;
    }
  }

  &__cover {
    width: 88px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 600;
    margin-top: 16px;
  }

  &__checkbox {
    position: absolute;
    left: 24px;
    top: 24px;
  }
}
