<template lang="pug">
  .service-card
    .service-card__container(v-if="cart" @click='toogleSelect' :class='{"active": selected}')
      .service-card__checkbox
        Checkbox(:checked='checked')
      .service-card__cover
        img.service-card__image(:src='data.image')
      .service-card__title {{data.title}}
    nuxt-link.service-card__container(:to='data.link' v-if="data.link")
      .service-card__cover
        img.service-card__image(:src='data.image')
      .service-card__title {{data.title}}  
    .service-card__container(v-if="order")
      .service-card__cover
        img.service-card__image(:src='data.image')
      .service-card__title {{data.title}}  
</template>

<script>
export default {
  props: ['data', 'cart', 'order'],
  data() {
    return {
      selected: false,
      checked: false
    }
  },
  methods: {
    toogleSelect() {
      this.selected = !this.selected
      this.checked = !this.checked
    }
  },
}
</script>

<style lang="scss" src='./service-card.scss'>
  
</style>