.input {
  $this: &;
  position: relative; 

  &:hover {
    #{$this}__input {
      border: 2px solid $color-separator;
    }
  }  

  &.white {
    #{$this}__input {
      background-color: $color-bg-primary;
      padding: 10px;
    }
  }  

  &__input {
    width: 100%;
    border-radius: 4px;
    padding: 14px;
    border: 2px solid $color-bg-secondary;
    background-color: $color-bg-secondary;
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 500;
    outline: none;
    transition: background-color 0.3s ease, border 0.3s ease;

    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden; 

    &::placeholder {
      color: $color-text-tertiary;
    }

    &:focus {
      border: 2px solid $color-accent-light-blue !important;
      background-color: $color-bg-primary;
      
    }

    
    &.textarea {
      height: 176px;
    }

    &.subtitle {
      padding: 22px 14px 6px 14px;
    }
  }
  &__subtitle {
    position: absolute;
    top: 8px;
    left: 16px;
    color: $color-text-secondary;
    @include fontSize(12, 16);
    font-weight: 500;
  }
}
