<template lang='pug'>
.input
  textarea.input__input.textarea(v-if='type == "textarea"' :placeholder='placeholder' v-model="text")
  input.input__input(:type='type' :value='value' :placeholder='placeholder' v-else :class='{"subtitle": placeholder && text}' v-model="text" :id='idTarget' :maxlength='maxlength' :inputmode='inputmode') 
  span.input__subtitle(v-if="placeholder && text") {{placeholder}}  
</template>

<script>
export default { 
  props: ['type', 'placeholder', 'value', 'idTarget', 'maxlength', 'inputmode'],
  data() {
    return {
      text: null
    }
  },
  mounted() {
    if (this.value) {
      this.text = this.value
    }    
  },
}
</script>

<style lang='scss' src='./input.scss'></style>