<template lang="pug">
  .colors-section    
    h2.colors-section__title {{title}}
    .colors-section__grid
      .colors-section__item(v-for="color in colors" :key="color.id")
        ColorCard(:color='color')
</template>

<script>
export default {
  props: ['colors', 'title']
}
</script>

<style lang="scss" src='./colors-section.scss'>
  
</style>