.colors-section {
  padding-top: 48px;

  &.in-coating {
    padding-top: 64px;
    @media (max-width: $s) {
      padding-top: 48px;
    }
  }

  @media (max-width: $s) {
    padding-top: 32px;
  }

  & + & {
    padding-top: 64px;
    @media (max-width: $s) {
      padding-top: 48px;
    }
  }
  &__title {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;
    @media (max-width: $m) {
      @include fontSize(20, 28);
    }
    @media (max-width: $s) {
      @include fontSize(18, 24);
    }
  }

  &__grid {
    padding-top: 24px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;

    @media (max-width: $m) {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    @media (max-width: $s) {
      padding-top: 16px;
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    @media (max-width: $xs) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media (max-width: $xxs) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
