<template lang="pug">
.page__content
  .container
    Breadcrumbs(:data='breadcrumbs')
    ServiceSection(:data='data.service_section')
    ServiceWysiwig(v-for='item in data.service_wysiwyg', :key='item.id', :data='item')
    h2.services-grid__title Услуги
    .services-grid
      ServiceCard.not-slider(:data='item', v-for='item in data.services', :key='item.id')
  ProductsSlider(:data='data.porducts', object='ProductCard', title='Товары с покрытием PURETAN®')
  .container
    Slider(:data='data.objects', object='ObjectCard', title='Похожие объекты')
</template>

<script>
export default {
  data() {
    return {
      data: {
        service_section: {
          image: '/img/service-card-1.svg',
          title: 'Монтаж фасадов',
          description: [
            'Выбор подходящих фасадных материалов очень важен, но ещё более значимым является выбор профессиональной монтажной компании. Самостоятельный монтаж фасадов или сотрудничество с недобросовестными мастерами чревато не только испорченным внешним видом, но и нарушением техники безопасности, а также не соблюдением нормативных требований. Наша компания работает на рынке много лет и предлагает осуществить качественное и надёжное устройство фасада на выгодных условиях.'],
        },
        service_wysiwyg: [
          {
            title: 'Оособенности работ',
            wysiwyg:
              '<p>Монтаж фасадов зданий состоит из ряда сложных работ, требующих постоянного контроля и соблюдения норм и правил технической безопасности. Различные фасадные материалы требуют особого подхода к установке, а также имеют собственные условия эксплуатации, которые необходимо учитывать. Рынок фасадных материалов растёт с каждым годом, наша компания предлагает следующие услуги:</p><ul><li>устройство фасада из профнастила;</li><li>устройство фасада из профнастила;</li><li>устройство фасада из профнастила;</li><li>устройство фасада из профнастила;</li><li>устройство фасада из профнастила;</li><li>устройство фасада из профнастила;</li><li>устройство фасада из профнастила;</li></ul>',
          },
          {
            title: 'Наши преимущества',
            wysiwyg:
              '<p>Наша компания предлагает устройство фасадов зданий под ключ. Наш сотрудник перед началом работ выезжает на объект для оценки технических особенностей здания, выполнения необходимых замеров и анализа условий эксплуатации и окружающей среды. Мы помогаем грамотно подобрать фасадный материал с учётом климата, агрессивных воздействий — температурных перепадов, сильного ветра, механический повреждений, ультрафиолета и прочее. Затем специалисты быстро и качественно выполняют монтаж фасадов.</p><p>У нас в компании работают высококвалифицированные специалисты, а также мы предлагаем доступную стоимость работ по устройству фасадов.</p><p>Оформить заказ на услуги и узнать, какая на монтаж фасада цена, можно с помощью формы обратной связи или по телефону. Наш сотрудник оперативно свяжется с вами для обсуждения дополнительной информации и консультации.</p>',
          },
        ],
        services: [
          {
            title: 'Порошковая покраска',
            link: '/services/slug',
            image: '/img/service-card-1.svg',
          },
          {
            title: 'Монтаж сэдвич-панелей',
            link: '/services/slug',
            image: '/img/service-card-2.svg',
          },
          {
            title: 'Установка заборов',
            link: '/services/slug',
            image: '/img/service-card-3.svg',
          },
          {
            title: 'Монтаж металлоконструкций',
            link: '/services/slug',
            image: '/img/service-card-4.svg',
          },
          {
            title: 'Порошковая покраска',
            link: '/services/slug',
            image: '/img/service-card-1.svg',
          },
          {
            title: 'Монтаж сэдвич-панелей',
            link: '/services/slug',
            image: '/img/service-card-2.svg',
          },
          {
            title: 'Установка заборов',
            link: '/services/slug',
            image: '/img/service-card-3.svg',
          },
          {
            title: 'Монтаж металлоконструкций',
            link: '/services/slug',
            image: '/img/service-card-4.svg',
          },
        ],
        porducts: [
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
        ],
        objects: [
          {
            image: '/img/object-card-1.jpg',
            title: 'Кровля и фасад в пос. Волков лес',
            location: 'Ленинградская область',
            date: 'Ноябрь 2020',
            link: '/objects/slug',
          },
          {
            image: '/img/object-card-1.jpg',
            title: 'Кровля и фасад в пос. Волков лес',
            location: 'Ленинградская область',
            date: 'Ноябрь 2020',
            link: '/objects/slug',
          },
          {
            image: '/img/object-card-1.jpg',
            title: 'Кровля и фасад в пос. Волков лес',
            location: 'Ленинградская область',
            date: 'Ноябрь 2020',
            link: '/objects/slug',
          },
          {
            image: '/img/object-card-1.jpg',
            title: 'Кровля и фасад в пос. Волков лес',
            location: 'Ленинградская область',
            date: 'Ноябрь 2020',
            link: '/objects/slug',
          },
          {
            image: '/img/object-card-1.jpg',
            title: 'Кровля и фасад в пос. Волков лес',
            location: 'Ленинградская область',
            date: 'Ноябрь 2020',
            link: '/objects/slug',
          },
          {
            image: '/img/object-card-1.jpg',
            title: 'Кровля и фасад в пос. Волков лес',
            location: 'Ленинградская область',
            date: 'Ноябрь 2020',
            link: '/objects/slug',
          },
        ],
      },
    }
  },
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Услуги',
          url: '/services'
        },
      ]

      return breadcrumbs
    },
  },
}
</script>