<template lang="pug">
.page__content
  .container 
    Headline(title='Услуги')
    .services-grid
      ServiceCard(:data='item' class='in-service' v-for="item in data.services" :key="item.id")
</template>

<script>
export default {
  data() {
    return {
      data: {
        services: [
          {
            title: 'Порошковая покраска',
            link: '/services/slug',
            image: '/img/service-card-1.svg',
          },
          {
            title: 'Монтаж сэдвич-панелей',
            link: '/services/slug',
            image: '/img/service-card-2.svg',
          },
          {
            title: 'Установка заборов',
            link: '/services/slug',
            image: '/img/service-card-3.svg',
          },
          {
            title: 'Монтаж металлоконструкций',
            link: '/services/slug',
            image: '/img/service-card-4.svg',
          },
          {
            title: 'Порошковая покраска',
            link: '/services/slug',
            image: '/img/service-card-1.svg',
          },
          {
            title: 'Монтаж сэдвич-панелей',
            link: '/services/slug',
            image: '/img/service-card-2.svg',
          },
          {
            title: 'Установка заборов',
            link: '/services/slug',
            image: '/img/service-card-3.svg',
          },
          {
            title: 'Монтаж металлоконструкций',
            link: '/services/slug',
            image: '/img/service-card-4.svg',
          },
        ],
      },
    }
  },
}
</script>