.headline {
  color: $color-text-heading;
  @include fontSize(40, 48);
  font-weight: 700;
  padding-top: 24px;

  @media (max-width: $m) {
    @include fontSize(32, 40);
  }

  @media (max-width: $s) {
    @include fontSize(24, 32);
    padding-top: 16px;
  }
}
