<template lang="pug">
.page__content  
  .container
    Breadcrumbs(:data='breadcrumbs')
    Headline(title='Персональная информация')
    PersonalPage
</template>

<script>
export default {
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Личный кабинет',
          url: '/account',
        },        
      ]

      return breadcrumbs
    },
  },
}
</script>