.modal-login {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__list {
    margin-top: 32px;
  }

  &__icon-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    right: 16px;
    fill: $color-icon-secondary;
    cursor: pointer;
  }

  &__content {
    padding: 56px 32px 48px;
    border-radius: 8px;
    background-color: $color-bg-primary;
    @media (max-width: $xs) {
      padding: 56px 72px 48px;
    }
    @media (max-width: $xxs) {
      padding: 56px 16px 48px;
    }
  }

  &__inputs {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 12px;
  }

  &__input {
    margin-top: 32px;
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(18, 24);
    font-weight: 700;
  }

  &__text {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;
    margin-top: 12px;

    &.grey {
      color: $color-text-secondary;
      font-weight: 400;
      text-align: center;
      margin-top: 16px;
    }
  }

  &__policy {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 500;
    a {
      color: $color-accent-dark-blue;
      &:hover {
        color: $color-accent-light-blue;
      }
    }
  }

  &__stars {
    padding-top: 12px;
    padding-bottom: 32px;
  }

  &__button {
    margin-top: 32px;
    border-radius: 4px;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-text-contrast;
    background-color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 600;

    &:hover {
      background-color: $color-accent-light-blue;
    }

    &.success {
      width: 200px;
      margin-top: 48px;
    }

    &.apple {
      background-color: black;
      &:hover {
        background-color: $color-grey-600;
      }
    }
  }

  &__policy {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 500;
    margin-top: 16px;
  }

  &__success {
    padding: 32px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 648px !important;
  }

  &__icon-apple {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }

  &__separator {
    margin-top: 33px;
    margin-bottom: 30px;
    width: 100%;
    height: 1px;
    background-color: $color-separator;
    position: relative;
  }

  &__separator-text {
    position: absolute;
    width: 40px;
    background-color: $color-bg-primary;
    top: -8px;
    left: calc(50% - 20px);
    color: $color-text-secondary;
    @include fontSize(14, 16);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  &__link-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__link {
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 600;
    margin-top: 48px;
    width: fit-content;
    // text-align: center;
    cursor: pointer;
    &.padding {
      margin-top: 16px;
    }

    &.contact {
      margin-top: 0;
      text-align: left;
    }
  }

  &__ul {
  }

  &__li {
    position: relative;
    padding-left: 32px;
    margin-top: 8px;
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;

    &::before {
      position: absolute;
      content: '';
      top: 6px;
      left: 8px;
      width: 8px;
      height: 8px;
      border-radius: 2px;
      background-color: $color-accent-light-blue;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    gap: 8px;
  }
}
