<template lang="pug">
  .modal-login
    svg-icon.modal-login__icon-close(name='close' @click='$emit("close")')
    .modal-login__content(v-if="phone")
      p.modal-login__title Войдите или зарегистрируйтесь с помощью телефона
      .modal-login__input(style='margin-top: 32px;')
        Input(type='phone' placeholder='Телефон' idTarget='phone')
      button.modal-login__button(@click='getPhoneCode') Получить код
      .modal-login__separator
        p.modal-login__separator-text или
      button.modal-login__button.apple 
        svg-icon.modal-login__icon-apple(name='apple') 
        span Войти через Apple ID
      .modal-login__link-container
        .modal-login__link(@click='emailOpen') Войти по почте

    .modal-login__content(v-if="phoneCode")
      p.modal-login__title Введите код из СМС
      p.modal-login__text Мы отправили код потдверждения на номер +7 (999) 999-99-99
      CodeConfirmation
      //- .modal-login__inputs
      //-   .modal-login__input
      //-     Input(type='number' inputmode='numeric' idTarget='code' :maxlength='1')
      //-   .modal-login__input
      //-     Input(type='number' inputmode='numeric')
      //-   .modal-login__input
      //-     Input(type='number' inputmode='numeric')
      //-   .modal-login__input
      //-     Input(type='number' inputmode='numeric')
      //-   .modal-login__input
      //-     Input(type='number' inputmode='numeric')
      //-   .modal-login__input
      //-     Input(type='number' inputmode='numeric')
      button.modal-login__button Войти
      p.modal-login__text.grey(v-if="!newCode") Получить новый код можно через 00:{{time}}
      .modal-login__link-container
        .modal-login__link.padding(@click='startTimer(59, 0)' v-if="newCode") Получить новый код
      .modal-login__link-container
        .modal-login__link(@click='infoOpen') Не приходит СМС?
      .modal-login__link-container
        .modal-login__link.padding(@click='emailOpen') Войти по почте

    .modal-login__content(v-if="emailCode")
      p.modal-login__title Введите код из письма
      p.modal-login__text Мы отправили код потдверждения на почту email.login@gmail.com
      CodeConfirmation
      //- .modal-login__inputs
      //-   .modal-login__input
      //-     Input(type='number' inputmode='numeric')
      //-   .modal-login__input
      //-     Input(type='number' inputmode='numeric')
      //-   .modal-login__input
      //-     Input(type='number' inputmode='numeric')
      //-   .modal-login__input
      //-     Input(type='number' inputmode='numeric')
      //-   .modal-login__input
      //-     Input(type='number' inputmode='numeric')
      //-   .modal-login__input
      //-     Input(type='number' inputmode='numeric')
      button.modal-login__button Войти
      p.modal-login__text.grey(v-if="!newCode") Получить новый код можно через 00:{{time}}
      .modal-login__link.padding(@click='startTimer(59, 0)' v-if="newCode") Получить новый код
      .modal-login__link-container
        .modal-login__link(@click='infoOpen') Не приходит письмо?
      .modal-login__link-container
        .modal-login__link.padding(@click='loginOpen') Вернуться на главный экран

    .modal-login__content(v-if="email")
      p.modal-login__title Вход по электронной почте    
      p.modal-login__text(style='margin-top: 12px;') Только для зарегистрированных пользователей
      .modal-login__input(style='margin-top: 32px;')
        Input(type='email' placeholder='Введите электронную почту' idTarget='email')
      button.modal-login__button(@click='getEmailCode') Получить код
      .modal-login__link-container
        .modal-login__link(@click='loginOpen') Вернуться на главный экран

    .modal-login__content(v-if="info")
      p.modal-login__title Не приходит сообщение с кодом?  
      p.modal-login__text(style='margin-top: 24px;') Проверьте, что:
      ul.modal-login__ul
        li.modal-login__li ваш телефон включён и находится в зоне приёма сети;
        li.modal-login__li вы ввели правильный номер телефона или адрес электронной почты
      p.modal-login__text(style='margin-top: 8px;') Также бывают случаи, когда сообщение приходит не сразу. В таком случае попробуйте запросить код ещё раз. Если и это не помогает — свяжитесь с нами.
      p.modal-login__text(style='margin-top: 24px;') Контакты технической поддержки:
      .modal-login__contacts
        a.modal-login__link.contact(href='tel:+7 (495) 225-63-03') +7 (495) 225-63-03
        a.modal-login__link.contact(href='mailto:help@staltd.ru') help@staltd.ru
      .modal-login__link-container
        .modal-login__link(@click='loginOpen') Войти по телефону
      .modal-login__link-container
        .modal-login__link.padding(@click='emailOpen') Войти по почте
</template>

<script>
export default {
  data() {
    return {
      phone: true,
      email: false,
      phoneCode: false,
      emailCode: false,
      info: false,
      newCode: false,
      current: null,      
    }
  },computed: {
    time() {
      return this.current.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})
    }
  },
  methods: {    
    startTimer(from, to) {
      this.newCode = false,
      this.current = (from).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false});      
      let timerId = setInterval(() => {        
        if (this.current == to) {
          this.newCode = true,
          clearInterval(timerId);          
        }
        this.current--
      }, 1000);
    },
    infoOpen() {
      this.email = false
      this.phone = false
      this.phoneCode = false
      this.emailCode = false
      this.info = true
    },
    getEmailCode() {
      this.email = false
      this.phone = false
      this.phoneCode = false
      this.emailCode = true
      this.info = false
    },
    getPhoneCode() {
      this.email = false
      this.phone = false
      this.phoneCode = true
      this.emailCode = false
      this.info = false
      this.startTimer(59, 0)
      setTimeout(() => {        
        document.getElementById('code').focus();
      }, 100);
      
      
    },
    emailOpen() {
      this.email = true
      this.phone = false
      this.phoneCode = false
      this.emailCode = false
      this.info = false      
      setTimeout(() => {        
        document.getElementById('email').focus();
      }, 100);
    },
    loginOpen() {
      this.email = false
      this.phone = true
      this.phoneCode = false
      this.emailCode = false
      this.info = false
    },
    send() {
      this.success = true
    },
    selectCity() {
      this.$emit("close")
      this.$nuxt.$emit("closeCity")
    }
  },
  mounted() {
    document.getElementById('phone').focus();
  },
}
</script>

<style lang="scss" src='./modal-login.scss'>
  
</style>