.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;

  &__box {    
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid $color-accent-dark-blue;
    position: relative;
    background-color: $color-bg-primary;
    transition: background-color 0.3s ease;

    &::before {
      position: absolute;
      top: 6px;
      left: 4px;
      content: '';
      width: 14px;
      height: 10px;
      background-image: url("data:image/svg+xml;utf8,<svg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.16675 4.58333L5.33342 8.75L12.8334 1.25' stroke='rgb(57, 83, 121, 0.48)' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/></svg>");
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }    
  }

  

  &__tag {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;

    &:checked {
      + .checkbox__box {
        background-color: $color-accent-dark-blue;
        &::before {
          opacity: 1;
          background-image: url("data:image/svg+xml;utf8,<svg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.16675 4.58333L5.33342 8.75L12.8334 1.25' stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/></svg>") !important;
        }
      }
    }

    &:disabled {
      + .checkbox__box {
        opacity: 0.2;
      }
    }
  }

  span {
    margin-left: 1.2rem;

    @include fontSize(14, 20);

    color: $color-text-heading;
  }
}
