<template lang="pug">
  .code-confirmation
    input.code-confirmation__input(type='number' inputmode='numeric' v-model="form.code1" @input='nextInput(0)' id='code')
    input.code-confirmation__input(type='number' inputmode='numeric' v-model="form.code2" @input='nextInput(1)')
    input.code-confirmation__input(type='number' inputmode='numeric' v-model="form.code3" @input='nextInput(2)')
    input.code-confirmation__input(type='number' inputmode='numeric' v-model="form.code4" @input='nextInput(3)')
    input.code-confirmation__input(type='number' inputmode='numeric' v-model="form.code5" @input='nextInput(4)')
    input.code-confirmation__input(type='number' inputmode='numeric' v-model="form.code6" @input='nextInput(5)')
</template>

<script>
export default {
  data() {
    return {
      form: {
        code1: null,
        code2: null,
        code3: null,
        code4: null,
        code5: null,
        code6: null
      }
    }
  },
  methods: {
    nextInput(j) {
      let array = document.querySelectorAll('.code-confirmation__input')
      if (j == 5) {
        document.querySelector('.modal-login__button').focus()
      } else {
        for (let i = 0; i < array.length; i++) {
          const element = array[j];
          element.nextSibling.focus()        
        }  
      }           
    },
  },  
}
</script>

<style lang="scss" src='./code-confirmation.scss'>
  
</style>