.code-confirmation {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 12px;
  margin-top: 32px;

  &__input {
    width: 100%;
    border-radius: 4px;
    padding: 16px;
    border: 2px solid $color-bg-secondary;
    background-color: $color-bg-secondary;
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 500;
    outline: none;
    transition: background-color 0.3s ease, border 0.3s ease;

    &::placeholder {
      color: $color-text-tertiary;
    }

    &:focus {
      border: 2px solid $color-accent-light-blue !important;
      background-color: $color-bg-primary;
      
    }

    
    &.textarea {
      height: 176px;
    }

    &.subtitle {
      padding: 24px 16px 8px 16px;
    }
  }
}