<template lang="pug">
.page__content
  .container
    Breadcrumbs(:data='breadcrumbs')
    Headline(title='Профнастил')
    CollectionItems(:collections='collections')
  FiltersSection(:quickFilters='quickFilters' :selectedFilters='selectedFilters')
  MetaSection(:products='products_meta' :cards='link_cards')
  ProductsSection(:products='products')
  //- Pagination
  .container(style='padding-top: 32px')
    Slider(:data='slider_files' object='FileCard' title='Справочная информация')
    Slider(:data='slider_recomended' object='ServiceCard' title='Рекомендуемые услуги')
    Slider(:data='slider_objects' object='ObjectCard' title='Похожие объекты')
    SeoSection(:data='wysiwyg')
</template>

<script>
export default {
  data() {
    return {
      metaproduct: true,
      collections: [
        {
          name: 'Зелёный',
          link: '/catalog/slug',
        },
        {
          name: 'Коричневый',
          link: '/catalog/slug2',
        },
        {
          name: 'Красный',
          link: '/',
        },
        {
          name: 'Серый',
          link: '/',
        },
        {
          name: 'Под дерево',
          link: '/',
        },
        {
          name: 'Под камень',
          link: '/',
        },
        {
          name: 'Под кирпич',
          link: '/',
        },
        {
          name: 'С покрытием полиэстер',
          link: '/',
        },
      ],
      quickFilters: [
        {
          filterName: 'Range',
          name: 'Цена',
          data: {
            min: 150,
            max: 7590,
            active_min: 150,
            active_max: 7590,
            from: 0,
            to: 0,
          },
        },
        {
          filterName: 'QuickAttributes',
          name: 'Применение',
          data: [
            {
              name: 'Кровля',
              value: 'krovla',
            },
            {
              name: 'Фасад',
              value: 'fasad',
            },
            {
              name: 'Забор',
              value: 'zabor',
            },
            {
              name: 'Несъёмная палубка',
              value: 'palubka',
            },
          ],
        },
        {
          filterName: 'QuickColor',
          name: 'Цвет',
          data: [
            {
              hex: '#C0C3C8',
            },
            {
              hex: '#0C9041',
            },
            {
              hex: '#60411D',
            },
            {
              hex: '#FFD73D',
            },
            {
              hex: '#E8956D',
            },
            {
              hex: '#A90808',
            },
            {
              hex: '#A1A1A1',
            },
            {
              hex: '#145FB6',
            },
            {
              hex: '#FFA500',
            },
            {
              hex: '#2E2F2F',
            },
            {
              hex: '#FFFFFF',
            },
            {
              hex: '#FFFACD',
            },
            {
              hex: '#C98846',
            },
            {
              hex: '#806F55',
            },
            {
              hex: '#B25739',
            },
            {
              hex: '#D8D9DB',
            },
          ],
        },
        {
          filterName: 'QuickAttributes',
          name: 'Толщина',
          data: [
            {
              name: 'Кровля',
              value: 'krovla',
            },
            {
              name: 'Фасад',
              value: 'fasad',
            },
            {
              name: 'Забор',
              value: 'zabor',
            },
            {
              name: 'Несъёмная палубка',
              value: 'palubka',
            },
          ],
        },
        {
          filterName: 'QuickAttributes',
          name: 'Гарантия',
          data: [
            {
              name: 'Кровля',
              value: 'krovla',
            },
            {
              name: 'Фасад',
              value: 'fasad',
            },
            {
              name: 'Забор',
              value: 'zabor',
            },
            {
              name: 'Несъёмная палубка',
              value: 'palubka',
            },
          ],
        },
      ],
      selectedFilters: [
        {
          name: 'Забор',
          value: 'zabor'
        },
        {
          name: 'Кровля',
          value: 'krovla'
        },
        {
          name: 'Фасад',
          value: 'fasad'
        },
        {
          name: 'Синий',
          value: 'siny'
        },
        {
          name: 'Серый',
          value: 'sery'
        },
        {
          name: 'Под дерево',
          value: 'derevo'
        },
        {
          name: 'Под камень',
          value: 'kamen'
        },
      ],
      products_meta: [
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          big: true,
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          big: true,
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          big: true,
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '52 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          verybig: true,
          link: '/product/slug',
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
      ],
      link_cards: [
        {
          title: 'Сопутствующие товары',
          link: '/catalog/slug',
          icon: '<svg width="144" height="144" viewBox="0 0 144 144" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M117.6 31.2006L40.8 21.6006L18 112.801L94.8 122.401L100.432 99.8716M117.6 31.2006L127.208 103.213L100.432 99.8716M117.6 31.2006L100.432 99.8716M89.7001 60.1123L108.9 62.5123M82.5728 89.3791L101.773 91.7791M69.1781 23.3162L45.8663 116.545M96.8895 27.6193L73.6357 120.614" stroke="#395379" stroke-width="2"/></svg>',
        }
      ],
      products: [
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          labels: [
            {
              text: 'Бестселлер',
            },
            {
              text: '—10%',
              discount: true,
            },
          ],
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'order',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'chat',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'out-of-stock',
          price: 84844
        },
      ],
      slider_files: [
        {
          text: 'Справочник веса профлиста',
          download: '/icons/catalog.svg',
          format: 'PDF',
          size: '48,4 Мб'
        },
        {
          text: 'Правила транспортировки и хранения профилированной продукции',
          download: '/icons/catalog.svg',
          format: 'PDF',
          size: '48,4 Мб'
        },
        {
          text: 'Сертификат соответствия на профнастил по ГОСТ',
          link: '/files/slug'
        },
        {
          text: 'Справочник веса профлиста',
          download: '/icons/catalog.svg',
          format: 'PDF',
          size: '48,4 Мб'
        },
        {
          text: 'Правила транспортировки и хранения профилированной продукции',
          download: '/icons/catalog.svg',
          format: 'PDF',
          size: '48,4 Мб'
        },
        {
          text: 'Сертификат соответствия на профнастил по ГОСТ',
          link: '/files/slug'
        }
      ],
      slider_recomended: [
        {
          title: 'Порошковая покраска',
          link: '/services/slug',
          image: '/img/service-card-1.svg'
        },
        {
          title: 'Монтаж сэдвич-панелей',
          link: '/services/slug',
          image: '/img/service-card-2.svg'
        },
        {
          title: 'Установка заборов',
          link: '/services/slug',
          image: '/img/service-card-3.svg'
        },
        {
          title: 'Монтаж металлоконструкций',
          link: '/services/slug',
          image: '/img/service-card-4.svg'
        },
        {
          title: 'Порошковая покраска',
          link: '/services/slug',
          image: '/img/service-card-1.svg'
        },
        {
          title: 'Монтаж сэдвич-панелей',
          link: '/services/slug',
          image: '/img/service-card-2.svg'
        },
        {
          title: 'Установка заборов',
          link: '/services/slug',
          image: '/img/service-card-3.svg'
        },
        {
          title: 'Монтаж металлоконструкций',
          link: '/services/slug',
          image: '/img/service-card-4.svg'
        }
      ],
      slider_objects: [
        {
          image: '/img/object-card-1.jpg',
          title: 'Кровля и фасад в пос. Волков лес',
          location: 'Ленинградская область',
          date: 'Ноябрь 2020',
          link: '/objects/slug'
        },
        {
          image: '/img/object-card-1.jpg',
          title: 'Кровля и фасад в пос. Волков лес',
          location: 'Ленинградская область',
          date: 'Ноябрь 2020',
          link: '/objects/slug'
        },
        {
          image: '/img/object-card-1.jpg',
          title: 'Кровля и фасад в пос. Волков лес',
          location: 'Ленинградская область',
          date: 'Ноябрь 2020',
          link: '/objects/slug'
        },
        {
          image: '/img/object-card-1.jpg',
          title: 'Кровля и фасад в пос. Волков лес',
          location: 'Ленинградская область',
          date: 'Ноябрь 2020',
          link: '/objects/slug'
        },
        {
          image: '/img/object-card-1.jpg',
          title: 'Кровля и фасад в пос. Волков лес',
          location: 'Ленинградская область',
          date: 'Ноябрь 2020',
          link: '/objects/slug'
        },
        {
          image: '/img/object-card-1.jpg',
          title: 'Кровля и фасад в пос. Волков лес',
          location: 'Ленинградская область',
          date: 'Ноябрь 2020',
          link: '/objects/slug'
        },
      ],
      wysiwyg: '<h2>Виды профнастила</h2><p>Для обустройства крыши дома используется несколько типов профнастила. В качестве кровельного покрытия часто используют профлист с маркировкой «МП» (монтажный профнастил). Этот профнастил весьма универсален и кроме использования в кровельных работах, его часто покупают для возведения стен и заборов. Второй тип профнастила, который можно встретить на кровле, маркируется буквой «Н», несущий. Это прочный и жёсткий материал — он имеет большую высоту волны, а дополнительную жёсткость материалу придают специальные бороздки. И последняя, специализированная марка — профнастил «СКН», отличающийся максимальной жёсткостью и используемый для возведения кровли крупнопролётных сооружений и для создания несущих конструкций.<a>Купить Кровельный профлист.</a></p><p>В категорию «стеновой-фасадный» профлист попадает несколько марок материала. Здесь можно встретить уже знакомый нам профнастил с маркировкой «МП», материал действительно универсален. Также в качестве фасадного материала используется профлист типа «С» (стеновой), он весьма специализирован, имеет низкую несущую способность и предназначен для покрытия стен и возведения вертикальных перегородок. Ещё один тип, который используется в обустройстве фасадов — это профлист «НС» (универсальный), он имеет усреднённые показатели, что и делает его универсальным, отлично сбалансированным материалом.<a>Купить Стеновой профлист.</a><p>Для возведения заборов используют почти все перечисленные марки профнастила: «Н», «НС», «С» и «МП». Основное, на что обращают внимание при выборе профлиста для заборов — это небольшая высота профиля, что позволяет создать эстетически-аккуратную конструкцию. Стоит заметить, что использование профлиста для заборов позволяет весьма бюджетно огородить свой участок, не теряя в его защищённости.<a>Купить Профлист для забора.</a></p><p></p><p>Отдельным видом профнастила можно назвать тот, который используется для обустройства несъёмной опалубки. Для таких задач применяется профнастил марок «Н» и «СКН», как самые жёсткие виды профилированного металла. Идеальным материалом для таких задач его делает то, что он устойчив к прогибам, отлично переносит давление и за счёт высокого профиля почти не деформируется. Кроме того, листы легко режутся на нужные части, позволяя смонтировать опалубку любого размера и конфигурации.</p><p>Для того, чтобы купить профлист, оптимально подходящий под ваши задачи, можно обратиться к нашим менеджерам. Они помогут выбрать подходящий материал, а также проконсультируют по вопросам подбору комплектующих и его монтажа.</p><img src="/img/wysiwyg-1.jpg" />'
      
    }
  },
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Каталог',
          url: '/catalog'
        },
      ]

      return breadcrumbs
    },
  },
}
</script>