<template lang="pug">
  .page__content
    .container
      Headline(title='Каталог')
      .catalog-page__grid
        CatalogCard(v-for="category in catalog" :key="category.id"  :category='category')
</template>

<script>
export default {
  data() {
    return {
      catalog: [
        {
          title: 'Профнастил',
          icon: '/icons/proflist.svg',
          categories: [
            {
              title: 'Для забора',
              link: 'slug'
            },
            {
              title: 'Кровельный',
              link: 'slug'
            },
            {
              title: 'Стеновой',
              link: 'slug'
            },
            {
              title: 'Оцинкованный',
              link: 'slug'
            },
            {
              title: 'Под дерево',
              link: 'slug'
            },
            {
              title: 'Под камень',
              link: 'slug'
            },
          ]
        },
        {
          title: 'Профнастил',
          icon: '/icons/proflist.svg',
          categories: [
            {
              title: 'Для забора',
              link: 'slug'
            },
            {
              title: 'Кровельный',
              link: 'slug'
            },
            {
              title: 'Стеновой',
              link: 'slug'
            },
            {
              title: 'Оцинкованный',
              link: 'slug'
            },
            {
              title: 'Под дерево',
              link: 'slug'
            },
            {
              title: 'Под камень',
              link: 'slug'
            },
          ]
        },
        {
          title: 'Профнастил',
          icon: '/icons/proflist.svg',
          categories: [
            {
              title: 'Для забора',
              link: 'slug'
            },
            {
              title: 'Кровельный',
              link: 'slug'
            },
            {
              title: 'Стеновой',
              link: 'slug'
            },
            {
              title: 'Оцинкованный',
              link: 'slug'
            },
            {
              title: 'Под дерево',
              link: 'slug'
            },
            {
              title: 'Под камень',
              link: 'slug'
            },
          ]
        },
        {
          title: 'Профнастил',
          icon: '/icons/proflist.svg',
          categories: [
            {
              title: 'Для забора',
              link: 'slug'
            },
            {
              title: 'Кровельный',
              link: 'slug'
            },
            {
              title: 'Стеновой',
              link: 'slug'
            },
            {
              title: 'Оцинкованный',
              link: 'slug'
            },
            {
              title: 'Под дерево',
              link: 'slug'
            },
            {
              title: 'Под камень',
              link: 'slug'
            },
          ]
        },
        {
          title: 'Профнастил',
          icon: '/icons/proflist.svg',
          categories: [
            {
              title: 'Для забора',
              link: 'slug'
            },
            {
              title: 'Кровельный',
              link: 'slug'
            },
            {
              title: 'Стеновой',
              link: 'slug'
            },
            {
              title: 'Оцинкованный',
              link: 'slug'
            },
            {
              title: 'Под дерево',
              link: 'slug'
            },
            {
              title: 'Под камень',
              link: 'slug'
            },
          ]
        },
        {
          title: 'Профнастил',
          icon: '/icons/proflist.svg',
          categories: [
            {
              title: 'Для забора',
              link: 'slug'
            },
            {
              title: 'Кровельный',
              link: 'slug'
            },
            {
              title: 'Стеновой',
              link: 'slug'
            },
            {
              title: 'Оцинкованный',
              link: 'slug'
            },
            {
              title: 'Под дерево',
              link: 'slug'
            },
            {
              title: 'Под камень',
              link: 'slug'
            },
          ]
        },
        {
          title: 'Профнастил',
          icon: '/icons/proflist.svg',
          categories: [
            {
              title: 'Для забора',
              link: 'slug'
            },
            {
              title: 'Кровельный',
              link: 'slug'
            },
            {
              title: 'Стеновой',
              link: 'slug'
            },
            {
              title: 'Оцинкованный',
              link: 'slug'
            },
            {
              title: 'Под дерево',
              link: 'slug'
            },
            {
              title: 'Под камень',
              link: 'slug'
            },
          ]
        },
        {
          title: 'Профнастил',
          icon: '/icons/proflist.svg',
          categories: [
            {
              title: 'Для забора',
              link: 'slug'
            },
            {
              title: 'Кровельный',
              link: 'slug'
            },
            {
              title: 'Стеновой',
              link: 'slug'
            },
            {
              title: 'Оцинкованный',
              link: 'slug'
            },
            {
              title: 'Под дерево',
              link: 'slug'
            },
            {
              title: 'Под камень',
              link: 'slug'
            },
          ]
        },
        {
          title: 'Профнастил',
          icon: '/icons/proflist.svg',
          categories: [
            {
              title: 'Для забора',
              link: 'slug'
            },
            {
              title: 'Кровельный',
              link: 'slug'
            },
            {
              title: 'Стеновой',
              link: 'slug'
            },
            {
              title: 'Оцинкованный',
              link: 'slug'
            },
            {
              title: 'Под дерево',
              link: 'slug'
            },
            {
              title: 'Под камень',
              link: 'slug'
            },
          ]
        },
        {
          title: 'Профнастил',
          icon: '/icons/proflist.svg',
          categories: [
            {
              title: 'Для забора',
              link: 'slug'
            },
            {
              title: 'Кровельный',
              link: 'slug'
            },
            {
              title: 'Стеновой',
              link: 'slug'
            },
            {
              title: 'Оцинкованный',
              link: 'slug'
            },
            {
              title: 'Под дерево',
              link: 'slug'
            },
            {
              title: 'Под камень',
              link: 'slug'
            },
          ]
        },
        {
          title: 'Профнастил',
          icon: '/icons/proflist.svg',
          categories: [
            {
              title: 'Для забора',
              link: 'slug'
            },
            {
              title: 'Кровельный',
              link: 'slug'
            },
            {
              title: 'Стеновой',
              link: 'slug'
            },
            {
              title: 'Оцинкованный',
              link: 'slug'
            },
            {
              title: 'Под дерево',
              link: 'slug'
            },
            {
              title: 'Под камень',
              link: 'slug'
            },
          ]
        },
      ]
    }
  },
}
</script>

<style lang="scss">
  .catalog-page__grid {
    padding-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;

    @media (max-width: $m) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: $s) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $xxs) {
      grid-template-columns: 1fr;
    }
  }
</style>