<template lang="pug">
  .quick-attributes
    AttributeItem(v-for="attribute in data" :key="attribute.id" :attribute='attribute')    
</template>

<script>
export default {
  props: ['data']
}
</script>



<style lang="scss" src='./quick-attributes.scss'>
  
</style>