<template lang="pug">
  .promotion-page
    .container
      .promotion-page__board
        .promotion-page__cover
          img.promotion-page__image(src='/img/promocard-1.png')
        .promotion-page__content
          .promotion-page__container
            h2.promotion-page__title Сайдинг под дерево по выгодным ценам
            .promotion-page__time 48 дней до завершения
          p.promotion-page__text Мы предлагаем дополнительную скидку 5% на 4 вида металлосайдинга с покрытиями, имитирующими натуральное дерево. Скидка предоставляется при заказе металлосайдинга от 50 м² и рапостраняется на доборные элементы в заказе.Но и это ещё не всё — в дополнение мы даём скидку 5% на услугу «Монтаж металлосайдинга»!
      h2.promotion-page__headline Акционные товары
    .promotion-page__grid      
      .promotion-page__item(v-for="card in link_cards" :key="card.id")
        LinkCard(:data='card' class='not-slider')
      .promotion-page__item(v-for="product in products_meta" :key="product.id" )
        ProductCardMeta(:product='product' class='category-page')
</template>

<script>
export default {
  data() {
    return {
      products_meta: [
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          big: true,
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          big: true,
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          big: true,
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '52 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          verybig: true,
          link: '/product/slug',
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },
      ],
      link_cards: [
        {
          title: 'Сопутствующие товары',
          link: '/catalog/slug',
          icon: '<svg width="144" height="144" viewBox="0 0 144 144" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M117.6 31.2006L40.8 21.6006L18 112.801L94.8 122.401L100.432 99.8716M117.6 31.2006L127.208 103.213L100.432 99.8716M117.6 31.2006L100.432 99.8716M89.7001 60.1123L108.9 62.5123M82.5728 89.3791L101.773 91.7791M69.1781 23.3162L45.8663 116.545M96.8895 27.6193L73.6357 120.614" stroke="#395379" stroke-width="2"/></svg>',
        }
      ],
    }
  },
}
</script>

<style lang="scss" src='./promotion-page.scss'>
  
</style>