.promotion-page {
  &__board {
    border-radius: 8px;
    margin-top: 24px;
    background-color: #639691;
    width: 100%;
    height: 480px;
    display: flex;
    padding: 40px 32px 0 0;
    position: relative;

    @media (max-width: $m) {
      padding: 32px 32px 0 0;
    }

    @media (max-width: $s) {
      // flex-direction: column-reverse;
      padding: 24px 24px 0 0;
    }

    @media (max-width: $xs) {
      padding: 16px 16px 0 0;
      
    }
  }

  &__cover {
    border-radius: 0 0 0 8px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 443px;
    // height: 443px;
    height: 100%;
    @media (max-width: $l) {
      width: 390px;
    }
    @media (max-width: $m) {
      width: 289px;
    }
    @media (max-width: $s) {
      width: 216px;
      position: absolute;
      // height: unset;
      height: 216px;
      bottom: 0;
      left: 0;
    }
    @media (max-width: $xs) {
      width: 160px;
    }
    @media (max-width: $xxs) {
      position: absolute;
      height: unset;
      bottom: 0;
    }
  }

  &__image {
    width: 100%;
    height: 443px;
    @media (max-width: $l) {
      width: 390px;
      height: 390px;
    }
    @media (max-width: $m) {
      width: 289px;
      height: 289px;
    }
    @media (max-width: $s) {
      width: 216px;
      height: 216px;
    }
    @media (max-width: $xs) {
      width: 160px;
      height: 160px;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px 12px;
  }

  &__headline {
    color: $color-text-heading;
    @include fontSize(32, 40);
    font-weight: 700;
    padding-top: 64px;

    @media (max-width: $m) {
      @include fontSize(24, 32);
    }

    @media (max-width: $s) {
      padding-top: 48px;
      @include fontSize(20, 28);
    }
  }

  &__title {
    color: $color-text-contrast;
    @include fontSize(40, 48);
    font-weight: 700;

    @media (max-width: $m) {
      @include fontSize(32, 40);
    }
    @media (max-width: $s) {
      @include fontSize(24, 32);
    }
  }

  &__time {
    position: relative;
    color: $color-text-contrast;
    @include fontSize(14, 20);
    font-weight: 500;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    width: fit-content;
    z-index: 1;
  }

  &__text {
    color: $color-text-contrast;
    @include fontSize(14, 20);
    font-weight: 500;
    opacity: 0.8;
    margin-top: 24px;
  }

  &__content {
    @media (max-width: $m) {
      padding: 0 0 40px 24px;
    }
    @media (max-width: $xs) {
      padding: 0 0 0 16px;
    }
    @media (max-width: $xxs) {
      padding: 0 0 0 16px;
    }
  }

  &__grid {
    margin-top: 24px;
    border-top: 1px solid $color-separator;
    border-bottom: 1px solid $color-separator;
    display: grid;
    background-color: $color-separator;
    gap: 1px;

    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;

    @media (max-width: $m) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media (max-width: $s) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (max-width: $xxs) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  &__item {
    &:nth-child(odd) {
      order: 1;
    }

    &:nth-child(even) {
      order: 0;
    }
  }
}
