<template lang="pug">
  .file-insert    
    .file-insert__insert(:class='fileName ? "success" : ""')
      input(
        type='file',
        @change='changeFile',
        name='file',
        ref='file',
        accept='.jpg, .jpeg, .png, .tif, application/pdf, .ai, .eps, .cdr, .psd'
      )
      svg-icon.file-insert__file(name='paperclip' v-if='!fileName')
      svg-icon.file-insert__file.blue(name='file' v-if='fileName')
      span.file-insert__span(v-if='!fileName' :class='{"blue": fileName}') Прикрепить файл <span class='file-insert__span grey'>(до 50 Мб)</span>      
      span.file-insert__span.blue(v-if='fileName') {{ fileName }}
      svg-icon.file-insert__close(name='delete' v-if='fileName' @click='removeFile')
      //- img.file-insert__loader(src='/loading.svg')
    span.file-insert__error(v-if="false") Не удалось прикрепить файл. Попробуйте снова
</template>

<script>
export default {
  data() {
    return {
      file: ''
    }
  },
  computed: {
    fileName() {
      return this.file ? this.file.name : ''
    },
  },
  methods: {
    changeFile() {
      this.file = this.$refs.file.files[0]
    },
    removeFile() {
      this.file = ''
    }
  },
}
</script>

<style lang="scss" src='./file-insert.scss'>
  
</style>