.file-insert {
  $this: &;
  margin-top: 24px;
  &__insert {
    // margin-top: 24px;
    align-items: center;
    position: relative;
    width: fit-content;
    cursor: pointer;

    &:hover {
      
      #{$this}__span {
        color: $color-accent-light-blue;
        
      }
      #{$this}__file {
        stroke: $color-accent-light-blue;
      }
    }

    input {
      width: 100%;
      height: 100%;
      opacity: 0;
      left: 0;
      top: 0;
      visibility: hidden;
      position: absolute;
    }

    &.success {
      justify-content: center;
      // background-color: #226b2c;
    }
  }

  &__span {
    margin-left: 8px;
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 600;
    transition: color 0.3s ease;

    &.blue {
      color: $color-accent-light-blue;
      font-weight: 500;
    }

    &.grey {
      color: $color-text-secondary;
      margin-left: 0;
    }
  }

  &__loader {
    width: 20px;
    height: 20px;
  }

  &__error {
    color: $color-error;
    @include fontSize(14, 20);
    font-weight: 400;
    margin-top: 12px;
  }

  &__file {
    width: 20px;
    height: 20px;
    stroke: $color-accent-dark-blue;
    stroke-width: 1.5;
    stroke-linecap: square;
    transition: stroke 0.3s ease;

    &.blue {
      stroke: $color-accent-light-blue;
    }
  }

  &__close {
    width: 20px;
    height: 20px;
    fill: $color-icon-secondary;
    cursor: pointer;
    z-index: 3;
    margin-left: 8px;
    position: relative;
  }
}
