<template lang='pug'>
.range(@change='priceChange', @update='priceUpdate',)
  .range__inputs-price
    label.from
      input(type='number', inputmode='numeric' :min='fixFrom' :max='fixTo' :placeholder='fixFrom')
      //- input(type='number', :value='fixFrom' :min='fixFrom' :max='fixTo' :placeholder='fixFrom')
    .range__separator
    label.to
      input(type='number', inputmode='numeric' :min='fixFrom' :max='fixTo' :placeholder='fixTo')
      //- input(type='number', :value='fixTo' :min='fixFrom' :max='fixTo' :placeholder='fixTo')
  .range__slider(ref='range')
</template>

<script>
import noUiSlider from 'nouislider'
let slider
export default {
  props: ['data'],
  data() {
    return {
      valueArray: [this.fixFrom, this.fixTo],
    }
  }, 

  computed: {
    fixFrom() {
      return Math.max(this.data.from, this.data.min)
    },

    fixTo() {
      return this.data.to
        ? Math.min(Math.max(this.fixFrom, this.data.to), this.data.max)
        : this.data.max
    },
  },
  methods: {
    priceChange() {
      console.log(123);
    },
    priceUpdate() {
      console.log(123);
    }
  },

  mounted() {
    slider = this.$refs.range
    noUiSlider.create(slider, {
      start: [this.fixFrom, this.fixTo],
      connect: true,
      step: 10,
      behaviour: 'drag',

      range: {
        min: this.data.min,
        max: this.data.max,
      },
      format: {
        to: function (value) {
          return Math.round(value)
        },
        from: function (value) {
          return Math.round(value)
        },
      },
    })
    slider.noUiSlider.on('update', (values) => {
      this.$emit('update', values)
    })
    slider.noUiSlider.on('end', (values) => {
      this.$emit('change', values)
    })
  },
  watch: {
    data: function (newData, oldData) {
      slider.noUiSlider.set([this.fixFrom, this.fixTo])
    },
  },
}
</script>

<style lang='scss' src='./range.scss'></style>