<template lang="pug">
.page__content
  .container
    Breadcrumbs(:data='breadcrumbs')
    Headline(title='Кровля и фасад в посёлке Волков лес')
    ObjectPage
  ProductsSlider(:data='porducts' object='ProductCard' title='Использованные товары')
  .container
    Slider(:data='slider_objects' object='ObjectCard' title='Похожие объекты')
</template>

<script>
export default {
  data() {
    return {
      porducts: [
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
      ],
      slider_objects: [
        {
          image: '/img/object-card-1.jpg',
          title: 'Кровля и фасад в пос. Волков лес',
          location: 'Ленинградская область',
          date: 'Ноябрь 2020',
          link: '/objects/slug'
        },
        {
          image: '/img/object-card-1.jpg',
          title: 'Кровля и фасад в пос. Волков лес',
          location: 'Ленинградская область',
          date: 'Ноябрь 2020',
          link: '/objects/slug'
        },
        {
          image: '/img/object-card-1.jpg',
          title: 'Кровля и фасад в пос. Волков лес',
          location: 'Ленинградская область',
          date: 'Ноябрь 2020',
          link: '/objects/slug'
        },
        {
          image: '/img/object-card-1.jpg',
          title: 'Кровля и фасад в пос. Волков лес',
          location: 'Ленинградская область',
          date: 'Ноябрь 2020',
          link: '/objects/slug'
        },
        {
          image: '/img/object-card-1.jpg',
          title: 'Кровля и фасад в пос. Волков лес',
          location: 'Ленинградская область',
          date: 'Ноябрь 2020',
          link: '/objects/slug'
        },
        {
          image: '/img/object-card-1.jpg',
          title: 'Кровля и фасад в пос. Волков лес',
          location: 'Ленинградская область',
          date: 'Ноябрь 2020',
          link: '/objects/slug'
        },
      ],
    }
  },
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Объекты',
          url: '/objects'
        },
      ]

      return breadcrumbs
    },
  },
}
</script>