.counter {
  $this: &;
  display: flex;  
  z-index: 3;  

  &.in-complect {
    #{$this}__icon {
      width: 20px;
      height: 20px;
    }
  }

  &.in-product {
    @media (max-width: $xxs) {
      width: 100%;
    }
    
    #{$this}__input {
      @media (max-width: $xxs) {
        width: 100% !important;
      }
    }
  }
  

  &.big {
    #{$this}__button {
      width: 56px;
      height: 56px;
    }
    #{$this}__input {
      width: 64px;
      height: 56px;
    }
  }
  &.medium {
    #{$this}__button {
      width: 48px;
      height: 48px;
    }
    #{$this}__input {
      width: 48px;
      height: 48px;
    }
  }
  &.small {
    #{$this}__button {
      width: 32px;
      height: 32px;
    }    
    #{$this}__input {
      height: 32px;
      @include fontSize(16, 24);
    }
    #{$this}__icon {
      width: 16px;
      height: 16px;
    }
  }

  &.white {
    outline: 1px solid $color-separator;
    border-radius: 4px;
    #{$this}__button {
      background-color: $color-bg-primary;
    }    
    #{$this}__input {
      background-color: $color-bg-primary;
    }
  }

  &__button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-bg-secondary;
    border-radius: 4px 0 0 4px;
    transition: background-color 0.3s ease;
    &.plus {
      border-radius: 0 4px 4px 0;
    }
  }

  &__input {
    background-color: $color-bg-secondary;
    text-align: center;
    width: 48px;
    height: 40px;
    color: $color-text-primary;
    @include fontSize(18, 24);
    font-weight: 500;
    transition: background-color 0.3s ease;
    

    &:focus {
      outline: none;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    stroke: $color-accent-dark-blue;
    stroke-width: 1.5;
    stroke-linecap: square;
  }
}
