<template lang="pug">
  .counter
    button.counter__button(@click='removeProduct')
      svg-icon.counter__icon(name='minus' )
    input.counter__input(type='number' v-model="quantityData" inputmode='numeric')
    button.counter__button.plus(@click='addProduct')
      svg-icon.counter__icon(name='plus')
</template>

<script>
export default {
  // props: ['quantity'],
  data() {
    return {
      quantityData: 0,
    }
  },
  methods: {
    addProduct() {
      this.quantityData++
      this.$emit('input', this.quantityData)
    },
    removeProduct() {
      if (this.quantityData > 0) {
        this.quantityData--
        this.$emit('input', this.quantityData)
      } else {
        return
      }
    },
  },
}
</script>

<style lang="scss" src='./counter.scss'>
  
</style>