<template lang="pug">
  nuxt-link.product-card(to='/product/slug')
    .product-card__top
      .product-card__labels(v-if="data.labels")
        ProductLabels(:labels='data.labels' class='column')
      .product-card__actions
        .product-card__action(:class='{"active": inFavorites}' @click.prevent='toogleFavorites')
          svg-icon.product-card__action-icon(name='favorites')
        .product-card__action(:class='{"active": inCompare}' @click.prevent='toogleCompare')
          svg-icon.product-card__action-icon(name='compare')
      .product-card__cover
        img.product-card__image(:src='data.image')
      .product-card__main
        p.product-card__title {{data.title}}
        .product-card__special
          p.product-card__text.grey(v-if="data.subtext") {{data.subtext}}
          p.product-card__text.grey(v-if="data.special") {{data.special.name}}
          p.product-card__text.bold(v-if="data.special") {{data.special.value}}
        .product-card__specifications(v-if="data.specifications")
          .product-card__specification(v-for="specification in data.specifications" :key="specification.id")
            .product-card__icon(v-html="specification.icon")
            .product-card__text {{specification.value}}
        .product-card__badges
          StatusBadge(:status='data.status')
    .product-card__bottom
      p.product-card__price {{data.price}} ₽/м²
      .product-card__buttons
        button.product-card__button.is-cart
          svg-icon.product-card__cart(name='cart' style='margin-right: 8px;')
          span В корзину
        button.product-card__button.is-quick
          svg-icon.product-card__cart(name='fast-buy')
        button.product-card__button.is-compare
          svg-icon.product-card__trash(name='trash')
</template>

<script>
export default {
  props: ['data'],
  data() {
    return {
      inFavorites: false,
      inCompare: false
    }
  },
  methods: {
    toogleFavorites() {
      this.inFavorites = !this.inFavorites
      console.log(123);
    },
    toogleCompare() {
      this.inCompare = !this.inCompare
    }
  },
}
</script>

<style lang="scss" src='./product-card.scss'>
  
</style>