.product-card {
  $this: &;
  padding: 24px;
  background-color: $color-bg-primary;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  // width: 320px;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &:hover {
    #{$this}__actions {
      opacity: 1;
    }
  }

  &.is-compare { 
    width: 100%;
    height: 344px;
    justify-content: space-between;
    border-top: 1px solid $color-separator;
    border-bottom: 1px solid $color-separator;
    border-right: 1px solid $color-separator;
    #{$this}__actions {
      display: none;
    }
    
    @media (max-width: $l) {
      // width: 255px;
    }
    @media (max-width: $m) {
      // width: 240px;
    }
    @media (max-width: $s) {
      // width: 226px;
      height: 330px;         
    }       
    @media (max-width: $xs) {
      width: 100%;
      height: 362px;
      padding-top: 32px; 
      border-top: unset;
      border-bottom: unset;
      border-right: unset;        
    }       
         
    #{$this}__bottom {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
    #{$this}__buttons {
      margin-top: 0;
    }
    #{$this}__button {
      &.is-cart {
        @media (max-width: $xs) {
          width: fit-content !important;          
        }
        @media (max-width: $xxs) {
          width: 80px !important;
          span {
            display: none;
          }
        }
      }
      &.is-quick {
        display: none;
      }
      &.is-compare {
        display: flex;
      }
    }
  }

  @media (max-width: $s) {
    width: 323px;
    padding: 16px;
  }

  @media (max-width: $xs) {
    width: 223px;
  }

  @media (max-width: $xxs) {
    width: 287px;
  }

  &.category-page {
    width: 100%;
  }

  &.big {
    #{$this}__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    #{$this}__cover {
      position: absolute;
      right: -10%;
      top: 50%;
      bottom: 50%;
    }

    @media (max-width: $s) {
      #{$this}__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
      #{$this}__cover {
        position: relative;
        right: unset;
        top: unset;
        bottom: unset;
      }
    }
  }
  &.very-big {
    #{$this}__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    #{$this}__cover {
      position: absolute;
      left: 0;
      display: flex;

      justify-content: center;
      width: 100%;
      top: 50%;
      bottom: 50%;
    }
    @media (max-width: $s) {
      #{$this}__cover {
        position: relative;
        right: unset;
        top: unset;
        bottom: unset;
      }
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__labels {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }

  &__actions {
    position: absolute;
    display: flex;
    gap: 8px;
    top: 0;
    right: 0;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__action {
    width: 36px;
    height: 36px;
    background-color: $color-bg-secondary;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
    
    &:hover {
      background-color: $color-bg-tertiary;
    }

    &.active {
      background-color: $color-accent-light-blue;
      #{$this}__action-icon {
        stroke: $color-icon-contrast;
      }
    }
  }

  &__action-icon {
    width: 20px;
    height: 20px;    
    stroke: $color-accent-dark-blue;
    stroke-width: 1.5;
  }

  &__content {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &:hover {
    #{$this}__image {
      transform: scale(1.1);
    }
  }

  &__cover {
    display: flex;
    justify-content: center;
    align-items: center;

    // width: 100%;
  }

  &__image {
    transition: transform 0.5s ease;
  }

  &__title {
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 700;
    padding-bottom: 8px;
  }

  &__text {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;

    &.grey {
      color: $color-text-secondary;
      @include fontSize(14, 16);
      margin-bottom: 4px;
    }
    &.bold {
      font-weight: 700;
    }
  }

  &__special {
    margin-bottom: 16px;
  }

  &__specifications {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }

  &__specification {
    display: flex;

    & + & {
      margin-top: 8px;
    }
  }

  &__bottom {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $xs) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    &.meta {
      margin-top: 32px;
      @media (max-width: $s) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }

  &__price {
    color: $color-text-heading;
    @include fontSize(16, 24);
    font-weight: 700;
  }

  &__buttons {
    display: flex;
    @media (max-width: $xs) {
      margin-top: 16px;
    }
  }

  &__button {
    padding: 10px;
    background-color: $color-bg-secondary;
    border: 1px solid $color-separator;
    border-radius: 4px;
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 600;

    &:hover {
      background-color: $color-accent-light-blue;
      color: $color-text-contrast;
      #{$this}__cart {
        fill: $color-icon-contrast;
      }
    }

    & + & {
      margin-left: 4px;
    }

    &.is-cart {
      @media (max-width: $xs) {
        width: 147px;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
      }
      @media (max-width: $xxs) {
        width: 211px;
      }
    }

    &.is-compare {
      display: none;
      background-color: unset;
      border: unset;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  &__cart {
    width: 20px;
    height: 20px;
    fill: $color-accent-dark-blue;
    fill-rule: evenodd;
    clip-rule: evenodd;
  }
  &__trash {
    width: 20px;
    height: 20px;
    stroke: $color-icon-secondary;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &__link {
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 600;
    &:hover {
      color: $color-accent-light-blue;
      #{$this}__arrow {
        fill: $color-accent-light-blue;
      }
    }
    @media (max-width: $s) {
      margin-top: 16px;
    }
  }

  &__arrow {
    width: 20px;
    height: 20px;
    fill: $color-accent-dark-blue;
  }

  &__colors {
  }

  &__container {
    display: flex;
    margin-top: 12px;
    padding-left: 6px;
  }

  &__color {
    display: flex;
    margin-left: -6px;
  }

  &__hex {
    width: 18px;
    height: 18px;
    border: 2px solid $color-separator;
    border-radius: 100%;
  }
  &__texture {
    width: 18px;
    height: 18px;
    border: 2px solid $color-separator;
    border-radius: 100%;
  }
}
