.meta-section {
  &__grid {
    border-top: 1px solid $color-separator;
    border-bottom: 1px solid $color-separator;
    display: grid;
    background-color: $color-separator;
    gap: 1px;

    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;

    @media (max-width: $m) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media (max-width: $s) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (max-width: $xxs) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  &__item {    

    &:nth-child(odd) {
      order: 2;
    }

    &:nth-child(even) {
      order: 1;
    }

    &.big {
      grid-column: span 2;
      @media (max-width: $s) {
        grid-column: span 1;
      }
    }

    &.verybig {
      grid-column: span 3;
      @media (max-width: $s) {
        grid-column: span 1;
      }
    }

    &:nth-last-child(1) {
      order: 3;
    }
    &.promo {
      @media (max-width: $s) {
        display: none;
      }
    }
  }

  &__promo {
    display: none;
    @media (max-width: $s) {
      display: flex;
    }
  }
}
