<template lang="pug">
  .meta-section
    .meta-section__grid
      .meta-section__item(v-for="product in products" :key="product.id" :class='{"big": product.big, "very-big": product.verybig}')
        ProductCardMeta(:product='product' :class='{"big": product.big, "very-big": product.verybig}' class='category-page')
      .meta-section__item.big.promo
        PromoCard
      .meta-section__item(v-for="card in cards" :key="card.id")
        LinkCard(:data='card' class='not-slider')
    .meta-section__promo
      PromoCard
</template>

<script>
export default {
  props: ['products', 'cards']
}
</script>

<style lang="scss" src='./meta-section.scss'>
  
</style>