.main-recomended {
  padding-top: 64px;
  @media (max-width: $s) {
    padding-top: 48px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;
    @media (max-width: $m) {
      @include fontSize(20, 28);
    }
    @media (max-width: $s) {      
      @include fontSize(18, 24);
    }    
  }

  &__grid {
    border-top: 1px solid $color-separator;
    border-bottom: 1px solid $color-separator;
    display: grid;
    background-color: $color-separator;
    gap: 1px;

    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;

    @media (max-width: $m) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media (max-width: $s) {
      scroll-behavior: smooth;
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
      scroll-snap-stop: always;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }

  &__item {    
    // &.product {
    //   order: 0;
    // }

    &:nth-child(odd) {
      order: 0;
    }

    &:nth-child(even) {
      order: 1;
    }

    // &.link {
    //   order: 1;
    // }

    &.big {
      grid-column: span 2;
    }

    &.promo {
      @media (max-width: $s) {
        display: none;
      }
    }
  }

  &__promo {
    display: none;
    @media (max-width: $s) {
      display: flex;
    }
  }
}
