<template lang='pug'>
  .main-recomended
    .container
      .main-recomended__head
        h2.main-recomended__title Рекомендуем приобрести
    .main-recomended__content
      .main-recomended__grid
        .main-recomended__item.product(v-for="product in products_meta" :key="product.id" :class='{"big": product.big}')
          ProductCardMeta(:product='product' :class='{"big": product.big}')
        .main-recomended__item.link(v-for="card in link_cards" :key="card.id")
          LinkCard(:data='card' class='not-slider is-list')
        //- ProductCard(v-for="product in products" :key="product.id" :product='product')
        .main-recomended__item.big.promo
          PromoCard
      .main-recomended__promo
        PromoCard
</template>

<script>
export default {  
  data() {
    return {
      link_cards: [
        {
          title: 'Сопутствующие товары',
          link: '/catalog/slug',
          icon: '<svg width="144" height="144" viewBox="0 0 144 144" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M117.6 31.2006L40.8 21.6006L18 112.801L94.8 122.401L100.432 99.8716M117.6 31.2006L127.208 103.213L100.432 99.8716M117.6 31.2006L100.432 99.8716M89.7001 60.1123L108.9 62.5123M82.5728 89.3791L101.773 91.7791M69.1781 23.3162L45.8663 116.545M96.8895 27.6193L73.6357 120.614" stroke="#395379" stroke-width="2"/></svg>',
        },
        {
          title: 'Сопутствующие товары',
          link: '/catalog/slug',
          icon: '<svg width="144" height="144" viewBox="0 0 144 144" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M117.6 31.2006L40.8 21.6006L18 112.801L94.8 122.401L100.432 99.8716M117.6 31.2006L127.208 103.213L100.432 99.8716M117.6 31.2006L100.432 99.8716M89.7001 60.1123L108.9 62.5123M82.5728 89.3791L101.773 91.7791M69.1781 23.3162L45.8663 116.545M96.8895 27.6193L73.6357 120.614" stroke="#395379" stroke-width="2"/></svg>',
        }
      ],
      products_meta: [
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          big: true,
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },        
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        },        
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          colors: [
            {
              hex: '#1D603C'
            },
            {
              hex: '#60411D'
            },
            {
              hex: '#601D1D'
            },
            {
              hex: '#040404'
            },
            {
              hex: '#BFBFBF'
            },
            {
              hex: '#8F1717'
            },
            {
              texture: '/icons/color.png'
            },
          ]          
        }        
      ],
      products: [
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'order',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'chat',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'out-of-stock',
          price: 84844
        },
      ]
    };
  },  
}
</script>

<style lang='scss' src='./main-recomended.scss'></style>