<template lang="pug">
  .review-card
    .review-card__head
      p.review-card__name {{review.name}}
      Rating(:rating='review.rating')
    p.review-card__text(v-if="review.text") {{review.text}}
    p.review-card__date {{review.date}}  
</template>

<script>
export default {
  props: ['review'],  
}
</script>

<style lang="scss" src='./review-card.scss'>
</style>