.review-card {

  display: flex;
  flex-direction: column;
  gap: 12px;

  &+& {
    padding-top: 32px;
  }

  @media (max-width: $xs) {
    padding-top: 16px;
  }


  &__head {
    display: flex;
    gap: 12px;
    align-items: center;    
  }

  &__name {
    color: $color-text-heading;
    @include fontSize(18, 24);
    font-weight: 600;
  }

  &__text {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;
  }

  &__date {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 500;
  }
}