<template lang="pug">
.collections-sidebar  
  .collections-sidebar__head
    h2.collections-sidebar__title Подборки
    svg-icon.collections-sidebar__icon-close(name='close' @click='close')
  .collections-sidebar__main
    .collections-sidebar__item
      h2.collections-sidebar__title По цвету
      .collections-sidebar__list
        nuxt-link.collections-sidebar__link(to='/') Зеленый        
        nuxt-link.collections-sidebar__link(to='/') Зеленый        
        nuxt-link.collections-sidebar__link(to='/') Зеленый        
        nuxt-link.collections-sidebar__link(to='/') Зеленый        
        nuxt-link.collections-sidebar__link(to='/') Зеленый        
        nuxt-link.collections-sidebar__link(to='/') Зеленый        
    .collections-sidebar__item
      h2.collections-sidebar__title По цвету
      .collections-sidebar__list
        nuxt-link.collections-sidebar__link(to='/') Зеленый        
        nuxt-link.collections-sidebar__link(to='/') Зеленый        
        nuxt-link.collections-sidebar__link(to='/') Зеленый        
        nuxt-link.collections-sidebar__link(to='/') Зеленый        
        nuxt-link.collections-sidebar__link(to='/') Зеленый        
        nuxt-link.collections-sidebar__link(to='/') Зеленый        
    .collections-sidebar__item
      h2.collections-sidebar__title По цвету
      .collections-sidebar__list
        nuxt-link.collections-sidebar__link(to='/') Зеленый        
        nuxt-link.collections-sidebar__link(to='/') Зеленый        
        nuxt-link.collections-sidebar__link(to='/') Зеленый        
        nuxt-link.collections-sidebar__link(to='/') Зеленый        
        nuxt-link.collections-sidebar__link(to='/') Зеленый        
        nuxt-link.collections-sidebar__link(to='/') Зеленый  
</template>

<script>
export default {
  props: ['collections'],
  data() {
    return {      
      opened: false
    }
  },
  methods: {    
    close() {
      this.$nuxt.$emit('closeCollections')
    }
  },
}
</script>

<style lang="scss" src='./collections-sidebar.scss'>
  
</style>