.collections-sidebar {
  display: flex;
  flex-direction: column;  
  height: 100%;
  position: relative;
  
  &__head {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
  }

  &__main {
    flex-shrink: 0;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    // position: absolute;
    
    scroll-behavior: smooth;
    // height: 100%; 
    height: calc(100vh - 72px);
      
    overflow-y: scroll;
   
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(18, 24);
    font-weight: 600;
  }

  &__icon-close {
    cursor: pointer;
    position: absolute;
    right: 24px;
    width: 24px;
    height: 24px;
    fill: $color-icon-secondary;
  } 

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-top: 16px;
  }

  &__link {
    flex-shrink: 0;
    padding: 12px 16px;
    border-radius: 999px;
    // margin-right: 8px;
    // margin-bottom: 8px;
    background-color: $color-bg-secondary;
    color: $color-accent-dark-blue;
    @include fontSize(14, 16);
    font-weight: 400;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: $color-bg-tertiary;
      color: $color-accent-dark-blue;
    }
    &.nuxt-link-exact-active {
      background-color: $color-accent-dark-blue;
      color: $color-text-contrast;
    }
  }

  &__item {
    padding-top: 16px;
    &+& {
      padding-top: 24px;
    }
  }
}