<template lang="pug">
.coating-sidebar
  .coating-sidebar__container
    .coating-sidebar__head
      h2.coating-sidebar__title Выбор покрытия
      svg-icon.coating-sidebar__icon-close(name='close' @click='close')
    .coating-sidebar__main
      .coating-sidebar__item(v-for="item in data" :key="item.id" )      
        CoatingItem(:coating='item')
</template>

<script>
export default {
  props: ['data'],
  data() {
    return {      
      opened: false
    }
  },
  methods: {    
    toogle() {
      this.opened = !this.opened
    },
    close() {
      this.$nuxt.$emit('closeCoatings')
    }
  },
}
</script>

<style lang="scss" src='./coating-sidebar.scss'>
  
</style>