.modal-city {
  position: relative;

  &__list {
    margin-top: 32px;
  }

  &__icon-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    right: 16px;
    fill: $color-icon-secondary;
    cursor: pointer;

    @media (max-width: $s) {
      position: relative;
      top: unset;
      right: unset;
    }

    &.desktop {      
      @media (max-width: $s) {
        display: none;
      }
    }
  }

  &__input {
    margin-top: 32px;
  }

  &__icon-arrow {
    width: 24px;
    height: 24px;
    stroke: $color-icon-primary;
    stroke-width: 2;
    stroke-linecap: square;
  }

  &__head {
    display: none;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $s) {
      display: flex;
    }
  }

  &__content {
    padding: 56px 32px 32px;
    border-radius: 8px;
    background-color: $color-bg-primary;
    @media (max-width: $s) {
      padding: 16px 24px 32px;
    }
    @media (max-width: $xs) {
      padding: 16px 16px 32px;
    }
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(18, 24);
    font-weight: 700;    
    &.desktop {      
      @media (max-width: $s) {
        display: none;
      }
    }
  }
  &__text {
    color: $color-text-heading;
    @include fontSize(16, 24);
    font-weight: 600;
    transition: color 0.3s ease;
    cursor: pointer;

    &:hover {
      color: $color-accent-light-blue;
    }

    & + & {
      margin-top: 16px;
    }

    &:nth-child(n + 4) {
      font-weight: 500;
    }
  }

  

  &__button {
    margin-top: 32px;
    border-radius: 4px;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-text-contrast;
    background-color: $color-accent-dark-blue;

    &:hover {
      background-color: $color-accent-light-blue;
    }

    &.success {
      width: 200px;
      margin-top: 48px;
    }
  }

  &__policy {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 500;
    margin-top: 16px;
  }

  &__success {
    padding: 32px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
