.slider {
  $this: &;
  position: relative;
  padding-top: 64px;

  @media (max-width: $s) {
    padding-top: 48px;
  }

  &.is-main {
    #{$this}__title {
      text-align: center;
      @media (max-width: $s) {
        text-align: left;        
      }
    }    
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;    
    margin-bottom: 24px;
    @media (max-width: $m) {
      @include fontSize(20, 28);  
    }
    @media (max-width: $s) {
      @include fontSize(18, 24);  
    }
  }  

  &__container {
    position: relative;
    &:hover {
      #{$this}__controls {
        opacity: 1;
      }
    }
  }

  &__wrapper {
    display: flex;
  }

  &__slide {
    flex-shrink: 0;
  }

  &__controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% + 24px);
    left: -24px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    top: calc(50% - 24px);

    @media (max-width: $s) {
      display: none;
    }
  }

  &__next,
  &__prev {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 0;
    background-color: $color-bg-primary;
    box-shadow: 0px 0px 12px rgba(18, 22, 26, 0.24);
    z-index: 20;
    outline: none;
    opacity: 1;
    pointer-events: all;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: $color-accent-dark-blue;
      #{$this}__icon {
        fill: $color-icon-contrast;
      }
    }

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $color-accent-dark-blue;

    &.prev {
      transform: rotateY(180deg);
    }
  }
}
