.empty-page {
  padding-top: 96px;
  padding-bottom: 160px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  @media (max-width: $s) {
    padding-top: 64px;
    padding-bottom: 128px;
  }
  &__title {
    color: $color-text-heading;
    @include fontSize(18, 24);
    font-weight: 700;
    margin-top: 24px;
  }
  &__text {
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 500;
    margin-top: 12px;
  }
}