<template lang="pug">
  .empty-page
    img.empty-page__icon(:src='data.icon')
    h2.empty-page__title {{data.title}}
    p.empty-page__text {{data.text}}
</template>

<script>
export default {
  props: ['data']
}
</script>

<style lang="scss" src='./empty-page.scss'>
  
</style>