.constructor {
  position: relative;
  height: 100vh;

  &__scene {
    position: absolute;    
    height: 100vh;
    width: 100%;
    background-color: gray;
    // z-index: -1;
  }
  &__bg {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
    object-fit: cover;
  }
  

  &__sidebar-menu {
    position: absolute;
    width: 112px;
    height: calc(100vh - 48px);
    top: 24px;
    left: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 8px;
    background-color: $color-bg-primary;
    transition: opacity 0.3s ease;
    opacity: 1;

    &.unactive {
      opacity: 0;      
    }

    @media (max-width: $s) {
      padding: 8px;
      top: unset;
      height: 88px;
      bottom: 24px;
      flex-direction: row;
      width: calc(100vw - 48px);
    }  

    @media (max-width: $xs) {
      padding: 0;
      height: 72px;
      left: 16px;
      bottom: 16px;
      width: calc(100vw - 32px);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    @media (max-width: $s) {
      flex-direction: row;
      gap: 8px;
    }
    @media (max-width: $xs) {
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 0;
    align-items: center;
    cursor: pointer; 
    border-radius: 8px;   
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-bg-tertiary;
    }

    @media (max-width: $s) {
      width: 80px;
      flex-shrink: 0;
    }
    @media (max-width: $xs) {
      width: 72px;
      height: 100%;
      overflow: hidden;
      &.is-products {        
        background-color: $color-bg-primary;
        border-radius: 0 8px 8px 0;
        filter: drop-shadow(0 0 12px rgba(11, 14, 20, 0.16));
        
        // filter: drop-shadow(1px 1px 12px rgba(11, 14, 20, 0.16));
      }
    }
  }

  &__icon {
    width: 48px;
    height: 48px;
    fill: $color-accent-light-blue;
    fill-rule: evenodd;
    clip-rule: evenodd;

    @media (max-width: $s) {
      width: 32px;
      height: 32px;
      flex-shrink: 0;
    }
  }

  &__text {
    color: $color-text-primary;
    @include fontSize(13, 16);
    font-weight: 500;
    padding-top: 8px;

    @media (max-width: $xs) {
      @include fontSize(11, 16);
    }
  }

  &__sidebar-filter {
    position: absolute;
    width: 376px;
    height: calc(100vh - 48px);
    top: 24px;
    left: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background-color: $color-bg-primary;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 2;

    &.active {
      transform: translateX(0);
      opacity: 1;
      pointer-events: all;
      @media (max-width: $s) {
        transform: translateY(0);
      }
    }

    @media (max-width: $s) {
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      transform: translateX(0);
      transform: translateY(50%);
      pointer-events: none;
      border-radius: 0;
    }
  }

  &__button-container {
    position: absolute;
    left: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__icon-arrow {
    width: 24px;
    height: 24px;
    transform: rotateY(180deg);
    @media (max-width: $s) {
      transform: rotateZ(90deg);
    }
  }

  &__head {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
  }

  &__header {
    color: $color-text-heading;
    @include fontSize(18, 24);
    font-weight: 600;
  }

  &__body {    
    padding: 16px 12px 16px 24px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 32px;

    &::-webkit-scrollbar {
      width: 12px;       
      z-index: 10;  
    }    
    &::-webkit-scrollbar-thumb {        
      border-radius: 999px;
      border: 4px solid transparent;
      background-clip: content-box;
      background-color: $color-accent-light-blue;
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__title {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;

    &.list {
      width: 88px;
      padding: 10px 0;
      flex-shrink: 0;
    }
  }

  &__filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  &__filter-item {
    
  }

  &__input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  &__filter-span {
    color: $color-text-primary;
    @include fontSize(14, 16);
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid $color-separator;

    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;    
  }

  &__filter-color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer; 
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 2px solid $color-accent-light-blue;
      top: -4px;
      left: -4px;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }

  &__input:checked + .constructor__filter-span {
    border: 2px solid $color-accent-light-blue;
    padding: 7px 11px;
  }
  &__input:checked + .constructor__filter-color {
    &::before {      
      opacity: 1;
    }
  }

  &__input:disabled + .constructor__filter-span {
    cursor: not-allowed;    
  }

  &__sidebar-list {
    position: absolute;
    width: 376px;
    height: calc(100vh - 48px);
    top: 24px;
    left: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background-color: $color-bg-primary;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 3;

    &.active {
      transform: translateX(0);
      opacity: 1;
      pointer-events: all;
      @media (max-width: $s) {
        transform: translateY(0);
      }
    }

    @media (max-width: $s) {
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      transform: translateX(0);
      transform: translateY(50%);
      pointer-events: none;
      border-radius: 0;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__list-item {
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__img {
    width: 80px;
    height: 40px;
    object-fit: contain;
  }

  &__link {
    @include fontSize(14, 20);
    font-weight: 500;
  }

  &__button-logo {
    display: flex;
    gap: 16px;
    position: absolute;
    right: 24px;
    bottom: 24px;
    background-color: $color-bg-primary;
    padding: 16px 24px;
    border-radius: 16px;
    align-items: center;
    color: $color-accent-dark-blue;
    @include fontSize(14, 16);
    font-weight: 600;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-bg-tertiary;
    }

    @media (max-width: $s) {
      top: 16px;
      padding: 24px;
      height: 64px;
      width: calc(100vw - 48px);
      justify-content: space-between;
    }  
    @media (max-width: $xs) {
      width: calc(100vw - 32px);
      top: 12px;
      left: 16px;
      padding: 20px 12px;
    }  
  }

  &__button-separator {
    width: 1px;
    height: 24px;
    background-color: $color-separator;
    @media (max-width: $s) {
      display: none;
    }
  }
}