<template lang="pug">
.constructor
  .constructor__scene
    client-only
      Scene
      Editor
  //- img.constructor__bg(src='/img/bg-house.png')
  .constructor__sidebar-menu(:class='{"unactive": filtersOpened || productsOpened}')
    .constructor__list
      .constructor__item(v-for='(tab, i) in data.filters', :key='i' @click='toogleTab(i)')
        svg-icon.constructor__icon(:name='tab.icon')
        span.constructor__text {{ tab.title }}
    .constructor__item.is-products(@click='toogleProducts')
      svg-icon.constructor__icon(name='list')
      span.constructor__text Товары
  .constructor__sidebar-filter(:class='{"active": filtersOpened}')
    .constructor__head
      .constructor__button-container(@click='closeFilters')
        svg-icon.constructor__icon-arrow(name='chevron-right')
      .constructor__header {{data.filters[index].title}}
    .constructor__body
      .constructor__filter(v-for="filter in data.filters[index].items" :key="filter.id")
        p.constructor__title {{filter.title}}        
        .constructor__filter-list
          label.constructor__filter-item(v-for="option in filter.options" :key="option.id" @click='changeColor(option.hex)')
            input.constructor__input(
              type='radio',              
              :name='option.name',
              :value='option.value'                 
            )
            span.constructor__filter-span(v-if="option.text") {{option.text}}         
            .constructor__filter-color(v-if="option.hex" :style='"background-color: " + option.hex')      
  .constructor__sidebar-list(:class='{"active": productsOpened}')
    .constructor__head
      .constructor__button-container(@click='closeProducts')
        svg-icon.constructor__icon-arrow(name='chevron-right')
      .constructor__header Список товаров
    .constructor__body
      .constructor__items(v-for="product in data.products" :key="product.id")
        .constructor__list-item
          p.constructor__title.list {{product.title}}
          .constructor__box
            img.constructor__img(:src='product.image' v-if="product.image")
            nuxt-link.constructor__link(:to='"/product/" + link.slug' v-for="link in product.links" :key="link.id") {{link.text}}
  nuxt-link.constructor__button-logo(to='/')
    img.constructor__logo(src='/icons/logo-letters.svg')
    .constructor__button-separator      
    span Вернуться на сайт
</template>

<script>
export default {
  props: ['data'],
  data() {
    return {
      index: 0,
      filtersOpened: false,
      productsOpened: false
    }
  },
  methods: {
    changeColor(color) {
      this.$nuxt.$emit('changeColor', color)
    },
    closeFilters() {
      this.filtersOpened = false
    },
    closeProducts() {
      this.productsOpened = false
    },
    toogleTab(id) {
      this.index = id
      this.filtersOpened = true
    },
    toogleProducts() {
      this.productsOpened = true
    }
  },
}
</script>

<style lang="scss" src='./constructor.scss'>
</style>