<template lang="pug">
.colors-page  
  AnchorTabs(:tabs='colors_section')
  ColorsSection(v-for="item in colors_section" :key="item.id" :colors='item.colors' :title='item.title' :id='item.tabId' class='js-anchor-tab') 
</template>

<script>
export default {
  data() {
    return {
      tabs: [
        {
          title: 'Популярные цвета',
          anchor: 'popular',
        },
        {
          title: 'Каталог цветов RAL',
          anchor: 'ral',
        },
        {
          title: 'Каталог цветов RR',
          anchor: 'rr',
        },
      ],
      colors: [
        {
          hex: '#F8CE9A',
          title: 'RAL 1014',
          name: 'Бежевый',
        },
        {
          hex: '#FEE9C1',
          title: 'RAL 1015',
          name: 'Бежевый',
        },
        {
          hex: '#F7CB3C',
          title: 'RAL 1018',
          name: 'Желтый',
        },
        {
          hex: '#EB6A0A',
          title: 'RAL 1018',
          name: 'Желтый',
        },
        {
          hex: '#8F000C',
          title: 'RAL 1018',
          name: 'Желтый',
        },
        {
          hex: '#6D001B',
          title: 'RAL 1018',
          name: 'Желтый',
        },
        {
          hex: '#571216',
          title: 'RAL 1018',
          name: 'Желтый',
        },
        {
          hex: '#902016',
          title: 'RAL 1018',
          name: 'Желтый',
        },
        {
          hex: '#000064',
          title: 'RAL 1018',
          name: 'Желтый',
        },
        {
          hex: '#021F68',
          title: 'RAL 1018',
          name: 'Желтый',
        },
        {
          hex: '#1D8770',
          title: 'RAL 1018',
          name: 'Желтый',
        },
        {
          hex: '#2C7E28',
          title: 'RAL 1018',
          name: 'Желтый',
        },
        {
          hex: '#0E432F',
          title: 'RAL 1018',
          name: 'Желтый',
        },
        {
          hex: '#9DC799',
          title: 'RAL 1018',
          name: 'Желтый',
        },
        {
          hex: '#0F4A27',
          title: 'RAL 1018',
          name: 'Желтый',
        },
        {
          hex: '#878787',
          title: 'RAL 1018',
          name: 'Желтый',
        },
      ],
      colors_section: [
        {
          title: 'Популярные цвета',
          tabId: 'popular',
          colors: [
            {
              hex: '#F8CE9A',
              title: 'RAL 1014',
              name: 'Бежевый',
            },
            {
              hex: '#FEE9C1',
              title: 'RAL 1015',
              name: 'Бежевый',
            },
            {
              hex: '#F7CB3C',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#EB6A0A',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#8F000C',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#6D001B',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#571216',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#902016',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#000064',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#021F68',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#1D8770',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#2C7E28',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#0E432F',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#9DC799',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#0F4A27',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#878787',
              title: 'RAL 1018',
              name: 'Желтый',
            },
          ],
        },
        {
          title: 'Каталог цветов RAL',
          tabId: 'ral',
          colors: [
            {
              hex: '#F8CE9A',
              title: 'RAL 1014',
              name: 'Бежевый',
            },
            {
              hex: '#FEE9C1',
              title: 'RAL 1015',
              name: 'Бежевый',
            },
            {
              hex: '#F7CB3C',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#EB6A0A',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#8F000C',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#6D001B',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#571216',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#902016',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#000064',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#021F68',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#1D8770',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#2C7E28',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#0E432F',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#9DC799',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#0F4A27',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#878787',
              title: 'RAL 1018',
              name: 'Желтый',
            },
          ],
        },
        {
          title: 'Каталог цветов RR',
          tabId: 'rr',
          colors: [
            {
              hex: '#F8CE9A',
              title: 'RAL 1014',
              name: 'Бежевый',
            },
            {
              hex: '#FEE9C1',
              title: 'RAL 1015',
              name: 'Бежевый',
            },
            {
              hex: '#F7CB3C',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#EB6A0A',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#8F000C',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#6D001B',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#571216',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#902016',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#000064',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#021F68',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#1D8770',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#2C7E28',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#0E432F',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#9DC799',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#0F4A27',
              title: 'RAL 1018',
              name: 'Желтый',
            },
            {
              hex: '#878787',
              title: 'RAL 1018',
              name: 'Желтый',
            },
          ],
        },
      ],
    }
  },
}
</script>



<style lang="scss" src='./colors-page.scss'>
</style>