.file-card {
  width: 324px;
  height: 178px;
  padding: 24px;
  border-radius: 8px;
  background-color: $color-bg-secondary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background-color 0.5s ease;

  &.files-page {
    width: 100%;
    min-height: 188px;
    height: 100%;
    // aspect-ratio: 82 / 47;   
  }

  &.file-page-grid {
    width: 100%;
    min-height: 188px;
    @media (max-width: $s) {
      flex-shrink: 0;
      width: 300px;
      min-height: 188px;
    }
    @media (max-width: $xs) {
      width: 293px;
    }
    @media (max-width: $s) {
      width: 272px;
    }
  }

  &:hover {
    background-color: $color-bg-tertiary;
  }
  

  &__text {
    color: $color-text-heading;
    @include fontSize(16, 24);
    font-weight: 500;
    &.blue {
      color: $color-accent-dark-blue;
      font-weight: 600;
      @include fontSize(14, 20);
    }
  }

  &__container {
    display: flex;
    align-items: center;
    padding-top: 32px;
  }

  &__icon-arrow {
    width: 20px;
    height: 20px;
    fill: $color-accent-dark-blue;
    margin-left: 8px;
  }

  &__icon-file {
    width: 20px;
    height: 20px;
    stroke: $color-accent-dark-blue;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    margin-right: 8px;
  }
}