<template lang="pug">
  a.file-card(:href='data.download' download v-if="data.download")
    p.file-card__text {{data.text}}      
    .file-card__container      
      svg-icon.file-card__icon-file(name='file')
      p.file-card__text.blue {{data.format}} • {{data.size}}
  nuxt-link.file-card(:to='data.link' v-else)
    p.file-card__text {{data.text}}    
    .file-card__container
      p.file-card__text.blue Подробнее
      svg-icon.file-card__icon-arrow(name='arrow-right')
</template>

<script>
export default {
  props: ['data']
}
</script>

<style lang="scss" src='./file-card.scss'>
  
</style>