@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-feature-settings: 'salt' on;
}

body {
  @include text-md;

  background: $color-bg-primary;
  color: $color-grey-900;
  // font-family: $font-family-base;
  font-family: 'Gilroy', sans-serif;
  font-weight: $font-weight-base;
}

.body {  
  // &::-webkit-scrollbar {
  //   width: 12px;
  // }  
  // &::-webkit-scrollbar-thumb {
  //   border-radius: 999px;
  //   border: 4px solid transparent;
  //   background-clip: content-box;
  //   background-color: $color-accent-light-blue;
  // }
  &.padding {
    padding-top: 180px;

    @media (max-width: $s) {
      padding: 0;
    }
  }
  &.padding-big {
    padding-top: 236px;
    @media (max-width: $s) {
      padding: 0;
    }
  }

  &.padding-tabs {
    padding-top: 56px;

    // @media (max-width: $s) {
    //   padding: 0;
    // }
  }

  &.fixed {
    // overflow-y: scroll;
    
    // height: 100% !important;
    // padding-right: 12px;
    // pointer-events: none;
    // overflow: scroll !important;
    overflow-y: hidden !important;
    // overflow-y: scroll !important;
    // position: fixed;
    // width: 100%;
  }

  &.vm--block-scroll {
    overflow-y: scroll;
    width: unset;
    @media (max-width: $s) {
      overflow-y: hidden;
    }
  }
}

#app {
  min-height: 100vh;
  min-width: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  // min-height: calc(100vh - 132px);

  &.loading {
    min-height: 200vh;
    opacity: 0;
  }
}

a {
  @include link-base;

  transition: color 0.3s ease;
}

a,
button {
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

button {
  transition: color $transition-duration-base,
    background-color $transition-duration-base, border $transition-duration-base;

  &:not(:focus-visible) {
    outline: none;
  }
}

button,
input,
select,
textarea {
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
}

input[type='search'] {
  -webkit-appearance: none;
}

/* clears the 'X' from Internet Explorer */
input[type='search']::-ms-clear,
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

// Remove Arrows/Spinners
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

select {
  border-radius: 0;

  &::-ms-expand {
    // IE11
    display: none;
  }
}

textarea {
  resize: none;
}

hr {
  border: none;
}

iframe {
  border: none;
}

img {
  max-width: 100%;

  &[width],
  &[height] {
    max-width: none;
  }
}

figure {
  margin: 0;
}

ol,
ul {
  list-style: none;
}

small {
  @include text-sm;
}

svg {
  vertical-align: top;
  transition: all $transition-duration-base;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:disabled {
  cursor: not-allowed;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.no-overflow {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

.veil {
  transition: all $transition-duration-base;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  background: rgba($color-grey-900, 0.25);
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.vm--overlay {
  background: rgba(11, 14, 20, 0.48) !important;
}

.vm--container {
  display: flex;
  align-items: center;
  border-radius: 8px !important;
}

.vm--modal {
  height: fit-content !important;
  border-radius: 8px !important;
  top: 0 !important;
  background-color: unset;

  overflow: visible !important;

  @media (max-width: $xs) {
    left: 0 !important;
    border-radius: 0 !important;
    width: 100% !important;
    height: 100vh !important;
  }
}

.vm--container.image {  
  &::before {
    content: '';
    width: 48px;
    height: 48px;
    background-color: $color-bg-primary;
    // cursor: pointer;
    pointer-events: none;
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    right: 24px;
    top: 24px;
    background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24'  xmlns='http://www.w3.org/2000/svg'><path d='M10.7692 12L4 18.7692L5.23077 20L12 13.2308L18.7692 20L20 18.7692L13.2308 12L20 5.23076L18.7692 3.99999L12 10.7692L5.23077 4L4 5.23077L10.7692 12Z' fill='rgb(57, 83, 121)' /></svg>");
    background-repeat: no-repeat;
    background-position: center;
  }
  & .vm--modal {  
    @media (max-width: $s) {
      height: fit-content !important;
    }
  }
}
