@import 'variables';

.container {
  width: 100%;
  height: 100%;
  min-width: 320px;
  // max-width: 1440px + 48px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;

  @media (max-width: $m) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (max-width: $s) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (max-width: $xs) {
    padding-left: 16px;
    padding-right: 16px;
  }

  &.mobile-padding {
    @media (max-width: $s) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.is-cart {
    max-width: 880px;
  }

  &.in-compare {
    padding-left: 24px;
    padding-right: 24px;
    @media (max-width: $s) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.page {
  $this: &;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // max-width: 1920px;
  // min-width: $minwidth;
  min-height: 100vh;
  margin: auto;
  position: relative;
  // z-index: $layer-1;
  // background-color: $white;

  // &__header {
  //   flex-shrink: 0;
  // }

  // &__content {
  //   position: relative;
  //   z-index: 2;
  // }

  // &__content,
  // &__body,
  // &__footer {
  //   flex-grow: 1;
  // }

  &__body {
    &.no-padding {
      @media (max-width: $s) {
        padding-top: 0 !important;
      }  
    }
    @media (max-width: $s) {
      padding-top: 64px;
    }    
    @media (max-width: $xs) {
      padding-top: 56px;
    }    
  }

  &__footer {
    // flex-grow: 0;
    // flex-shrink: 0;
    background-color: #f2f4f7;
    position: relative;
    margin-top: 160px;

    @media (max-width: $s) {
      margin-top: 128px;
      margin-bottom: 64px;
    }
    // $color-bg-secondary: #F2F4F7;
  }
}

.grid {
  display: flex;
  flex-flow: row wrap;
}

@mixin cols($breakpoints) {
  @for $i from 1 through 12 {
    .col-#{$i} {
      width: 100% / 12 * $i;
    }

    @if $i <= 10 {
      .col-#{$i}0p {
        width: 100% / 10 * $i;
      }
    }
  }
}

.services-grid {  

  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  margin-top: 32px;

  @media (max-width: $m) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @media (max-width: $s) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 24px;
  }
  @media (max-width: $xxs) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;
    padding-top: 64px;
    @media (max-width: $s) {
      padding-top: 48px;
    }
  }
}
