@charset "UTF-8";
$xl: 1900px;
$l: 1440px;
$m: 1280px;
$s: 960px;
$xs: 680px;
$xxs: 480px;



// Responsive (for example: xs, sm, md, lg, xl)
$mq-breakpoints: (
  "xs": 679px,
  "sm": 680px,
  "md": 984px,
  "lg": 1224px,
  "xl": 1440px
);

$mq-indents: (
  "xs": 1.6rem,
  "sm": 2.4rem,
  "md": 4rem,
  "lg": 4rem,
  "xl": 4rem
);

$mq-container-widths: (
  "xs": 100%,
  "sm": 100%,
  "md": 100%,
  "lg": 100%,
  "xl": 1920px
);

$mq-container-indents: (
  "xs": map-get($mq-indents, "xs"),
  "sm": map-get($mq-indents, "sm"),
  "md": map-get($mq-indents, "md"),
  "lg": map-get($mq-indents, "lg"),
  "xl": map-get($mq-indents, "xl")
);

$mq-grid-gutters: (
  "xs": map-get($mq-indents, "xs"),
  "sm": map-get($mq-indents, "sm"),
  "md": map-get($mq-indents, "md"),
  "lg": map-get($mq-indents, "lg"),
  "xl": map-get($mq-indents, "xl")
);

// Not responsive
$width: 1220px;
$indent: 2rem;

$container-width: $width;
$container-indent: $indent;

$grid-gutter: $indent;

// Border radius
$border-radius-base: .5rem;

// mobile top offset

$mobile-top-offset: 4.8rem;

// Site colors
// $color-black: #000;
// $color-brown: #513624;
// $color-light-black: #1f150b;
// $color-dark-gray: #706d6d;
// $color-cream: #f4f1f1;
// $color-white: #fff;
// $color-orange: #f95d06;
// $color-dark-orange: #cc4c05;
// $color-light-gray: #dcd9d9;
// $color-medium-gray: #b9b5b5;

$color-grey-0: #fff;
$color-grey-50: #F2F4F7;
$color-grey-100: #E6E7EB;
$color-grey-200: #D9DBDE;
$color-grey-300: #CDCED3;
$color-grey-400: #A6A8AD;
$color-grey-500: #83868C;
$color-grey-600: #5C5F65;
$color-grey-700: #4A4C52;
$color-grey-800: #2C2F34;
$color-grey-900: #0B0E14;
$color-grey-900-25: rgba(17, 20, 25, .24);

$color-accent-light-blue: #4D83B2;
$color-accent-dark-blue: #395379;
$color-accent-red: #F1302D;

$color-bg-primary: #FFFFFF;
$color-bg-secondary: #F2F4F7;
$color-bg-tertiary:#E6E7EB;

$color-separator:#E6E7EB;

$color-text-primary: #2C2F34;
$color-text-heading: #0B0E14;
$color-text-contrast: #FFFFFF;
$color-text-secondary: #83868C;
$color-text-tertiary: #A6A8AD;


$color-icon-primary: #2C2F34;
$color-icon-secondary: #A6A8AD;
$color-icon-contrast: #FFFFFF;

// Colors system
// $color-base: #000;

// $color-light: #666;
// $color-muted: #999;
// $color-minor: #ccc;


$color-error: #BA184B;
$color-warning: #CE7D0C;
$color-success: #2E9323;

// Fonts
$font-family-base: -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-alt: $font-family-base;

$font-weight-base: 400;
$font-weight-solid: 700;

// Forms
$checkbox-size: 2rem;

$radio-size: 2rem;

// Links
$color-link: #4D83B2;

// Transitions
$transition-duration-base: .3s ease;


@mixin fontSize($size, $height) {
  font-size: #{$size / 10}rem;
  line-height: #{$height / 10}rem;
}
