.wysiwyg {
  max-width: 60%;

  @media (max-width: $l) {
    max-width: 70%;
  }
  @media (max-width: $m) {
    max-width: 85%;
  }
  @media (max-width: $s) {
    max-width: 100%;
  }
  h2 {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;
    padding-top: 32px;

    @media (max-width: $m) {
      @include fontSize(20, 28);
    }
    @media (max-width: $s) {
      padding-top: 24px;
      @include fontSize(18, 24);
    }
  }
  h3 {
    color: $color-text-heading;
    @include fontSize(18, 24);
    font-weight: 600;
    padding-top: 24px;
  }

  p {
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 500;
    padding-top: 12px;
    &:nth-child(1) {
      padding-top: 0;
    }
  }

  a {
    color: $color-accent-light-blue;
    @include fontSize(16, 24);
    font-weight: 500;

    &:hover {
      color: $color-accent-dark-blue;
    }
  }

  small {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 500;
  }

  ul {
    max-width: 787px;
    padding-top: 16px;
    @media (max-width: $s) {
      margin-top: 12px;
    }
    li {
      position: relative;
      padding-left: 32px;
      margin-top: 12px;
      color: $color-text-primary;
      @include fontSize(16, 24);
      font-weight: 500;

      &:nth-child(1) {
        margin-top: 0;
      }
    }
    li::before {
      position: absolute;
      content: '';
      top: 6px;
      left: 8px;
      width: 8px;
      height: 8px;
      border-radius: 2px;
      background-color: $color-accent-light-blue;
    }
  }

  img {
    border-radius: 8px;
    padding-top: 32px;
    cursor: pointer;
  }

  &__img {
    width: 100%;
    padding-top: 24px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 16px;
    border-spacing: 0;
    margin-top: 24px;
    max-width: 1016px;
    @media (max-width: $s) {
      overflow-y: scroll;
      display: flex;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }
  table,
  td,
  th {
    border: 2px solid $color-bg-primary;
  }

  td,
  th {
    // display: flex;
    align-items: center;
    padding: 12px 16px;
    @include fontSize(14, 20);
    font-weight: 500;
    color: $color-grey-900;
    text-align: center;
  }

  th {
    font-weight: 600;
    color: $color-text-contrast;
    background-color: $color-accent-dark-blue;

    &:nth-child(1) {
      border-radius: 16px 0 0 0;
    }
    &:nth-last-child(1) {
      border-radius: 0 16px 0 0;
    }
  }

  td {
    background-color: $color-bg-secondary;
  }

  tr {
    &:nth-last-child(1) {
      td {
        &:nth-child(1) {
          border-radius: 0 0 0 16px;
        }
        &:nth-last-child(1) {
          border-radius: 0 0 16px 0;
        }
      }
    }
  }
  blockquote {
    margin-top: 24px;
    padding: 24px 24px 24px 20px;
    background-color: $color-bg-secondary;
    border-left: 4px solid $color-accent-red;
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 600;
    @media (max-width: $s) {
      margin-top: 16px;
      padding: 16px 24px 16px 20px;
    }
  }
}

.highlighted {
  background-color: rgba(77, 131, 178, 0.12) !important;
}
