<template lang="pug">
.wysiwyg(v-html='data')
</template>

<script>
import ModalImage from '../ModalImage/ModalImage'
export default {
  props: ['data'],
  mounted() {
    let images = document.querySelectorAll('.increasing')
    for (let i = 0; i < images.length; i++) {
      const image = images[i];
      image.addEventListener('click', (e) => {
      console.log(789);  
      this.$modal.show(
        ModalImage,
        {},
        { class: 'image', width: '1280', scrollable: true, adaptive: true }
      )
    })
    }
    
  },
}
</script>

<style lang="scss" src='./wysiwyg.scss'>
</style>