.objects-page {
  $this: &;
  display: flex;
  flex-direction: column;
  padding-top: 24px;

  @media (max-width: $s) {
    padding-top: 16px;
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    @media (max-width: $s) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 24px;
    }
  }

  &__selects {
    display: flex;
    transition: all 0.3s ease;
    @media (max-width: $s) {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 8px;
    }

    @media (max-width: $xs) {
      margin-top: 8px;
      display: flex;
      flex-direction: column;
      height: 0 !important;
      opacity: 0;
      pointer-events: none;

      &.active {
        height: 160px !important;
        opacity: 1;
        pointer-events: all;
        margin-bottom: 8px;
      }
    }
  }

  &__select {
    width: 295px;
    & + & {
      margin-left: 8px;
    }

    @media (max-width: $m) {
      width: 194px;
    }
    @media (max-width: $s) {
      width: 100%;
      & + & {
        margin-left: 0;
      }
    }
  }

  // &__pagination {
  //   padding-top: 64px;

  //   @media (max-width: $s) {
  //     padding-top: 48px;
  //   }
  // }

  &__tabs {
    display: flex;
    @media (max-width: $s) {
      margin-top: 16px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 8px;
    }
    @media (max-width: $xs) {
      margin-top: 8px;
    }
  }

  &__tab {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
    padding: 8px 16px;
    height: 48px;
    border-radius: 4px;
    background-color: $color-bg-secondary;
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 500;
    transition: background-color 0.5s ease, color 0.5s ease;

    @media (max-width: $s) {
      padding: 12px;
      display: flex;
      justify-content: center;
    }

    &.active {
      background-color: $color-accent-light-blue;
      color: $color-text-contrast;

      #{$this}__icon {
        stroke: $color-icon-contrast;
      }

      &:hover {
        background-color: $color-accent-light-blue;
      }
    }

    &:hover {
      background-color: $color-bg-tertiary;
    }

    & + & {
      margin-left: 8px;
    }
  }

  &__grid {
    display: grid;

    gap: 48px 24px;

    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;

    @media (max-width: $m) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media (max-width: $s) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 32px 24px;
    }
    @media (max-width: $xs) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 32px 16px;
    }
    @media (max-width: $xxs) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 16px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    stroke: $color-accent-dark-blue;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    margin-right: 8px;
  }
  &__icon-filter {
    width: 24px;
    height: 24px;
    stroke: $color-icon-contrast;
    stroke-width: 1.5;
    stroke-linecap: square;
    margin-right: 8px;
  }

  &__button {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-radius: 4px;
    background-color: $color-accent-dark-blue;
    color: $color-text-contrast;
    @include fontSize(16, 24);
    font-weight: 600;

    &.active {
      background-color: $color-accent-light-blue;
    }

    @media (max-width: $xs) {
      display: flex;
    }
  }

  &__map {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
  }
  
}
