<template lang="pug">
  .objects-page
    .objects-page__filters
      .objects-page__button(@click='toogleFilters' :class='{ "active": filtersOpened }')
        svg-icon.objects-page__icon-filter(name='filter')
        span(v-if="!filtersOpened") Показать фильтры
        span(v-if="filtersOpened") Свернуть фильтры
      .objects-page__selects(:class='{"active": filtersOpened}')
        .objects-page__select
          SelectTest(:data='select_sercices')
        .objects-page__select
          SelectTest(:data='select_location')
        .objects-page__select
          SelectTest(:data='select_date')
      .objects-page__tabs
        button(type='button' @click='toggleTab(1)', :class='{ "active": tab == 1 }').objects-page__tab
          svg-icon.objects-page__icon(name='layout-grid')
          | Плиткой
        button(type='button' @click='toggleTab(2)', :class='{ "active": tab == 2 }').objects-page__tab 
          svg-icon.objects-page__icon(name='map')
          | На карте
    .objects-page__grid(v-if="tab == 1")
      ObjectCard(v-for="object in objects" :key="object.id" :data='object' class='grid' )
    .objects-page__pagination(v-if="tab == 1")
      Pagination
    .objects-page__map(v-if="tab == 2")
      Map
</template>

<script>
export default {
  data() {
    return {
      tab: 1,
      filtersOpened: false,
      objects: [
        {
          image: '/img/object-card-1.jpg',
          title: 'Кровля и фасад в пос. Волков лес',
          location: 'Ленинградская область',
          date: 'Ноябрь 2020',
          link: '/objects/slug'
        },
        {
          image: '/img/object-card-1.jpg',
          title: 'Кровля и фасад в пос. Волков лес',
          location: 'Ленинградская область',
          date: 'Ноябрь 2020',
          link: '/objects/slug'
        },
        {
          image: '/img/object-card-1.jpg',
          title: 'Кровля и фасад в пос. Волков лес',
          location: 'Ленинградская область',
          date: 'Ноябрь 2020',
          link: '/objects/slug'
        },
        {
          image: '/img/object-card-1.jpg',
          title: 'Кровля и фасад в пос. Волков лес',
          location: 'Ленинградская область',
          date: 'Ноябрь 2020',
          link: '/objects/slug'
        },
        {
          image: '/img/object-card-1.jpg',
          title: 'Кровля и фасад в пос. Волков лес',
          location: 'Ленинградская область',
          date: 'Ноябрь 2020',
          link: '/objects/slug'
        },
        {
          image: '/img/object-card-1.jpg',
          title: 'Кровля и фасад в пос. Волков лес',
          location: 'Ленинградская область',
          date: 'Ноябрь 2020',
          link: '/objects/slug'
        },
      ],
      select_sercices: [
        {
          label: 'Все услуги',
          value: 'all'
        },
        {
          label: 'Не все услуги',
          value: 'not-all'
        }
      ],
      select_location: [
        {
          label: 'По всей Россиии',
          value: 'Russia'
        },
        {
          label: 'Москва',
          value: 'Moscow'
        },
        {
          label: 'Смоленск',
          value: 'Smolensk'
        },
        {
          label: 'Иваново',
          value: 'Ivanovo'
        },
      ],
      select_date: [
        {
          label: 'За всё время',
          value: 'all-time'
        },
        {
          label: 'Сентябрь 2019',
          value: 'september-2019'
        },
        {
          label: 'Октябрь 2019',
          value: 'october-2019'
        },
        {
          label: 'Ноябрь 2019',
          value: 'november-2019'
        }
      ]
    }
  },
  methods: {
    toggleTab(id) {
      this.tab = id;
    },
    toogleFilters() {
      this.filtersOpened = !this.filtersOpened
    }
  },
}
</script>

<style lang="scss" src='./objects-page.scss'>

  
</style>