.modal-review {
  position: relative;

  &__list {
    margin-top: 32px;
  }

  &__icon-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    right: 16px;
    fill: $color-icon-secondary;
    cursor: pointer;
  }

  &__content {
    padding: 56px 32px 48px;
    border-radius: 8px;
    background-color: $color-bg-primary;
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(18, 24);
    font-weight: 700;
    margin-bottom: 24px;
  }
  &__text {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;
    margin-top: 16px;
  }

  &__input {
    & + & {
      margin-top: 16px;
    }
  }

  &__policy {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 500;
    a {
      color: $color-accent-dark-blue;
      &:hover {
        color: $color-accent-light-blue;
      }
    }
  }

  &__stars {
    padding-top: 12px;
    padding-bottom: 32px;
  }

  &__button {
    margin-top: 32px;
    border-radius: 4px;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-text-contrast;
    background-color: $color-accent-dark-blue;

    &:hover {
      background-color: $color-accent-light-blue;
    }

    &.success {
      width: 200px;
      margin-top: 48px;
    }
  }

  &__policy {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 500;
    margin-top: 16px;
  }

  &__success {
    padding: 32px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 648px !important;
  }
}
