<template lang="pug">
  .modal-review
    svg-icon.modal-review__icon-close(name='close' @click='$emit("close")')
    .modal-review__content(v-if="!success")
      p.modal-review__title Отзыв о товаре
      p.modal-review__text Ваша оценка товара
      .modal-review__stars
        Stars
      .modal-review__input
        Input(type='text' placeholder='Имя')
      .modal-review__input        
        Input(type='textarea' placeholder='Отзыв')       
      button.modal-review__button(@click='send') Отправить
      .modal-review__policy Нажимая кнопку, вы соглашаетесь <a href='#'>с условиями обработки персональных данных</a>
    .modal-review__success(v-if="success")
      svg-icon.modal-review__icon-success(name='check-circle')
      p.modal-review__text.success Спасибо за ваш отзыв
      button.modal-review__button.success(@click='$emit("close")') Продолжить покупки      
</template>

<script>
export default {
  data() {
    return {
      success: false
    }
  },
  methods: {
    send() {
      this.success = true
    },
    selectCity() {
      this.$emit("close")
      this.$nuxt.$emit("closeCity")
    }
  },
}
</script>

<style lang="scss" src='./modal-review.scss'>
  
</style>