.compare-mobile {
  $this: &;
  position: relative; 
  width: 50% !important;
  overflow: hidden;

  &:nth-child(odd) {    
    &::after {
      content: '';
      top: 0;
      right: 0;
      width: 1px;
      height: 364px;
      background-color: $color-separator;
      position: absolute;
      z-index: 3;
    }
  }
  // padding-top: 64px;

  // @media (max-width: $s) {
  //   padding-top: 48px;
  // }

  &.none-toggle {
    #{$this}__option-head {
      opacity: 0;
      pointer-events: none;
    }
    #{$this}__option {
      opacity: 0;
      pointer-events: none;
    }
    
  }

  &.is-main {
    #{$this}__title {
      text-align: center;
      @media (max-width: $s) {
        text-align: left;
      }
    }
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;
    margin-bottom: 24px;
    @media (max-width: $m) {
      @include fontSize(20, 28);
    }
    @media (max-width: $s) {
      @include fontSize(18, 24);
    }
  }

  &:hover {
    #{$this}__controls {
      opacity: 1;
    }
  }

  &__container {
    position: relative;    
  }

  &__wrapper {
    display: flex;    
    position: relative;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    flex-shrink: 0; 

    
  }

  &__product { 
    border-top: 1px solid $color-separator;
    border-bottom: 1px solid $color-separator;
    // border-right: 1px solid $color-separator;  
    
    

    &:nth-child(1) {
      position: relative;
      // border-left: 1px solid $color-separator;
      // &::after {
      //   content: '';
      //   top: 0;
      //   right: 0;
      //   width: 1px;
      //   height: 100%;
      //   background-color: $color-separator;
      //   position: absolute;
      //   z-index: 3;
      // }
    }
  }

  &__controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 32px);
    left: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    top: 148px;

    @media (max-width: $s) {
      display: none;
    }
  }

  &__next,
  &__prev {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 0;
    background-color: $color-bg-primary;
    box-shadow: 0px 0px 12px rgba(18, 22, 26, 0.24);
    z-index: 20;
    outline: none;
    opacity: 1;
    pointer-events: all;

    &:hover {
      & .products-slider__icon {
      }
    }

    &.swiper-button-disabled {
      // opacity: 0;
      // pointer-events: none;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $color-accent-dark-blue;

    &.prev {
      transform: rotateY(180deg);
    }
  }

  &__specifications {
    display: flex;
    flex-direction: column;
    padding-top: 116px;

    @media (max-width: $xs) {      
      padding-top: 92px;
    }
    
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 68px;
    padding-bottom: 27px;    
    height: 119px;
    border-top: 1px solid $color-separator;

    @media (max-width: $xs) {      
      height: 99px;
      padding-top: 60px;
      padding-bottom: 23px;    
    }
  }

  &__options {
    position: absolute;
    top: 408px;
    @media (max-width: $s) {     
      top: 400px;     
    }
    @media (max-width: $xs) {      
      top: 410px;      
    }
  }

  &__option-head {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
  }

  &__chevron {
    width: 24px;
    height: 24px;
  }

  &__option-item {
    &+&{
      // padding-top: 64px;
      padding-top: 128px;
      @media (max-width: $xs) {
        padding-top: 104px;
      }  
    }
  }

  &__option {    
    padding-top: 56px;
    

    & + & {
      padding-top: 96px;
    }

    @media (max-width: $xs) {      
      padding-top: 40px;
    

      & + & {
        padding-top: 76px;
      }     
    }
  }

  &__text {
    color: $color-text-heading;
    
    @include fontSize(16, 24);
    font-weight: 500;

    @media (max-width: $xs) {
      text-overflow: ellipsis; 
      white-space: nowrap; 
      overflow: hidden; 
      max-width: 170px;
    }
    @media (max-width: $xxs) {
      max-width: 160px;
    }

    &.grey {
      color: $color-text-secondary;
      max-width: 100%;
    }

    &.big {
      @include fontSize(18, 24);
      max-width: 100%;
    }
  }

  &__color {
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }

  &__rating {
    display: flex;
    gap: 8px;
  }

  &__dot {
    width: 12px;
    height: 12px;
    background-color: $color-grey-900;
    border-radius: 50%;

    &.active {
      background-color: $color-grey-300;
    }
  }

  &__pagination {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 16px;
    left: 0;
    right: 0;

    color: $color-text-secondary;
    @include fontSize(14, 16);
    font-weight: 500;
  }
  &__item-box {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
