<template lang="pug">
.compare-mobile  
  .compare-mobile__container(ref='container')
    .compare-mobile__wrapper 
      .compare-mobile__slide(v-for='item in products', :key='item.id')
        .compare-mobile__product    
          ProductCard(:data='item' class='is-compare')
        //- .container
        .compare-mobile__specifications(v-for="specification in item.specifications_list" :key="specification.id")            
          .compare-mobile__item(v-for="option in specification.specifications" :key="option.id")
            
            .container
              .compare-mobile__item-box              
                .compare-mobile__color(v-if="option.hex" :style='"background-color: " + option.hex')           
                img.compare-mobile__color(v-if="option.texture" :src='option.texture')
                p.compare-mobile__text(v-if="option.value") {{option.value}}
                .compare-mobile__rating(v-if="option.quantity")
                  .compare-mobile__dot(v-for="(item, i) in 5" :key="i" :class='{"active": i >= option.quantity}')    
                    
    //- .container
    //-   .compare-mobile__options
    //-     .compare-mobile__option-item
    //-       .compare-mobile__option-head(@click='toogleSpecification')
    //-         p.compare-mobile__text.big Характеристики покрытия
    //-         svg-icon.compare-mobile__chevron(name='chevron-down')
    //-       .compare-mobile__option
    //-         p.compare-mobile__text.grey Покрытие
    //-       .compare-mobile__option
    //-         p.compare-mobile__text.grey Цвет покрытия        
    //-       .compare-mobile__option
    //-         p.compare-mobile__text.grey Плотность цинкования
    //-       .compare-mobile__option
    //-         p.compare-mobile__text.grey Толщина покрытия
    //-       .compare-mobile__option
    //-         p.compare-mobile__text.grey Гарантия
    //-       .compare-mobile__option
    //-         p.compare-mobile__text.grey Коррозионная стойкость
    //-     .compare-mobile__option-item
    //-       .compare-mobile__option-head(@click='toogleSpecification')
    //-         p.compare-mobile__text.big Характеристики товара
    //-         svg-icon.compare-mobile__chevron(name='chevron-down')
    //-       .compare-mobile__option
    //-         p.compare-mobile__text.grey Толщина
    //-       .compare-mobile__option
    //-         p.compare-mobile__text.grey Марка  
    //-       .compare-mobile__option
    //-         p.compare-mobile__text.grey Область применения
    .compare-mobile__pagination  
    .compare-mobile__controls
      button.compare-mobile__prev(type='button', title='Предыдущий слайд', ref='prev')
        svg-icon.compare-mobile__icon.prev(name='chevron-right')
      button.compare-mobile__next(type='button', title='Следующий слайд', ref='next')
        svg-icon.compare-mobile__icon(name='chevron-right')
</template>

<script>
import Swiper, { Navigation, Pagination } from 'swiper'
Swiper.use(Navigation, Pagination)
export default {
  props: ['products'],
  data() {
    return {
      opened: true
    }
  },
  methods: {
    toogleSpecification() {

    },
    initProductsSlider() {
      this.swiper = new Swiper(this.$refs.container, {
        wrapperClass: 'compare-mobile__wrapper',
        slideClass: 'compare-mobile__slide',
        slidesPerView: 1,
        navigation: {
          nextEl: this.$refs.next,
          prevEl: this.$refs.prev,
        },  
        pagination: {
          el: ".compare-mobile__pagination",
          type: "fraction",
        },      
      })
    },
  },
  mounted() {
    this.initProductsSlider()
  },
}
</script>

<style src='./compare-mobile.scss' lang="scss">
</style>