<template lang="pug">
.filter-select(v-click-outside='hide')
  button.filter-select__filter-button(@click='toogle')
    | {{selected}}
    svg-icon.filter-select__icon(name='chevron-down')
  transition(name='fade')
    .filter-select__content(v-if="opened")
      .filter-select__item.active(v-model="selected" @click='sort') По популярности         
      .filter-select__item(v-model="selected") По убыванию
      .filter-select__item По возрастанию
      .filter-select__item По Алфавиту     
</template>

<script>
import ClickOutside from 'vue-click-outside'
export default {
  data() {
    return {
      opened: false,
      selected: 'По популярности'
    }
  },
  methods: {
    sort() {
      this.opened = false
    },
    toogle() {
      this.opened = !this.opened
    },
    hide() {
      this.opened = false
    }
  },
  directives: {
    ClickOutside,
  },
}
</script>

<style lang="scss" src='./filter-select.scss'>
  
</style>