.filter-select {
  $this: &;
  position: relative;
  &__filter-button {
    display: flex;
    align-items: center;
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 600;
    &:hover {
      color: $color-accent-light-blue;
      #{$this}__icon-filter {
        stroke: $color-accent-light-blue;
      }
    }
  }

  &__content {    
    border-radius: 4px;
    background: $color-grey-0;
    box-shadow: 0px 0px 12px rgba(11, 14, 20, 0.16);
    padding: 8px 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 34px;
    right: 0;
    z-index: 10;
    width: 288px;
  }

  &__item {
    cursor: pointer;
    padding: 12px;
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 500;
    position: relative;
    transition: background-color 0.3s ease;

    &.active {
      color: $color-accent-light-blue;
      &::after {
        content: '';
        position: absolute;
        right: 12px;
        top: 16px;
        width: 10px;
        height: 10px;
        background-color: $color-accent-light-blue;
        border-radius: 50%;
      }
    }

    &.red {
      color: $color-accent-red;
      &:hover {
        color: $color-accent-red;
      }
    }

    &:hover {
      background-color: $color-bg-secondary;
      color: $color-text-primary;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $color-accent-dark-blue;
    margin-left: 4px;
    &.opened {
      fill: $color-accent-light-blue;
    }
  }
}