.subcategory-section {
  padding-top: 64px;

  @media (max-width: $m) {
    padding-top: 48px;
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;
    text-align: center;
    @media (max-width: $m) {
      @include fontSize(20, 28);
    }
    @media (max-width: $s) {
      text-align: left;
      padding-left: 24px;
      @include fontSize(18, 24);
    }
    @media (max-width: $xs) {
      padding-left: 16px;
    }
  }

  &__grid {
    margin-top: 24px;
    display: grid;
    -ms-grid-columns: (minmax(1px,1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit,minmax(1px,1fr));
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    @media (max-width: $s) {
      scroll-behavior: smooth;
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
      scroll-snap-stop: always;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }
}