<template lang="pug">
  .info-icon
    svg-icon.info-icon__info(name='info')
    .info-icon__popup
      p.info-icon__text {{text}}
</template>

<script>
export default {
  props: ['text']
}
</script>

<style lang="scss" src='./info-icon.scss'>
  
</style>