.info-icon {
  $this: &;
  position: relative;
  

  &:hover {
    #{$this}__popup {
      opacity: 1;
      z-index: 3;
    }
    #{$this}__info {
      fill: $color-accent-light-blue;
    }
  }

  &__info {
    width: 20px;
    height: 20px;
    fill: $color-accent-dark-blue;
    cursor: pointer;
  }

  &__popup {
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(11, 14, 20, 0.15);
    width: 256px;    
    padding: 12px 16px;
    position: absolute;
    background-color: $color-bg-primary;
    top: 32px;
    left: calc(50% - 129px);
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;

    &::before {
      content: '';
      position: absolute;
      top: -6px;
      width: 14px;
      height: 14px;
      border-radius: 4px;
      transform: rotate(45deg);
      background-color: #fff;
      right: 0;
      left: 0;
      margin: 0 auto;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      top: -22px;
      width: 240px;
      height: 26px;
      right: 0;
      left: 0;
      z-index: 0;
    }
  }

  &__text {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;
  }
}
