<template lang="pug">
.product-sticky
  .container
    .product-sticky__container
      .product-sticky__prices.mobile
        p.product-sticky__price.red.mobile 84 844 ₽/м² 
        p.product-sticky__price.sale 84 844 ₽/м²
      .product-sticky__content
        img.product-sticky__image(src='/img/product-small-1.png')
        .product-sticky__info
          p.product-sticky__title Профлист С8 с покрытием двусторонний полиэстер 0,4 мм, Helios медный
          .product-sticky__prices
            p.product-sticky__price.red.mobile 84 844 ₽/м² 
            p.product-sticky__price.sale 84 844 ₽/м²
      .product-sticky__buttons
        Counter(quantity='3' class='medium in-product')
        button.product-sticky__button(@click='addToCart' v-if="!inCart")
          span.product-sticky__total 88 900 ₽
          .product-sticky__button-separator      
          span Добавить в корзину
        button.product-sticky__button.green(v-if="inCart")
          svg-icon.product-sticky__icon-cart(name='check-circle-small')
          | Товар в корзине     
</template>

<script>
export default {
  props: ['tabs'],
  data() {
    return {
      inCart: false,
    }
  },
  methods: {
    addToCart() {
      this.inCart = !this.inCart
    }    
  },
  mounted() {
    let priceBlock = document.querySelector('.product-main__box')
    let bar = document.querySelector('.product-sticky')    
    let footer = document.querySelector('.footer-mobile')    
    let distanceToTop = window.pageYOffset + priceBlock.getBoundingClientRect().top

    window.addEventListener('scroll', () => {
      if (distanceToTop - window.scrollY - priceBlock.clientHeight * 2 >= 0) {
        bar.classList.remove('hidden')
        footer.classList.add('unshadowed')
      } else {
        if (window.scrollY - (distanceToTop + priceBlock.clientHeight) > 0) {
          bar.classList.remove('hidden')
          footer.classList.add('unshadowed')
        } else {
          bar.classList.add('hidden')
          footer.classList.remove('unshadowed')
        }
      }
    })
  },  
}
</script>



<style lang="scss" src='./product-sticky.scss'>
</style>