.product-sticky {
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 12px rgba(11, 14, 20, 0.16);
  bottom: 0;
  left: 0;
  background-color: $color-bg-primary;
  z-index: 10;

  &.hidden {
    opacity: 0;
  }

  @media (max-width: $s) {
    bottom: 60px;
    border-bottom: 1px solid $color-separator;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 12px;
    @media (max-width: $s) {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    gap: 8px;
    
  }

  &__total {
    color: $color-text-contrast;
    @include fontSize(13, 16);
    font-weight: 500;
    @media (max-width: $xs) {      
      @include fontSize(12, 16);
    }
  }

  &__button-separator {
    width: 1px;
    height: 24px;
    background-color: $color-separator;
    opacity: 0.3;
    @media (max-width: $xs) {      
      display: none;
    }
  }

  &__button {
    padding: 0 16px;
    min-width: 242px;
    height: 48px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    background-color: $color-accent-dark-blue;
    color: $color-text-contrast;
    @include fontSize(13, 16);
    font-weight: 600;

    @media (max-width: $xs) {      
      flex-direction: column;
      align-items: center;
      gap: 0;
      padding: 0 16px;
      min-width: max-content;
      width: max-content;
    }

    @media (max-width: $xxs) {
      width: 100%;
      padding: 0 4px;
    }


    &:hover {
      background-color: $color-accent-light-blue;
    }

    &.green {
      background-color: $color-success;
      justify-content: center;
      @media (max-width: $xs) {
        flex-direction: row;
        gap: 8px;
      }
      @media (max-width: $xxs) {
        height: 48px;
        flex-direction: row;
        gap: 8px;
      }
    }    
  }

  &__icon-cart {
    width: 20px;
    height: 20px;
    fill: $color-icon-contrast;
    fill-rule: evenodd;
    clip-rule: evenodd;
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(14, 20);
    font-weight: 500;

    @media (max-width: $m) {
      max-width: 358px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

    }
  }

  &__prices {
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 8px;
    &.mobile {
      display: none;
      @media (max-width: $s) {
        display: block;
        margin-top: 0;
        gap: 0;
      }
      @media (max-width: $xxs) {
        display: none;      
      }
    }
    
  }

  &__price {
    color: $color-text-primary;
    @include fontSize(16, 16);    
    font-weight: 700;
   
    &.red {
      color: $color-accent-red;
    }

    &.sale {
      color: $color-text-primary;
      @include fontSize(13, 16);
      font-weight: 500;
      text-decoration: line-through;
      text-decoration-color: $color-accent-red;
    }

    
  }

  &__icon-buy {
    width: 24px;
    height: 24px;
    fill: $color-accent-dark-blue;
    display: none;
    @media (max-width: $m) {
      display: block;
    }
  }
}
