<template lang="pug">
.service-wysiwig
  p.service-wysiwig__title {{data.title}}
  Wysiwyg(:data='data.wysiwyg')
</template>

<script>
export default {
  props: ['data'],
}
</script>

<style lang="scss" src='./service-wysiwig.scss'>
</style>