.service-wysiwig {
  display: flex;
  gap: 48px;
  padding: 0 115px;
  padding-top: 64px;
  align-items: flex-start;

  @media (max-width: $l) {
    padding: 0 101px;
  }
  @media (max-width: $m) {
    padding: 0;
    padding-top: 64px;
    gap: 32px;
  }
  @media (max-width: $s) {
    flex-direction: column;
    padding-top: 48px;
    gap: 12px;
  }
  

  &__title {
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 700;
    width: 296px;
    flex-shrink: 0;

    @media (max-width: $m) {
      width: 196px;
    }
    @media (max-width: $s) {
      width: 100%;
    }
  }
}