<template lang="pug">
  .footer-mobile
    .container
      .footer-mobile__list
        nuxt-link.footer-mobile__item(to='/')
          svg-icon.footer-mobile__icon-home(name='home')
          p.footer-mobile__title Главная        
        .footer-mobile__item(@click='toogleCatalog')
          svg-icon.footer-mobile__icon-grid(name='layout-grid')
          p.footer-mobile__title Каталог        
        nuxt-link.footer-mobile__item.compare(to='/compare')
          svg-icon.footer-mobile__icon-compare(name='compare')
          p.footer-mobile__title Сравнение        
        nuxt-link.footer-mobile__item.favorites(to='favorites')
          svg-icon.footer-mobile__icon-favorites(name='favorites')
          p.footer-mobile__title Избранное        
        nuxt-link.footer-mobile__item(to='/account')
          svg-icon.footer-mobile__icon-user(name='user')
          p.footer-mobile__title Профиль        
        nuxt-link.footer-mobile__item(to='/cart')
          svg-icon.footer-mobile__icon-cart(name='cart')
          p.footer-mobile__title Корзина        
</template>

<script>
export default {
  
  methods: {
    toogleCatalog() {
      this.$nuxt.$emit('openCatalog')
      
    }
  },
}
</script>

<style src='./footer-mobile.scss' lang="scss">

</style>