<template lang="pug">
.products-slider
  .container
    h2.products-slider__title(v-if='title') {{ title }}
  .products-slider__container(ref='container')
    .products-slider__wrapper 
      .products-slider__slide(v-for='item in data', :key='item.id')
        component(:is='object', :data='item') 
    .products-slider__controls
      button.products-slider__prev(type='button', title='Предыдущий слайд', ref='prev')
        svg-icon.products-slider__icon.prev(name='chevron-right')
      button.products-slider__next(type='button', title='Следующий слайд', ref='next')
        svg-icon.products-slider__icon(name='chevron-right')
</template>

<script>
import Swiper, { Navigation } from 'swiper'
Swiper.use(Navigation)
export default {
  props: ['data', 'object', 'title'],
  methods: {
    initProductsSlider() {
      this.swiper = new Swiper(this.$refs.container, {
        wrapperClass: 'products-slider__wrapper',
        slideClass: 'products-slider__slide',
        slidesPerView: 'auto',
        // spaceBetween: 16,
        navigation: {
          nextEl: this.$refs.next,
          prevEl: this.$refs.prev,
        },        
      })
    },
  },
  mounted() {
    this.initProductsSlider()
  },
}
</script>

<style src='./products-slider.scss' lang="scss">
</style>