<template lang="pug">
  .cookie(:class='{"visible": visible}')
    p.cookie__text Для вашего удобства <a class='cookie__text link'> мы используем cookie </a>
    button.cookie__button(@click='close') Хорошо
</template>

<script>
export default {
  data() {
    return {
      visible: false
    }
  },
  methods: {
    close() {
      this.visible = false
    }
  },
  mounted() {
    setTimeout(() => {
      this.visible = true
    }, 1000);
  },
}
</script>

<style lang="scss" src='./cookie.scss'>
  
</style>