.cookie {
  background: #2c2f34;
  box-shadow: 0px 4px 16px rgba(11, 14, 20, 0.24);
  border-radius: 8px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 416px;
  position: fixed;
  bottom: 16px;
  left: 16px;
  z-index: 101;
  transform: translateX(-120%);
  transition: transform 0.4s ease;

  @media (max-width: $xxs) {
    width: 256px;
  }

  &.visible {    
    transform: translateX(0);
  }

  &__text {
    color: $color-text-contrast;
    @include fontSize(12, 16);
    font-weight: 500;

    &.link {
      text-decoration: underline;
      &:hover {
        color: $color-accent-light-blue;
      }
    }
  }

  &__button {
    color: $color-accent-dark-blue;
    @include fontSize(14, 16);
    font-weight: 600;
    padding: 8px 12px;
    background-color: $color-bg-secondary;
    border-radius: 4px;

    &:hover {
      background-color: $color-accent-light-blue;
      color: $color-text-contrast;
    }
  }
}
