.modal-image {
  // position: relative; 
  overflow: visible;

  // &__close {
  //   position: absolute;
  //   width: 48px;
  //   height: 48px;
  //   background-color: $color-bg-primary;
  //   border-radius: 50%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   top: -61px;
  //   right: -56px;
  // }

  // &__icon-close {
    
  //   width: 24px;
  //   height: 24px;
    
  //   fill: $color-accent-dark-blue;
  //   cursor: pointer;
    
  // }

  &__content {   
    display: flex;
  }

  &__image {
    
    width: 100%;
    aspect-ratio: 3 / 2;

  }

  
}
