<template lang="pug">
  .modal-image
    //- .modal-image__close(@click='$emit("close")')
    //-   svg-icon.modal-image__icon-close(name='close' )
    .modal-image__content
      img.modal-image__image(src='/img/wysiwyg-3.jpg')
      
</template>

<style lang="scss" src='./modal-image.scss'>
  
</style>