.rating-card {
  padding: 24px;
  border-radius: 8px;
  background-color: $color-bg-secondary;
  display: flex;
  flex-direction: column;

  @media (max-width: $s) {
    height: 100%;
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(16, 24);
    font-weight: 600;
  }

  &__head {
    display: flex;
    align-items: center;
    padding-top: 8px;
  }

  &__rate {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;
    margin-right: 16px;
  }

  &__count {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 500;
    margin-left: 8px;
  }

  &__list {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    grid-area: 8px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__number {
    display: flex;
    width: 12px;
    text-align: left;
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;
  }

  &__rates-count {
    display: flex;
    width: 24px;
    text-align: left;
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 400;
  }

  &__scale {
    width: 100%;
    height: 6px;
    border-radius: 4px;
    background-color: $color-grey-200;
    position: relative;
    &.fill {
      position: absolute;
      background-color: $color-accent-light-blue;
      width: 50%;
    }
  }
}
