<template lang="pug">
  .rating-card
    h2.rating-card__title Общий рейтинг
    .rating-card__head
      p.rating-card__rate {{data.rating}}
      Rating(:rating='rating')
      p.rating-card__count {{ reviewsCountText }}
    .rating-card__list
      .rating-card__item
        .rating__item.is-active
        p.rating-card__number 5
        .rating-card__scale
          .rating-card__scale.fill(:style='"width: " + (data.rate_list.five / data.rates * 100) + "%"')
        p.rating-card__rates-count {{data.rate_list.five}}
      .rating-card__item
        .rating__item.is-active
        p.rating-card__number 4
        .rating-card__scale
          .rating-card__scale.fill(:style='"width: " + (data.rate_list.four / data.rates * 100) + "%"')
        p.rating-card__rates-count {{data.rate_list.four}}
      .rating-card__item
        .rating__item.is-active
        p.rating-card__number 3
        .rating-card__scale
          .rating-card__scale.fill(:style='"width: " + (data.rate_list.three / data.rates * 100) + "%"')
        p.rating-card__rates-count {{data.rate_list.three}}
      .rating-card__item
        .rating__item.is-active
        p.rating-card__number 2
        .rating-card__scale
          .rating-card__scale.fill(:style='"width: " + (data.rate_list.two / data.rates * 100) + "%"')
        p.rating-card__rates-count {{data.rate_list.two}}
      .rating-card__item
        .rating__item.is-active
        p.rating-card__number 1
        .rating-card__scale
          .rating-card__scale.fill(:style='"width: " + (data.rate_list.one / data.rates * 100) + "%"')
        p.rating-card__rates-count {{data.rate_list.one}}
</template>

<script>
import { labelFormat } from '@/helpers/formatter'
export default {
  props: ['data'],
  computed: {
    reviewsCountText() {
      return (
        this.data.rates +
        ' ' +
        labelFormat(this.data.rates, ['отзыв', 'отзыва', 'отзывов'])
      )
    },
    rating() {
      return Math.round(this.data.rating)
    }
  },
}
</script>

<style lang="scss" src='./rating-card.scss'>
</style>