<template lang="pug">
label.toggle
  input(type='checkbox')
  span.toggle__slider
  p.toggle__text(v-if="text") {{text}}
</template>

<script>
export default {
  props: ['text']
}
</script>





<style lang="scss" src='./toggle.scss'>
</style>