.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;  
  flex-shrink: 0;
  cursor: pointer;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__text {
    position: absolute;
    width: max-content;
    display: flex;
    flex-shrink: 0;
    top: 0;
    left: 52px;
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 600;    
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-bg-primary;
    border: 1px solid $color-accent-dark-blue;
    // outline: 1px solid $color-accent-dark-blue;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;

    &::before {
      position: absolute;
      content: '';
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 3px;
      background-color: $color-accent-dark-blue;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
  }
}


input:checked + .toggle__slider {
  background-color: $color-accent-dark-blue;
}
input:disabled + .toggle__slider {
  filter: grayscale(1);
  opacity: 0.2;
}

// input:focus + .toggle__slider {
//   box-shadow: 0 0 1px #2196f3;
// }

input:checked + .toggle__slider:before {
  background-color: $color-bg-primary;
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}


