<template lang="pug">
.page__content  
  .container
    Breadcrumbs(:data='breadcrumbs')
    ProductMain(:data='data.product')  
    .product-page__section.mobile
      h2.product-page__title О товаре
      AccordionProduct(title='Характеристики')
        Specifications(:specifications='data.specifications')
      AccordionProduct(title='Описание')
        Wysiwyg(:data='data.description', style='margin-top: 16px')
      AccordionProduct(title='Документация')
        Slider(:data='data.files', object='FileCard')
      AccordionProduct(title='Доставка и оплата')
        AccordionText(:data='data.delivery')
      AccordionProduct(
        title='Отзывы',
        :subtitle='data.reviews.reviews_list.length'
      )
        Reviews(:reviews='data.reviews')
    .product-page__desktop
      AnchorTabs(:tabs='data.tabs')
      #specifications.product-page__section
        h2.product-page__title Характеристики
        Specifications(:specifications='data.specifications') 
      #description.product-page__section
        h2.product-page__title Описание
        Wysiwyg(:data='data.description', style='margin-top: 16px')
      Slider#documentations(
        :data='data.files',
        object='FileCard',
        title='Документация'
      )
      #delivery.product-page__section
        h2.product-page__title Доставка и оплата
        AccordionText(:data='data.delivery')
      #reviews.product-page__section
        h2.product-page__title Отзывы <span class='product-page__title grey'>24</span>
        Reviews(:reviews='data.reviews')
  ProductsSlider(
    :data='data.porducts_recomended',
    object='ProductCard',
    title='Рекомендуем приобрести'
  )
  ProductsSlider(
    :data='data.porducts_similar',
    object='ProductCard',
    title='Похожие товары'
  )
  ProductSticky
</template>

<script>
export default {
  data() {
    return {
      data: {
        product: {
          slider: [
            '/img/product-page-2.png',
            '/img/product-page-2.png',
            '/img/product-page-2.png',
          ],
          labels: [
            {
              text: 'Бестселлер',
            },
            {
              text: '—10%',
              discount: true,
            },
          ],
          title:
            'Профлист С8 с покрытием двусторонний полиэстер 0,4 мм, Helios медный',
          description: {
          text: 'Саморезы по дереву HD 4,0x45mm, нержавеющая сталь, упаковка по 250 шт',
          wysiwyg: '<p>Профлист С8 с покрытием Полиэстер активно используется как в промышленном, так и в гражданском строительстве, идеально подходит для возведения заборов, обустройства фасада и стен. Полная ширина — 1200 мм, рабочая — 1150 мм, высота — 8 мм, длина от 0,5 м до 12 м, толщина — 0,45 мм. Выбранный вами цвет RR 23.</p><p>Покрытие Полиэстер относится к группе полиэфиров и на сегодня это одно из самых широко распространённых покрытий для тонколистовой оцинкованной стали. Преимуществами Полиэстера являются сбалансированные характеристики и приемлемая цена. Отличное решение, на которое предоставляется гарантия до 10 лет от производителя.</p>'
        },
          price: 500,
          priceSale: 450,
          quantity: 4,
        },        
        tabs: [
          {
            tabId: 'specifications',
            title: 'Характеристики',
          },
          {
            tabId: 'description',
            title: 'Описание',
          },
          {
            tabId: 'documentations',
            title: 'Документация',
          },
          {
            tabId: 'delivery',
            title: 'Доставка и оплата',
          },
          {
            tabId: 'reviews',
            title: 'Отзывы',
          },
        ],
        specifications: [
          {
            title: 'Покрытие',
            specification_list: [
              {
                name: 'Покрытие',
                link_title: 'Полиэстер',
                link: '/coating/slug',
              },
              {
                name: 'Цвет покрытия',
                value: 'RR 23 (Мокрый асфальт)',
              },
              {
                name: 'Плотность цинкования',
                value: '105 г/м²',
              },
              {
                name: 'Толщина покрытия',
                value: '25 мкм',
              },
              {
                name: 'Гарантия',
                value: '10 лет',
              },
              {
                name: 'Коррозионная стойкость',
                rating: 3,
              },
              {
                name: 'Цветостойскость',
                rating: 3,
              },
              {
                name: 'Механическая устойчивость',
                rating: 3,
              },
            ],
          },
          {
            title: 'Товар',
            specification_list: [
              {
                name: 'Толщина профлиста',
                link_title: '0,45 мм',
                link: '/coating/slug',
              },
              {
                name: 'Марка',
                link_title: 'С8',
                link: '/coating/slug',
              },
              {
                name: 'Область применения',
                link_title: 'Фасад, забор',
                link: '/coating/slug',
              },
              {
                name: 'Длина',
                value: '0,5–8 м',
              },
              {
                name: 'Ширина полная',
                value: '1200 мм',
              },
              {
                name: 'Ширина рабочая',
                value: '1150 мм',
              },
            ],
          },
        ],
        description:
          '<p>Профлист С8 с покрытием Полиэстер активно используется как в промышленном, так и в гражданском строительстве, идеально подходит для возведения заборов, обустройства фасада и стен. Полная ширина — 1200 мм, рабочая — 1150 мм, высота — 8 мм, длина от 0,5 м до 12 м, толщина — 0,45 мм. Выбранный вами цвет RR 23.</p><p>Покрытие Полиэстер относится к группе полиэфиров и на сегодня это одно из самых широко распространённых покрытий для тонколистовой оцинкованной стали. Преимуществами Полиэстера являются сбалансированные характеристики и приемлемая цена. Отличное решение, на которое предоставляется гарантия до 10 лет от производителя.</p><p>Профлист С8 имеет насыщенный темно-серый цвет RR 23, который чуть темнее своего популярного аналога RAL 7024. Этот классический цвет очень часто применяется при строительстве домов в скандинавском стиле.</p><p>0,45 мм — это толщина для профлиста общего назначения,профиль такой толщины имеет самую обширную область применения, его можно использовать для устройства кровель, заборов, фасадов, цоколей и т.д. Из металла данной толщины изготавливается очень большая линейка профилей способная удовлетворить большинство потребностей.</p><p>Узнать актуальные цены и купить Профлист С8, RR 23 с покрытием Полиэстер можно онлайн в каталоге на нашем сайте. Наши опытные менеджеры помогут с выбором и рассчитают необходимое количество материалов.</p>',
        files: [
          {
            text: 'Справочник веса профлиста',
            download: '/icons/catalog.svg',
            format: 'PDF',
            size: '48,4 Мб',
          },
          {
            text: 'Правила транспортировки и хранения профилированной продукции',
            download: '/icons/catalog.svg',
            format: 'PDF',
            size: '48,4 Мб',
          },
          {
            text: 'Сертификат соответствия на профнастил по ГОСТ',
            link: '/files/slug',
          },
          {
            text: 'Справочник веса профлиста',
            download: '/icons/catalog.svg',
            format: 'PDF',
            size: '48,4 Мб',
          },
          {
            text: 'Правила транспортировки и хранения профилированной продукции',
            download: '/icons/catalog.svg',
            format: 'PDF',
            size: '48,4 Мб',
          },
          {
            text: 'Сертификат соответствия на профнастил по ГОСТ',
            link: '/files/slug',
          },
        ],
        delivery: {
          text: [
            'Получить Профлист С8 после покупки можно одним из следующих способов:',
            '1. Доставка собственным транспортом компании Сталь ТД. Наши водители настоящие профессионалы, они доставляли всю нашу продукцию сотни раз и точно знают как это сделать быстро и надёжно.',
            '2. Доставка до терминала транспортной компании Деловые линии или другой, по вашему выбору.',
            '3. Самовывоз с завода. Мы дадим вам все необходимые рекомендации, чтобы вы довезли продукцию в целости и сохранности.',
            'При оформлении заказа наши менеджеры подробно проконсультируют вас о вариантах доставки.',
          ],
          wysiwyg: '<h2>Это текст из wysiwyg</h2>',
        },
        reviews: {
          review_card: {
            rating: 3.9,
            rates: 20,
            rate_list: {
              five: 10,
              four: 2,
              three: 3,
              two: 0,
              one: 5,
            },
          },
          reviews_list: [
            {
              name: 'Олег',
              rating: 5,
              text: 'Этот профнастил сделан из качественной стали и с соблюдением разного рода технологий, имеет отличное покрытие, как с точки зрения цветовых и дизайнерских решений, так и с точки зрения технологических норм. Также этот профнастил достаточно износостоек, причём не имеет значения где он установлен. Имеет гладкое покрытие, по которому легко сползает снег зимой, не задерживаясь, при этом это покрытие не теряет своих свойств и по истечении достаточно долгого времени. Поэтому мне, увидев все эти качества, не остаётся ничего, кроме как порекомендовать его всем тем, кто озадачился вопросом выбора профнастила. Удачи и всех благ!',
              date: '26 сентября 2020',
            },
            {
              name: 'Аноним',
              rating: 5,
              date: '26 сентября 2020',
            },
            {
              name: 'Пётр Михалыч',
              rating: 4,
              text: 'Этот профнастил сделан из качественной стали и с соблюдением разного рода технологий, имеет отличное покрытие, как с точки зрения цветовых и дизайнерских решений, так и с точки зрения технологических норм. Также этот профнастил достаточно износостоек, причём не имеет значения где он установлен. Имеет гладкое покрытие, по которому легко сползает снег зимой, не задерживаясь, при этом это покрытие не теряет своих свойств и по истечении достаточно долгого времени. Поэтому мне, увидев все эти качества, не остаётся ничего, кроме как порекомендовать его всем тем, кто озадачился вопросом выбора профнастила. Удачи и всех благ!',
              date: '26 сентября 2020',
            },
            {
              name: 'Алексей',
              rating: 4,
              date: '30 октября 2020',
            },
            {
              name: 'Дмитрий',
              rating: 4,
              date: '30 октября 2020',
            },
            {
              name: 'Василий',
              rating: 4,
              date: '30 октября 2020',
            },
            {
              name: 'Андрей',
              rating: 4,
              date: '30 октября 2020',
            },
          ],
        },
        porducts_recomended: [
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
        ],
        porducts_similar: [
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            special: {
              name: 'Премиум покрытие',
              value: 'Полиэстер',
            },
            specifications: [
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
                value: 'RR 23 (мокрый асфальт)',
              },
              {
                icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
                value: '0,3 мм',
              },
            ],
            status: 'in-stock',
            price: 84844,
          },
        ],
      },
    }
  },
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Каталог',
          url: '/catalog/slug',
        },
        {
          title: 'Профнастил',
        },
      ]

      return breadcrumbs
    },
  },
}
</script>

<style lang="scss">
.product-page {
  &__section {
    padding-top: 64px;
    &.mobile {
      display: none;
      @media (max-width: $s) {
        display: block;
      }
    }
  }

  &__desktop {
    @media (max-width: $s) {
      display: none;
    }
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;

    @media (max-width: $s) {
      @include fontSize(18, 24);
      padding-bottom: 16px;
    }

    &.grey {
      color: $color-text-secondary;
      margin-left: 12px;
    }
  }
}
</style>