<template lang="pug">
.header.is-cart(style='background-color: #F2F4F7')
  .header__desktop    
    .container 
      .header__info(v-if="visible")
        .header__container
          Logo
          .header__info-item.city
            .header__container(@click='chooseCity')
              svg-icon.header__icon-info(name='location')
              p.header__text Санкт-Петербург
            .header__city-popup(v-if="cityPopup")
              p.header__text Ваш город Санкт-Петербург?
              .header__container(style='justify-content: space-between; margin-top: 16px;')
                button.header__popup-button(@click='hideCity') Да, верно
                button.header__popup-button.unfill(@click='chooseCity') Нет, изменить город
        .header__container          
          a.header__info-item(href='tel:+7 (495) 225-63-03') 
            svg-icon.header__icon-info(name='phone')
            p.header__text +7 (495) 225-63-03
          .header__info-item.dropdown
            p.header__text Личный кабинет
            svg-icon.header__icon-estimate.chevron(name='chevron-down')
            .header__dropdown-container
              nuxt-link.header__dropdown-item(to='/') Профиль
              nuxt-link.header__dropdown-item(to='/') Заказы
              nuxt-link.header__dropdown-item(to='/') Избранное
              nuxt-link.header__dropdown-item(to='/') Сравнение
              nuxt-link.header__dropdown-item(to='/') Недавно просмотренное
              .header__dropdown-item.red Выйти      
  .container
    .header__mobile      
      .header__mobile-container
        Logo 
      .header__mobile-container        
        a.header__cart-mobile(href='tel:+7 (495) 225-63-03')
          svg-icon.header__icon-info.margin(name='phone')
          span.header__cart-text.phone +7 (495) 225-63-03
        nuxt-link.header__cart-mobile(to='/')
          svg-icon.header__icon-info.margin(name='user')
          span.header__cart-text Личный кабинет
</template>

<script>
import ModalCity from '../ModalCity/ModalCity'
export default {
  data() {
    return {
      visible: true,
      sidebarOpened: false,
      menuOpened: false,
      cityPopup: false,
      searchOpened: false,
    }
  },
  methods: {
    hideCity() {
      this.cityPopup = false
    },
    chooseCity() {
      this.$modal.show(
        ModalCity,
        {},
        { width: '400', scrollable: true, adaptive: true }
      )
    },    
    openSeach() {
      this.searchOpened = !this.searchOpened
    },
    closeSeach() {
       this.searchOpened = false
    },
    openMenu() {
      this.menuOpened = !this.menuOpened
    },
    closeMenu() {
      this.menuOpened = false
    },
    openFilters() {
      this.sidebarOpened = true
      // document.querySelector('body').classList.add('fixed')
    },
    closeFilters() {
      this.sidebarOpened = false
      // document.querySelector('body').classList.remove('fixed')
    }
  },
  mounted() {
    this.$nuxt.$on('openCity', this.chooseCity)
    this.$nuxt.$on('openEstimate', this.getEstimate)
    this.$nuxt.$on('closeCity', this.hideCity)
    this.$nuxt.$on('openCatalog', this.openFilters)
    this.$nuxt.$on('closeCatalog', this.closeFilters)
    this.$nuxt.$on('closeMenu', this.closeMenu)
    let head = document.querySelector('.header')
    if (window.outerWidth < 500) {
      head.classList.add('is-fixed')
    }
    window.addEventListener('scroll', () => {
      this.scrollTop = pageYOffset

      if (window.outerWidth >= 500 ) {
        if (this.scrollTop > window.outerHeight - 180) {
          head.classList.add('is-fixed')
          this.visible = false
        } else {
          head.classList.remove('is-fixed')
          this.visible = true
        }
      } else {
        head.classList.add('is-fixed')
        this.visible = false
      }      
    })
  },
}
</script>

<style lang="scss" src='../Header/header.scss'>
  
</style>