.coating-item {
  
  position: relative;  

  &__title {
    &.span {
      font-weight: 400;
      color: $color-text-secondary;
      margin-left: 8px;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 600;
    padding-left: 24px;
    position: relative;
    cursor: pointer;

    &.opened {
      color: $color-accent-light-blue;
    }

    &::before {
      content: '';
      width: 8px;
      height: 8px;
      background-color: $color-accent-light-blue;
      border-radius: 50%;
      position: absolute;
      top: 8px;
      left: 8px;
    }

    &.sidebar {
      color: $color-text-heading;
      justify-content: space-between;
      padding: 12px 0;
      &::before {
        display: none;
      }
    }
  }

  

  
  &__icon {
    width: 24px;
    height: 24px;
    fill: $color-accent-dark-blue;
    margin-left: 4px;
    &.opened {
      fill: $color-accent-light-blue;
    }
  }

  &__container {
    // padding: 8px 0;
  }

  &__grid {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &.opened {
      padding-bottom: 16px;
    }
  }
  
}
