<template lang="pug">
  .coating-item
    .coating-item__head.sidebar(@click='toogleItem' :class='{"opened" : opened}')
      .coating-item__title {{coating.title}} <span class='coating-item__title span'>{{coating.coatings.length}}</span>
      svg-icon.coating-item__icon(name='chevron-down' :class='{"opened" : opened}')
    .coating-item__container(v-show-slide:500:example-easing="opened" )
      .coating-item__grid(:class='{"opened" : opened}')
        CoatingCard(:coat='item' v-for="item in coating.coatings" :key="item.id")
</template>

<script>
export default {
  props: ['coating'],
  data() {
    return {
      opened: true,
    }
  },
  methods: {
    toogleItem() {
      this.opened = !this.opened
    },
    close() {
      this.opened = false
    }
  },  
}
</script>

<style lang="scss" src='./coating-item.scss'>
  
</style>