<template lang="pug">
  .filters-section
    .container(style='border-bottom: 1px solid #E6E7EB;')
      .filters-section__top
        .filters-section__container
          button.filters-section__filter-button(@click='openFilters')
            svg-icon.filters-section__icon-filter(name='filter')
            | Фильтры
        .filters-section__container
          .filters-section__item(v-for="filter in quickFilters" :key="filter.id")
            FilterItem(:data='filter.data' :filterName='filter.filterName' :name='filter.name')
        .filters-section__container
          FilterSelect
    .container(style='border-bottom: 1px solid #E6E7EB;')
      .filters-section__bottom
        .filters-section__list
          .filters-section__selected(v-for="item in selectedFilters" :key="item.id")
            p.filters-section__text {{item.name}}
            svg-icon.filters-section__icon-delete(name='delete')          
          p.filters-section__text.button Очистить фильтры
        p.filters-section__text Найдено 1493 товара
    .filters-section__sidebar(:class='{"active": filtersOpened}')
      FilterSidebar(:filters='quickFilters')
    .filters-section__sidebar(:class='{"active": collectionsOpened}')
      CollectionsSidebar(:filters='quickFilters')
    .filters-section__area(:class='{"active": filtersOpened}' @click='closeFilters')
</template>

<script>
export default {
  props: ['quickFilters', 'selectedFilters'],
  data() {
    return {
      filtersOpened: false,
      collectionsOpened: false
    }
  },
  methods: {
    openFilters() {
      let height = window.pageYOffset 
      console.log(height);
      this.filtersOpened = !this.filtersOpened
      
      document.querySelector('.body').classList.add('fixed')
      // document.querySelector('.body').style.top = height + "px";
      // document.querySelector('.body').style.top = `${height} + "px"`;
      
    },
    closeFilters() {
      this.filtersOpened = false
      document.querySelector('.body').classList.remove('fixed')
    }
  },
  mounted() {
    this.$nuxt.$on('closeFilters', this.closeFilters)
  },
}
</script>

<style lang="scss" src='./filters-section.scss'>
  
</style>