.filters-section {
  $this: &;
  background-color: $color-bg-secondary;
  margin-top: 48px;

  @media (max-width: $s) {
    margin-top: 32px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    // border-bottom: 1px solid $color-separator;
    
    &.is-compare {
      @media (max-width: $xxs) {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
      }
    }

  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__item {
    & + & {
      margin-left: 24px;
    }

    @media (max-width: $m) {
      &:nth-child(+n+ 4) {
        display: none;
      }
    }
    @media (max-width: $s) {
      display: none;
    }
  }

  &__filter-button {
    display: flex;
    align-items: center;
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 600;
  }

  &__icon-filter {
    width: 24px;
    height: 24px;
    stroke: $color-accent-dark-blue;
    stroke-width: 1.5;
    stroke-linecap: square;
    margin-right: 8px;
  }

  &__icon-delete {
    width: 20px;
    height: 20px;
    fill: $color-icon-secondary;
    margin-left: 4px;
    cursor: pointer;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

    @media (max-width: $s) {
      padding: 16px 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    @media (max-width: $s) {
      padding-bottom: 24px;
    }
  }

  &__selected {
    display: flex;
  }

  &__text {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;
    flex-shrink: 0;

    &.button {
      color: $color-accent-dark-blue;
      font-weight: 600;
      cursor: pointer;
    }
  }

  &__area {
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    // background: rgba($color-grey-900, 0.25);
    // background: $color-grey-300;
    background-color: rgba(0, 0, 0, 0.32);
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__sidebar {
    transition: all 0.3s ease;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 40rem;
    transform: translateX(-100%);
    height: calc(var(--vh, 1vh) * 100);
    background: $color-grey-0;
    z-index: 100;
    display: flex;
    flex-flow: column nowrap;
    opacity: 0;

    &.active {
      transform: translateX(0);
      opacity: 1;
    }

    @media (max-width: $xs) {
      max-width: 100%;
    }
  }
}
