<template lang="pug">
  .quick-color
    ColorItem(v-for="color in data" :key="color.id" :color='color')    
</template>

<script>
export default {
  props: ['data']
}
</script>



<style lang="scss" src='./quick-color.scss'>
  
</style>