.quick-color {
  // display: grid;
  display: flex;
  flex-wrap: wrap;
  // grid-template-columns: repeat(4, minmax(0, 1fr));
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
  width: 100%;

  grid-template-columns: max-content;

  &.sidebar {

  }
}