.promotion-card {
  $this: &;
  height: 384px;
  padding: 32px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;

  @media (max-width: $m) {
    padding: 24px;
  }
  @media (max-width: $xs) {
    padding: 16px;
  }

  &:hover {
    #{$this}__image {
      transform: scale(1.1);
    }
  }

  &__image {
    position: absolute;
    left: 0;
    bottom: 0;
    transition: transform 0.5s ease;
    z-index: 0;

    @media (max-width: $m) {
      width: 220px;
    }
    @media (max-width: $s) {
      width: 296px;
    }
    @media (max-width: $xs) {
      width: 224px;
    }
  }

  &__title {
    position: relative;
    color: $color-text-contrast;
    @include fontSize(24, 32);
    font-weight: 700;
    z-index: 1;
    @media (max-width: $m) {
      @include fontSize(20, 28);
    }
    @media (max-width: $s) {
      @include fontSize(18, 24);
    }
  }

  &__text {
    position: relative;
    color: $color-text-contrast;
    @include fontSize(14, 20);
    font-weight: 500;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    width: fit-content;
    margin-top: 16px;
    z-index: 1;
  }
}
