<template lang="pug">
nuxt-link.promotion-card(:to='"/promotions/" + promotion.slug' :style='"background-color: " + promotion.background')
  h2.promotion-card__title {{promotion.title}}
  .promotion-card__text {{promotion.text}}
  img.promotion-card__image(:src='promotion.image')
</template>

<script>
export default {
  props: ['promotion'],
  data() {
    return {}
  },
}
</script>

<style lang="scss" src='./promotion-card.scss'>

</style>