<template lang="pug">
  .footer    
    .container      
      .footer__content        
        .footer__bottom
          .footer__container
            p.footer__text © 2009–2021 «Сталь ТД». Завод кровельных и фасадных материалов
            .footer__info
              nuxt-link.footer__link.info(to='/') Обработка персональных данных
              nuxt-link.footer__link.info(to='/') Политика конфиденциальности
              nuxt-link.footer__link.info(to='/') Правовая информация
          .footer__cards
            img.footer__card(src='/icons/maestro.svg')
            img.footer__card(src='/icons/mastercard.svg')
            img.footer__card.visa(src='/icons/visa.svg')            
            img.footer__card.mir(src='/icons/mir.svg')
        .footer__section
          a.footer__social(href='#')
            svg-icon.footer__icon(name='dvebukvy')
</template>

<script>
export default {
  data() {
    return { 
      
    }
  }, 
  
}
</script>

<style src='../Footer/footer.scss' lang="scss">

</style>