<template lang='pug'>
.rating
  ul.rating__list
    li.rating__item(
      :class='{ "is-active": item <= rating }',
      v-for='(item, index) in 5',
      :key='index'
    )
  //- p.rating__amount {{ reviewsCountText }}
</template>

<script>
export default {
  props: ['rating'],  
}
</script>

<style lang='scss' src='./rating.scss'></style>