<template lang="pug">
  .accordion-product
    .accordion-product__head(@click="toogleDropdown")      
      p.accordion-product__title(:class='{"active": dropdownOpened}') {{title}} <span v-if="subtitle" class='accordion-product__title subtitle'>{{subtitle}}</span>
      svg-icon.accordion-product__icon-shevron(name='chevron-down' :class='{"active": dropdownOpened}')    
    .accordion-product__body(v-show-slide:500:example-easing="dropdownOpened", :class='{"active": dropdownOpened}')
      slot    
</template>

<script>
export default {
  props: ['data', 'title', 'subtitle'],
  data() {
    return {
      dropdownOpened: false
    }
  },
  methods: {
    toogleDropdown() {
      this.dropdownOpened = !this.dropdownOpened
    }
  },
}
</script>

<style src='./accordion-product.scss' lang="scss">

</style>