.accordion-product {
  border-top: 1px solid $color-separator;
  border-bottom: 1px solid $color-separator;

  & + & {
    border-top: unset;
  }
  &__head {
    padding: 16px 24px;
    background-color: $color-bg-secondary;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(16, 24);
    font-weight: 600;

    &.subtitle {
      margin-left: 8px;
      color: $color-text-secondary;
    }
  }

  &__icon-shevron {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;

    &.active {
      transform: rotateX(-180deg);
    }
  }

  &__body {
    &.active {
      padding-bottom: 48px;
    }
  }
}
