<template lang="pug">
.clear-button
  svg-icon.clear-button__icon(name='trash')
  | Очистить
</template>

<style lang="scss">
.clear-button {
  $this: &;
  color: $color-accent-dark-blue;
  @include fontSize(16, 24);
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
  &:hover {
    color: $color-accent-light-blue;
    #{$this}__icon {
      stroke: $color-accent-light-blue;
    }
  }
  &__icon {
    width: 24px;
    height: 24px;
    stroke: $color-accent-dark-blue;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    margin-right: 8px;
  }
}
</style>