.select-test {
  $this: &;
  position: relative;
  &__head{
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background-color: $color-bg-secondary;
    cursor: pointer;
    transition: background-color 0.3s  ease;
    z-index: 2;
    position: relative;

    &:hover {
      background-color: $color-bg-tertiary;
    }

    &.focused {
      background-color: $color-accent-light-blue;
      z-index: 5;
      #{$this}__text {
        color: $color-text-contrast;
      }
      #{$this}__icon {
        fill: $color-text-contrast;
        transform: rotate(180deg);
      }
    }
  }

  &__body {
    position: absolute;
    width: 100%;
    pointer-events: none;
    // top: 0;
    left: 0;
    z-index: 1;
    background-color: $color-bg-primary;
    box-shadow: 0 0 12px rgba(11, 14, 20, 0.16); 
    border-radius: 4px;  
    opacity: 0;
    transform: translateY(-24px);
    transition: transform 0.5s ease, opacity 0.3s ease;
    
    &.active {
      opacity: 1;
      z-index: 4;
      transform: translateY(0);
      pointer-events: all;
    }
  }

  &__list {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 16px;
    transition: background-color 0.3s ease;
    position: relative;
    cursor: pointer;

    &:hover {
      background-color: $color-bg-secondary;
    }

    &.selected {
      &::after {
        content: '';
        width: 10px;
        height: 10px;
        background-color: $color-accent-light-blue;
        position: absolute;
        border-radius: 50%;
        top: 24px;
        right: 16px;
      }
      #{$this}__text {
        color: $color-accent-light-blue;
      }
    }
  }

  &__text {
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 500;

    &.grey {
      color: $color-text-secondary;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $color-accent-dark-blue;
  }
}
