<template lang="pug">
  .select-test(v-click-outside='close')
    .select-test__head(@click='toggle' :class='{"focused": opened}')
      p.select-test__text(:class='{"grey": !selected}') {{selectedItem}}
      svg-icon.select-test__icon(name='chevron-down')
    .select-test__body(:class='{"active": opened}')
      .select-test__list
        .select-test__item(v-for="(item, index) in data" :key="index" :class='{"selected": activeIndex == index}' @click='selectItem(item.label, item.value, index)')
          p.select-test__text {{item.label}}
</template>

<script>
import ClickOutside from 'vue-click-outside'
export default {
  props: ['data'],
  data() {
    return {
      opened: false,
      selected: this.data[0].label,
      activeIndex: 0,
      value: null,
    }
  },
  computed: {
    selectedItem() {
      return this.selected ?? this.data[0].label
    }
  },
  methods: {
    toggle() {
      this.opened = !this.opened
    },
    selectItem(label, value, index) {
      this.selected = label
      this.opened = false
      this.activeIndex = index
      this.value = value      
    },
    close() {
      this.opened = false
    }
  },
  directives: {
    ClickOutside,
  },
}
</script>

<style lang="scss" src='./select-test.scss'>
</style>