.footer {  

  &__sign-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0 24px;
    border-bottom: 1px solid $color-separator;
    @media (max-width: $s) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;     
      border-bottom: unset; 
      padding: 24px 0 16px;
    }
  }

  &__content {
    padding: 48px 0 24px;
    @media (max-width: $m) {
      padding: 40px 0 24px;
    }
    @media (max-width: $s) {
      padding: 16px 0 24px;
    }
  }

  &__links-mobile {
    display: none;
    @media (max-width: $s) {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 48px;
    padding-bottom: 96px;

    @media (max-width: $s) {
      grid-template-columns: 1fr;
      padding-bottom: 32px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;

    & + & {
      flex-direction: row;
      padding-left: 32px;

      @media (max-width: $s) {
        padding-left: 0;
      }
      @media (max-width: $xxs) {
        gap: 8px;
        flex-direction: column;
      }
    }

    @media (max-width: $s) {
      &+& {
        width: 100%;
        margin-top: 24px;
      }
    }

    
  }

  &__text {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;

    &.bold {
      @include fontSize(18, 24);
      font-weight: 600;
      margin-bottom: 8px;
    }
    &.grey {
      color: $color-text-secondary;
    }
  }

  &__input {
    width: 304px;
    margin-right: 8px;

    @media (max-width: $s) {
      width: 100%;
    }
  }

  &__button {
    background-color: $color-accent-dark-blue;
    height: 48px;
    color: $color-text-contrast;
    padding: 12px 16px;
    border-radius: 4px;
    @include fontSize(16, 24);
    font-weight: 600;

    &:hover {
      background-color: $color-accent-light-blue;
    }
  }

  &__green {
    background-color: $color-success;
    color: $color-text-contrast;
    padding: 12px 16px;
    @include fontSize(16, 24);
    font-weight: 600;
    border-radius: 4px;

    @media (max-width: $s) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 32px 16px;
      text-align: center;
    }
  }

  &__socials {
    margin-top: 12px;
    display: flex;
  }

  &__social {
    & + & {
      margin-left: 12px;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    fill: $color-accent-dark-blue;
    fill-rule: evenodd;
    clip-rule: evenodd;
    flex-shrink: 0;

    &:hover {
      fill: $color-accent-light-blue;
    }
  }

  &__cards {
    @media (max-width: $s) {
      margin-top: 24px;
    }
  }

  &__card {
    width: 32px;
    height: 20px;
    
    &.visa {
      width: 42px;
    }
    &.mir {
      width: 48px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;

    &+& {
      @media (max-width: $s) {
        margin-left: 48px;
      }
      @media (max-width: $xxs) {
        margin-left: 0;
      }
    }

    

    &.row {
      margin-top: 8px;
      flex-direction: row;
      background: rgba(77, 131, 178, 0.12);
      border-radius: 4px;
      padding: 12px;
      width: 322px;
      align-items: center;

      @media (max-width: $s) {
        width: 100%;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }

  &__link {
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 500;

    &:hover {
      color: $color-accent-light-blue;
    }

    & + & {
      margin-top: 12px;
    }

    &.info {
      color: $color-text-secondary;

      &:hover {
        color: $color-accent-light-blue;
      }

      & + & {
        margin-top: 0;
        margin-left: 24px;
      }

      @media (max-width: $xs) {
        & + & {
          margin-top: 8px;
          margin-left: 0;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid $color-separator;

    @media (max-width: $s) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info {
    display: flex;
    margin-top: 12px;

    @media (max-width: $xs) {
      flex-direction: column;
    }
  }

  &__section {
    margin-top: 16px;
  }

  &__container {
    &.desktop {
      @media (max-width: $s) {
        display: none;
      }
    }
  }

  &__container-item {
    display: flex;
    flex-direction: column;
    @media (max-width: $s) {
      flex-direction: row;
    }
    @media (max-width: $xxs) {
      flex-direction: column;
    }
  }
}
