<template lang="pug">
  .select-multiple2(v-click-outside='close')
    .select-multiple2__head(@click='toggle' :class='{"focused": opened}')
      .select-multiple2__container
        p.select-multiple2__text.grey(v-if="selectedArray.length <= 0") {{placeholder}}
        p.select-multiple2__text.blue(v-if="selectedArray.length > 0") Выбранно {{this.selectedArray.length}}
        svg-icon.select-multiple2__icon-delete(name='delete' v-if="selectedArray.length > 0" @click='clearList')
      svg-icon.select-multiple2__icon(name='chevron-down')
    .select-multiple2__body(:class='{"active": opened}')
      .select-multiple2__list
        .select-multiple2__item(v-for="(item, index) in data" :key="index" @click='selectItem(item.label, item.value, index)' ref="item")          
          .select-multiple2__box
          p.select-multiple2__text {{item.label}}          
</template>

<script>
import ClickOutside from 'vue-click-outside'
export default {
  props: ['data', 'placeholder'],
  data() {
    return {
      opened: false,
      selectedArray: [],
      valueBack: null,
    }
  },    
  methods: {    
    clearList() {
      this.selectedArray = []      
      let items = this.$refs.item
      for (let i = 0; i < items.length; i++) {
        items[i].classList.remove('selected')        
      }
    },
    toggle() {
      this.opened = !this.opened
    },
    selectItem(label, value, index) {  
      let items = this.$refs.item
      if (this.selectedArray.length) {
        if (this.selectedArray.includes(value)) {
          this.selectedArray.splice(value, 1)
          items[index].classList.remove('selected')
        } else {
          items[index].classList.add('selected')
          this.selectedArray.push(value)  
        }
      } else {
        items[index].classList.add('selected')
        this.selectedArray.push(value)  
      }        
    },
    close() {
      this.opened = false
    }
  },
  directives: {
    ClickOutside,
  },
}
</script>

<style lang="scss" src='./select-multiple2.scss'>
</style>