.select-multiple2 {
  $this: &;
  position: relative;
  &__head{
    padding: 16px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background-color: $color-bg-primary;
    border: 1px solid $color-separator;
    cursor: pointer;
    // transition: border 0.3s  ease;
    z-index: 2;
    position: relative;

    &:hover {
      border: 2px solid $color-separator;
      padding: 15px;      
    }

    &.focused {      
      border: 2px solid $color-accent-light-blue;
      padding: 15px;
      z-index: 3;
      #{$this}__icon {        
        transform: rotate(180deg);
      }
    }
  }

  &__body {
    position: absolute;
    pointer-events: none;
    width: 100%;
    top: 64px;
    left: 0;
    z-index: 1;
    background-color: $color-bg-primary;
    box-shadow: 0 0 12px rgba(11, 14, 20, 0.16); 
    border-radius: 4px;  
    opacity: 0;
    transform: translateY(-24px);
    transition: transform 0.5s ease, opacity 0.3s ease;
    
    &.active {
      opacity: 1;
      z-index: 2;
      transform: translateY(0);
      pointer-events: all;
    }
  }

  &__list {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
  }

  &__box {    
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid $color-accent-dark-blue;
    background-color: $color-bg-primary;
    position: relative;
    transition: background-color 0.3s ease;
    margin-right: 12px;

    &::before {
      position: absolute;
      top: 6px;
      left: 4px;
      content: '';
      width: 14px;
      height: 10px;
      background-image: url("data:image/svg+xml;utf8,<svg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.16675 4.58333L5.33342 8.75L12.8334 1.25' stroke='rgb(57, 83, 121, 0.48)' stroke-width='1.5' stroke-linecap='square' stroke-linejoin='round'/></svg>");
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }    
  }  

  &__item {
    padding: 16px;
    transition: background-color 0.3s ease;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;

    &::before {

    }

    &:hover {
      background-color: $color-bg-secondary;
      #{$this}__box {        
        &::before {
          opacity: 1;
        }
      }
    }

    &.selected {
      // pointer-events: none;
      // &::after {
      //   content: '';
      //   width: 10px;
      //   height: 10px;
      //   background-color: $color-accent-light-blue;
      //   position: absolute;
      //   border-radius: 50%;
      //   top: 24px;
      //   right: 16px;
      // }

      #{$this}__text {
        color: $color-accent-light-blue;
      }

      #{$this}__box {
        background-color: $color-accent-dark-blue;
        &::before {
          opacity: 1;
          background-image: url("data:image/svg+xml;utf8,<svg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.16675 4.58333L5.33342 8.75L12.8334 1.25' stroke='rgb(255, 255, 255)' stroke-width='1.5' stroke-linecap='square' stroke-linejoin='round'/></svg>") !important;
        }
      }
      
    }
  }

  &__text {
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 500;

    &.grey {
      color: $color-text-secondary;
    }

    &.blue {
      padding: 10px 8px;
      background-color: $color-accent-dark-blue;
      color: $color-text-contrast;
      border-radius: 4px;
      @include fontSize(14, 20);
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $color-accent-dark-blue;
  }
  &__icon-delete {
    width: 24px;
    height: 24px;
    fill: $color-icon-primary;
    margin-left: 8px;
    z-index: 6;
  }

  &__input {
    cursor: pointer;
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100%);
    height: calc(100%);
    

    &:checked {
      & .select-multiple2__item {        
        &::after {
          content: '';
          width: 10px;
          height: 10px;
          background-color: $color-accent-light-blue;
          position: absolute;
          border-radius: 50%;
          top: 24px;
          right: 16px;
        }
      }
      // border-radius: 4px;
      // border: 2px solid $color-accent-light-blue;
    }
  }
}
