.logo {
  $this: &;

  display: block;
  position: relative;
  width: 162px;
  height: 24px;

  @media (max-width: $s) {
    width: 135px;
    height: 20px;
  }
  @media (max-width: $xs) {
    width: 108px;
    height: 16px;
  }
}