<template lang="pug">
.filter-item
  .filter-item__head.sidebar(
    @click='toogleItem',
    :class='{ opened: opened }'
  )
    | {{ name }}
    svg-icon.filter-item__icon(
      name='chevron-down',
      :class='{ opened: opened }'
    )
  .filter-item__container(v-show-slide:500:example-easing='opened')
    .filter-item__separator(:class='{ active: opened }')
    component(:is='filterName', :data='data') 
</template>

<script>
export default {
  props: ['data', 'filterName', 'name'],
  data() {
    return {
      opened: false,
    }
  },
  methods: {
    toogleItem() {
      this.opened = !this.opened
      setTimeout(() => {
        let container = document.querySelector('.filter-sidebar__main')
        let items = document.querySelectorAll('.filter-sidebar__item')
        let array = []
        for (let i = 0; i < items.length; i++) {
          const element = items[i]
          array.push(element.clientHeight)
        }

        let result = array.reduce(function (sum, elem) {
          return sum + elem
        }, 0)

        if (result > container.offsetHeight - 64) {
          this.$nuxt.$emit('setShadow')
          array = []
        } else {
          this.$nuxt.$emit('removeShadow')
          array = []
        }
      }, 500)
    },
    close() {
      this.opened = false
    },
  },
}
</script>

<style lang="scss" src='../FilterItem/filter-item.scss'>
</style>