.account-page {
  $this: &;
  padding-top: 32px;
  @media (max-width: $s) {
    padding-top: 24px;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    @media (max-width: $xs) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    position: relative;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: $color-bg-secondary;
    justify-content: space-between;

    @media (max-width: $s) {
      padding: 16px;
    }

    &.blue {
      background-color: $color-accent-light-blue;
      #{$this}__title {
        color: $color-text-contrast;
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__switch {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;

    @media (max-width: $m) {
      @include fontSize(20, 28);
    }
    @media (max-width: $s) {
      @include fontSize(18, 24);
    }
    @media (max-width: $xxs) {
      max-width: 208px;
    }

    &.white {
      color: $color-text-contrast;
    }
  }
  &__text {
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 400;

    &.white {
      color: $color-text-contrast;
    }

    &.grey {
      color: $color-text-secondary;
    }
  }

  &__span {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;
    opacity: 0.64;
    @media (max-width: $m) {
      @include fontSize(20, 28);
    }
    @media (max-width: $s) {
      @include fontSize(18, 24);
    }

    &.white {
      color: $color-text-contrast;
    }
  }

  &__link {
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 600;

    padding-top: 32px;

    &:hover {
      color: $color-accent-light-blue;
    }

    &.white {
      color: $color-text-contrast;
      &:hover {
        color: $color-text-contrast;
      }
    }

    &.small {
      font-weight: 400;
    }
  }

  &__logout {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    stroke: $color-icon-secondary;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    cursor: pointer;

    &:hover {
      stroke: $color-accent-light-blue;
    }
  }

  &__button {
    margin-top: 32px;
    padding: 10px 12px;
    border-radius: 4px;
    width: 232px;
    color: $color-text-contrast;
    background-color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 600;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-accent-light-blue;
    }
  }
}
