<template lang="pug">
.account-page
  .account-page__grid
    .account-page__item(:style='"height: " + primaryHeight + "px"' v-if="!logined")
      .account-page__box 
        h2.account-page__title Войдите или зарегистрируйтесь
        p.account-page__text.grey(style='margin-top: 12px;') Чтобы делать покупки и отслеживать заказы было гораздо удобнее
        button.account-page__button(@click='modalLogin') Войти или зарегистрироваться
    nuxt-link.account-page__item.blue(to='/account/orders/' :style='"height: " + primaryHeight + "px"' v-if="logined")
      .account-page__box 
        h2.account-page__title Мои заказы <span class="account-page__span white">84</span>
        p.account-page__text.white(style='margin-top: 16px;') У вас 2 активных заказа
      .account-page__link.white Подробнее
    .account-page__item.is-primary(v-if="logined")
      .account-page__box
        svg-icon.account-page__logout(name='logout')
        h2.account-page__title Константин Константинов 
        p.account-page__text.grey(style='margin-top: 8px;') Физическое лицо
        p.account-page__text(style='margin-top: 24px;') konstantin844@gmail.com
        p.account-page__text(style='margin-top: 12px;') +7 (984) 848-88-44
      nuxt-link.account-page__link(to='/account/personal') Редактировать профиль
    .account-page__item(:style='"height: " + primaryHeight + "px"' v-if="logined")
      .account-page__box 
        h2.account-page__title Рассылки
        .account-page__switch(style='margin-top: 24px;')
          Toggle
          p.account-page__text Новости и акции на почту и в SMS
        .account-page__switch(style='margin-top: 16px;')
          Toggle
          p.account-page__text Изменения статуса заказов
    .account-page__item(:style='"height: " + primaryHeight + "px"')
      .account-page__box 
        h2.account-page__title Избранное <span class="account-page__span">44</span> 
        p.account-page__text(style='margin-top: 16px;') 
          | 4 товара в категории 
          nuxt-link.account-page__link.small(:to="{ name: 'favorites', params: { id: '234' }}") Профнастил 
        p.account-page__text(style='margin-top: 12px;') 
          | 8 товаров в категории
          nuxt-link.account-page__link.small(:to="{ name: 'favorites', params: { id: '333' }}") Металлочерепица
        p.account-page__text.grey(style='margin-top: 12px;') И ещё 12 товаров в 2 категориях
      nuxt-link.account-page__link(to='/favorites') Посмотреть все          
    .account-page__item(:style='"height: " + primaryHeight + "px"')
      .account-page__box 
        h2.account-page__title Списки сравнения <span class="account-page__span">44</span> 
        p.account-page__text(style='margin-top: 16px;') 
          | 4 товара в категории 
          nuxt-link.account-page__link.small(:to="{ name: 'compare', params: { id: '234' }}") Профнастил 
        p.account-page__text(style='margin-top: 12px;') 
          | 8 товаров в категории 
          nuxt-link.account-page__link.small(:to="{ name: 'compare', params: { id: '333' }}") Металлочерепица
        p.account-page__text.grey(style='margin-top: 12px;') И ещё 12 товаров в 2 категориях
      nuxt-link.account-page__link(to='/compare') Посмотреть все          
    .account-page__item(:style='"height: " + primaryHeight + "px"')
      .account-page__box 
        h2.account-page__title Недавно просмотренное <span class="account-page__span">44</span>         
        p.account-page__text(style='margin-top: 16px;') За последнее время вы просмотрели 24 товаров
      nuxt-link.account-page__link(to='/viewed') Посмотреть все          
</template>

<script>
import ModalLogin from '../ModalLogin/ModalLogin'
export default {
  data() {
    return {
      primaryHeight: null,
      logined: true
    }
  },
  methods: {
    modalLogin() {
      this.$modal.show(
        ModalLogin,
        {},
        { width: '400', scrollable: true, adaptive: true }
      )
    },
  },
  mounted() {
    if (this.logined) {
      this.primaryHeight = document.querySelector('.account-page__item.is-primary').clientHeight
    } 
  }
}
</script>



<style lang="scss" src='./account-page.scss'>
</style>