<template lang="pug">
  .service-section
    .service-section__content
      h2.service-section__title {{data.title}}
      p.service-section__description(v-for="item in data.description" :key="item.id") {{item}}
      button.service-section__button(@click='getService') Оставить заявку
    .service-section__cover
      img.service-section__image(:src='data.image')
</template>

<script>
import ModalService from '../ModalService/ModalService'
export default {
  props: ['data'],
  methods: {
    getService() {
      console.log(2131);
      this.$modal.show(
        ModalService,
        {},
        { width: '400', scrollable: true, adaptive: true }
      )
    },
  },
}
</script>

<style lang="scss" src='./service-section.scss'>
  
</style>