.service-section {
  padding: 40px 32px 48px 32px;
  background-color: $color-bg-secondary;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  margin-top: 24px;

  @media (max-width: $m) {
    padding: 32px 32px 48px 32px;
  }
  @media (max-width: $s) {
    flex-direction: column-reverse;
    padding: 24px 24px 32px 24px;
  }
  @media (max-width: $xs) {
    padding: 16px 16px 32px 16px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 55%;
    @media (max-width: $s) {
      max-width: 100%;
    }
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(40, 48);
    font-weight: 700;
    margin-bottom: 24px;

    @media (max-width: $m) {
      @include fontSize(32, 40);
    }
    @media (max-width: $s) {
      @include fontSize(24, 32);
      margin-bottom: 16px;
    }
  }

  &__description {
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 500;

    & + & {
      margin-top: 16px;
    }
    @media (max-width: $s) {
      @include fontSize(14, 20);
    }
  }

  &__button {
    margin-top: 48px;
    background-color: $color-accent-dark-blue;
    padding: 12px 16px;
    color: $color-text-contrast;
    @include fontSize(16, 24);
    font-weight: 600;
    border-radius: 4px;

    &:hover {
      background-color: $color-accent-light-blue;
    }

    @media (max-width: $m) {
      margin-top: 40px;
    }
    @media (max-width: $s) {
      margin-top: 32px;
    }
  }

  &__cover {
    display: flex;
    width: 300px;
    aspect-ratio: 1 / 1;

    @media (max-width: $m) {
      width: 240px;
    }
    @media (max-width: $s) {
      width: 80px;
      margin-bottom: 16px;
    }
  }
}
