<template lang="pug">
  .specifications
    .specifications__container(v-for="item in specifications" :key="item.id")
      h2.specifications__title {{item.title}}
      .specifications__list
        .specifications__item(v-for="specification in item.specification_list" :key="specification.id")
          .specifications__value
            p.specifications__text.grey {{specification.name}}
          .specifications__value
            p.specifications__text(v-if="specification.value") {{specification.value}}
            nuxt-link.specifications__link(:to='specification.link' v-if="specification.link") {{specification.link_title}}
            .specifications__rating(v-if="specification.rating")
              .specifications__dot(v-for="(rate, i) in 5" :key="i" :class='{"active": i >= specification.rating}') 
</template>

<script>
export default {
  props: ['specifications'],  
}
</script>

<style lang="scss" src='./specifications.scss'>
</style>