.specifications {

  &__container {
    padding-top: 24px;
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(18, 24);
    font-weight: 700;
  }

  &__list {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 32px;
    @media (max-width: $m) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    } 
  }

  &__value {
    width: 378px;

    @media (max-width: $m) {
      width: unset;
    } 
  }

  &__text {
    color: $color-text-heading;
    @include fontSize(14, 20);
    font-weight: 500;

    &.grey {
      color: $color-text-secondary;
    }
  }

  &__link {
    @include fontSize(14, 20);
    font-weight: 500;
  }

  &__rating {
    display: flex;
    gap: 8px;
  }

  &__dot {
    width: 12px;
    height: 12px;
    background-color: $color-grey-900;
    border-radius: 50%;

    &.active {
      background-color: $color-grey-300;
    }
  }
}
