.accordion-text {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  max-width: 60%;

  @media (max-width: $l) {
    max-width: 70%;
  }
  @media (max-width: $m) {
    max-width: 85%;
  }
  @media (max-width: $s) {
    max-width: 100%;
  }

  &__text {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;
    & + & {
      margin-top: 12px;
    }
  }

  &__button {
    padding-top: 16px;
    color: $color-accent-light-blue;
    @include fontSize(14, 20);
    font-weight: 600;
    cursor: pointer;
  }
}
