<template lang="pug">
  .accordion-text
    p.accordion-text__text(v-for="text in data.text" :key="text.id") {{text}}
    Wysiwyg(:data='data.wysiwyg' v-show-slide:500:example-easing="opened")
    p.accordion-text__button(@click='toogle' v-if="!opened") Подробные условия доставки и оплаты товара
    p.accordion-text__button(@click='toogle' v-if="opened") Скрыть
</template>

<script>
export default {
  props: ['data'],  
  data() {
    return {
      opened: false,
    }
  },
  methods: {
    toogle() {
      this.opened = !this.opened
    }
  },
}
</script>

<style lang="scss" src='./accordion-text.scss'>
</style>