<template lang="pug">
  .vacancies-page
    .vacancies-page__section
      img.vacancies-page__background(src='/img/vacancies.png')
      .vacancies-page__top
        h2.vacancies-page__title Построй карьеру в компании Сталь ТД
        p.vacancies-page__text Руководство компании уделяет большое внимание обучению и постоянному повышению квалификации персонала. Навык и опыт сотрудников, полученные за годы продуктивной работы, позволяют компании и её клиентам быть уверенными в качестве оказываемых услуг и соответствии параметров продукции нормативной документации.
      .vacancies-page__bottom
        .vacancies-page__item
          h2.vacancies-page__title.small 40+
          p.vacancies-page__text.small Сотрудников
        .vacancies-page__item
          h2.vacancies-page__title.small 1 000 000 м²
          p.vacancies-page__text.small Реализовано продукции из стали
        .vacancies-page__item
          h2.vacancies-page__title.small 92 000 м²
          p.vacancies-page__text.small Продано сэндвич-панелей
        .vacancies-page__item
          h2.vacancies-page__title.small 50+
          p.vacancies-page__text.small Установлено заборов
        .vacancies-page__item
          h2.vacancies-page__title.small 10+
          p.vacancies-page__text.small Реализовано объектов
    .vacancies-page__vacancies
      h2.vacancies-page__headline Список актуальных вакансий
      .vacancies-page__tabs
        button.vacancies-page__tab(v-for="(tab, i) in cities" :key="i" type='button' @click='toggleTab(i)', :class='{ "active": index == i }') {{tab.city}} <span class='vacancies-page__span'>{{tab.vacancies.length}}</span>
      .vacancies-page__grid(v-for="(city, j) in cities" :key="j" v-if="index == j")
        nuxt-link.vacancies-page__link(:to='"/vacancies/" + vacancy.slug' v-for="vacancy in city.vacancies" :key="vacancy.id")
          p.vacancies-page__position {{vacancy.title}}
          p.vacancies-page__location {{vacancy.subtitle}}

</template>

<script>
export default {
  data() {
    return {
      index: 0,      
      cities: [
        {
          city: 'Москва',
          vacancies: [
            {
              title: 'Менеджер по продажам (стационарный)',
              subtitle: 'Работа в офисе',
              slug: 'slug'
            },
            {
              title: 'Менеджер по продажам (стационарный)',
              subtitle: 'Работа в офисе',
              slug: 'slug'
            },
            {
              title: 'Менеджер по продажам (стационарный)',
              subtitle: 'Работа в офисе',
              slug: 'slug'
            },
            {
              title: 'Менеджер по продажам (стационарный)',
              subtitle: 'Работа в офисе',
              slug: 'slug'
            },
          ]
        },
        {
          city: 'Санкт-Петербург',
          vacancies: [
            {
              title: 'Менеджер по продажам (стационарный)',
              subtitle: 'Работа в офисе',
              slug: 'slug'
            },            
          ]
        },
        {
          city: 'Псков',
          vacancies: [
            {
              title: 'Менеджер по продажам (2)',
              subtitle: 'Работа в офисе',
              slug: 'slug'
            },            
          ]
        },
      ]
    }
  },
  methods: {
    toggleTab(id) {
      this.index = id;
    },
  },
}
</script>

<style lang="scss" src='./vacancies-page.scss'>
  
</style>