.vacancies-page {
  $this: &;
  padding-top: 16px;
  &__section {
    position: relative;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 8px;
    width: 100%;
    height: 608px;
    @media (max-width: $m) {
      padding: 32px;
    }
    @media (max-width: $s) {
      padding: 24px;
      height: 576px;
    }
    @media (max-width: $xs) {
      padding: 16px;
    }
  }

  &__background {
    border-radius: 8px;
    object-fit: cover;
    position: absolute;
    filter: brightness(0.52);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &__top {
    z-index: 1;
    max-width: 60%;
    // padding-bottom: 300px;
    @media (max-width: $m) {
      max-width: 90%;
    }
    @media (max-width: $s) {
      max-width: 100%;      
    }
    @media (max-width: $xs) {
      max-height: 296px;
      overflow: hidden;
      // padding-bottom: 200px;
    }
    @media (max-width: $xxs) {
      // padding-bottom: 140px;
    }
  }

  &__bottom {
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
    gap: 40px;

    @media (max-width: $m) {
      gap: 32px;
    }

    @media (max-width: $xs) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;   
  }

  &__title {
    color: $color-text-contrast;
    @include fontSize(40, 48);
    font-weight: 700;
    @media (max-width: $m) {
      @include fontSize(32, 40);
    }
    @media (max-width: $s) {
      @include fontSize(24, 32);
    }

    &.small {
      @include fontSize(32, 40);
      @media (max-width: $m) {
        @include fontSize(24, 32);
      }
      @media (max-width: $s) {
        @include fontSize(20, 28);
      }
    }

    
  }
  &__text {
    color: $color-text-contrast;
    @include fontSize(16, 24);
    font-weight: 500;
    opacity: 0.8;
    margin-top: 16px;

    &.small {
      @include fontSize(14, 16);
      margin-top: 4px;
    }
  }

  &__tabs {
    display: flex;
    margin-top: 24px;
    @media (max-width: $xs) {
      margin-top: 16px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }

  &__tab {
    cursor: pointer;
    flex-shrink: 0;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: $color-bg-secondary;
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 500;
    transition: background-color 0.5s ease, color 0.5s ease;

    &.active {
      background-color: $color-accent-light-blue;
      color: $color-text-contrast;

      #{$this}__span {
        color: $color-text-contrast;
        opacity: 0.64;
      }

      &:hover {
        background-color: $color-accent-light-blue;
      }
    }

    &:hover {
      background-color: $color-bg-tertiary;
    }

    & + & {
      margin-left: 8px;
    }
  }

  &__span {
    color: $color-text-tertiary;
    @include fontSize(14, 20);
    font-weight: 500;
  }

  &__grid {
    padding-top: 48px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;

    @media (max-width: $s) {
      padding-top: 32px;
    }
    @media (max-width: $xs) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 8px;
    }
  }

  &__link {
    background-color: $color-bg-secondary;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    @media (max-width: $s) {
      padding: 16px;
    }

    &:hover {
      background-color: $color-bg-tertiary;
      #{$this}__position {
        color: $color-accent-light-blue;
      }
    }
  }

  &__position {
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 700;
    padding-bottom: 48px;
    transition: color 0.3s ease;
  }

  &__location {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;
  }

  &__headline {
    color: $color-text-heading;
    @include fontSize(32, 40);
    font-weight: 700;
    @media (max-width: $m) {
      @include fontSize(24, 32);
    }
    @media (max-width: $s) {
      @include fontSize(20, 28);
    }
  }

  &__vacancies {
    padding-top: 64px;
    @media (max-width: $xxs) {
      padding-top: 48px;
    }
  }
}
