<template lang="pug">
.anchor-tabs.container-small
  ul.anchor-tabs__list
    li.anchor-tabs__item(v-for='tab in tabs', :key='tab.id')
      .anchor-tabs__link(@click='link(tab.tabId)' ) {{ tab.title }}
      //- nuxt-link.anchor-tabs__link(:to='"#" + tab.tabId') {{ tab.title }}
</template>

<script>
export default {
  props: ['tabs'],
  data() {
    return {
      script: true,
    }
  },
  methods: {
    link(id) {     
      document.getElementById(`${id}`).scrollIntoView();
    }
  },
  mounted() {
    document.querySelector('.anchor-tabs__link').classList.add('nuxt-link-active')
    let sections = document.querySelectorAll('.js-anchor-tab')
    let tabArray = document.querySelectorAll('.anchor-tabs__link')
    let tabs = document.querySelector('.anchor-tabs')
    window.addEventListener('scroll', () => {      
      for (let i = 0; i < sections.length; i++) {        
        if (sections[i].offsetTop < document.documentElement.scrollTop) {
          for (let j = 0; j < tabArray.length; j++) {
            tabArray[j].classList.remove('nuxt-link-active')            
          }          
          tabArray[i].classList.add('nuxt-link-active')  
        } else {
          tabArray[i].classList.remove('nuxt-link-active') 
        }        
      }
      if (tabs.nextSibling.getBoundingClientRect().top <= 0) {
        tabs.classList.add('is-fixed')
        tabs.classList.remove('container-small')
        document.querySelector('.body').classList.add('padding-tabs')
        if (this.script) {
          // document.querySelector('.body').classList.add('padding-big')
        }
      } else {
        tabs.classList.add('container-small')
        tabs.classList.remove('is-fixed')
        document.querySelector('.body').classList.remove('padding-tabs')
        // document.querySelector('.body').classList.remove('padding-big')
      }
    })
    if (window.outerWidth < 960) {
      window.addEventListener('scroll', () => {
        let currentScroll = document.documentElement.scrollTop || document.body.scrollTop
        if (currentScroll > 100) {
          

          if (currentScroll > 0 && this.lastScroll <= currentScroll) {
            this.lastScroll = currentScroll
            tabs.classList.add('is-hidden')
          } else {
            setTimeout(() => {
              this.lastScroll = currentScroll
              tabs.classList.remove('is-hidden')
            }, 500)
          }
        }
      })
    }
  },
  beforeDestroy() {
    this.script = false
    document.querySelector('.body').classList.remove('padding-big')
  },
}
</script>



<style lang="scss" src='./anchor-tabs.scss'>
</style>