.anchor-tabs {
  margin-top: 24px;
  border-bottom: 1px solid $color-separator;
  transition: transform 0.5s ease, opacity 0.5s ease;
  

  @media (max-width: $s) {
    margin-top: 16px;
  }

  &.is-hidden {
    opacity: 0;
    transform: translateY(-64px) !important;
  }
  

  &.in-product {
    margin-top: 64px;
  }

  &.is-fixed {
    width: 100%;
    position: fixed !important;
    z-index: 54;
    margin-top: 0;
    top: 0;
    left: 0;
    border-top: 1px solid $color-separator;
    transform: translateY(72px);
    background-color: $color-bg-primary !important;
    padding: 14px 40px 0;
    padding-bottom: 0;
    box-shadow: 0 3px 5px $color-separator;    
    overflow-y: hidden;

    @media (max-width: $m) {      
      padding: 14px 32px 0;
    }
    @media (max-width: $s) {  
      padding: 14px 24px 0;    
      transform: translateY(64px);
      box-shadow: 0px 0px 12px rgba(11, 14, 20, 0.16);
    }
    @media (max-width: $xs) {      
      padding: 16px 16px 0;
      transform: translateY(56px);
    }
  }

  &__list {
    display: flex;
    @media (max-width: $m) {
      overflow-y: scroll;
      overflow-x: unset;
    }
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__item {
    display: flex;
    flex-shrink: 0;
    & + & {
      margin-left: 24px;
    }

    &:hover {
      & .anchor-tabs__link {
        color: $color-accent-light-blue;
      }
    }
  }

  &__link {
    color: $color-text-heading;
    @include fontSize(16, 24);
    font-weight: 600;
    transition: color 0.3s ease;
    padding-bottom: 13px;
    border-bottom: 3px solid $color-grey-0;
    cursor: pointer;

    &.nuxt-link-active {
      border-bottom: 3px solid $color-accent-light-blue;
      color: $color-accent-light-blue;
    }
  }
}
