<template lang="pug">
  .coating-selector
    .coating-selector__container
      .coating-selector__selects
        .coating-selector__item
          p.coating-selector__title Тип продукции
          SelectMultiple2(:data='data.select_product' placeholder='Выберите тип продукции')
          //- SelectMultiple(:data='data.select_product', v-model='selects.product' placeholder='Выберите тип продукции' style='--color: white')
        .coating-selector__item
          p.coating-selector__title Тип поверхности
          SelectMultiple2(:data='data.select_surface', v-model='selects.surface' placeholder='Выберите тип поверхности')
        .coating-selector__item
          p.coating-selector__title Гарантия
          SelectMultiple2(:data='data.select_guarantee', v-model='selects.guarantee' placeholder='Выберите срок гарантии')
      .coating-selector__colors
        p.coating-selector__title Цвет покрытия
        .coating-selector__list        
          ColorItem(v-for="color in data.colors" :key="color.id" :color='color' class='white')  
    .coating-selector__container
      .coating-selector__head(@click='toogleFilters')
        p.coating-selector__title(style='padding-bottom: 0;') Характеристики покрытия
        svg-icon.coating-selector__chevron(name='chevron-down')
      .coating-selector__body(v-show-slide:500:example-easing="opened" :class='{"unactive": !opened}')
        .coating-selector__filter
          .coating-selector__description
            svg-icon.coating-selector__icon.thickness(name='thickness-2')
            p.coating-selector__name Толщина            
            InfoIcon(text='Поимер не очень длинного, но и не очень короткого текста')
          .coating-selector__range
            RangeLinear
        .coating-selector__filter
          .coating-selector__description
            svg-icon.coating-selector__icon.circle(name='fake')
            p.coating-selector__name Коррозионная стойкость
            InfoIcon(text='Поимер не очень длинного, но и не очень короткого текста')
          .coating-selector__range
            RangeLinear
        .coating-selector__filter
          .coating-selector__description
            svg-icon.coating-selector__icon.circle(name='fake')
            p.coating-selector__name Цветостойскость
            InfoIcon(text='Поимер не очень длинного, но и не очень короткого текста')
          .coating-selector__range
            RangeLinear
        .coating-selector__filter
          .coating-selector__description
            svg-icon.coating-selector__icon.circle(name='fake')
            p.coating-selector__name Механическая устойчивость
            InfoIcon(text='Поимер не очень длинного, но и не очень короткого текста')
          .coating-selector__range
            RangeLinear
        .coating-selector__filter
          .coating-selector__description
            svg-icon.coating-selector__icon.zinc(name='zinc-coating')
            p.coating-selector__name Оцинковка
            InfoIcon(text='Поимер не очень длинного, но и не очень короткого текста')
          .coating-selector__range
            RangeLinear

</template>

<script>
export default {
  props: ['data'],
  data() {
    return {
      opened: true,
      selects: {
        product: '',
        surface: '',
        guarantee: ''
      } 
    }
  },
  methods: {
    toogleFilters() {
      this.opened = !this.opened
    }
  },
}
</script>

<style lang="scss" src='./coating-selector.scss'>
  
</style>