.coating-selector {
  $this: &;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media (max-width: $s) {
    margin-top: 24px;
  }

  &__container {
    background-color: $color-bg-secondary;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;

    &+&{
      padding: 0;
    }
    @media (max-width: $m) {
      padding: 32px;
    }
    @media (max-width: $s) {
      padding: 24px;
    }
    @media (max-width: $xs) {
      padding: 16px;
    }
  }

  &__selects {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    border-bottom: 1px solid $color-separator;
    padding-bottom: 27px;

    @media (max-width: $m) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 24px;
    }
    @media (max-width: $s) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      // padding-bottom: 19px;
    }    
  }

  &__list {
    // display: flex;
    // flex-wrap: wrap;
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    
    @media (max-width: $xl) {
      grid-template-columns: repeat(13, minmax(0, 1fr));
    }
    @media (max-width: $l) {
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
    @media (max-width: $m) {
      grid-template-columns: repeat(8, minmax(0, 1fr));
    }
    @media (max-width: $s) {
      display: flex;
      flex-wrap: nowrap;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(18, 24);
    font-weight: 600;
    padding-bottom: 12px;

    @media (max-width: $s) {
      @include fontSize(16, 24);
    }
  }

  &__colors {
    padding-top: 27px;
    @media (max-width: $s) {
      padding-top: 19px;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    cursor: pointer;
    @media (max-width: $m) {
      padding: 32px;
    }
    @media (max-width: $s) {
      padding: 24px;
    }
    @media (max-width: $xs) {
      padding: 16px;
    }
  }

  &__chevron {
    width: 24px;
    height: 24px;
  }

  &__body {
    padding: 0 40px 40px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    transition: padding 0.5s ease;

    &.unactive {     
      padding: 0 40px 0 40px;
    }

    @media (max-width: $m) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: 0 32px 32px;
      gap: 32px;
    }
    @media (max-width: $s) {
      padding: 0 24px 24px;
    }
    @media (max-width: $xs) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      padding: 0 16px 16px;
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
  }

  &__description {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
  }

  &__icon {
    width: 20px;
    height: 20px;

    &.thickness {
      fill: $color-icon-secondary;
    }

    &.circle {
      stroke: $color-icon-secondary;
      stroke-width: 1.5;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    &.zinc {
      fill-rule: evenodd;
      clip-rule: evenodd;
      fill: $color-icon-secondary;
    }
  }

  &__info {
    width: 20px;
    height: 20px;
    cursor: pointer;    
  }

 
  &__range {
    margin-left: 6px;    
  }
}
