<template lang="pug">
.product-labels
  .product-labels__item(
    v-for='label in labels',
    :key='label.id',
    :class='{ "discount": label.discount }'
  )  {{label.text}}
</template>

<script>
export default {
  props: ['labels'],
}
</script>

<style lang="scss" src='./product-labels.scss'>
</style>