.product-labels {
  display: flex;
  gap: 4px;

  &.column {
    flex-direction: column;
  }

  

  &__item {
    padding: 4px 12px;
    background-color: $color-accent-light-blue;
    color: $color-text-contrast;
    @include fontSize(12, 16);
    font-weight: 600;
    border-radius: 12px;
    width: fit-content;

    &.discount {
      background-color: $color-accent-red;
    }
  }
}