<template lang="pug">
.options
  button.options__button(@click='$emit("setActiveMesh", { forward: false })') Prev zone
  button.options__button(@click='$emit("setActiveMesh")') Next zone
  button.options__button(@click='$emit("toggleWireframes")') {{ showWireframes ? " Hide" : " Show" }} mesh
</template>
<script>
export default {
  props: ['showWireframes'],  
}
</script>

<style lang="scss">
.options {
  display: flex;
  //   flex-direction: column;
  position: absolute;
  top: 24px;
//   left: 24px;
  right: 24px;
  gap: 24px;

  &__button {    
    border-radius: 8px;
    width: 100px;
    height: 32px;
    background-color: $color-accent-light-blue;
    color: $color-text-contrast;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $color-accent-dark-blue;
    }
  }
}
</style>