<template lang="pug">
.personal-page
  .personal-page__section
    h2.personal-page__title Тип аккаунта
    Radio(text='Физическое лицо' value='individual' @change='toogleRadio("individual")')
    Radio(text='Юридическое лицо' value='entity' @change='toogleRadio("entity")')
  .personal-page__section
    h2.personal-page__title Контактные данные
    Input(type='text' subtitle='Имя' :value='individual.name')
    Input(type='phone' subtitle='Телефон' :value='individual.phone')
    Input(type='email' subtitle='Электронная почта' :value='individual.email')
  .personal-page__section(v-if="entitySelected")
    h2.personal-page__title Контрагент
    Input(type='text' subtitle='Юридическое название' :value='entity.name')
    .personal-page__row
      Input(type='number' inputmode='numeric' subtitle='ИНН' :value='entity.inn')
      Input(type='number' inputmode='numeric' subtitle='ОГРН' :value='entity.ogrn')
      Input(type='number' inputmode='numeric' subtitle='КПП' :value='entity.kpp')
    Input(type='text' subtitle='Юридический адрес' :value='entity.address')
    Input(type='text' subtitle='Адрес для документов' :value='entity.address_doc')
    Input(type='text' subtitle='Должность лица для договоров' :value='entity.position')
    Input(type='text' subtitle='ФИО лица для договоров' :value='entity.fio')
  .personal-page__section(v-if="entitySelected")
    h2.personal-page__title Банковские реквизиты    
    .personal-page__row.two
      Input(type='number' inputmode='numeric' subtitle='БИК' :value='entity.bik')
      Input(type='text' subtitle='Название банка' :value='entity.bank')
    Input(type='number' inputmode='numeric' subtitle='Корреспондентский счёт' :value='entity.kor')
    Input(type='number' inputmode='numeric' subtitle='Расчётный счёт' :value='entity.ras')
  .personal-page__section
    h2.personal-page__title Адрес доставки
    Input(type='text' subtitle='Адрес доставки' :value='individual.address')
  .personal-page__section
    button.personal-page__button(disabled) Сохранить изменения  
</template>

<script>
export default {
  data() {
    return {      
      entitySelected: true,
      individual: {
        name: 'Константин Константинов',
        phone: '+7 (984) 848-88-44',
        email: 'konstantin844@gmail.com',
        address: 'г. Смоленск, ул. Октябрьской Революции, д. 9к2'
      },
      entity: {
        name: 'ООО НП «Стальные человекоподобные роботы-пограничники»',
        inn: '373747282034',
        ogrn: '373747282034237387',
        kpp: '373747282034237387',
        address: 'г. Смоленск, ул. Октябрьской Революции, д. 9к2',
        address_doc: 'г. Смоленск, ул. Октябрьской Революции, д. 9к3',
        position: 'Генеральный директор',
        fio: 'Константин Константинов Константинович',
        bik: '373747282034',
        bank: 'Отделение Сбербанка в г. Санкт-Петербург № 3434',
        kor: '373747000000000000282034237387',
        ras: '3737470000003033333282034237387',
      }
    }
  },
  methods: {
    toogleRadio(value) {
      if (value == 'entity') {
        this.entitySelected = true
      } else {
        this.entitySelected = false
      }     
      
    }
  },
}
</script>





<style lang="scss" src='./personal-page.scss'>
</style>