.personal-page {
  &__section {
    max-width: 672px;
    padding-top: 32px;
    transition: all 0.6s ease;
    & + & {
      padding-top: 48px;
    }
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: $s) {
      padding-top: 24px;
      & + & {
        padding-top: 32px;
      }
    }
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(18, 24);
    font-weight: 600;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    @media (max-width: $xs) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    &.two {
      grid-template-columns: 1fr 3fr;
      @media (max-width: $xs) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
  }

  &__button {
    padding: 16px 20px;
    background-color: $color-accent-dark-blue;
    border-radius: 4px;
    color: $color-text-contrast;
    @include fontSize(16, 24);
    font-weight: 600;
    display: block;
    width: fit-content;

    &:hover {
      background-color: $color-accent-light-blue;
    }

    &:disabled {
      filter: grayscale(1);
      opacity: 0.3;
      pointer-events: none;
    }
  }
}
