<template lang="pug">
.map(ref='map')  
</template>

<script>

export default {  
  data() {
    return {     
      yandexMapScript: null,
      mapSettings: {
        apiKey: '629a5d68-b12d-4684-92d9-54465b70d500',
        center: [59.993707, 30.244658],
        points: [
          {
            coords: [59.993617, 30.244631],
            type: 'office'
          },
          {
            coords: [59.819647, 30.509783],
            type: 'warehouse'
          }
        ],
        zoom: 15
      }
    }
    
  },
  mounted () {
    this.$nuxt.$on('mapPanTo', this.mapPanTo)
    window.ymaps = null

    this.yandexMapScript = document.createElement('SCRIPT')
    this.yandexMapScript.setAttribute('src', `https://api-maps.yandex.ru/2.1/?apikey=${this.mapSettings.apiKey}&lang=ru_RU`)
    document.head.appendChild(this.yandexMapScript)

    const renderPoints = (point = [59.993617, 30.244631]) => {
      window.customYmap.geoObjects.add(
        new window.ymaps.Placemark(point.coords, {}, {
          iconLayout: 'default#image',
          iconImageHref: `/icons/oval.svg`,
          iconImageSize: [64, 64],
          iconImageOffset: [-32, -64],
          hideIconOnBalloonOpen: false,
          balloonShadow: false,
          balloonPanelMaxMapArea: 0
        })
      )
      window.customYmap.geoObjects.add('click', function () {alert('О, событие!')});
    }

    

    this.yandexMapScript.onload = () => {
      window.ymaps.ready(() => {
        window.customYmap = new window.ymaps.Map(this.$refs.map, {
          center: this.mapSettings.center,
          zoom: this.mapSettings.zoom,
          controls: ['zoomControl']
        })

        window.customYmap.behaviors.disable('scrollZoom')

        this.mapSettings.points.forEach((point) => {
          renderPoints(point)
        })

        window.customYmap.setBounds(window.customYmap.geoObjects.getBounds(), { checkZoomRange: true, zoomMargin: 9 })
      })
    }
  },

  beforeDestroy () {
    !!window.customYmap && window.customYmap.destroy()
  },

  methods: {
    mapPanTo (coords) {
      console.log(coords);
      this.$refs.map.scrollIntoView({ behavior: 'smooth', block: 'center' })

      window.customYmap.setZoom(this.mapSettings.zoom)

      setTimeout(() => {
        window.customYmap.panTo(coords, {
          duration: 600
        })
      }, 400)
    }
  }
}
</script>

<style src="./map.scss" lang="scss">
</style>