<template lang="pug">
  .page__content
    .container.is-cart
      Cart(:data='data')   
</template>

<script>
export default {
  layout: 'cart',
  data() {
    return {
      data: {
        products: [
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            specifications: 'Полиэстер • RR 23 • 0,3 мм',
            badge: 'in-stock',
            quantity: 250,
            price: 400
          },
          {
            image: '/img/product-card-2.png',
            title: 'Саморез по дереву HD 4,0×45 мм',
            quantity: 250,
            price: 60
          },
          {
            image: '/img/product-card-1.png',
            title: 'Металлическая водосточная система Foramina (МП Престиж)',
            specifications: 'МП Престиж D125/100 • RAL 3005',
            quantity: 2,
            price: 60,
            complect: [
              {
                image: '/img/subproduct-1.png',
                title: 'Держатель желоба карнизный D125*132 усил. 3 мм',
                quantity: 1,
                price: 500
              },
              {
                image: '/img/subproduct-1.png',
                title: 'Держатель желоба карнизный D125*132 усил. 3 мм',
                quantity: 1,
                price: 500
              },
              {
                image: '/img/subproduct-1.png',
                title: 'Держатель желоба карнизный D125*132 усил. 3 мм',
                quantity: 1,
                price: 500
              },
              {
                image: '/img/subproduct-1.png',
                title: 'Держатель желоба карнизный D125*132 усил. 3 мм',
                quantity: 1,
                price: 500
              }
            ]
          }
        ],
        services: [
          {
            image: '/img/service-card-2.svg',
            title: 'Монтаж сэдвич-панелей'
          },
          {
            image: '/img/service-card-3.svg',
            title: 'Установка заборов'
          },
          {
            image: '/img/service-card-4.svg',
            title: 'Монтаж металлоконструкций'
          },
          {
            image: '/img/service-card-1.svg',
            title: 'Порошковая покраска'
          },
          {
            image: '/img/service-card-5.svg',
            title: 'Монтаж фасадов'
          },
          {
            image: '/img/service-card-6.svg',
            title: 'Монтаж кровли'
          },
        ]
      }
    }
  },
}
</script>