<template lang="pug">
.page__content
  .container
    Breadcrumbs(:data='breadcrumbs')
    Headline(title='Каталог цветов RAL/RR')
    ColorsPage
</template>

<script>
export default {
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Справочник',
        },
      ]

      return breadcrumbs
    },
  },
}
</script>