<template lang="pug">
.page__content
  .page__container(v-if='true') 
    .container
      Headline(title='Сравнение товаров') 
      .tabs
        .tabs__item(
          @click='toggleCategory(0)',
          :class='{ active: categoryId == 0 }'
        ) Все товары <span class='tabs__span'>{{ products.length }}</span>
        button.tabs__item(
          v-for='(category, index) in categories',
          :key='index',
          :class='{ active: categoryId == category.id }',
          @click='toggleCategory(category.id)'
        ) {{ category.title }} <span class='tabs__span'>{{ category.quantity }}</span>
    .filters-section
      .container
        .filters-section__top.is-compare
          .filters-section__container
            Toggle(text='Показывать только различия')
          .filters-section__container
            ClearButton
    .compare
      .compare__desktop
        CompareSection(:products='filteredProducts')
      .compare__mobile
        CompareMobile(:products='products')
        CompareMobile(:products='products' class='none-toggle')
      .container.compare__mobile
        .compare-mobile__options
          .compare-mobile__option-item
            .compare-mobile__option-head(@click='toogleSpecification')
              p.compare-mobile__text.big Характеристики покрытия
              svg-icon.compare-mobile__chevron(name='chevron-down')
            .compare-mobile__option
              p.compare-mobile__text.grey Покрытие
            .compare-mobile__option
              p.compare-mobile__text.grey Цвет покрытия        
            .compare-mobile__option
              p.compare-mobile__text.grey Плотность цинкования
            .compare-mobile__option
              p.compare-mobile__text.grey Толщина покрытия
            .compare-mobile__option
              p.compare-mobile__text.grey Гарантия
            .compare-mobile__option
              p.compare-mobile__text.grey Коррозионная стойкость
          .compare-mobile__option-item
            .compare-mobile__option-head(@click='toogleSpecification')
              p.compare-mobile__text.big Характеристики товара
              svg-icon.compare-mobile__chevron(name='chevron-down')
            .compare-mobile__option
              p.compare-mobile__text.grey Толщина
            .compare-mobile__option
              p.compare-mobile__text.grey Марка  
            .compare-mobile__option
              p.compare-mobile__text.grey Область применения  
  .page__container(v-else)
    .container
      Headline(title='Сравнение товаров')
      EmptyPage(:data='empty') 
</template>
<script>
export default {
  data() {
    return {
      categoryId: 0,
      empty: {
        icon: '/icons/sales.svg',
        title: 'У вас нет ни одного списка сравнения',
        text: 'Воспользуйте каталогом товаров или поиском, чтобы найти и сохранить товары, которые вам понравятся',
      },
      categories: [
        {
          title: 'Профнастил',
          quantity: '2',
          id: '234',
        },
        {
          title: 'Кровельные материалы',
          quantity: '1',
          id: '333',
        },
      ],
      products: [
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          categoryId: 234,
          subtext: 'Полиэстер • RR 23 • 0,3 мм',
          price: 84844,
          specifications_list: [
            {
              title: 'Характеристики покрытия',
              specifications: [
                {
                  name: 'Покрытие',
                  value: '0,3 мм',
                },
                {
                  name: 'Цвет покрытия',
                  hex: '#26353F',                  
                  value: 'RR 23 (мокрый асфальт)',
                },
                {
                  name: 'Плотность цинкования',
                  value: 'Фасад, забор',
                },
                {
                  name: 'Толщина покрытия',
                  value: '0,5 м — 8 м',
                },
                {
                  name: 'Гарантия',
                  value: '1200 мм',
                },
                {
                  name: 'Коррозионная стойкость',                  
                  quantity: 3
                },
              ],
            },
            {
              title: 'Характеристики товара',
              specifications: [
                {
                  name: 'Толщина',
                  value: '0,3 мм',
                },
                {
                  name: 'Марка',
                  value: 'Фасад, забор',
                },
                {
                  name: 'Область применения',
                  value: 'Фасад, забор',
                },
              ],
            },
          ],
        },        
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          categoryId: 234,
          subtext: 'Полиэстер • RR 23 • 0,3 мм',
          price: 84844,
          specifications_list: [
            {
              title: 'Характеристики покрытия',
              specifications: [
                {
                  name: 'Покрытие',
                  value: '0,3 мм',
                },
                {
                  name: 'Цвет покрытия',
                  hex: '#26353F',                  
                  value: 'RR 23 (мокрый асфальт)',
                },
                {
                  name: 'Плотность цинкования',
                  value: 'Фасад, забор',
                },
                {
                  name: 'Толщина покрытия',
                  value: '0,5 м — 8 м',
                },
                {
                  name: 'Гарантия',
                  value: '1200 мм',
                },
                {
                  name: 'Коррозионная стойкость',                  
                  quantity: 3
                },
              ],
            },
            {
              title: 'Характеристики товара',
              specifications: [
                {
                  name: 'Толщина',
                  value: '0,3 мм',
                },
                {
                  name: 'Марка',
                  value: 'Фасад, забор',
                },
                {
                  name: 'Область применения',
                  value: 'Фасад, забор',
                },
              ],
            },
          ],
        },        
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          categoryId: 234,
          subtext: 'Полиэстер • RR 23 • 0,3 мм',
          price: 84844,
          specifications_list: [
            {
              title: 'Характеристики покрытия',
              specifications: [
                {
                  name: 'Покрытие',
                  value: '0,3 мм',
                },
                {
                  name: 'Цвет покрытия',
                  hex: '#26353F',                  
                  value: 'RR 23 (мокрый асфальт)',
                },
                {
                  name: 'Плотность цинкования',
                  value: 'Фасад, забор',
                },
                {
                  name: 'Толщина покрытия',
                  value: '0,5 м — 8 м',
                },
                {
                  name: 'Гарантия',
                  value: '1200 мм',
                },
                {
                  name: 'Коррозионная стойкость',                  
                  quantity: 3
                },
              ],
            },
            {
              title: 'Характеристики товара',
              specifications: [
                {
                  name: 'Толщина',
                  value: '0,3 мм',
                },
                {
                  name: 'Марка',
                  value: 'Фасад, забор',
                },
                {
                  name: 'Область применения',
                  value: 'Фасад, забор',
                },
              ],
            },
          ],
        },        
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          categoryId: 234,
          subtext: 'Полиэстер • RR 23 • 0,3 мм',
          price: 84844,
          specifications_list: [
            {
              title: 'Характеристики покрытия',
              specifications: [
                {
                  name: 'Покрытие',
                  value: '0,3 мм',
                },
                {
                  name: 'Цвет покрытия',
                  hex: '#26353F',                  
                  value: 'RR 23 (мокрый асфальт)',
                },
                {
                  name: 'Плотность цинкования',
                  value: 'Фасад, забор',
                },
                {
                  name: 'Толщина покрытия',
                  value: '0,5 м — 8 м',
                },
                {
                  name: 'Гарантия',
                  value: '1200 мм',
                },
                {
                  name: 'Коррозионная стойкость',                  
                  quantity: 3
                },
              ],
            },
            {
              title: 'Характеристики товара',
              specifications: [
                {
                  name: 'Толщина',
                  value: '0,3 мм',
                },
                {
                  name: 'Марка',
                  value: 'Фасад, забор',
                },
                {
                  name: 'Область применения',
                  value: 'Фасад, забор',
                },
              ],
            },
          ],
        },        
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          categoryId: 234,
          subtext: 'Полиэстер • RR 23 • 0,3 мм',
          price: 84844,
          specifications_list: [
            {
              title: 'Характеристики покрытия',
              specifications: [
                {
                  name: 'Покрытие',
                  value: '0,3 мм',
                },
                {
                  name: 'Цвет покрытия',
                  hex: '#26353F',                  
                  value: 'RR 23 (мокрый асфальт)',
                },
                {
                  name: 'Плотность цинкования',
                  value: 'Фасад, забор',
                },
                {
                  name: 'Толщина покрытия',
                  value: '0,5 м — 8 м',
                },
                {
                  name: 'Гарантия',
                  value: '1200 мм',
                },
                {
                  name: 'Коррозионная стойкость',                  
                  quantity: 3
                },
              ],
            },
            {
              title: 'Характеристики товара',
              specifications: [
                {
                  name: 'Толщина',
                  value: '0,3 мм',
                },
                {
                  name: 'Марка',
                  value: 'Фасад, забор',
                },
                {
                  name: 'Область применения',
                  value: 'Фасад, забор',
                },
              ],
            },
          ],
        },        
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          categoryId: 234,
          subtext: 'Полиэстер • RR 23 • 0,3 мм',
          price: 84844,
          specifications_list: [
            {
              title: 'Характеристики покрытия',
              specifications: [
                {
                  name: 'Покрытие',
                  value: '0,3 мм',
                },
                {
                  name: 'Цвет покрытия',
                  hex: '#26353F',                  
                  value: 'RR 23 (мокрый асфальт)',
                },
                {
                  name: 'Плотность цинкования',
                  value: 'Фасад, забор',
                },
                {
                  name: 'Толщина покрытия',
                  value: '0,5 м — 8 м',
                },
                {
                  name: 'Гарантия',
                  value: '1200 мм',
                },
                {
                  name: 'Коррозионная стойкость',                  
                  quantity: 3
                },
              ],
            },
            {
              title: 'Характеристики товара',
              specifications: [
                {
                  name: 'Толщина',
                  value: '0,3 мм',
                },
                {
                  name: 'Марка',
                  value: 'Фасад, забор',
                },
                {
                  name: 'Область применения',
                  value: 'Фасад, забор',
                },
              ],
            },
          ],
        },        
      ],
    }
  },
  methods: {
    toggleCategory(id) {
      console.log(id);
      this.categoryId = id
    },
  },
  computed: {
    filteredProducts() {
      if (!this.categoryId) {
        return this.products
      }

      return this.products.filter((product) => {
        return this.categoryId == product.categoryId
      })
    },
  },
  created() {
    this.categoryId = this.paramsId.id ?? 0
  }, 
  asyncData({params}) {
    const paramsId = params
    return {paramsId}
  },
}
</script>

<style lang="scss">
@import '../components/FiltersSection/filters-section.scss';
@import '../components/Tabs/tabs.scss';

.compare {
  position: relative;
}

.compare__desktop {
  @media (max-width: $xs) {
    display: none;
  }
}
.compare__mobile {  
  display: none;
  width: 100%;

  @media (max-width: $xs) {
    display: flex;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // gap: 1px;
    // background-color: $color-separator;
  }
  
}
</style>
