<template lang="pug">
.page__content
  Constructor(:data='data')
</template>

<script>
export default {
  layout: 'constructor-layout',
  data() {
    return {
      data: {
        tabs: [
          {
            icon: 'roof',
            title: 'Кровля'
          },
          {
            icon: 'siding',
            title: 'Фасад'
          },
          {
            icon: 'drain',
            title: 'Водосток'
          },
          {
            icon: 'isolation',
            title: 'Цоколь'
          },
          {
            icon: 'fence',
            title: 'Ограждение'
          },
          {
            icon: 'additional',
            title: 'Доборники'
          },
        ],
        filters: [
          {
            title: 'Кровля',
            icon: 'roof',
            items: [
              {
                title: 'Тип кровли',
                options: [
                  {
                    text: 'Металлочерепица',
                    name: '111',
                    value: 'Металлочерепица'
                  },
                  {
                    text: 'Фальцевая кровля',
                    name: '111',
                    value: 'Фальцевая кровля'
                  },
                  {
                    text: 'Профнастил',
                    name: '111',
                    value: 'Профнастил'
                  },
                  {
                    text: 'Композитная черепица',
                    name: '111',
                    value: 'Композитная черепица'
                  },
                ]
              },
              {
                title: 'Профиль',
                options: [
                  {
                    text: 'Classic',
                    name: 'profile',
                    value: 'Classic'
                  },
                  {
                    text: 'Kredo',
                    name: 'profile',
                    value: 'Kredo'
                  },
                  {
                    text: 'Супермонтеррей',
                    name: 'profile',
                    value: 'Супермонтеррей'
                  },
                  {
                    text: 'Макси',
                    name: 'profile',
                    value: 'Макси'
                  },
                  {
                    text: 'Kvinta Plus',
                    name: 'profile',
                    value: 'Kvinta Plus'
                  },
                  {
                    text: 'Монтерроса',
                    name: 'profile',
                    value: 'Монтерроса'
                  },
                ]
              },
              {
                title: 'Профиль2',
                options: [
                  {
                    text: 'Classic',
                    name: 'profile',
                    value: 'Classic'
                  },
                  {
                    text: 'Kredo',
                    name: 'profile',
                    value: 'Kredo'
                  },
                  {
                    text: 'Супермонтеррей',
                    name: 'profile',
                    value: 'Супермонтеррей'
                  },
                  {
                    text: 'Макси',
                    name: 'profile',
                    value: 'Макси'
                  },
                  {
                    text: 'Kvinta Plus',
                    name: 'profile',
                    value: 'Kvinta Plus'
                  },
                  {
                    text: 'Монтерроса',
                    name: 'profile',
                    value: 'Монтерроса'
                  },
                ]
              },
              {
                title: 'Покрытие',
                options: [
                  {
                    text: 'Полиэстер',
                    name: 'coating',
                    value: 'Полиэстер'
                  },
                  {
                    text: 'Polyester Matt',
                    name: 'coating',
                    value: 'Polyester Matt'
                  },
                  {
                    text: 'Satin',
                    name: 'coating',
                    value: 'Satin'
                  },
                  {
                    text: 'Satin Matt',
                    name: 'coating',
                    value: 'Satin Matt'
                  },
                  {
                    text: 'Drap',
                    name: 'coating',
                    value: 'Drap'
                  },
                  {
                    text: 'Drap',
                    name: 'coating',
                    value: 'Drap'
                  },
                  {
                    text: 'Стальной бархат',
                    name: 'coating',
                    value: 'Стальной бархат'
                  },
                  {
                    text: 'PurPro Matt 180',
                    name: 'coating',
                    value: 'PurPro Matt 180'
                  },
                  {
                    text: 'PurLite Matt',
                    name: 'coating',
                    value: 'PurLite Matt'
                  },
                  {
                    text: 'Colority Print',
                    name: 'coating',
                    value: 'Colority Print'
                  },
                  {
                    text: 'Стальной бархат',
                    name: 'coating',
                    value: 'Стальной бархат'
                  },
                  {
                    text: 'PurPro Matt 180',
                    name: 'coating',
                    value: 'PurPro Matt 180'
                  },
                  {
                    text: 'PurPro Matt 180',
                    name: 'coating',
                    value: 'PurPro Matt 180'
                  },
                  {
                    text: 'PurLite Matt',
                    name: 'coating',
                    value: 'PurLite Matt'
                  },
                  {
                    text: 'Colority Print',
                    name: 'coating',
                    value: 'Colority Print'
                  },
                ]
              },
              {
                title: 'Цвет',
                options: [
                  {
                    hex: '#F8CE9A',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#FEE9C1',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#F7CB3C',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#EB6A0A',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#F8351B',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#8F000C',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#6D001B',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#571216',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#79000E',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#000064',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#021F68',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#0160B2',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#1D8770',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#2C7E28',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#0E432F',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#9DC799',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#0F4A27',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#878787',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#6F6969',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#2B2A36',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#902016',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#48241B',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#E3E7DC',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#FFFFFF',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#979AA7',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#F0ECE2',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#27353F',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#322D2C',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                ]
              }
            ]
          },
          {
            title: 'Фасад',
            icon: 'siding',
            items: [
              {
                title: 'Тип кровли',
                options: [
                  {
                    text: 'Металлочерепица',
                    name: '111',
                    value: 'Металлочерепица'
                  },
                  {
                    text: 'Фальцевая кровля',
                    name: '111',
                    value: 'Фальцевая кровля'
                  },
                  {
                    text: 'Профнастил',
                    name: '111',
                    value: 'Профнастил'
                  },
                  {
                    text: 'Композитная черепица',
                    name: '111',
                    value: 'Композитная черепица'
                  },
                ]
              },
              {
                title: 'Профиль',
                options: [
                  {
                    text: 'Classic',
                    name: 'profile',
                    value: 'Classic'
                  },
                  {
                    text: 'Kredo',
                    name: 'profile',
                    value: 'Kredo'
                  },
                  {
                    text: 'Супермонтеррей',
                    name: 'profile',
                    value: 'Супермонтеррей'
                  },
                  {
                    text: 'Макси',
                    name: 'profile',
                    value: 'Макси'
                  },
                  {
                    text: 'Kvinta Plus',
                    name: 'profile',
                    value: 'Kvinta Plus'
                  },
                  {
                    text: 'Монтерроса',
                    name: 'profile',
                    value: 'Монтерроса'
                  },
                ]
              },
              {
                title: 'Профиль2',
                options: [
                  {
                    text: 'Classic',
                    name: 'profile',
                    value: 'Classic'
                  },
                  {
                    text: 'Kredo',
                    name: 'profile',
                    value: 'Kredo'
                  },
                  {
                    text: 'Супермонтеррей',
                    name: 'profile',
                    value: 'Супермонтеррей'
                  },
                  {
                    text: 'Макси',
                    name: 'profile',
                    value: 'Макси'
                  },
                  {
                    text: 'Kvinta Plus',
                    name: 'profile',
                    value: 'Kvinta Plus'
                  },
                  {
                    text: 'Монтерроса',
                    name: 'profile',
                    value: 'Монтерроса'
                  },
                ]
              },
              {
                title: 'Покрытие',
                options: [
                  {
                    text: 'Полиэстер',
                    name: 'coating',
                    value: 'Полиэстер'
                  },
                  {
                    text: 'Polyester Matt',
                    name: 'coating',
                    value: 'Polyester Matt'
                  },
                  {
                    text: 'Satin',
                    name: 'coating',
                    value: 'Satin'
                  },
                  {
                    text: 'Satin Matt',
                    name: 'coating',
                    value: 'Satin Matt'
                  },
                  {
                    text: 'Drap',
                    name: 'coating',
                    value: 'Drap'
                  },
                  {
                    text: 'Drap',
                    name: 'coating',
                    value: 'Drap'
                  },
                  {
                    text: 'Стальной бархат',
                    name: 'coating',
                    value: 'Стальной бархат'
                  },
                  {
                    text: 'PurPro Matt 180',
                    name: 'coating',
                    value: 'PurPro Matt 180'
                  },
                  {
                    text: 'PurLite Matt',
                    name: 'coating',
                    value: 'PurLite Matt'
                  },
                  {
                    text: 'Colority Print',
                    name: 'coating',
                    value: 'Colority Print'
                  },
                  {
                    text: 'Стальной бархат',
                    name: 'coating',
                    value: 'Стальной бархат'
                  },
                  {
                    text: 'PurPro Matt 180',
                    name: 'coating',
                    value: 'PurPro Matt 180'
                  },
                  {
                    text: 'PurPro Matt 180',
                    name: 'coating',
                    value: 'PurPro Matt 180'
                  },
                  {
                    text: 'PurLite Matt',
                    name: 'coating',
                    value: 'PurLite Matt'
                  },
                  {
                    text: 'Colority Print',
                    name: 'coating',
                    value: 'Colority Print'
                  },
                ]
              },
              {
                title: 'Цвет',
                options: [
                  {
                    hex: '#F8CE9A',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#FEE9C1',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#F7CB3C',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#EB6A0A',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#F8351B',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#8F000C',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#6D001B',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#571216',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#79000E',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#000064',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#021F68',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#0160B2',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#1D8770',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#2C7E28',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#0E432F',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#9DC799',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#0F4A27',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#878787',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#6F6969',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#2B2A36',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#902016',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#48241B',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#E3E7DC',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#FFFFFF',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#979AA7',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#F0ECE2',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#27353F',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#322D2C',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                ]
              }
            ]
          },
          {
            title: 'Водосток',
            icon: 'drain',
            items: [
              {
                title: 'Тип кровли',
                options: [
                  {
                    text: 'Металлочерепица',
                    name: '111',
                    value: 'Металлочерепица'
                  },
                  {
                    text: 'Фальцевая кровля',
                    name: '111',
                    value: 'Фальцевая кровля'
                  },
                  {
                    text: 'Профнастил',
                    name: '111',
                    value: 'Профнастил'
                  },
                  {
                    text: 'Композитная черепица',
                    name: '111',
                    value: 'Композитная черепица'
                  },
                ]
              },
              {
                title: 'Профиль',
                options: [
                  {
                    text: 'Classic',
                    name: 'profile',
                    value: 'Classic'
                  },
                  {
                    text: 'Kredo',
                    name: 'profile',
                    value: 'Kredo'
                  },
                  {
                    text: 'Супермонтеррей',
                    name: 'profile',
                    value: 'Супермонтеррей'
                  },
                  {
                    text: 'Макси',
                    name: 'profile',
                    value: 'Макси'
                  },
                  {
                    text: 'Kvinta Plus',
                    name: 'profile',
                    value: 'Kvinta Plus'
                  },
                  {
                    text: 'Монтерроса',
                    name: 'profile',
                    value: 'Монтерроса'
                  },
                ]
              },
              {
                title: 'Профиль2',
                options: [
                  {
                    text: 'Classic',
                    name: 'profile',
                    value: 'Classic'
                  },
                  {
                    text: 'Kredo',
                    name: 'profile',
                    value: 'Kredo'
                  },
                  {
                    text: 'Супермонтеррей',
                    name: 'profile',
                    value: 'Супермонтеррей'
                  },
                  {
                    text: 'Макси',
                    name: 'profile',
                    value: 'Макси'
                  },
                  {
                    text: 'Kvinta Plus',
                    name: 'profile',
                    value: 'Kvinta Plus'
                  },
                  {
                    text: 'Монтерроса',
                    name: 'profile',
                    value: 'Монтерроса'
                  },
                ]
              },
              {
                title: 'Покрытие',
                options: [
                  {
                    text: 'Полиэстер',
                    name: 'coating',
                    value: 'Полиэстер'
                  },
                  {
                    text: 'Polyester Matt',
                    name: 'coating',
                    value: 'Polyester Matt'
                  },
                  {
                    text: 'Satin',
                    name: 'coating',
                    value: 'Satin'
                  },
                  {
                    text: 'Satin Matt',
                    name: 'coating',
                    value: 'Satin Matt'
                  },
                  {
                    text: 'Drap',
                    name: 'coating',
                    value: 'Drap'
                  },
                  {
                    text: 'Drap',
                    name: 'coating',
                    value: 'Drap'
                  },
                  {
                    text: 'Стальной бархат',
                    name: 'coating',
                    value: 'Стальной бархат'
                  },
                  {
                    text: 'PurPro Matt 180',
                    name: 'coating',
                    value: 'PurPro Matt 180'
                  },
                  {
                    text: 'PurLite Matt',
                    name: 'coating',
                    value: 'PurLite Matt'
                  },
                  {
                    text: 'Colority Print',
                    name: 'coating',
                    value: 'Colority Print'
                  },
                  {
                    text: 'Стальной бархат',
                    name: 'coating',
                    value: 'Стальной бархат'
                  },
                  {
                    text: 'PurPro Matt 180',
                    name: 'coating',
                    value: 'PurPro Matt 180'
                  },
                  {
                    text: 'PurPro Matt 180',
                    name: 'coating',
                    value: 'PurPro Matt 180'
                  },
                  {
                    text: 'PurLite Matt',
                    name: 'coating',
                    value: 'PurLite Matt'
                  },
                  {
                    text: 'Colority Print',
                    name: 'coating',
                    value: 'Colority Print'
                  },
                ]
              },
              {
                title: 'Цвет',
                options: [
                  {
                    hex: '#F8CE9A',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#FEE9C1',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#F7CB3C',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#EB6A0A',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#F8351B',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#8F000C',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#6D001B',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#571216',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#79000E',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#000064',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#021F68',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#0160B2',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#1D8770',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#2C7E28',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#0E432F',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#9DC799',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#0F4A27',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#878787',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#6F6969',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#2B2A36',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#902016',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#48241B',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#E3E7DC',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#FFFFFF',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#979AA7',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#F0ECE2',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#27353F',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#322D2C',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                ]
              }
            ]
          },
          {
            title: 'Цоколь',
            icon: 'isolation',
            items: [
              {
                title: 'Тип кровли',
                options: [
                  {
                    text: 'Металлочерепица',
                    name: '111',
                    value: 'Металлочерепица'
                  },
                  {
                    text: 'Фальцевая кровля',
                    name: '111',
                    value: 'Фальцевая кровля'
                  },
                  {
                    text: 'Профнастил',
                    name: '111',
                    value: 'Профнастил'
                  },
                  {
                    text: 'Композитная черепица',
                    name: '111',
                    value: 'Композитная черепица'
                  },
                ]
              },
              {
                title: 'Профиль',
                options: [
                  {
                    text: 'Classic',
                    name: 'profile',
                    value: 'Classic'
                  },
                  {
                    text: 'Kredo',
                    name: 'profile',
                    value: 'Kredo'
                  },
                  {
                    text: 'Супермонтеррей',
                    name: 'profile',
                    value: 'Супермонтеррей'
                  },
                  {
                    text: 'Макси',
                    name: 'profile',
                    value: 'Макси'
                  },
                  {
                    text: 'Kvinta Plus',
                    name: 'profile',
                    value: 'Kvinta Plus'
                  },
                  {
                    text: 'Монтерроса',
                    name: 'profile',
                    value: 'Монтерроса'
                  },
                ]
              },
              {
                title: 'Профиль2',
                options: [
                  {
                    text: 'Classic',
                    name: 'profile',
                    value: 'Classic'
                  },
                  {
                    text: 'Kredo',
                    name: 'profile',
                    value: 'Kredo'
                  },
                  {
                    text: 'Супермонтеррей',
                    name: 'profile',
                    value: 'Супермонтеррей'
                  },
                  {
                    text: 'Макси',
                    name: 'profile',
                    value: 'Макси'
                  },
                  {
                    text: 'Kvinta Plus',
                    name: 'profile',
                    value: 'Kvinta Plus'
                  },
                  {
                    text: 'Монтерроса',
                    name: 'profile',
                    value: 'Монтерроса'
                  },
                ]
              },
              {
                title: 'Покрытие',
                options: [
                  {
                    text: 'Полиэстер',
                    name: 'coating',
                    value: 'Полиэстер'
                  },
                  {
                    text: 'Polyester Matt',
                    name: 'coating',
                    value: 'Polyester Matt'
                  },
                  {
                    text: 'Satin',
                    name: 'coating',
                    value: 'Satin'
                  },
                  {
                    text: 'Satin Matt',
                    name: 'coating',
                    value: 'Satin Matt'
                  },
                  {
                    text: 'Drap',
                    name: 'coating',
                    value: 'Drap'
                  },
                  {
                    text: 'Drap',
                    name: 'coating',
                    value: 'Drap'
                  },
                  {
                    text: 'Стальной бархат',
                    name: 'coating',
                    value: 'Стальной бархат'
                  },
                  {
                    text: 'PurPro Matt 180',
                    name: 'coating',
                    value: 'PurPro Matt 180'
                  },
                  {
                    text: 'PurLite Matt',
                    name: 'coating',
                    value: 'PurLite Matt'
                  },
                  {
                    text: 'Colority Print',
                    name: 'coating',
                    value: 'Colority Print'
                  },
                  {
                    text: 'Стальной бархат',
                    name: 'coating',
                    value: 'Стальной бархат'
                  },
                  {
                    text: 'PurPro Matt 180',
                    name: 'coating',
                    value: 'PurPro Matt 180'
                  },
                  {
                    text: 'PurPro Matt 180',
                    name: 'coating',
                    value: 'PurPro Matt 180'
                  },
                  {
                    text: 'PurLite Matt',
                    name: 'coating',
                    value: 'PurLite Matt'
                  },
                  {
                    text: 'Colority Print',
                    name: 'coating',
                    value: 'Colority Print'
                  },
                ]
              },
              {
                title: 'Цвет',
                options: [
                  {
                    hex: '#F8CE9A',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#FEE9C1',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#F7CB3C',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#EB6A0A',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#F8351B',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#8F000C',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#6D001B',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#571216',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#79000E',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#000064',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#021F68',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#0160B2',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#1D8770',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#2C7E28',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#0E432F',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#9DC799',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#0F4A27',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#878787',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#6F6969',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#2B2A36',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#902016',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#48241B',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#E3E7DC',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#FFFFFF',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#979AA7',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#F0ECE2',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#27353F',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#322D2C',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                ]
              }
            ]
          },
          {
            title: 'Ограждение',
            icon: 'fence',
            items: [
              {
                title: 'Тип кровли',
                options: [
                  {
                    text: 'Металлочерепица',
                    name: '111',
                    value: 'Металлочерепица'
                  },
                  {
                    text: 'Фальцевая кровля',
                    name: '111',
                    value: 'Фальцевая кровля'
                  },
                  {
                    text: 'Профнастил',
                    name: '111',
                    value: 'Профнастил'
                  },
                  {
                    text: 'Композитная черепица',
                    name: '111',
                    value: 'Композитная черепица'
                  },
                ]
              },
              {
                title: 'Профиль',
                options: [
                  {
                    text: 'Classic',
                    name: 'profile',
                    value: 'Classic'
                  },
                  {
                    text: 'Kredo',
                    name: 'profile',
                    value: 'Kredo'
                  },
                  {
                    text: 'Супермонтеррей',
                    name: 'profile',
                    value: 'Супермонтеррей'
                  },
                  {
                    text: 'Макси',
                    name: 'profile',
                    value: 'Макси'
                  },
                  {
                    text: 'Kvinta Plus',
                    name: 'profile',
                    value: 'Kvinta Plus'
                  },
                  {
                    text: 'Монтерроса',
                    name: 'profile',
                    value: 'Монтерроса'
                  },
                ]
              },
              {
                title: 'Профиль2',
                options: [
                  {
                    text: 'Classic',
                    name: 'profile',
                    value: 'Classic'
                  },
                  {
                    text: 'Kredo',
                    name: 'profile',
                    value: 'Kredo'
                  },
                  {
                    text: 'Супермонтеррей',
                    name: 'profile',
                    value: 'Супермонтеррей'
                  },
                  {
                    text: 'Макси',
                    name: 'profile',
                    value: 'Макси'
                  },
                  {
                    text: 'Kvinta Plus',
                    name: 'profile',
                    value: 'Kvinta Plus'
                  },
                  {
                    text: 'Монтерроса',
                    name: 'profile',
                    value: 'Монтерроса'
                  },
                ]
              },
              {
                title: 'Покрытие',
                options: [
                  {
                    text: 'Полиэстер',
                    name: 'coating',
                    value: 'Полиэстер'
                  },
                  {
                    text: 'Polyester Matt',
                    name: 'coating',
                    value: 'Polyester Matt'
                  },
                  {
                    text: 'Satin',
                    name: 'coating',
                    value: 'Satin'
                  },
                  {
                    text: 'Satin Matt',
                    name: 'coating',
                    value: 'Satin Matt'
                  },
                  {
                    text: 'Drap',
                    name: 'coating',
                    value: 'Drap'
                  },
                  {
                    text: 'Drap',
                    name: 'coating',
                    value: 'Drap'
                  },
                  {
                    text: 'Стальной бархат',
                    name: 'coating',
                    value: 'Стальной бархат'
                  },
                  {
                    text: 'PurPro Matt 180',
                    name: 'coating',
                    value: 'PurPro Matt 180'
                  },
                  {
                    text: 'PurLite Matt',
                    name: 'coating',
                    value: 'PurLite Matt'
                  },
                  {
                    text: 'Colority Print',
                    name: 'coating',
                    value: 'Colority Print'
                  },
                  {
                    text: 'Стальной бархат',
                    name: 'coating',
                    value: 'Стальной бархат'
                  },
                  {
                    text: 'PurPro Matt 180',
                    name: 'coating',
                    value: 'PurPro Matt 180'
                  },
                  {
                    text: 'PurPro Matt 180',
                    name: 'coating',
                    value: 'PurPro Matt 180'
                  },
                  {
                    text: 'PurLite Matt',
                    name: 'coating',
                    value: 'PurLite Matt'
                  },
                  {
                    text: 'Colority Print',
                    name: 'coating',
                    value: 'Colority Print'
                  },
                ]
              },
              {
                title: 'Цвет',
                options: [
                  {
                    hex: '#F8CE9A',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#FEE9C1',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#F7CB3C',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#EB6A0A',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#F8351B',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#8F000C',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#6D001B',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#571216',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#79000E',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#000064',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#021F68',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#0160B2',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#1D8770',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#2C7E28',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#0E432F',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#9DC799',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#0F4A27',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#878787',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#6F6969',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#2B2A36',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#902016',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#48241B',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#E3E7DC',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#FFFFFF',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#979AA7',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#F0ECE2',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#27353F',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#322D2C',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                ]
              }
            ]
          },
          {
            title: 'Доборники',
            icon: 'additional',
            items: [
              {
                title: 'Тип кровли',
                options: [
                  {
                    text: 'Металлочерепица',
                    name: '111',
                    value: 'Металлочерепица'
                  },
                  {
                    text: 'Фальцевая кровля',
                    name: '111',
                    value: 'Фальцевая кровля'
                  },
                  {
                    text: 'Профнастил',
                    name: '111',
                    value: 'Профнастил'
                  },
                  {
                    text: 'Композитная черепица',
                    name: '111',
                    value: 'Композитная черепица'
                  },
                ]
              },
              {
                title: 'Профиль',
                options: [
                  {
                    text: 'Classic',
                    name: 'profile',
                    value: 'Classic'
                  },
                  {
                    text: 'Kredo',
                    name: 'profile',
                    value: 'Kredo'
                  },
                  {
                    text: 'Супермонтеррей',
                    name: 'profile',
                    value: 'Супермонтеррей'
                  },
                  {
                    text: 'Макси',
                    name: 'profile',
                    value: 'Макси'
                  },
                  {
                    text: 'Kvinta Plus',
                    name: 'profile',
                    value: 'Kvinta Plus'
                  },
                  {
                    text: 'Монтерроса',
                    name: 'profile',
                    value: 'Монтерроса'
                  },
                ]
              },
              {
                title: 'Профиль2',
                options: [
                  {
                    text: 'Classic',
                    name: 'profile',
                    value: 'Classic'
                  },
                  {
                    text: 'Kredo',
                    name: 'profile',
                    value: 'Kredo'
                  },
                  {
                    text: 'Супермонтеррей',
                    name: 'profile',
                    value: 'Супермонтеррей'
                  },
                  {
                    text: 'Макси',
                    name: 'profile',
                    value: 'Макси'
                  },
                  {
                    text: 'Kvinta Plus',
                    name: 'profile',
                    value: 'Kvinta Plus'
                  },
                  {
                    text: 'Монтерроса',
                    name: 'profile',
                    value: 'Монтерроса'
                  },
                ]
              },
              {
                title: 'Покрытие',
                options: [
                  {
                    text: 'Полиэстер',
                    name: 'coating',
                    value: 'Полиэстер'
                  },
                  {
                    text: 'Polyester Matt',
                    name: 'coating',
                    value: 'Polyester Matt'
                  },
                  {
                    text: 'Satin',
                    name: 'coating',
                    value: 'Satin'
                  },
                  {
                    text: 'Satin Matt',
                    name: 'coating',
                    value: 'Satin Matt'
                  },
                  {
                    text: 'Drap',
                    name: 'coating',
                    value: 'Drap'
                  },
                  {
                    text: 'Drap',
                    name: 'coating',
                    value: 'Drap'
                  },
                  {
                    text: 'Стальной бархат',
                    name: 'coating',
                    value: 'Стальной бархат'
                  },
                  {
                    text: 'PurPro Matt 180',
                    name: 'coating',
                    value: 'PurPro Matt 180'
                  },
                  {
                    text: 'PurLite Matt',
                    name: 'coating',
                    value: 'PurLite Matt'
                  },
                  {
                    text: 'Colority Print',
                    name: 'coating',
                    value: 'Colority Print'
                  },
                  {
                    text: 'Стальной бархат',
                    name: 'coating',
                    value: 'Стальной бархат'
                  },
                  {
                    text: 'PurPro Matt 180',
                    name: 'coating',
                    value: 'PurPro Matt 180'
                  },
                  {
                    text: 'PurPro Matt 180',
                    name: 'coating',
                    value: 'PurPro Matt 180'
                  },
                  {
                    text: 'PurLite Matt',
                    name: 'coating',
                    value: 'PurLite Matt'
                  },
                  {
                    text: 'Colority Print',
                    name: 'coating',
                    value: 'Colority Print'
                  },
                ]
              },
              {
                title: 'Цвет',
                options: [
                  {
                    hex: '#F8CE9A',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#FEE9C1',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#F7CB3C',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#EB6A0A',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#F8351B',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#8F000C',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#6D001B',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#571216',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#79000E',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#000064',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#021F68',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#0160B2',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#1D8770',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#2C7E28',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#0E432F',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#9DC799',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#0F4A27',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#878787',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#6F6969',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#2B2A36',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#902016',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#48241B',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#E3E7DC',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#FFFFFF',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#979AA7',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#F0ECE2',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#27353F',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                  {
                    hex: '#322D2C',
                    name: 'coating',
                    value: 'Название цвета'
                  },
                ]
              }
            ]
          },
        ],
        products: [
          {
            title: 'Кровля',
            image: '/img/constructor-item-1.png',
            links: [
              {
                slug: 'slug',
                text: 'Металлочерепица Classic с покрытием Полиэстер, 0,40 мм, цвет RAL 9006'
              }
            ]
          },
          {
            title: 'Фасад',
            image: '/img/constructor-item-2.png',
            links: [
              {
                slug: 'slug',
                text: 'Металлосайдинг Корабельная доска с покрытием Полиэстер, 0,40 мм, цвет RAL 7024'
              }
            ]
          },
          {
            title: 'Водосток',
            image: '/img/constructor-item-3.png',
            links: [
              {
                slug: 'slug',
                text: 'Металлическая водосточная система Foramina (МП Престиж), D125/100, цвет RAL 7024'
              }
            ]
          },
          {
            title: 'Цоколь',
            image: '/img/constructor-item-4.png',
            links: [
              {
                slug: 'slug',
                text: 'Виниловый сайдинг Natural-Брус S7 GL, цвет тёмный дуб'
              }
            ]
          },
          {
            title: 'Ограждение',
            image: '/img/constructor-item-5.png',
            links: [
              {
                slug: 'slug',
                text: 'Ограждение Премиум, 1,65 метра, цвет RAL 7024'
              }
            ]
          },
          {
            title: 'Доборные элементы',
            links: [
              {
                slug: 'slug',
                text: 'Софиты, цвет RAL 7024'
              },
              {
                slug: 'slug',
                text: 'Наличники, цвет RAL 7024'
              },
              {
                slug: 'slug',
                text: 'Крыльцо, цвет RAL 7024'
              },
              {
                slug: 'slug',
                text: 'Фасад, цвет RAL 7024'
              },
              {
                slug: 'slug',
                text: 'Ставни, цвет RAL 7024'
              },
            ]
          }
        ]
      }
    }
  },
}
</script>