<template lang="pug">
.page__content 
  .container
    Headline(title='Контакты и реквизиты')
    ContactsPage(:contacts='data')
</template>

<script>
export default {
  data() {
    return {
      data: [
        {
          cityId: 321,
          tabName: 'Офис в Москве',
          title: 'Офис, склад и производство в посёлке Тельмана',
          address: {
            metro: {hex: '#D0021B', name: 'Метро Площадь Мужества'},
            location:
              'Улица Леона Поземского, дом 92, павильон «Строительный рынок на Алмазной»',
          },
          worktime: [
            {
              time: '9⁰⁰–18⁰⁰',
              text: 'понедельник–пятница',
            },
            {
              time: '10⁰⁰–14⁰⁰',
              text: 'суббота (с мая по октябрь)',
            },
          ],
          phone: '+7 (812) 449-46-47',
          managers: [
            {
              image: '/img/manager.jpg',
              name: 'Геннадий Усовский',
              phone: '+7 (495) 424-52-71',
              email: 'info@staltd.ru',
            },
            {
              image: '/img/manager.jpg',
              name: 'Геннадий Усовский',
              phone: '+7 (495) 424-52-71',
              email: 'info@staltd.ru',
            },
            {
              image: '/img/manager.jpg',
              name: 'Геннадий Усовский',
              phone: '+7 (495) 424-52-71',
              email: 'info@staltd.ru',
            },
            {
              image: '/img/manager.jpg',
              name: 'Геннадий Усовский',
              phone: '+7 (495) 424-52-71',
              email: 'info@staltd.ru',
            },
          ],
          director: {
            image: '/img/manager.jpg',
            name: 'Геннадий Усовский',
            phone: '+7 (495) 424-52-71',
            email: 'info@staltd.ru',
          },
          zone: ['Санкт-Петербург и Ленинградская область', 'Республика Карелия', 'Новгородская область', 'Мурманская область', 'Архангельская область', 'Республика Коми', 'Вологодская область', 'Ненецкий автономный округ', 'Калининградская область'],
          map: {
            coords: [54.82896654088406, 39.831893822753904],
            pinContent: 'Улица Леона Поземского, дом 92'
          }
        },        
        {
          cityId: 212,
          tabName: 'Склад и производство в Санкт-Петербурге',
          title: 'Склад и производство в Санкт-Петербурге',
          address: {
            metro: 'Метро Площадь Мужества',
            location:
              'Улица Леона Поземского, дом 92, павильон «Строительный рынок на Алмазной»',
          },
          worktime: [
            {
              time: '9⁰⁰–18⁰⁰',
              text: 'понедельник–пятница',
            },
            {
              time: '10⁰⁰–14⁰⁰',
              text: 'суббота (с мая по октябрь)',
            },
          ],
          phone: ['+7 (812) 449-46-47'],
          managers: [
            {
              image: '/img/manager.jpg',
              name: 'Геннадий Усовский',
              phone: '+7 (495) 424-52-71',
              email: 'info@staltd.ru',
            },
            {
              image: '/img/manager.jpg',
              name: 'Геннадий Усовский',
              phone: '+7 (495) 424-52-71',
              email: 'info@staltd.ru',
            },
            {
              image: '/img/manager.jpg',
              name: 'Геннадий Усовский',
              phone: '+7 (495) 424-52-71',
              email: 'info@staltd.ru',
            },
          ],
          director: {
            image: '/img/manager.jpg',
            name: 'Геннадий Усовский',
            phone: '+7 (495) 424-52-71',
            email: 'info@staltd.ru',
          },
          zone: ['Санкт-Петербург и Ленинградская область', 'Республика Карелия', 'Новгородская область', 'Мурманская область', 'Архангельская область', 'Республика Коми', 'Вологодская область', 'Ненецкий автономный округ', 'Калининградская область'],
          map: {
            coords: [66,77],
            pinContent: 'fff'
          }
        },        
      ],
    }
  },
}
</script>