<template lang="pug">
.page__content
  .page__container(v-if="true")  
    .container   
      Headline(title='Избранное')      
      .tabs
        .tabs__item(
          @click='toggleCategory(0)',
          :class='{ active: categoryId == 0 }'
        ) Все товары <span class='tabs__span'>{{ products.length }}</span>
        button.tabs__item(
          v-for='(category, index) in categories',
          :key='index',
          :class='{ active: categoryId == category.id }',
          @click='toggleCategory(category.id)'
        ) {{ category.title }} <span class='tabs__span'>{{ category.quantity }}</span>
    .filters-section
      .container
        .filters-section__top 
          .filters-section__container
            FilterSelect
          .filters-section__container
            ClearButton
    ProductsSection(:products='filteredProducts')
  .page__container(v-else)
    .container
      Headline(title='Избранное')
      EmptyPage(:data='empty')      
</template>
<script>
export default {
  data() {
    return {      
      categoryId: '',
      empty: {
        icon: '/icons/heart.svg',
        title: 'Вы не добавили ни одного товара в избранное',
        text: 'Воспользуйте каталогом товаров или поиском, чтобы найти и сохранить товары, которые вам понравятся'
      },
      categories: [
        {
          title: 'Профнастил',
          quantity: '2',
          id: '234',
        },
        {
          title: 'Кровельные материалы',
          quantity: '1',
          id: '333',
        },
      ],
      products: [
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          categoryId: 234,
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер',
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)',
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм',
            },
          ],
          status: 'in-stock',
          price: 84844,
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          categoryId: 234,
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер',
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)',
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм',
            },
          ],
          status: 'in-stock',
          price: 84844,
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          categoryId: 333,
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер',
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)',
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм',
            },
          ],
          status: 'in-stock',
          price: 84844,
        },
      ],
    }
  },
  methods: {
    toggleCategory(id) {
      this.categoryId = id
    },
  },
  computed: {
    filteredProducts() {
      if (!this.categoryId) {
        return this.products
      }

      return this.products.filter((product) => {
        return this.categoryId == product.categoryId
      })
    },      
  }, 
  created() {
    this.categoryId = this.paramsId.id ?? 0
  }, 
  asyncData({params}) {
    const paramsId = params
    return {paramsId}
  },
}
</script>

<style lang="scss">
@import '../components/FiltersSection/filters-section.scss';
@import '../components/Tabs/tabs.scss';
</style>
