<template lang="pug">
  .page__content
    MainSlider
    MainPopular
    MainRecomended
    MainComplect
    MainColors
    .container.mobile-padding
      SubcategorySection
    .container
      Slider(:data='slider' object='ServiceCard' class='is-main' title='Популярные услуги')
</template>

<script>
export default {
  data() {
    return {
      slider: [
        {
          title: 'Порошковая покраска',
          link: '/services/slug',
          image: '/img/service-card-1.svg'
        },
        {
          title: 'Монтаж сэдвич-панелей',
          link: '/services/slug',
          image: '/img/service-card-2.svg'
        },
        {
          title: 'Установка заборов',
          link: '/services/slug',
          image: '/img/service-card-3.svg'
        },
        {
          title: 'Монтаж металлоконструкций',
          link: '/services/slug',
          image: '/img/service-card-4.svg'
        },
        {
          title: 'Порошковая покраска',
          link: '/services/slug',
          image: '/img/service-card-1.svg'
        },
        {
          title: 'Монтаж сэдвич-панелей',
          link: '/services/slug',
          image: '/img/service-card-2.svg'
        },
        {
          title: 'Установка заборов',
          link: '/services/slug',
          image: '/img/service-card-3.svg'
        },
        {
          title: 'Монтаж металлоконструкций',
          link: '/services/slug',
          image: '/img/service-card-4.svg'
        }
      ]
    }
  },
}
</script>
