<template lang="pug">
.page__content
  .test
    //- .test__window
      //- Test
    .test__window
      <client-only>
        Scene
      </client-only>      
    .test__window
      Editor
</template>


<script>
export default {
  layout: 'constructor-layout'
}
</script>

<style lang="scss">
  .test {
    display: grid;
    grid-template-columns: 1fr;
    &__window {
      
    }
  }
</style>