.radio {
  display: block;
  position: relative;
  padding-left: 32px;
  align-items: center;
  cursor: pointer;  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  
  
  

  &:hover {
    & .radio__checkmark {
      &::after {
        background-color: #a0acbf;
      }
    }
  }

  &__text {
    display: flex;
    align-items: center;
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 600;
    height: 24px;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: $color-bg-primary;
    border: 1px solid $color-accent-dark-blue;
    border-radius: 50%;
    transition: background-color 0.3s ease;

    &::after {
      top: 5px;
      left: 5px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $color-bg-primary;
      transition: background-color 0.3s ease;
    }
  }
}

.radio:hover input ~ .radio__checkmark {
  // background-color: $color-accent-light-blue;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .radio__checkmark {
  background-color: $color-accent-dark-blue;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio__checkmark:after {
  content: '';
  position: absolute;
  // display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .radio__checkmark:after {
  background-color: $color-bg-primary !important;
}

input:disabled + .radio__checkmark {
  filter: grayscale(1);
  opacity: 0.2;
}
