<template lang="pug">
  .product-card
    .product-card__cover
      img.product-card__image(:src='product.image')
    .product-card__content
      .product-card__main
        p.product-card__title {{product.title}}     
        .product-card__colors
          p.product-card__text {{product.text}}
          .product-card__container
            .product-card__color(v-for="color in product.colors" :key="color.id")
              .product-card__hex(v-if="color.hex" :style="'background-color: ' + color.hex")
              img.product-card__texture(v-if="color.texture" :src='color.texture')
            p.product-card__text(style='margin-left: 4px') {{product.subtext}}
      .product-card__bottom.meta
        p.product-card__price от {{product.price}} ₽/м²
        .product-card__buttons
          nuxt-link.product-card__link(to='/product/slug')
            | Подобрать    
            svg-icon.product-card__arrow(name='arrow-right' style='margin-left: 4px;')
</template>

<script>
export default {
  props: ['product']
}
</script>

<style lang="scss">
@import '../ProductCard/product-card.scss';  
</style>