<template lang="pug">
label.complect-card(ref='label' @mouseover='hover' @mouseout='leave' :class='{active: currentQuantity}')
  //- input.attribute-item__input(
  //-   type='checkbox',
  //-   value='value',
  //-   @change='addFilter'
  //- )
  .complect-card__cover
    img.complect-card__image(:src='complect.image')
  p.complect-card__title {{ complect.title }}
  p.complect-card__price {{ complect.price }} ₽
  Counter(:quantity='complect.quantity' @change='addQuantity' v-model="currentQuantity" class='in-complect' :class='{white: hovered || currentQuantity}')
</template>

<script>
export default {
  props: ['complect'],
  data() {
    return {
      hovered: false,
      currentQuantity: 0,
    }
  },
  methods: {
    addQuantity() {
      console.log(131)
    },
    hover() {
      this.hovered = true
    },
    leave() {
      this.hovered = false
    },
    addFilter(e) {
      this.$emit('change', this.$refs.label)
      this.$emit('input', e.target.checked)
    },
  }
}
</script>



<style lang="scss" src='./complect-card.scss'>
</style>