.complect-card {
  background-color: $color-bg-secondary;
  border: 2px solid $color-bg-secondary;
  padding: 14px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;  

  &.active {
    border: 2px solid $color-accent-light-blue;
  }

  &__input {
    cursor: pointer;
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    

    // &:checked {
    //   border-radius: 4px;
    //   border: 2px solid $color-accent-light-blue;
    // }
  }

  &__cover {
    mix-blend-mode: multiply;
    width: 48px;
    height: 48px;    
  }

  &__title {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;
    padding-top: 16px;
    text-align: center;
  }

  &__price {
    color: $color-text-heading;
    @include fontSize(16, 24);
    font-weight: 700;
    padding: 16px 0;
  }
}