<template lang="pug">
  .filter-item(v-click-outside='close')
    .filter-item__head(@click='toogleItem' :class='{"opened" : opened}')
      | {{name}}
      svg-icon.filter-item__icon(name='chevron-down' :class='{"opened" : opened}')
    transition(name='fade')
      .filter-item__body(v-if="opened")
        component(:is="filterName" :data='data') 
</template>

<script>
import ClickOutside from 'vue-click-outside'
export default {
  props: ['data', 'filterName', 'name'],
  data() {
    return {
      opened: false,
    }
  },
  methods: {
    toogleItem() {
      this.opened = !this.opened
    },
    close() {
      this.opened = false
    }
  },
  directives: {
    ClickOutside,
  },
}
</script>

<style lang="scss" src='./filter-item.scss'>
  
</style>