.filter-item {
  $this: &; 
  position: relative;

  

  &__head {
    display: flex;
    align-items: center;
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 600;
    padding-left: 24px;
    position: relative;
    cursor: pointer;

    &.opened {
      color: $color-accent-light-blue;
    }

    &::before {
      content: '';
      width: 8px;
      height: 8px;
      background-color: $color-accent-light-blue;
      border-radius: 50%;
      position: absolute;
      top: 8px;
      left: 8px;
    }

    &.sidebar {
      color: $color-text-heading;
      justify-content: space-between;
      padding: 12px 0;
      &::before {
        display: none;
      }

      #{$this}__icon {
        fill: $color-icon-secondary;
      }
    }
  }

  

  &__body {
    position: absolute;
    display: flex;
    padding: 16px;
    background-color: $color-bg-primary;
    box-shadow: 0px 0px 8px rgba(11, 14, 20, 0.15);
    border-radius: 4px;
    // bottom: -64px;
    top: 32px;
    z-index: 6;
    width: 312px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $color-accent-dark-blue;
    margin-left: 4px;
    &.opened {
      fill: $color-accent-light-blue;
      transform: rotateZ(180deg);
    }
  }

  &__separator {
    transition: height 0.5s ease;
    height: 0;

    &.active {
      height: 8px;
    }
  }

  &__container {
    
  }
  
}
