.files-page {
  $this: &;
  display: flex;
  padding-top: 32px;

  @media (max-width: $s) {
    flex-direction: column;
    padding-top: 16px;
  }

  &__select {
    display: none;
    @media (max-width: $s) {
      display: block;
    }
  }

  &__sidebar {
    width: 304px;
    height: fit-content;
    border-radius: 8px;
    background-color: $color-bg-secondary;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    flex-shrink: 0;

    @media (max-width: $l) {
      width: 264px;
    }
    @media (max-width: $m) {
      width: 272px;
    }
    @media (max-width: $s) {
      display: none;
    }
  }

  &__tab {
    padding: 14px 0 14px 16px;
    display: flex;
    border-right: 4px solid $color-bg-secondary;
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 600;
    transition: color 0.3s ease, border 0.3s ease;

    &:hover {
      border-right: 4px solid rgba(77, 131, 178, 0.5);      
      color: $color-accent-light-blue;
    }

    &.active {
      border-right: 4px solid $color-accent-light-blue;
      color: $color-accent-light-blue;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 40px;
    @media (max-width: $m) {
      margin-left: 32px;
    }
    @media (max-width: $s) {
      margin-left: 0;
      margin-top: 24px;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 48px;
    border: 2px solid $color-bg-secondary;
    border-radius: 4px;
    transition: border 0.3s ease;
    background-color: $color-bg-secondary;

    padding: 16px 12px;

    &:hover {
      border: 2px solid $color-separator;
    }

    &.focused {
      border: 2px solid $color-accent-light-blue;
      background-color: $color-bg-primary;
      
    }
  }

  

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    fill: $color-icon-secondary;
    &.active {
      fill: $color-accent-light-blue;
    }
  }

  &__delete {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 12px;
    z-index: 2;
    fill: $color-icon-secondary;
    cursor: pointer;
  }

  &__input {
    width: 100%;
    // padding: 12px;
    // background-color: $color-bg-secondary;
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 500;
    outline: none;
    border-radius: 0px 4px 4px 0px;
    position: relative;

    &::placeholder {
      color: $color-text-tertiary;
    }
  }

  &__grid {
    margin-top: 24px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;

    @media (max-width: $m) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (max-width: $s) {
      margin-top: 16px;
    }
    @media (max-width: $xxs) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}
