<template lang="pug">
  .files-page
    .files-page__select
      SelectTest(:data='selects')
    .files-page__sidebar
      button(type='button' @click='toggleTab(1)', :class='{ "active": tab == 1 }').files-page__tab Все материалы
      button(type='button' @click='toggleTab(2)', :class='{ "active": tab == 2 }').files-page__tab Инструкции
      button(type='button' @click='toggleTab(3)', :class='{ "active": tab == 3 }').files-page__tab Каталог
      button(type='button' @click='toggleTab(4)', :class='{ "active": tab == 4 }').files-page__tab Сертификаты
      button(type='button' @click='toggleTab(5)', :class='{ "active": tab == 5 }').files-page__tab Техническая документация      
    .files-page__content
      .files-page__search(:class='{"focused": focused}')        
        svg-icon.files-page__icon(name='search' :class='{"active": focused || searchValue}')    
        input.files-page__input(type='search' placeholder='Поиск по справочнику' v-model="searchValue" @focus='searchFocused' @blur='searchBlur')
        transition(name='fade')
          svg-icon.files-page__delete(name='delete' v-if="searchValue" @click='deleteText')
      .files-page__grid
        FileCard(v-for="file in files" :key="file.id" :data='file' class='files-page')
</template>

<script>
export default {
  data() {
    return {
      tab: 1,
      searchValue: null,
      focused: false,
      selects: [
        {
          label: 'Все материалы',
          value: 'all'
        },
        {
          label: 'Инструкции',
          value: 'instructions'
        },
        {
          label: 'Каталог',
          value: 'catalog'
        },
        {
          label: 'Сертификаты',
          value: 'sertificates'
        },
        {
          label: 'Техническая документация',
          value: 'documentation'
        },
      ],
      files: [
        {
          text: 'Справочник веса профлиста',
          download: '/icons/catalog.svg',
          format: 'PDF',
          size: '48,4 Мб'
        },
        {
          text: 'Правила транспортировки и хранения профилированной продукции',
          download: '/icons/catalog.svg',
          format: 'PDF',
          size: '48,4 Мб'
        },
        {
          text: 'Сертификат соответствия на профнастил по ГОСТ',
          link: '/files/slug'
        },
        {
          text: 'Справочник веса профлиста',
          download: '/icons/catalog.svg',
          format: 'PDF',
          size: '48,4 Мб'
        },
        {
          text: 'Правила транспортировки и хранения профилированной продукции',
          download: '/icons/catalog.svg',
          format: 'PDF',
          size: '48,4 Мб'
        },
        {
          text: 'Сертификат соответствия на профнастил по ГОСТ',
          link: '/files/slug'
        }
      ],
    }
  },
  methods: {
    toggleTab(id) {
      this.tab = id;
    },
    deleteText() {
      this.searchValue = null
    },
    searchBlur() {
      this.focused = false
    },
    searchFocused() {
      this.focused = true      
    },    
  },  
}
</script>

<style lang="scss" src='./files-page.scss'>
  
</style>