<template lang='pug'>
.search-popup
  .search-popup__container.categories
    .search-popup__section
      p.search-popup__title Категории и подборки
      nuxt-link.search-popup__subitem(to='/catalog' @click.native='closePopup')
        svg-icon.search-popup__icon(name='proflist')
        | Профнастил для забора
      nuxt-link.search-popup__subitem(to='/' @click.native='closePopup')
        svg-icon.search-popup__icon(name='proflist')
        | Кровельный профлист
      nuxt-link.search-popup__subitem(to='/' @click.native='closePopup')
        svg-icon.search-popup__icon(name='proflist')
        | Профнастил под дерево    
    .search-popup__section
      p.search-popup__title Услуги
      nuxt-link.search-popup__subitem(to='/' @click.native='closePopup')
        svg-icon.search-popup__icon(name='service-20')
        | Монтаж кровли
      nuxt-link.search-popup__subitem(to='/' @click.native='closePopup')
        svg-icon.search-popup__icon(name='service-20')
        | Установка заборов
    .search-popup__section
      p.search-popup__title Справочник
      nuxt-link.search-popup__subitem(to='/' @click.native='closePopup')
        svg-icon.search-popup__icon(name='glossary')
        | Справочник веса профлиста
      nuxt-link.search-popup__subitem(to='/' @click.native='closePopup')
        svg-icon.search-popup__icon(name='glossary')
        | Расчёт нагрузок для профнастила    
  .search-popup__container.products
    .search-popup__list
      nuxt-link.search-popup__item(to='/product/slug' @click.native='closePopup')      
        img.search-popup__image(src='/img/product-small-1.png')
        .search-popup__product-content
          .search-popup__info
            p.search-popup__product-title Профлист С8
            p.search-popup__product-text Полиэстер • RR 23 • 0,3 мм 
          .search-popup__prices
            p.search-popup__price 415 ₽/м²
      nuxt-link.search-popup__item(to='/product/slug' @click.native='closePopup')
        img.search-popup__image(src='/img/product-small-2.png')
        .search-popup__product-content
          .search-popup__info
            p.search-popup__product-title Профлист С8
            p.search-popup__product-text Полиэстер • RR 23 • 0,3 мм
          .search-popup__prices
            p.search-popup__price.red 315 ₽/м²
            p.search-popup__price.old 415 ₽/м²
      nuxt-link.search-popup__item(to='/product/slug' @click.native='closePopup')      
        img.search-popup__image(src='/img/product-small-1.png')
        .search-popup__product-content
          .search-popup__info
            p.search-popup__product-title Профлист С8
            p.search-popup__product-text Полиэстер • RR 23 • 0,3 мм 
          .search-popup__prices
            p.search-popup__price 415 ₽/м²
      nuxt-link.search-popup__item(to='/product/slug' @click.native='closePopup')
        img.search-popup__image(src='/img/product-small-2.png')
        .search-popup__product-content
          .search-popup__info
            p.search-popup__product-title Профлист С8
            p.search-popup__product-text Полиэстер • RR 23 • 0,3 мм
          .search-popup__prices
            p.search-popup__price.red 315 ₽/м²
            p.search-popup__price.old 415 ₽/м²
      nuxt-link.search-popup__item(to='/product/slug' @click.native='closePopup')      
        img.search-popup__image(src='/img/product-small-1.png')
        .search-popup__product-content
          .search-popup__info
            p.search-popup__product-title Профлист С8
            p.search-popup__product-text Полиэстер • RR 23 • 0,3 мм 
          .search-popup__prices
            p.search-popup__price 415 ₽/м²
      nuxt-link.search-popup__item(to='/product/slug' @click.native='closePopup')
        img.search-popup__image(src='/img/product-small-2.png')
        .search-popup__product-content
          .search-popup__info
            p.search-popup__product-title Профлист С8
            p.search-popup__product-text Полиэстер • RR 23 • 0,3 мм
          .search-popup__prices
            p.search-popup__price.red 315 ₽/м²
            p.search-popup__price.old 415 ₽/м²        
    .search-popup__button-container
      button.search-popup__button Посмотреть все результаты <span class='search-popup__span'>48</span>
</template>

<script>
export default { 
  data() {
    return {
      searchValue: null,
      loading: false
    }
  },    
  methods: {
    closePopup() {
      this.$nuxt.$emit('closeSearch')
    }
  },
}
</script>

<style lang='scss' src='./search-popup.scss'></style>