.search-popup {
  $this: &;
  box-shadow: 0px 0px 12px rgba(11, 14, 20, 0.16);
  border-radius: 4px;
  background-color: $color-bg-primary;
  width: 100%;
  padding: 24px 0 32px 8px;
  display: flex;
  height: 100%;
  // height: calc(100vh - 190px);

  max-height: 460px;

  @media (max-width: $l) {
    max-height: 560px;
  }

  @media (max-width: $m) {
    max-height: 460px;
  }

  overflow-y: scroll;

  @media (max-width: $m) {
    // height: calc(100vh - 196px);
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: $color-accent-light-blue;
  }

  @media (max-width: $s) {
    // height: 100%;
    max-height: 100%;
    height: calc(100vh - 72px);
    overflow-y: scroll;
    flex-direction: column;
    box-shadow: unset;
    padding: 8px 0 58px 24px;
  }

  @media (max-width: $xs) {
    padding: 8px 0 58px 16px;
    border-radius: 0;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    stroke: $color-accent-light-blue;
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    &.categories {      
      padding-right: 11px;
      width: 40%;
      @media (max-width: $s) {
        width: 100%;
      }
    }
    &.products {
      border-left: 1px solid $color-separator;
      width: 60%;
      padding-left: 12px;
      height: 100%;
      @media (max-width: $s) {
        width: 100%;
        padding-left: 0;
        border-left: unset;
        border-top: 1px solid $color-separator;
        padding-top: 20px;
        margin-top: 19px;
      }
    }
  }

  &__section {
    display: flex;
    flex-direction: column;    

    & + & {      
      padding-top: 24px;

      @media (max-width: $s) {
        border-top: 1px solid $color-separator;
        padding-top: 20px;
        margin-top: 19px;
      }
    }
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(14, 20);
    font-weight: 600;
    margin-bottom: 8px;
    padding-left: 16px;

    @media (max-width: $s) {
      padding-left: 0;
    }
  }

  &__subitem {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-bg-secondary;
      color: $color-text-primary;
    }

    @media (max-width: $s) {
      padding: 10px 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;
    padding-right: 8px;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    transition: background-color 0.3s ease;
    border-radius: 8px;

    &:hover {
      background-color: $color-bg-secondary;
    }

    @media (max-width: $l) {
      align-items: flex-start;
    }
    @media (max-width: $m) {
      align-items: center;
    }
    @media (max-width: $s) {
      padding: 12px 0;
      padding-right: 8px;
    }

    @media (max-width: $xxs) {
      align-items: flex-start;
    }    
  }

  &__image {
    width: 96px;
    height: 48px;
    padding-right: 16px;
    flex-shrink: 0;
    mix-blend-mode: multiply;
    @media (max-width: $l) {
      padding-right: 8px;
    }
    @media (max-width: $m) {
      padding-right: 16px;
    }

    @media (max-width: $xxs) {
      padding-right: 8px;
    }
  }

  &__product-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (max-width: $l) {
      flex-direction: column;
      align-items: flex-start;
    }
    @media (max-width: $m) {
      flex-direction: row;
      align-items: center;
    }

    @media (max-width: $xxs) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__product-title {
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 700;
    transition: color 0.3s ease;
  }

  &__product-text {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 500;
    margin-top: 4px;
  }

  &__prices {
    display: flex;
    flex-direction: column;
    @media (max-width: $l) {
      flex-direction: row;
      margin-top: 16px;
    }
    @media (max-width: $m) {
      flex-direction: column;
      margin-top: 0;
    }
    @media (max-width: $xxs) {
      flex-direction: row;
      margin-top: 16px;
    }
  }

  &__price {
    color: $color-text-heading;
    @include fontSize(16, 24);
    font-weight: 700;

    &.red {
      color: $color-accent-red;
      @media (max-width: $l) {
        margin-right: 8px;
      }
      @media (max-width: $m) {
        margin-right: 0;
      }
      @media (max-width: $xxs) {
        margin-right: 8px;
      }
    }

    &.old {
      margin-top: 4px;
      color: $color-text-secondary;
      @include fontSize(14, 16);
      font-weight: 500;
      text-decoration: line-through $color-text-secondary;
    }
  }

  &__button-container {
    padding-right: 36px;
  }

  &__button {
    margin-top: 24px;
    width: 100%;
    flex-shrink: 0;
    height: 40px;
    border: 1px solid $color-separator;
    background-color: $color-bg-secondary;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover {
      background-color: $color-accent-light-blue;
      color: $color-text-contrast;
      #{$this}__span {
        color: $color-text-contrast;
        opacity: 0.64;
      }
    }
  }

  &__span {
    color: $color-text-secondary;
    margin-left: 8px;
    @include fontSize(14, 20);
    font-weight: 600;
    transition: color 0.3s ease, opacity 0.3s ease;
  }
}
