<template lang="pug">
nuxt-link.coating-card(:to='"/coating/" + coat.slug' v-if="coat.slug")
  .coating-card__cover(v-if="coat.image")
    img.coating-card__image(:src='coat.image')
  .coating-card__head
    p.coating-card__title {{coat.title}}
    .coating-card__label(v-if="coat.label") {{coat.label}}
    .coating-card__label.standard(v-if="coat.type == 'standard'") Стандарт
    .coating-card__label.premier(v-if="coat.type == 'premier'") Премьер
    .coating-card__label.premium(v-if="coat.type == 'premium'") Премиум
    .coating-card__label.eco(v-if="coat.type == 'eco'") Эко
    .coating-card__label.elite(v-if="coat.type == 'elite'") Элитное
  p.coating-card__description {{coat.description}}
  .coating-card__list
    .coating-card__item(v-for="item in coat.specifications" :key="item.id")
      img.coating-card__icon(:src='item.icon') 
      p.coating-card__value {{item.value}}
.coating-card(v-else)
  .coating-card__cover(v-if="coat.image")
    img.coating-card__image(:src='coat.image')
  .coating-card__head
    p.coating-card__title {{coat.title}}
    .coating-card__label(v-if="coat.label") {{coat.label}}
    .coating-card__label.standard(v-if="coat.type == 'standard'") Стандарт
    .coating-card__label.premier(v-if="coat.type == 'premier'") Премьер
    .coating-card__label.premium(v-if="coat.type == 'premium'") Премиум
    .coating-card__label.eco(v-if="coat.type == 'eco'") Эко
    .coating-card__label.elite(v-if="coat.type == 'elite'") Элитное
  p.coating-card__description {{coat.description}}
  .coating-card__list
    .coating-card__item(v-for="item in coat.specifications" :key="item.id")
      img.coating-card__icon(:src='item.icon') 
      p.coating-card__value {{item.value}}
</template>

<script>
export default {
  props: ['coat'],  
}
</script>

<style lang="scss" src='./coating-card.scss'>
</style>