.coating-card {
  background-color: $color-bg-secondary;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;

  &__cover {
    width: 100%;
    display: flex;
    aspect-ratio: 2 / 1;
    padding-bottom: 16px;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding-bottom: 8px;
  }

  &__title {
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 700;
  }

  &__label {
    color: $color-accent-light-blue;
    @include fontSize(14, 16);
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: rgba(77, 131, 178, 0.12);

    &.standard {
      color: $color-text-heading;
      background-color: rgba(77, 131, 178, 0.12);
    }
    &.premier {
      color: $color-text-heading;
      background: rgba(77, 131, 178, 0.24);
    }
    &.premium {
      color: $color-text-contrast;
      background-color: #DC9E00;
    }
    &.eco {
      color: $color-text-contrast;
      background-color: #04AF00;
    }
    &.elite {
      color: $color-text-contrast;
      background-color: #000000;
    }
  }

  &__description {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 500;
  }

  &__list {
    padding-top: 32px;
    display: flex;
    gap: 16px;
  }

  &__item {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__value {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;
  }
}
