.stars {
  $this: &;

  &__inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    top: -1px;
  }

  &__caption + &__inner {
    margin-left: 20px;
  }

  &__field {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  &__label {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    position: relative;
    background-image: url("/icons/star.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 5px;
      height: 100%;
      position: absolute;
      top: 0;
      left: -5px;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("/icons/star-active.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      opacity: 0;
      transition: opacity 300ms ease;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &:hover ~ & {
      &::after {
        opacity: 1;
      }
    }
  }

  &__field:checked ~ &__label::after {
    background-image: url("/icons/star-active.svg");
    opacity: 1;
  }
}
