<template lang="pug">
.page__content
  .container
    Breadcrumbs(:data='breadcrumbs')
  .container.cart
    OrderPage(:order='order')
</template>

<script>
export default {
  data() {
    return {
      order: {
        order_number: '61838',
        date: 'от 8 апреля 2021',
        comment: 'Выбор подходящих фасадных материалов очень важен, но ещё более значимым является выбор профессиональной монтажной компании. Самостоятельный монтаж фасадов или сотрудничество не с добросовестными мастерами чревато не только испорченным внешним видом, но и нарушением техники безопасности, а также не соблюдением нормативных требований.',
        manager: {
          image: '/img/manager-big.jpg',
          name: 'Елена Дейниченко',
          phone: '+7 (985) 710-53-87',
          email: 'dea@staltd.ru',
        },
        sections: [
          {
            title: 'Состояние',
            values: [
              {
                name: 'Дата заказа',
                value: '08.04.2021',
              },
              {
                name: 'Статус',
                value: 'Доставлен 24.04.2021',
              },
            ],
          },
          {
            title: 'Получение заказа',
            values: [
              {
                name: 'Способ получения',
                value: 'Доставка СТАЛЬ ТД',
              },
              {
                name: 'Адрес доставки',
                value: 'г. Смоленск, ул. Октябрьской Революции, д. 9к2',
              },
            ],
          },
          {
            title: 'Данные покупателя',
            values: [
              {
                name: 'Имя',
                value: 'Константин Константинов',
              },
              {
                name: 'Телефон',
                value: '+7 (984) 848-88-44',
              },
              {
                name: 'Электронная почта',
                value: 'konstantin844@gmail.com',
              },
            ],
          },
          {
            title: 'Дополнительная информация',
            values: [
              {
                name: 'Комментарий к заказу',
                value:
                  'Выбор подходящих фасадных материалов очень важен, но ещё более значимым является выбор профессиональной монтажной компании. Самостоятельный монтаж фасадов или сотрудничество не с добросовестными мастерами чревато не только испорченным внешним видом, но и нарушением техники безопасности, а также не соблюдением нормативных требований.',
              },
              {
                name: 'Прикреплённые файлы',
                value: 'Дизайн-план забора.pdf',
                link: '/img/manager-big.jpg',
              },
            ],
          },
        ],
        products: [
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            specifications: 'Полиэстер • RR 23 • 0,3 мм',            
            badge: 'in-stock',
            quantity: 250,
            price: 488,
            total: 122000,
            unit: 'м²',
          },          
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            specifications: 'Полиэстер • RR 23 • 0,3 мм',            
            badge: 'in-stock',
            quantity: 250,
            price: 488,
            total: 122000,
            unit: 'м²',
          },          
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            specifications: 'Полиэстер • RR 23 • 0,3 мм',            
            badge: 'in-stock',
            quantity: 250,
            price: 488,
            total: 122000,
            unit: 'м²',
          },          
        ],
        services: [
          {
            image: '/img/service-card-2.svg',
            title: 'Монтаж сэдвич-панелей',
          },
          {
            image: '/img/service-card-3.svg',
            title: 'Установка заборов',
          },
          {
            image: '/img/service-card-4.svg',
            title: 'Монтаж металлоконструкций',
          },
          {
            image: '/img/service-card-1.svg',
            title: 'Порошковая покраска',
          },
          {
            image: '/img/service-card-5.svg',
            title: 'Монтаж фасадов',
          },
          {
            image: '/img/service-card-6.svg',
            title: 'Монтаж кровли',
          },
        ],
      },
    }
  },
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Личный кабинет',
          url: '/account',
        },
        {
          title: 'Мои заказы',
          url: '/account/orders',
        },
      ]

      return breadcrumbs
    },    
  },
}
</script>