<template lang="pug">
.page__content 
  .container
    Breadcrumbs(:data='breadcrumbs')
    Headline(title='Мои заказы')
    .tabs
      .tabs__item(
        @click='toggleCategory(0)',
        :class='{ "active": categoryId == 0 }'
      ) Все товары <span class='tabs__span'>{{ filteredProducts.length }}</span>
      button.tabs__item(
        v-for='(category, index) in categories',
        :key='index',
        :class='{ "active": categoryId == category.categoryId }',
        @click='toggleCategory(category.categoryId)'
      ) {{ category.title }} <span class='tabs__span'>{{ category.quantity }}</span>
    .orders-page
      OrderCard(v-for='order in filteredProducts', :key='order.id', :order='order')
    Pagination
</template>

<script>
export default {
  data() {
    return {
      categoryId: 0,
      categories: [
        {
          title: 'В обработке',
          quantity: '1',
          status: 'inProgress',
          categoryId: 1,
        },
        {
          title: 'Отправленные',
          quantity: '1',
          status: 'sended',
          categoryId: 2,
        },
        {
          title: 'Доставленные',
          quantity: '1',
          status: 'delivered',
          categoryId: 3,
        },
        {
          title: 'Отменённые',
          quantity: '1',
          status: 'canceled',
          categoryId: 4,
        },
      ],
      orders: [
        {
          status: 'delivered',
          categoryId: 3,
          order_number: '61838',
          date: 'от 8 апреля 2021',
          total: 84844.84,
          delivey_type: 'Доставка ',
          address: 'г. Смоленск, ул. Октябрьской Революции, д. 9к2',
          manager: {
            image: '/img/manager-small.jpg',
            name: 'Елена Дейниченко',
            phone: '+7 (985) 710-53-87',
          },
          images: [
            '/img/product-card-1.png',
            '/img/product-card-1.png',
            '/img/product-card-1.png',
            '/img/product-card-1.png',
            '/img/product-card-1.png',
            '/img/product-card-1.png',
          ],
          advanced: 48,
        },
        {
          status: 'canceled',
          categoryId: 4,
          order_number: '61838',
          date: 'от 8 апреля 2021',
          total: 84844.84,
          delivey_type: 'Доставка ',
          address: 'г. Смоленск, ул. Октябрьской Революции, д. 9к2',
          manager: {
            image: '/img/manager-small.jpg',
            name: 'Елена Дейниченко',
            phone: '+7 (985) 710-53-87',
          },
          images: ['/img/product-card-1.png', '/img/product-card-1.png'],
        },
        {
          status: 'sended',
          categoryId: 2,
          order_number: '61838',
          date: 'от 8 апреля 2021',
          total: 84844.84,
          delivey_type: 'Доставка ',
          address: 'г. Смоленск, ул. Октябрьской Революции, д. 9к2',
          manager: {
            image: '/img/manager-small.jpg',
            name: 'Елена Дейниченко',
            phone: '+7 (985) 710-53-87',
          },
          images: [
            '/img/product-card-1.png',
            '/img/product-card-2.png',
            '/img/product-card-1.png',
          ],          
        },
        {
          status: 'inProgress',
          categoryId: 1,
          order_number: '61838',
          date: 'от 8 апреля 2021',
          total: 84844.84,
          delivey_type: 'Доставка ',
          address: 'г. Смоленск, ул. Октябрьской Революции, д. 9к2',
          manager: {
            image: '/img/manager-small.jpg',
            name: 'Елена Дейниченко',
            phone: '+7 (985) 710-53-87',
          },
          images: [
            '/img/product-card-1.png',
            '/img/product-card-2.png',
            '/img/product-card-1.png',
            '/img/product-card-1.png',
            '/img/product-card-2.png',
            '/img/product-card-1.png',
            '/img/product-card-1.png',
            '/img/product-card-2.png',
            '/img/product-card-1.png',
          ],
          advanced: 55,
        },
      ],
    }
  },
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Личный кабинет',
          url: '/account',
        },
      ]

      return breadcrumbs
    },
    filteredProducts() {
      if (!this.categoryId) {
        return this.orders
      }

      return this.orders.filter((order) => {
        return this.categoryId == order.categoryId
      })
    },
  },
  methods: {
    toggleCategory(id) {
      this.categoryId = id
    },
  },
}
</script>

<style lang="scss">
.orders-page {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media (max-width: $s) {
    padding-top: 32px;
  }
}
</style>