<template lang='pug'>
v-select(:options='data', v-bind:value='selected', v-on:input='updateValue' :placeholder='placeholder' multiple v-model="selected")
</template>

<script>
import 'vue-select/dist/vue-select.css'
export default {
  props: ['data', 'value', 'placeholder'],

  computed: {
    selected() {
      return this.data.find((option) => option.value == this.value)
    },
  },

  methods: {
    updateValue: function (option) {
      this.$emit('input', option ? option.value : '')
    },
  },
  mounted() {
    
  },
}
</script>


<style lang='scss' src='./select-multiple.scss'></style>