.v-select {
  position: relative;
  font-family: inherit;
}


.v-select,
.vs--single,
.vs--searchable {
  background-color: #fff;
}

.v-select,
.v-select * {
  box-sizing: border-box;
}

@-webkit-keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

.vs__fade-enter-active,
.vs__fade-leave-active {
  pointer-events: none;
  transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.vs__fade-enter,
.vs__fade-leave-to {
  opacity: 0;
}

.vs--disabled .vs__clear,
.vs--disabled .vs__dropdown-toggle,
.vs--disabled .vs__open-indicator,
.vs--disabled .vs__search,
.vs--disabled .vs__selected {
  cursor: not-allowed;
  background-color: #f8f8f8;
}

.v-select[dir='rtl'] .vs__actions {
  padding: 0 3px 0 6px;
}

.v-select[dir='rtl'] .vs__clear {
  margin-left: 6px;
  margin-right: 0;
}

.v-select[dir='rtl'] .vs__deselect {
  margin-left: 0;
  margin-right: 2px;
}

.v-select[dir='rtl'] .vs__dropdown-menu {
  text-align: right;
}

.vs__dropdown-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  padding: 0;
  background: none;
  border: none;
  border-radius: 4px;
  white-space: normal;
}

.vs__selected-options {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  position: relative;
  padding: 12px;
  background-color: var(--color);
  border: none;
  cursor: pointer;
  border-radius: 4px 0 0 4px;
}

.vs__actions {
  display: flex;
  align-items: center;
  border-radius: 0 4px 4px 0;
  background: none;
  background-color: var(--color);
  // padding: 24px;

  &::before {
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='rgb(57, 83, 121'  stroke-width='2' stroke-linecap='square' /%3E%3C/svg%3E");
    transition: transform 0.5s ease;    
  }
}

.vs--open .vs__actions {
  &::before {
    transform: rotate(180deg);
  }
}

.vs--searchable .vs__dropdown-toggle {
  cursor: text;
}

.vs--unsearchable .vs__dropdown-toggle {
  cursor: pointer;
}

.vs--open .vs__dropdown-toggle {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.vs__open-indicator {
  fill: rgba(60, 60, 60, 0.5);
  transform: scale(1);
  transition: transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
  transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
  opacity: 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: red;
    // background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0z' fill='%23fff'/%3E%3C/svg%3E");
  }
}

.vs--open .vs__open-indicator {
  transform: rotate(180deg) scale(1);
}

.vs--loading .vs__open-indicator {
  opacity: 0;
}

.vs__clear {
  // fill: rgba(60,60,60,.5);
  // padding: 0;
  // border: 0;
  // background-color: transparent;
  // cursor: pointer;
  // margin-right: 8px;
  display: none;
}

.vs__dropdown-menu {
  display: block;
  box-sizing: border-box;
  position: absolute;
  transition: all 0.1s ease-in-out;
  transform: translateY(4);
  border: none;
  border-radius: 0.4rem;
  // box-shadow: 0 0 8px rgba(0, 0, 0, 15);
  padding: 0.8rem 0;
}

.vs__no-options {
  text-align: center;
}

.vs__dropdown-option {
  transition: background-color 0.3s ease;
  font-weight: 400;
  @include fontSize(16, 24);
  color: $color-text-primary;
  padding: 16px;
}

.vs__dropdown-option:hover {
  cursor: pointer;
  background-color: $color-bg-primary;
}

.vs__dropdown-option--highlight {
  background: #f9f9f9;
  color: #1f2830;
}

.vs__dropdown-option--disabled {
  background: inherit;
  color: rgba(60, 60, 60, 0.5);
}

.vs__dropdown-option--disabled:hover {
  cursor: inherit;
}

.vs__dropdown-option--selected {
  color: $color-accent-light-blue;
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: $color-accent-light-blue;
    border-radius: 50%;
    position: absolute;
    right: 24px;
    top: 22px;
  }
}

.vs__selected {
  display: flex;
  align-items: center;
  font-weight: 500;
  @include fontSize(16, 24);
  color: $color-text-primary;
  padding: 0;
  margin: 0;
}

.vs__deselect {
  display: inline-flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 4px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  fill: rgba(60, 60, 60, 0.5);
  text-shadow: 0 1px 0 #fff;
}

.vs--single .vs__selected {
  // background-color: transparent;
  border-color: transparent;
}

.vs--single.vs--open .vs__selected {
  position: absolute;
  opacity: 0.4;
}

.vs--single.vs--searching .vs__selected {
  display: none;
}

.vs__search::-webkit-search-cancel-button {
  display: none;
}

.vs__search::-ms-clear,
.vs__search::-webkit-search-decoration,
.vs__search::-webkit-search-results-button,
.vs__search::-webkit-search-results-decoration {
  display: none;
}

.vs__search,
.vs__search:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-left: none;
  outline: none;
  // margin: 4px 0 0;
  background: none;
  box-shadow: none;
  width: 0;
  max-width: 100%;
  flex-grow: 1;
  z-index: 1;

  

  font-weight: 400;

  @include fontSize(18, 24);
  color: $color-grey-900;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.vs__search::-webkit-input-placeholder {
  color: $color-text-secondary;
  font-weight: 500;
  @include fontSize(16, 24);
}

.vs__search::-moz-placeholder {
  color: $color-text-secondary;
  font-weight: 500;
  @include fontSize(16, 24);
}

.vs__search:-ms-input-placeholder {
  color: $color-text-secondary;
  font-weight: 500;
  @include fontSize(16, 24);
}

.vs__search::-ms-input-placeholder {
  color: $color-text-secondary;
  font-weight: 500;
  @include fontSize(16, 24);
}

.vs__search::placeholder {
  color: $color-text-secondary;
  font-weight: 500;
  @include fontSize(16, 24);
}

.vs--unsearchable .vs__search {
  opacity: 1;
}

.vs--unsearchable:not(.vs--disabled) .vs__search:hover {
  cursor: pointer;
}

.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search {
  opacity: 0.2;
}

.vs__spinner {
  align-self: center;
  opacity: 0;
  font-size: 5px;
  text-indent: -9999em;
  overflow: hidden;
  border: 0.9em solid hsla(0, 0%, 39.2%, 0.1);
  border-left-color: rgba(60, 60, 60, 0.45);
  transform: translateZ(0);
  -webkit-animation: vSelectSpinner 1.1s linear infinite;
  animation: vSelectSpinner 1.1s linear infinite;
  transition: opacity 0.1s;
}

.vs__spinner,
.vs__spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.vs--loading .vs__spinner {
  opacity: 1;
}
