.search-field {
  $this: &;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
  width: 100%;

  &.in-catalog {
    #{$this}__popup {
      top: 156px;
    }
    #{$this}__cancel {
      display: flex;
    }
  }

  @media (max-width: $s) {
    position: unset;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    background-color: $color-bg-secondary;
    position: relative;
    border-radius: 0px 4px 4px 0px;

    @media (max-width: $s) {
      width: 40px;
      height: 40px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $color-accent-dark-blue;

    &.in-header {
      @media (max-width: $s) {
        width: 24px;
        height: 24px;
      }
    }
    @media (max-width: $s) {
      width: 20px;
      height: 20px;
    }
  }

  &__preloader {
    position: absolute;
    width: 24px;
    height: 24px;
    left: -24px;
    z-index: 3;
    background-color: $color-bg-secondary;

    animation: rotate 1s linear 0s infinite;
  }

  &__delete {
    position: absolute;
    width: 24px;
    height: 24px;
    left: -24px;
    z-index: 2;
    fill: $color-icon-secondary;
    cursor: pointer;
  }

  &__history-icon {
    width: 20px;
    height: 20px;
    stroke: $color-accent-light-blue;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    margin-right: 12px;
  }

  &__search-icon {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    fill: $color-accent-light-blue;
  }

  &__input {
    width: 100%;
    padding: 12px 16px;
    background-color: $color-bg-secondary;
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 500;
    outline: none;
    border-radius: 4px 0px 0px 4px;

    &::placeholder {
      color: $color-text-tertiary;
    }

    &:focus {
      // outline: 2px solid $color-accent-light-blue;      
    }

    @media (max-width: $s) {
      padding: 8px 12px;
    }
  }

  &__list {
    padding-top: 8px;
    padding-right: 8px;
  }

  &__popup {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 10;    
    &.results {
      z-index: 11;
    }
    @media (max-width: $m) {
      width: var(--size);
      left: -140px;
    }
    @media (max-width: $s) {
      top: 72px;
      width: 100%;
      left: 0;
    }
    @media (max-width: $xs) {
      top: 64px;
    }
  }

  &__history {
    box-shadow: 0px 0px 12px rgba(11, 14, 20, 0.16);
    border-radius: 4px;
    background-color: $color-bg-primary;
    width: 100%;
    padding: 24px 0 32px 8px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 552px;

    @media (max-width: $s) {
      box-shadow: unset;
      height: calc(100vh - 72px);
      max-height: 100%;
    }

    @media (max-width: $xs) {
      padding: 16px 0 24px 16px;
      border-radius: 0;
    }

    &::-webkit-scrollbar {
      width: 12px;
      
    }
    &::-webkit-scrollbar-track {
      // background-color: $color-bg-primary;
      // background-color: red;
      // border-radius: 999px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 999px;
      border: 4px solid transparent;
      background-clip: content-box;
      background-color: $color-accent-light-blue;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    padding-right: 24px;

    &.second {
      margin-top: 24px;
    }
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(14, 20);
    font-weight: 700;
    padding-left: 16px;

    &.clear {
      color: $color-text-secondary;
      font-weight: 500;
      cursor: pointer;
    }
  }

  &__item {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;
    cursor: pointer;    
    padding: 10px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-bg-secondary;
      color: $color-text-primary;
    }   
  }

  &__cancel {
    display: none;
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 600; 
    flex-shrink: 0;        
    justify-content: flex-end;
    text-align: right;
    width: 0;
    opacity: 0; 
    transition: opacity 0.3s ease, width 0.3s ease;
    
    &.active {
      width: 97px !important;
      opacity: 1;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
