<template lang='pug'>
.search-field
  input.search-field__input(type='search' placeholder='Поиск по сайту' v-model="searchValue" @focus='searchFocused' @blur='searchBlur' id='searhFocus')       
  .search-field__box
    svg-icon.search-field__icon(name='search' @click='search')
    transition(name='fade')
      img.search-field__preloader(src='/icons/preloader-item.png' v-if="loading")
    transition(name='fade')
      svg-icon.search-field__delete(name='delete' v-if="searchValue" @click='deleteText')
  .search-field__cancel(:class='{"active": focused}' @click='searchBlur') Отменить
  transition(name='fade')
    .search-field__popup.results(v-if="searchValue" :style='"--size: " + searchSize + "px"')
      SearchPopup
  transition(name='fade')
    .search-field__popup(v-if="focused && !searchValue" :style='"--size: " + searchSize + "px"')
      .search-field__history
        .search-field__head
          p.search-field__title История поиска
          p.search-field__title.clear Очистить
        .search-field__list
          .search-field__item(@click='setQuery("Профнастил для забора")')
            svg-icon.search-field__history-icon(name='history')
            | Профнастил для забора
          .search-field__item(@click='setQuery("Профнастил для забора")')
            svg-icon.search-field__history-icon(name='history')
            | Профнастил для забора
          .search-field__item(@click='setQuery("Профнастил для забора")')
            svg-icon.search-field__history-icon(name='history')
            | Профнастил для забора
        .search-field__head.second
          p.search-field__title Популярные запросы
        .search-field__list
          .search-field__item(@click='setQuery("Профнастил для забора")')
            svg-icon.search-field__search-icon(name='search')
            | Профнастил для забора
          .search-field__item(@click='setQuery("Профнастил для забора")')
            svg-icon.search-field__search-icon(name='search')
            | Профнастил для забора
          .search-field__item(@click='setQuery("Профнастил для забора")')
            svg-icon.search-field__search-icon(name='search')
            | Профнастил для забора
          .search-field__item(@click='setQuery("Профнастил для забора")')
            svg-icon.search-field__search-icon(name='search')
            | Профнастил для забора
          .search-field__item(@click='setQuery("Профнастил для забора")')
            svg-icon.search-field__search-icon(name='search')
            | Профнастил для забора
          .search-field__item(@click='setQuery("Профнастил для забора")')
            svg-icon.search-field__search-icon(name='search')
            | Профнастил для забора
</template>

<script>
export default { 
  data() {
    return {
      searchValue: null,
      focused: false,
      loading: false,
      searchSize: 0
    }
  },
  methods: {
    search() {      
      this.$router.push('/search')      
      this.$nuxt.$emit('closeSeach')
      this.$nuxt.$emit('closeCatalog')
    },
    searchBlur() {
      this.focused = false
    },
    searchFocused() {
      this.focused = true      
    },
    setQuery(query) {
      this.searchValue = query
    },
    deleteText() {
      this.searchValue = null
    }
  }, 
  mounted() {
    this.$nuxt.$on('searchFocused', this.searchFocused)
    this.$nuxt.$on('closeSearch', this.$nuxt.$emit('closeSeach'))    
    if (window.innerWidth < 1280 ) {
      this.searchSize = document.querySelector('.header__actions').clientWidth      
    }
    window.addEventListener('resize', () => {
      this.searchSize = document.querySelector('.header__actions').clientWidth
    })    
  },   
}
</script>

<style lang='scss' src='./search-field.scss'></style>