<template lang="pug">  
  nuxt-link.object-card(:to='data.link' v-else)
    .object-card__cover
      img.object-card__image(:src='data.image')
    p.object-card__title {{data.title}}
    p.object-card__text {{data.location}} • {{data.date}}
</template>

<script>
export default {
  props: ['data']
}
</script>

<style lang="scss" src='./object-card.scss'>
  
</style>