.object-card {
  $this: &;
  width: 324px;
  // height: 178px;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    #{$this}__image {
      transform: scale(1.05);
    }
    #{$this}__title {
      color: $color-accent-light-blue;
    }
  }

  @media (max-width: $l) {
    width: 282px;
  }
  @media (max-width: $s) {
    width: 292px;
  }
  @media (max-width: $xxs) {
    width: 272px;
  }

  &.grid {
    width: 100%;
    height: 100%;
  }
  
  &__cover {
    border-radius: 8px;
    display: flex;
    width: 100%;
    overflow: hidden;
    // height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 3;
    transition: transform 0.5s ease;
  }

  &__title {
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 700;  
    margin-top: 16px;  
    transition: color 0.3s ease;
  }

  &__text {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 400; 
    margin-top: 8px;   
  }  
}