<template lang="pug">  
  .dropdown-menu
    .container
      .dropdown-menu__head
        Logo
        svg-icon.dropdown-menu__icon-close(name='close' @click='close')
      .dropdown-menu__body
        .dropdown-menu__item(@click='openCatalog')
          svg-icon.dropdown-menu__icon.grid(name='layout-grid')
          .dropdown-menu__container
            p.dropdown-menu__text Каталог
            svg-icon.dropdown-menu__icon-chevron(name='chevron-right')
        .dropdown-menu__item(@click='openCalculator')
          svg-icon.dropdown-menu__icon.calculator(name='calculator')
          .dropdown-menu__container
            p.dropdown-menu__text Калькуляторы
            svg-icon.dropdown-menu__icon-chevron(name='chevron-right')
        nuxt-link.dropdown-menu__item(to='/services' @click.native='close')
          svg-icon.dropdown-menu__icon.service(name='service')
          .dropdown-menu__container
            p.dropdown-menu__text Услуги
        .dropdown-menu__item(@click='estimate')
          svg-icon.dropdown-menu__icon.estimate(name='cost-estimate')
          .dropdown-menu__container
            p.dropdown-menu__text Получить смету
            svg-icon.dropdown-menu__icon-chevron(name='chevron-right')
        nuxt-link.dropdown-menu__item(to='/contacts' @click.native='close')
          svg-icon.dropdown-menu__icon.phone(name='phone')
          .dropdown-menu__container
            p.dropdown-menu__text Контакты
        nuxt-link.dropdown-menu__item(to='/promotions' @click.native='close')
          svg-icon.dropdown-menu__icon.sale(name='sale')
          .dropdown-menu__container
            p.dropdown-menu__text Акции
        nuxt-link.dropdown-menu__item(to='/objects' @click.native='close')
          svg-icon.dropdown-menu__icon.object(name='object')
          .dropdown-menu__container
            p.dropdown-menu__text Объекты
        nuxt-link.dropdown-menu__item(to='/files' @click.native='close')
          svg-icon.dropdown-menu__icon.glossary(name='glossary')
          .dropdown-menu__container
            p.dropdown-menu__text Справочник
        nuxt-link.dropdown-menu__item(to='/delivery' @click.native='close')
          svg-icon.dropdown-menu__icon.delivery(name='delivery')
          .dropdown-menu__container
            p.dropdown-menu__text Доставка и оплата
        nuxt-link.dropdown-menu__item(to='/vacancies' @click.native='close')
          svg-icon.dropdown-menu__icon.vacancies(name='user')
          .dropdown-menu__container
            p.dropdown-menu__text Вакансии
        .dropdown-menu__item(@click='getLocation')
          svg-icon.dropdown-menu__icon.grid(name='location')
          .dropdown-menu__container
            p.dropdown-menu__text Город
            .dropdown-menu__city
              p.dropdown-menu__text.grey Санкт-Петербург
              svg-icon.dropdown-menu__icon-chevron(name='chevron-right')
</template>

<script>
export default {
  props: ['data', 'title'],
  data() {
    return {
      dropdownOpened: false
    }
  },
  methods: {
    getLocation() {
      this.$nuxt.$emit('openCity')
    },
    estimate() {      
      this.$nuxt.$emit('openEstimate')
    },
    toogleDropdown() {
      this.dropdownOpened = !this.dropdownOpened
    },
    close() {
      this.$nuxt.$emit('closeMenu')
    },
    openCatalog() {
      this.$nuxt.$emit('openCatalog')
    },
    openCalculator() {
      this.$nuxt.$emit('openCalculator')
    }
  },
}
</script>

<style src='./dropdown-menu.scss' lang="scss">

</style>