.dropdown-menu {
  $this: &;
  width: 100vw;
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding: 8px 0 16px;

    @media (max-width: $s) {
      overflow-y: scroll;
      height: calc(100vh - 56px - 60px);
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
    
  }

  &__item {
    display: flex;
    align-items: center;

    &:nth-last-child(1) {
      #{$this}__container {
        border-bottom: unset;
      }
    }
  }

  &__text {
    // color: $color-accent-dark-blue;
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;

    &.grey {
      color: $color-text-secondary;
      margin-right: 16px;
    }
  }

  &__city {
    display: flex;
    align-items: center;
  }

  &__container {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-separator;
    color: $color-separator;
    margin-left: 16px;
    width: 100%;
    justify-content: space-between;
  }

  &__icon-close {
    width: 24px;
    height: 24px;
    fill: $color-icon-primary;
  }

  &__icon-chevron {
    width: 24px;
    height: 24px;
    fill: $color-icon-secondary;
    fill-rule: evenodd;
    clip-rule: evenodd;
  }

  &__icon {
    width: 24px;
    height: 24px;
    &.calculator {
      fill-rule: evenodd;
      clip-rule: evenodd;
      fill: $color-accent-light-blue;
    }
    &.grid {
      stroke: $color-accent-light-blue;
      stroke-width: 1.5;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    &.service {
      fill: $color-accent-light-blue;
    }

    &.estimate {
      fill: $color-accent-light-blue;
      fill-rule: evenodd;
      clip-rule: evenodd;
    }
    &.phone {
      stroke: $color-accent-light-blue;
      stroke-width: 1.5;
      stroke-linecap: round;
    }
    &.sale {
      fill: $color-accent-light-blue;
      fill-rule: evenodd;
      clip-rule: evenodd;
    }
    &.object {
      fill: $color-accent-light-blue;
      stroke: $color-accent-light-blue;
    }
    &.glossary {
      fill: $color-accent-light-blue;
      stroke: $color-accent-light-blue;
    }
    &.delivery {
      fill: $color-accent-light-blue;
      fill-rule: evenodd;
      clip-rule: evenodd;
    }
    &.about {
      fill: $color-accent-light-blue;
      stroke: $color-accent-light-blue;
    }
    &.vacancies {
      stroke: $color-accent-light-blue;
      stroke-width: 1.5;
    }
  }
}
