.seo-section {
  max-width: 901px;
  padding-top: 64px;

  @media (max-width: $s) {
    padding-top: 48px;
  }
  
  &__content {
    padding-top: 24px;

    @media (max-width: $s) {
      padding-top: 16px;
    }
  }

  &__title {
    margin-bottom: 24px;
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;
    @media (max-width: $xs) {
      margin-bottom: 0;
    }
  }
  

  &__text {
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 500;

    &.blue {
      color: $color-accent-dark-blue;
    font-weight: 600;
    cursor: pointer;
    }
  }

  &__tabs {
    display: flex;
    overflow-y: auto;
    margin-top: 24px;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    @media (max-width: $xs) {
      margin-top: 16px;
    }
  }

  &__tab {
    flex-shrink: 0;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: $color-bg-secondary;
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 500;
    transition: background-color 0.5s ease, color 0.5s ease;

    &.active {
      background-color: $color-accent-light-blue;
      color: $color-text-contrast;
      &:hover {
        background-color: $color-accent-light-blue;
        color: $color-text-contrast;
      }
    }

    &:hover {
      background-color: $color-bg-tertiary;
    }

    & + & {
      margin-left: 8px;
    }
  }
}