<template lang="pug">
.seo-section
  h2.seo-section__title Купить профнастил в Смоленске от 400 ₽/м²
  .seo-section__tabs
    button(type='button' @click='toggleTab(1)', :class='{ "active": tab == 1 }').seo-section__tab Виды и типы профнастила
    button(type='button' @click='toggleTab(2)', :class='{ "active": tab == 2 }').seo-section__tab Характеристики профнастила
  .seo-section__content(v-if='tab == 1')
    p.seo-section__text Профнастил или просто — профлист, представляет собой металлический профилированный (изогнутый особым способом) лист с защитным покрытием. Профилирование такого листа имеет различную форму, но чаще всего встречается волнообразный и трапециевидный профиль. Защитное покрытие, это или оцинковка, или полимерное покрытие. В зависимости от способов применения, материал может отличаться высотой волны, толщиной, формой, видом покрытия и различной цветовой гаммой. Купить профнастил — это значит выбрать материал исходя из способа его применения. Для того, чтобы было удобнее выбирать материал, он имеет соответствующую маркировку.
    .seo-section__wysiwyg(v-show-slide:500:example-easing="opened")
      Wysiwyg(:data='data')      
    .seo-section__more(@click='toogle') 
      p.seo-section__text.blue(v-if="!opened") Подробнее
      p.seo-section__text.blue(v-if="opened") Скрыть
</template>

<script>
export default {
  props: ['data'],
  data() {
    return {
      tab: 1,
      opened: false
    }
  },
  methods: {
    toggleTab(id) {
      this.tab = id;
    },
    toogle() {
      this.opened = !this.opened
    }
  },
}
</script>

<style lang="scss" src='./seo-section.scss'>
  
</style>