.review-feedback {
  padding: 24px;
  border-radius: 8px;
  background-color: $color-bg-secondary;
  display: flex;
  flex-direction: column;

  &__title {
    color: $color-text-heading;
    @include fontSize(16, 24);
    font-weight: 600;
  }

  &__text {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 500;
    padding-top: 8px;
  }

  &__button {
    width: 100%;
    height: 48px;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: $color-accent-dark-blue;
    color: $color-text-contrast;
    @include fontSize(16, 24);
    font-weight: 600;

    &:hover {
      background-color: $color-accent-light-blue;
    }
  }
}