<template lang="pug">
  .review-feedback
    p.review-feedback__title Нам очень важно ваше мнение
    p.review-feedback__text Будем рады если вы поделитесь своим мнением об этом товаре. Мы честно публикуем все отзывы не зависимо от оценки (исключение составляют только отзывы с нецензурной лексикой)
    button.review-feedback__button(@click='openReview') Оставить отзыв    
</template>

<script>
import ModalReview from '../ModalReview/ModalReview'
export default {
  props: ['review'],
  methods: {
    openReview() {
      this.$modal.show(
        ModalReview,
        {},
        { width: '400', scrollable: true, adaptive: true }
      )
    },
  },  
}
</script>

<style lang="scss" src='./review-feedback.scss'>
</style>