<template lang="pug">
  .order-status
    .order-status__container.green(v-if="status == 'delivered'")
      svg-icon.order-status__icon(name='in-stock-white')
      span Доставлен
    .order-status__container.blue(v-if="status == 'sended'")
      svg-icon.order-status__icon(name='box')
      span Отправлен
    .order-status__container.orange(v-if="status == 'inProgress'")
      svg-icon.order-status__icon.red(name='time')
      span Обрабатывается
    .order-status__container.red(v-if="status == 'canceled'")
      svg-icon.order-status__icon(name='out-of-stock-white')
      span Отменён
</template>

<script>
export default {
  props: ['status']
}
</script>

<style lang="scss" src='./order-status.scss'>
  
</style>