.order-status {

  &__container {
    display: flex;
    align-items: center;
    color: $color-text-contrast;
    @include fontSize(14, 16);
    font-weight: 600;
    width: fit-content;
    padding: 8px 12px;
    border-radius: 4px;
    gap: 8px;

    &.green {
      background-color: #2F8722;
    }
    &.blue {
      background-color: #307BAD;
    }
    &.orange {
      background-color: #DB7100;
    }
    &.red {
      background-color: #E02D2A;
    }

    span {
      @media (max-width: $xxs) {
        display: none;
      }
    }
  }
  &__icon {
    width: 16px;
    height: 16px;

    &.red {
      stroke: red;
    }
  }
}