<template lang='pug'>
  nuxt-link.link-card(to='/colors' v-if="color")
    p.link-card__title Каталог цветов RAL/RR
    .link-card__cover
      img.link-card__image(src="/icons/catalog.svg")
      .link-card__background
    p.link-card__title.link
      | Выбрать
      svg-icon.link-card__arrow(name='arrow-right' style='margin-left: 4px;')
  nuxt-link.link-card(:to='data.link' v-else)
    p.link-card__title {{data.title}}
    .link-card__cover
      .link-card__image(v-html="data.icon")
    p.link-card__title.link
      | Выбрать
      svg-icon.link-card__arrow(name='arrow-right' style='margin-left: 4px;')
</template>

<script>
export default {  
  props: ['data', 'color']
}
</script>

<style lang='scss' src='./link-card.scss'></style>