.link-card {
  $this: &;
  background-color: $color-bg-primary;
  padding: 24px;
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  width: 360px;
  height: 347px;

  @media (max-width: $s) {
    width: 323px ;
    height: 377px;
    padding: 16px;
  }

  @media (max-width: $xs) {
    width: 223px;
    height: 327px;
  }

  @media (max-width: $xxs) {
    width: 287px ;
    height: 323px;
  }

  &.not-slider {
    width: 100%;
    height: 100%;
  }
  &.is-list {
    @media (max-width: $s) {
      width: 323px;
    }
  
    @media (max-width: $xs) {
      width: 223px;
    }
  
    @media (max-width: $xxs) {
      width: 287px;
    }
  }

  &:hover {
    #{$this}__image {
      transform: scale(1.1);
    }

    #{$this}__background {
      transform: scale(5);
    }
  }

  &__cover {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
  }

  &__image {
    transition: transform 0.5s ease;
    z-index: 1;
  }

  &__background {
    position: absolute;
    width: 144px;
    height: 144px;
    background-color: $color-bg-secondary;
    border-radius: 50%;
    z-index: 0;
    transition: transform 0.3s ease;
  }

  &__title {
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 700;
    z-index: 1;

    &.link {
      @include fontSize(14, 20);
      font-weight: 600;
    }
  }

  &__arrow {
    width: 20px;
    height: 20px;
    fill: $color-accent-dark-blue;
  }
}
