.subcategory-card {
  $this: &;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:nth-child(1) {
    @media (max-width: $s) {
      margin-left: 24px;
    }
    @media (max-width: $xs) {
      margin-left: 16px;
    }
  }

  &+& {
    @media (max-width: $s) {
      margin-left: 16px;
    }
  }

  @media (max-width: $s) {
    width: 173px;
    text-align: center;
  }

  &:hover {
    #{$this}__image {
      transform: scale(1.2);
    }
    #{$this}__title {
      color: $color-accent-light-blue;
    }
  }

  &__image {
    transition: transform 0.5s ease;
  }

  &__cover {
    position: relative;
    width: 144px;
    height: 144px;
  }

  &__background{
    top: 8px;
    left: 8px;
    position: absolute;
    width: 128px;
    height: 128px;
    background-color: $color-bg-secondary;
    z-index: -1;
    border-radius: 50%;
    
  }

  &__title {
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 600;
    margin-top: 8px;
    transition: color 0.3s ease;
  }
}