<template lang="pug">
  nuxt-link.promo-card(to='/promotions/slug')
    .promo-card__content
      h2.promo-card__title Оцинкованный и окрашенный профлист С8 «Дачный» со скидкой 20%
      p.promo-card__text с 31 марта до 31 июля
    .promo-card__cover
      img.promo-card__image(src='/img/promo-card.png')
</template>

<style lang="scss" src='./promo-card.scss'>
  
</style>