.promo-card {
  $this: &;
  display: flex;
  justify-content: space-between;
  background-color: #639691;
  width: 100%;
  height: 100%;
  padding: 80px 0 24px 24px;
  position: relative;
  overflow: hidden;

  @media (max-width: $s) {
    padding: 64px 16px 16px 16px;
  }

  &:hover {
    #{$this}__image {
      transform: scale(1.1);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 60%;
    z-index: 3;

    @media (max-width: $s) {
      max-width: 100%;
    }
    @media (max-width: $xs) {
      max-width: 448px;
    }
  }

  &__title {
    color: $color-text-contrast;
    @include fontSize(24, 32);
    font-weight: 700;
    @media (max-width: $s) {
      @include fontSize(18, 24);
      padding-bottom: 253px;
    }
    @media (max-width: $xs) {
      padding-bottom: 179px;
    }
    @media (max-width: $xxs) {
      padding-bottom: 151px;
    }
  }

  &__text {
    color: $color-text-contrast;
    @include fontSize(14, 20);
    font-weight: 600;
  }

  &__cover {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 27%; 
    display: flex;
    
    @media (max-width: $xs) {
      width: 40%; 
      
    }

    @media (max-width: $xxs) {
      width: 60%; 
      // right: -16px;
    }
  }

  &__image {
    transition: transform 0.5s ease;
    
  }

}