<template lang='pug'>
.main-colors
  h2.main-colors__title Оттенки вашего любимого цвета
  p.main-colors__text Мы предлагаем более 70 цветов, оттенков и паттернов на выбор
  .main-colors__tabs
    button.main-colors__tab(
      v-if='color.hex',
      v-for='(color, i) in colors',
      :key='i',
      type='button',
      @click='toggleTab(i + 1)',
      :class='{ active: tab == i + 1 }',
      :style='"background-color: " + color.hex + ";z-index: " + (colors.length - i)'
    )
    img.main-colors__tab(
      v-if='color.texture',
      v-for='(color, i) in colors',
      :key='i',
      type='button',
      :src='color.texture',
      @click='toggleTab(i + 1)',
      :class='{ active: tab == i + 1 }',
      :style='"z-index: " + (colors.length - i)'
    )

  .main-colors__content(
    v-if='tab == 1',
    :style='"z-index: " + (colors.length + 1)'
  ) 
    .main-colors__grid
      .main-colors__item.link(v-for="card in link_cards" :key="card.id")
        LinkCard(:data='card' class='not-slider is-list')
      .main-colors__item.product(
        v-for='product in products_meta',
        :key='product.id',
        :class='{ "big": product.big, "very-big": product.very_big }'
      )
        ProductCardMeta(:product='product' :class='{ "big": product.big, "very-big": product.very_big }')
      .main-colors__item
        LinkCard(color='true' class='not-slider is-list')
</template>

<script>
export default {
  props: ['card'],
  data() {
    return {
      tab: 1,
      colors: [
        {
          hex: '#6E9755',
        },
        {
          hex: '#4A7196',
        },
        {
          hex: '#FF8A00',
        },
        {
          hex: '#FFD442',
        },
        {
          hex: '#A52121',
        },
        {
          hex: '#2E2F2F',
        },
        {
          hex: '#60411D',
        },
        {
          hex: '#BFBFBF',
        },
        {
          hex: '#FFFFFF',
        },
        {
          texture: '/img/texture-1.jpg',
        },
        {
          texture: '/img/texture-2.jpg',
        },
        {
          texture: '/img/texture-3.jpg',
        },
        {
          texture: '/img/texture-4.jpg',
        },
      ],
      link_cards: [
        {
          title: 'Сопутствующие товары',
          link: '/catalog/slug',
          icon: '<svg width="144" height="144" viewBox="0 0 144 144" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M117.6 31.2006L40.8 21.6006L18 112.801L94.8 122.401L100.432 99.8716M117.6 31.2006L127.208 103.213L100.432 99.8716M117.6 31.2006L100.432 99.8716M89.7001 60.1123L108.9 62.5123M82.5728 89.3791L101.773 91.7791M69.1781 23.3162L45.8663 116.545M96.8895 27.6193L73.6357 120.614" stroke="#6E9755" stroke-width="2"/></svg>',
        },
        {
          title: 'Сопутствующие товары',
          link: '/catalog/slug',
          icon: '<svg width="144" height="144" viewBox="0 0 144 144" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M117.6 31.2006L40.8 21.6006L18 112.801L94.8 122.401L100.432 99.8716M117.6 31.2006L127.208 103.213L100.432 99.8716M117.6 31.2006L100.432 99.8716M89.7001 60.1123L108.9 62.5123M82.5728 89.3791L101.773 91.7791M69.1781 23.3162L45.8663 116.545M96.8895 27.6193L73.6357 120.614" stroke="#6E9755" stroke-width="2"/></svg>',
        },
      ],
      products_meta: [
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          very_big: true,
          colors: [
            {
              hex: '#1D603C',
            },
            {
              hex: '#60411D',
            },
            {
              hex: '#601D1D',
            },
            {
              hex: '#040404',
            },
            {
              hex: '#BFBFBF',
            },
            {
              hex: '#8F1717',
            },
            {
              texture: '/icons/color.png',
            },
          ],
        },
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          colors: [
            {
              hex: '#1D603C',
            },
            {
              hex: '#60411D',
            },
            {
              hex: '#601D1D',
            },
            {
              hex: '#040404',
            },
            {
              hex: '#BFBFBF',
            },
            {
              hex: '#8F1717',
            },
            {
              texture: '/icons/color.png',
            },
          ],
        },        
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          colors: [
            {
              hex: '#1D603C',
            },
            {
              hex: '#60411D',
            },
            {
              hex: '#601D1D',
            },
            {
              hex: '#040404',
            },
            {
              hex: '#BFBFBF',
            },
            {
              hex: '#8F1717',
            },
            {
              texture: '/icons/color.png',
            },
          ],
        },
        {
          image: '/img/product-card-meta-1.png',
          title: 'Профлист С8',
          text: '32 вида покрытий',
          subtext: '+20 цветов',
          price: 844,
          link: '/product/slug',
          colors: [
            {
              hex: '#1D603C',
            },
            {
              hex: '#60411D',
            },
            {
              hex: '#601D1D',
            },
            {
              hex: '#040404',
            },
            {
              hex: '#BFBFBF',
            },
            {
              hex: '#8F1717',
            },
            {
              texture: '/icons/color.png',
            },
          ],
        },
      ],
    }
  },
  methods: {
    toggleTab(id) {
      this.tab = id
    },
  },
}
</script>

<style lang='scss' src='./main-colors.scss'></style>