.main-colors {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  @media (max-width: $s) {
    padding-top: 32px;
  }
  @media (max-width: $xs) {
    padding-top: 24px;
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;
    width: 100%;
    text-align: center;
    @media (max-width: $m) {
      @include fontSize(20, 28);
    }
    @media (max-width: $s) {
      text-align: left;
      padding-left: 24px;
      @include fontSize(18, 24);
    }
    @media (max-width: $xs) {
      padding-left: 16px;
    }
  }

  &__text {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin-top: 12px;

    @media (max-width: $s) {
      text-align: left;
      padding-left: 24px;      
    }
    @media (max-width: $xs) {
      padding-left: 16px;
    }
  }

  &__tabs {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: -48px;
    @media (max-width: $s) {
      margin-top: 48px;
      margin-bottom: 32px;

      justify-content: space-between;
      scroll-behavior: smooth;
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
      scroll-snap-stop: always;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }     
    }
    @media (max-width: $xs) {
      margin-top: 40px;
      margin-bottom: 16px;
    }
  }

  &__tab {    
    width: 96px;
    height: 96px;
    border-radius: 100%;
    transition: transform 0.5s ease, margin 0.3s ease;
    border: 1px solid transparent; 
    cursor: pointer;
    
    @media (max-width: $s) {
      margin: 8px 0;
      flex-shrink: 0;
      display: flex;
      width: 64px;
      height: 64px;  
      z-index: 1 !important;    
    }
    
    & + & {
      margin-left: -32px;
      @media (max-width: $s) {
        margin-left: 8px;
      }
    }

    &:nth-child(1) {
      @media (max-width: $m) {
        margin-left: 24px;
      }
      @media (max-width: $s) {
        margin-left: 16px;
      }
    }

    &:hover {
      transform: scale(1.2);
    }

    &.active {
      transform: scale(1.33);
      margin-left: -48px;
      @media (max-width: $s) {
        transform: scale(1.2);
        margin-left: 16px;
        margin-right: 8px;
      }
    }
  }  

  &__grid {
    border-top: 1px solid $color-separator;
    border-bottom: 1px solid $color-separator;
    display: grid;
    background-color: $color-separator;
    gap: 1px;

    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;

    @media (max-width: $m) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media (max-width: $s) {
      scroll-behavior: smooth;
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
      scroll-snap-stop: always;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }

  &__item {
    &.link {
      order: 0;
    }

    &.product {
      order: 1;
    }

    &:nth-child(odd) {
      order: 1;
    }

    &:nth-child(even) {
      order: 2;
    }

    &.big {
      grid-column: span 2;
    }

    &.very-big {
      grid-column: span 3;
    }

    &:nth-last-child(1) {
      order: 4;
    }
  }

  &__image {
    margin-top: 32px;
    width: 100%;
    height: 100%;
  }
}
