<template lang="pug">
.nav
  nuxt-link.nav__item(to='/promotions')
    svg-icon.nav__icon-red(name='sale')
    p.nav__text Акции
  .nav__item.dropdown
    svg-icon.nav__icon-calculator(name='calculator') 
    span.nav__link Калькуляторы
    svg-icon.nav__icon-chevron(name='chevron-down')
    .nav__dropdown-container
      nuxt-link.nav__dropdown-item(to='/') 
        svg-icon.nav__icon(name='fence')
        | Калькулятор забора
      nuxt-link.nav__dropdown-item(to='/') 
        svg-icon.nav__icon(name='roof')
        | Калькулятор кровли
      nuxt-link.nav__dropdown-item(to='/') 
        svg-icon.nav__icon(name='gutter')
        | Калькулятор водостока
      nuxt-link.nav__dropdown-item(to='/') 
        svg-icon.nav__icon(name='siding')
        | Калькулятор сайдинга
      nuxt-link.nav__dropdown-item(to='/') 
        svg-icon.nav__icon(name='isolation')
        | Калькулятор утеплителя
  nuxt-link.nav__link(to='/') Доставка и оплата
  nuxt-link.nav__link(to='/objects') Объекты
  nuxt-link.nav__link(to='/services') Услуги
  nuxt-link.nav__link(to='/files') Справочник
  nuxt-link.nav__link(to='/about') О компании
  nuxt-link.nav__link(to='/contacts') Контакты

  .nav__item.dropdown    
    span.nav__link Страницы сайта
    svg-icon.nav__icon-chevron(name='chevron-down')
    .nav__dropdown-container
      nuxt-link.nav__dropdown-item(to='/catalog') Каталог
      nuxt-link.nav__dropdown-item(to='/catalog/slug') Категория

      nuxt-link.nav__dropdown-item(to='/product/slug') Товар
      nuxt-link.nav__dropdown-item(to='/product/test-product-simple' style='color: red') Простой товар
      nuxt-link.nav__dropdown-item(to='/product/test-product-medium' style='color: red') Товар с покрытиями
      nuxt-link.nav__dropdown-item(to='/product/test-product-hard' style='color: red') Комплексный товар

      nuxt-link.nav__dropdown-item(to='/account') Личный кабинет
      nuxt-link.nav__dropdown-item(to='/compare') Сравнения
      nuxt-link.nav__dropdown-item(to='/favorites') Избранное
      nuxt-link.nav__dropdown-item(to='/viewed') Просмотренные
      nuxt-link.nav__dropdown-item(to='/search') Поиск
      nuxt-link.nav__dropdown-item(to='/contacts') Контакты

      nuxt-link.nav__dropdown-item(to='/vacancies') Вакансии
      nuxt-link.nav__dropdown-item(to='/files') Справочник
      nuxt-link.nav__dropdown-item(to='/colors') Справочник цветов
      nuxt-link.nav__dropdown-item(to='/coating') Подбор покрытий
      nuxt-link.nav__dropdown-item(to='/objects') Список объектов
      nuxt-link.nav__dropdown-item(to='/objects/slug') Объект
      nuxt-link.nav__dropdown-item(to='/promotions') Список акций
      nuxt-link.nav__dropdown-item(to='/promotions/slug') Акция
      nuxt-link.nav__dropdown-item(to='/services') Услуги
      nuxt-link.nav__dropdown-item(to='/services/slug') Услуга
  nuxt-link.nav__link(to='/constructor') Конструктор экстерьера
</template>

<script>
export default {
  data() {
    return {
      text: 'Header',
    }
  },
}
</script>

<style src='./nav.scss' lang="scss">
</style>