.nav {
  $this: &;
  display: flex;
  padding: 12px 0;
  gap: 24px;
  align-items: center;

  &__item {
    display: flex;
    position: relative;
    // gap: 8px;
    align-items: center;
    &.dropdown {
      cursor: pointer;
      &:hover {
        #{$this}__dropdown-container {
          opacity: 1;
          visibility: visible;
          z-index: 2;
        }
        #{$this}__icon-calculator {
          fill: $color-accent-light-blue;
        }
      }
    }
  }

  &__text {
    color: $color-accent-red;
    @include fontSize(13, 16);
    font-weight: 600;
  }

  &__icon-red {
    width: 16px;
    height: 16px;
    // margin-right: 8px;
    fill: $color-accent-red;
    fill-rule: evenodd;
    clip-rule: evenodd;
    margin-right: 8px;
  }

  &__link {
    color: $color-accent-dark-blue;
    @include fontSize(13, 16);
    font-weight: 600;

    &:hover {
      color: $color-accent-light-blue;
    }
  }

  &__icon-chevron {
    fill: $color-accent-dark-blue;
    fill-rule: evenodd;
    clip-rule: evenodd;
    transition: fill 0.3s ease;
    width: 16px;
    height: 16px;
    margin-left: 4px;
  }

  &__dropdown-container {
    transition: opacity, visibility;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    border-radius: 4px;
    background: $color-grey-0;
    box-shadow: 0px 0px 12px rgba(11, 14, 20, 0.16);
    padding: 8px 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 34px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    width: 224px;

    &::after {
      content: '';
      position: absolute;
      top: -22px;
      width: 240px;
      height: 26px;
      right: 0;
      left: 0;
      z-index: 0;
    }
  }

  &__dropdown-item {
    padding: 12px 16px;
    color: $color-text-primary;
    @include fontSize(13, 16);
    font-weight: 500;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 12px;

    &.red {
      color: $color-accent-red;
      &:hover {
        color: $color-accent-red;
      }
    }

    &:hover {
      background-color: $color-bg-secondary;
      color: $color-text-primary;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $color-accent-dark-blue;
    fill-rule: evenodd;
    clip-rule: evenodd;
  }

  &__icon-calculator {
    width: 16px;
    height: 16px;
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: $color-accent-dark-blue;
    margin-right: 8px;
  }
}
