<template lang="pug">
  .coating-main
    .coating-main__slider      
      ImagesSlider(:data='data.slider')
    .coating-main__content
      h2.coating-main__title {{data.info.title}}
      .coating-main__description
        p.coating-main__text(v-for="text in data.info.description" :key="text.id") {{text}}
      .coating-main__specifications
        .coating-main__item(v-for="specification in data.info.specifications" :key="specification.id")
          .coating-main__specs
            img.coating-main__icon(:src='specification.icon')
            p.coating-main__name {{specification.name}}
            InfoIcon(:text='specification.info' v-if="specification.info")            
          .coating-main__values
            p.coating-main__value(v-if="specification.value") {{specification.value}}
            .coating-main__rating(v-if="specification.quantity")
              .coating-main__dot(v-for="(item, i) in 5" :key="i" :class='{"active": i >= specification.quantity}')        
</template>

<script>
export default {
  props: ['data']
}
</script>

<style lang="scss" src='./coating-main.scss'>
  
</style>