.coating-main {
  display: flex;
  width: 100%;
  gap: 40px;
  margin-top: 24px;
  position: relative;

  @media (max-width: $m) {
    gap: 32px;
  }

  @media (max-width: $s) {
    gap: 24px;
    flex-direction: column;
  }
  

  &__slider {   
    width: 50%;
    display: flex;
    @media (max-width: $s) {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;

    @media (max-width: $m) {
      @include fontSize(20, 28);
    }
    @media (max-width: $s) {
      @include fontSize(18, 24);
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
  }

  &__text {
    color: $color-text-primary;
    @include fontSize(16, 24);
    font-weight: 500;
    & + & {
      padding-top: 8px;
    }
  }

  &__specifications {
    margin-top: 32px;
    padding: 24px;
    background-color: $color-bg-secondary;
    display: flex;
    flex-direction: column;
    border-radius: 8px;

    @media (max-width: $xs) {
      padding: 16px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $xxs) {
      flex-direction: column;      
      align-items: flex-start;
      gap: 16px;
    }

    & + & {
      margin-top: 24px;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;    
    opacity: 0.4;
  }

  &__specs {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__rating {
    display: flex;
    gap: 8px;
  }

  &__dot {
    width: 12px;
    height: 12px;
    background-color: $color-grey-900;
    border-radius: 50%;

    &.active {
      background-color: $color-grey-300;
    }
  }

  &__name {
    color: $color-text-heading;
    @include fontSize(14, 20);
    font-weight: 500;
  }

  &__value {
    color: $color-text-heading;
    @include fontSize(14, 20);
    font-weight: 600;
  }
}
