.main-complect {
  background-color: #334767;
  padding: 48px 0 64px;
  display: flex;
  flex-direction: column;

  @media (max-width: $s) {
    padding-bottom: 0;
  }

  &__cover {
    display: flex;
    align-items: flex-end;
    height: 360px;
    padding-top: 32px;
    @media (max-width: $l) {
      height: 244px;
    }
    @media (max-width: $s) {
      display: none;
    }
  }

  &__title {
    color: $color-text-contrast;
    @include fontSize(24, 32);
    font-weight: 700;
    width: 100%;
    text-align: center;
    @media (max-width: $m) {
      @include fontSize(20, 28);
    }
    @media (max-width: $s) {
      text-align: left;
      padding-left: 24px;
      @include fontSize(18, 24);
    }
    @media (max-width: $xs) {
      padding-left: 16px;
    }
  }

  &__tabs {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    @media (max-width: $s) {
      justify-content: flex-start;
      padding-left: 24px;
      margin-top: 16px;
      margin-bottom: 32px;
      scroll-behavior: smooth;
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
      scroll-snap-stop: always;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
    @media (max-width: $xs) {
      padding-left: 16px;
    }
  }

  &__tab {
    display: flex;
    flex-shrink: 0;
    color: $color-text-contrast;
    @include fontSize(16, 24);
    font-weight: 600;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    & + & {
      margin-left: 24px;
    }

    &:hover {
      opacity: 0.8;
    }

    &.active {
      opacity: 1;
    }
  }

  &__grid {
    display: grid;
    gap: 1px;

    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;

    @media (max-width: $m) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media (max-width: $s) {
      border-bottom: 1px solid $color-separator;
      background-color: $color-separator;
      scroll-behavior: smooth;
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
      scroll-snap-stop: always;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }

  &__item {
    &.link {
      order: 0;
    }

    &.product {
      order: 1;
    }

    &:nth-child(odd) {
      order: 2;
    }

    &:nth-child(even) {
      order: 1;
    }

    &.big {
      grid-column: span 2;
    }

    &:nth-last-child(1) {
      order: 3;
    }
  }

  &__image {    
    width: 100%;   
  }
}
