.collection-items {
  padding-top: 24px;

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: $s) {
      overflow-x: scroll;
      flex-wrap: nowrap;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }

  &__item {
    flex-shrink: 0;
    padding: 12px 16px;
    border-radius: 999px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: $color-bg-secondary;
    color: $color-accent-dark-blue;
    @include fontSize(14, 16);
    font-weight: 400;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: $color-bg-tertiary;
      color: $color-accent-dark-blue;
    }

    &.nuxt-link-exact-active {
      background-color: $color-accent-light-blue;
      color: $color-text-contrast;
    }      

    @media (max-width: $s) {
      margin-bottom: 0;
    }
  }

  &__all {
    padding: 10px 12px;
    color: $color-accent-dark-blue;
    @include fontSize(14, 20);
    font-weight: 600;
    cursor: pointer;
    flex-shrink: 0;
    margin-bottom: 8px;
    transition: color 0.3s ease;

    &:hover {
      color: $color-accent-light-blue;
    }

    @media (max-width: $s) {
      margin-bottom: 0;
    }
  }

  &__title {
    padding-top: 40px;
    padding-bottom: 24px;
    color: $color-text-heading;
    @include fontSize(24, 32);
    font-weight: 700;
    @media (max-width: $m) {
      @include fontSize(20, 28);
    }
    @media (max-width: $s) {
      padding-top: 24px;
      padding-bottom: 16px;
      @include fontSize(18, 24);
    }
  }
}