<template lang='pug'>
.collection-items
  h2.collection-items__title(v-if="title") {{title}}
  .collection-items__list
    nuxt-link.collection-items__item(
      v-for='item in collections',
      :key='item.id',
      :to='item.link'
    ) {{ item.name }}    
    p.collection-items__all(@click='toogleSidebar') Все подборки
    .filters-section__sidebar(:class='{"active": collectionsOpened}')
      CollectionsSidebar(:collections='collections')
    .filters-section__area(:class='{"active": collectionsOpened}' @click='closeSidebar')
</template>



<script>
export default {
  props: ['collections', 'title'],
  data() {
    return {
      collectionsOpened: false
    }
  },
  methods: {
    toogleSidebar() {
      this.collectionsOpened = !this.collectionsOpened
    },
    closeSidebar() {
      this.collectionsOpened = false
    }    
  },
  mounted() {
    this.$nuxt.$on('closeCollections', this.closeSidebar)
  },
}
</script>

<style lang='scss' src='./collection-items.scss'></style>