<template lang="pug">
label.attribute-item(ref='label')
  input.attribute-item__input(
    type='checkbox',    
    value='value',    
    @change='addFilter'
  )  
  p.attribute-item__text {{ attribute.name }}
</template>

<script>
export default {
  props: ['attribute'],
  methods: {
    addFilter(e) {
      this.$emit('change', this.$refs.label)
      this.$emit('input', e.target.checked)
    },
  },
}
</script>

<style lang="scss" src='./attribute-item.scss'>
</style>