.attribute-item {
  $this: &;
  padding: 16px 12px;
  background-color: $color-bg-secondary;
  border: 2px solid $color-bg-secondary;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: border 0.3s ease;
  position: relative;
  flex-shrink: 0;

  &:hover {
    border: 2px solid $color-separator;
  }  

  &.text {
    padding: 16px 8px;
  }

  &__color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__text {   
    color: $color-text-primary;
    @include fontSize(14, 16);
    font-weight: 500;
  }

  &__input {
    cursor: pointer;
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    

    &:checked {
      border-radius: 4px;
      border: 2px solid $color-accent-light-blue;
    }
  }
}
