.dropdown-catalog {
  $this: &;
  &__desktop {
    display: flex;
    @media (max-width: $s) {
      display: none;
    }
  }
  &__mobile {
    display: none;
    flex-direction: column;
    @media (max-width: $s) {
      display: flex;      
      width: 100vw;
    }
  }  

  &__headline {
    color: $color-text-heading;
    @include fontSize(18, 24);
    font-weight: 600;
    padding-left: 16px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    stroke: $color-accent-light-blue;
  }

  &__list {
    height: calc(100vh - 64px);
    margin-top: 16px;
    padding-right: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 12px;    
      z-index: 10;  
    }
    &::-webkit-scrollbar-track {
      // background-color: $color-bg-primary;
      // background-color: red;
      // border-radius: 999px;
    }
    &::-webkit-scrollbar-thumb {      
      border-radius: 999px;
      border: 4px solid transparent;
      background-clip: content-box;
      background-color: $color-accent-light-blue;
    }
  }

  &__item {    
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 8px;
    padding-right: 24px;
    // border-right: 4px solid $color-bg-primary;
    transition: background-color 0.5s ease;

    

    &:hover {
      // border-right: 4px solid $color-accent-light-blue;
      background-color: $color-bg-secondary;

      #{$this}__link {
        color: $color-accent-light-blue;
      }
    }
  }

  &__col {
    width: 280px;
    height: 100vh;
    padding: 24px 8px 24px;
    padding-right: 0;
    position: relative;

    &.none {
      display: none;
    }

    @media (max-width: $m) {
      width: 256px;
    }

    & + & {
      &::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 100%;
        background-color: $color-separator;
        top: 0;
        left: -10px;
        z-index: -1;
      }
    }

    // & + & {
    //   border-left: 8px solid $color-separator;
    // }

    &:nth-last-child(1) {
      width: 576px;
      @media (max-width: $m) {
        width: 448px;
      }
    }
  }

  &__box {
    & + & {
      padding: 24px 0;
      border-top: 1px solid $color-separator;
    }

    &.first {
      padding-bottom: 24px;
    }
  }

  &__link {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: $color-accent-light-blue;
    }
  }

  &__list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 16px 24px;
    margin-top: 16px;
    padding-left: 16px;

    &.first {
      margin-top: 32px;
    }
  }

  &__product-item {
  }

  &__icon-arrow {
    width: 24px;
    height: 24px;
    stroke: $color-icon-primary;
    stroke-width: 2;
    stroke-linecap: square;
  }
  &__icon-close {
    width: 24px;
    height: 24px;
    fill: $color-icon-primary;
  }
  &__icon-chevron {
    width: 24px;
    height: 24px;
    fill: $color-icon-secondary;
    fill-rule: evenodd;
    clip-rule: evenodd;
  }

  &__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
  }

  &__search {
    padding: 16px 24px;
    display: flex;
    gap: 24px;
    align-items: center;
    @media (max-width: $xs) {
      padding: 12px 16px;
    }
  }  

  &__body {    
    padding: 8px 24px 24px;

    @media (max-width: $xs) {
      padding: 8px 16px 24px;
    }
  }

  &__item-mobile {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;

    &+& {
      border-top: 1px solid $color-separator;
    }
  }

  &__content-mobile {
    display: flex;
  }

  &__container-mobile {
    width: 100%;
    position: fixed;
    right: 0;
    z-index: 99;
    background-color: $color-bg-primary;
    transform: translateX(-100%);
    transition: ease transform 0.3s;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    &.is-active {
      transform: translateX(0);
      height: 100vh;
    }
    &.second {
      z-index: 100;
    }
    &.third {
      z-index: 101;
    }
    &.popular {
      z-index: 102;
    }    
  }
}
