<template lang="pug">
  .dropdown-catalog
    .dropdown-catalog__desktop
      .dropdown-catalog__col
        nuxt-link.dropdown-catalog__headline(to='/catalog') Каталог        
        ul.dropdown-catalog__list
          nuxt-link.dropdown-catalog__item(v-for="(item, i) in catalog" :key="i" @mouseenter.native='getFirstIndex(i)' ref='mouse' @mouseleave.native='leave' :to='item.link')
            svg-icon.dropdown-catalog__icon(:name="item.icon")
            nuxt-link.dropdown-catalog__link(to='/') {{item.title}}        
      .dropdown-catalog__col(v-if="firstIndex >= 0 && catalog[firstIndex].categories.length > 1 && catalog[firstIndex].categories[secondIndex]")
        nuxt-link.dropdown-catalog__headline(v-if="catalog[firstIndex]" :to='catalog[firstIndex].link') {{catalog[firstIndex].title}}
        ul.dropdown-catalog__list
          nuxt-link.dropdown-catalog__item(v-for="(category, j) in catalog[firstIndex].categories" :key="j" @mouseenter.native='getSecondIndex(j)' @mouseleave.native='leave' to='/')
            nuxt-link.dropdown-catalog__link(to='/') {{category.title}}        
      .dropdown-catalog__col(:class='{"none": !firstVisible}')
        .dropdown-catalog__box.first
          nuxt-link.dropdown-catalog__headline(:to='catalog[firstIndex].categories[secondIndex].link') {{catalog[firstIndex].categories[secondIndex].title}}
          ul.dropdown-catalog__list-grid.first
            nuxt-link.dropdown-catalog__product-item(v-for="(product, z) in catalog[firstIndex].categories[secondIndex].products" :key="z" to='/')          
              nuxt-link.dropdown-catalog__link(to='/') {{product.title}}
        .dropdown-catalog__box    
          h2.dropdown-catalog__headline Популярное
          ul.dropdown-catalog__list-grid
            nuxt-link.dropdown-catalog__product-item(v-for="(product, z) in catalog[firstIndex].categories[secondIndex].popular" :key="z" to='/')          
              span.dropdown-catalog__link {{product.title}}    
        .dropdown-catalog__box    
          h2.dropdown-catalog__headline Рекомендуем приобрести
          ul.dropdown-catalog__list-grid
            nuxt-link.dropdown-catalog__product-item(v-for="(product, z) in catalog[firstIndex].categories[secondIndex].recomended" :key="z" to='/')          
              span.dropdown-catalog__link {{product.title}}
              
    .dropdown-catalog__mobile    
      .dropdown-catalog__container-mobile.is-active
        .dropdown-catalog__header
          .dropdown-catalog__icon-arrow
          h2.dropdown-catalog__headline Каталог
          svg-icon.dropdown-catalog__icon-close(name='close' @click='close')
        .dropdown-catalog__search
          SearchField(class='in-catalog' v-model="searchValue")
        .dropdown-catalog__body
          .dropdown-catalog__item-mobile(v-for="(item, i) in catalog" :key="i" @click='toogleFirst(i)')
            .dropdown-catalog__content-mobile
              svg-icon.dropdown-catalog__icon(:name="item.icon")
              .dropdown-catalog__link {{item.title}}
            svg-icon.dropdown-catalog__icon-chevron(name='chevron-right')

      .dropdown-catalog__container-mobile.second(:class='{"is-active": firstOpen}' v-if="firstOpen")
        .dropdown-catalog__header
          svg-icon.dropdown-catalog__icon-arrow(name='arrow-left' @click='backFirst')
          h2.dropdown-catalog__headline {{catalog[firstIndex].title}}
          svg-icon.dropdown-catalog__icon-close(name='close' @click='close')
        .dropdown-catalog__body
          .dropdown-catalog__item-mobile(v-for="(category, j) in catalog[firstIndex].categories" :key="j" @click='toogleSecond(j)')
            .dropdown-catalog__content-mobile              
              .dropdown-catalog__link {{category.title}}
            svg-icon.dropdown-catalog__icon-chevron(name='chevron-right')

      .dropdown-catalog__container-mobile.third(:class='{"is-active": secondOpen}' v-if="secondOpen")
        .dropdown-catalog__header
          svg-icon.dropdown-catalog__icon-arrow(name='arrow-left' @click='backSecond')
          h2.dropdown-catalog__headline {{catalog[firstIndex].categories[secondIndex].title}}
          svg-icon.dropdown-catalog__icon-close(name='close' @click='close')
        .dropdown-catalog__body
          .dropdown-catalog__item-mobile(@click='tooglePopular')
            .dropdown-catalog__content-mobile
              .dropdown-catalog__link Популярное
            svg-icon.dropdown-catalog__icon-chevron(name='chevron-right')
          .dropdown-catalog__item-mobile(@click='toogleRecomended')
            .dropdown-catalog__content-mobile
              .dropdown-catalog__link Рекомендуем приобрести
            svg-icon.dropdown-catalog__icon-chevron(name='chevron-right')
          .dropdown-catalog__item-mobile(v-for="(product, z) in catalog[firstIndex].categories[secondIndex].products" :key="z")
            .dropdown-catalog__content-mobile
              nuxt-link.dropdown-catalog__link(:to='product.link' @click.native='closeMenu') {{product.title}}           
      .dropdown-catalog__container-mobile.popular(:class='{"is-active": popularOpen}' v-if="popularOpen")
        .dropdown-catalog__header
          svg-icon.dropdown-catalog__icon-arrow(name='arrow-left' @click='tooglePopular')
          h2.dropdown-catalog__headline Популярное
          svg-icon.dropdown-catalog__icon-close(name='close' @click='close')
        .dropdown-catalog__body          
          .dropdown-catalog__item-mobile(v-for="(product, z) in catalog[firstIndex].categories[secondIndex].popular" :key="z")
            .dropdown-catalog__content-mobile
              nuxt-link.dropdown-catalog__link(:to='product.link' @click.native='closeMenu') {{product.title}}

      .dropdown-catalog__container-mobile.popular(:class='{"is-active": recomendedOpen}' v-if="recomendedOpen")
        .dropdown-catalog__header
          svg-icon.dropdown-catalog__icon-arrow(name='arrow-left' @click='toogleRecomended')
          h2.dropdown-catalog__headline Популярное
          svg-icon.dropdown-catalog__icon-close(name='close' @click='close')
        .dropdown-catalog__body          
          .dropdown-catalog__item-mobile(v-for="(product, z) in catalog[firstIndex].categories[secondIndex].recomended" :key="z")
            .dropdown-catalog__content-mobile
              nuxt-link.dropdown-catalog__link(:to='product.link' @click.native='closeMenu') {{product.title}}
</template>

<script>
export default {
  data() {
    return {
      firstVisible: false,    
      firstIndex: 0,
      secondIndex: 0,
      firstOpen: false,
      secondOpen: false,
      popularOpen: false,
      recomendedOpen: false,
      timeout: false,
      searchValue: null,
      catalog: [
        {
          title: 'Профнастил',
          link: '/catalog/slug',
          icon: 'proflist',
          categories: [
            {  
              title: 'Профнастил',
              link: '/catalog/slug',            
              products: [
                {
                  title: 'Софит металлический перфорированный L-брус',
                  link: '/product/slug',
                },
                {
                  title: 'Металлический софит Grand Line с полной перфорацией',
                  link: '/product/slug',
                },
                {
                  title: 'Металлический софит Aquasystem с полной перфорацией',
                  link: '/product/slug',
                }
              ],
              popular: [
                {
                  title: 'Софит металлический перфорированный L-брус',
                  link: '/product/slug',
                }
              ],
              recomended: [
                {
                  title: 'Софит металлический перфорированный L-брус',
                  link: '/product/slug',
                }
              ]
            },            
          ]
        },
        {
          title: 'Кровельные материалы',
          link: '/catalog/slug',
          icon: 'proflist',
          categories: [
            {
              title: 'Софиты металлические1',
              link: '/catalog/slug',
              products: [
                {
                  title: '1',
                  link: '/product/slug',
                },
                {
                  title: 'Металлический софит Grand Line с полной перфорацией',
                  link: '/product/slug',
                },
                {
                  title: 'Металлический софит Aquasystem с полной перфорацией',
                  link: '/product/slug',
                }
              ],
              popular: [
                {
                  title: 'Коричневые софиты',
                  link: '/product/slug',
                },
                {
                  title: 'Белые софиты',
                  link: '/product/slug',
                },
                {
                  title: 'Софиты под деерево',
                  link: '/product/slug',
                },
                {
                  title: 'Софиты без перфорации',
                  link: '/product/slug',
                },
                {
                  title: 'С центральной перфорацией',
                  link: '/product/slug',
                },                
              ],
              recomended: [
                {
                  title: 'Доборные элементы',
                  link: '/product/slug',
                },
                {
                  title: 'Крепёж',
                  link: '/product/slug',
                }
              ]
            },
            {
              title: 'Софиты металлические2',
              link: '/catalog/slug',
              products: [
                {
                  title: 'Софит металлический перфорированный L-брус',
                  link: '/product/slug',
                },
                {
                  title: 'Металлический софит Grand Line с полной перфорацией',
                  link: '/product/slug',
                },
                {
                  title: 'Металлический софит Aquasystem с полной перфорацией',
                  link: '/product/slug',
                }
              ],
              popular: [
                {
                  title: 'Софит металлический перфорированный L-брус',
                  link: '/product/slug',
                }
              ],
              recomended: [
                {
                  title: 'Софит металлический перфорированный L-брус',
                  link: '/product/slug',
                }
              ]
            }
          ]
        },
        {
          title: 'Кровельные материалы',
          link: '/catalog/slug',
          icon: 'proflist',
          categories: [
            {
              title: 'Софиты металлические1',
              link: '/catalog/slug',
              products: [
                {
                  title: '1',
                  link: '/product/slug',
                },
                {
                  title: 'Металлический софит Grand Line с полной перфорацией',
                  link: '/product/slug',
                },
                {
                  title: 'Металлический софит Aquasystem с полной перфорацией',
                  link: '/product/slug',
                }
              ],
              popular: [
                {
                  title: 'Коричневые софиты',
                  link: '/product/slug',
                },
                {
                  title: 'Белые софиты',
                  link: '/product/slug',
                },
                {
                  title: 'Софиты под деерево',
                  link: '/product/slug',
                },
                {
                  title: 'Софиты без перфорации',
                  link: '/product/slug',
                },
                {
                  title: 'С центральной перфорацией',
                  link: '/product/slug',
                },                
              ],
              recomended: [
                {
                  title: 'Доборные элементы',
                  link: '/product/slug',
                },
                {
                  title: 'Крепёж',
                  link: '/product/slug',
                }
              ]
            },
            {
              title: 'Софиты металлические2',
              link: '/catalog/slug',
              products: [
                {
                  title: 'Софит металлический перфорированный L-брус',
                  link: '/product/slug',
                },
                {
                  title: 'Металлический софит Grand Line с полной перфорацией',
                  link: '/product/slug',
                },
                {
                  title: 'Металлический софит Aquasystem с полной перфорацией',
                  link: '/product/slug',
                }
              ],
              popular: [
                {
                  title: 'Софит металлический перфорированный L-брус',
                  link: '/product/slug',
                }
              ],
              recomended: [
                {
                  title: 'Софит металлический перфорированный L-брус',
                  link: '/product/slug',
                }
              ]
            }
          ]
        }
      ]
    }
  },
  methods: {       
    getFirstIndex(index) {      
      this.timeout = true
      
      setTimeout(() => {
        if (this.timeout) {
          this.firstVisible = true
          this.firstIndex = index
          this.secondIndex = 0 
        }   
      }, 1000);      
    },
    leave() {      
      this.timeout = false 
    },
    getSecondIndex(ind) {   
      this.timeout = true
      setTimeout(() => {
        if (this.timeout) {
          this.secondIndex = ind          
        }   
      }, 1000);           
    },
    toogleFirst(index) {
      this.firstIndex = index      
      if (this.catalog[index].categories.length > 1) {
        this.firstOpen =! this.firstOpen
      } else {
        this.secondOpen =! this.secondOpen
      }      
    },
    toogleSecond(ind) {
      this.secondIndex = ind
      this.secondOpen =! this.secondOpen
    },
    close() {      
      this.$nuxt.$emit('closeCatalog')      
    },
    closeMenu() {            
      this.$nuxt.$emit('closeCatalog')
      this.$nuxt.$emit('closeMenu')
    },
    backFirst() {
      this.firstOpen =! this.firstOpen
    },
    backSecond() {
      this.secondOpen =! this.secondOpen
    },
    tooglePopular() {
      this.popularOpen =! this.popularOpen
    },
    toogleRecomended() {
      this.recomendedOpen =! this.recomendedOpen
    },
    deleteCatalogState() {
      this.firstVisible = false
    }
  },
  mounted() {
    this.$nuxt.$on('deleteCatalogState', this.deleteCatalogState)
  },
}
</script>

<style src='./dropdown-catalog.scss' lang="scss">

</style>