.object-page {
  margin-top: 32px;
  @media (max-width: $s) {   
    margin-top: 24px;
  }
  &__slider {
    width: 100%;
    display: flex;
    
  }

  &__specifications {
    display: flex;
    
    margin-top: 48px;
    width: 100%;

    @media (max-width: $m) {
      flex-direction: column;
      margin-top: 32px;
    }
  }

  &__description {    
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    @media (max-width: $m) {
      padding-right: 0;
    }
  }

  &__list {
    width: fit-content;
    display: flex;
    // flex-shrink: 0;
    gap: 40px;
    @media (max-width: $m) {
      margin-top: 32px;
      gap: 24px;
      width: 100%;
      flex-shrink: 1;
    }

    @media (max-width: $xs) {
      margin-top: 24px;
      
      width: 100%;
      flex-shrink: 1;
      flex-wrap: wrap;
    }
    @media (max-width: $xxs) {
      flex-direction: column;   
        
    }
  }

  &__specification {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;  

    @media (max-width: $m) {
      flex-shrink: unset;        
    }

    &:nth-child(1) {
      width: 240px;
      
      @media (max-width: $l) {
        width: 208px;        
      }
      @media (max-width: $m) {
        width: fit-content;        
      }
      @media (max-width: $xs) {
        width: 100%;        
      }
    }

    &:nth-child(2) {
      width: 96px !important;
      flex-shrink: 0; 
    }
    &:nth-child(3) {
      width: 160px;
      flex-shrink: 0; 
    }
    &:nth-child(4) {
      width: 128px;
      flex-shrink: 0; 
      @media (max-width: $xs) {
        width: 100%;        
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;

    @media (max-width: $s) {
      padding-top: 32px;
    }
    @media (max-width: $xs) {
      flex-direction: column;    
    }
  }

  &__controls {
    display: flex;
    @media (max-width: $xs) {
      width: 100%;
      margin-top: 16px;       
    }
    @media (max-width: $xxs) {
      flex-direction: column;      
    }
  }

  &__title {
    color: $color-text-secondary;
    @include fontSize(14, 16);
    font-weight: 500;
    padding-bottom: 8px;
  }

  &__text {
    color: $color-text-primary;
    @include fontSize(14, 20);
    font-weight: 500;

    &.bold {
      @include fontSize(18, 24);
      font-weight: 600;
    }
    
  }

  &__button {
    padding: 12px 16px;
    background-color: $color-bg-secondary;
    border-radius: 4px;
    border: 1px solid $color-separator;
    align-items: center;
    display: flex;
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 600;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-accent-light-blue;
      border: 1px solid $color-accent-light-blue;
      color: $color-text-contrast;
    }

    &+&{
      margin-left: 8px;
    }

    @media (max-width: $xs) {
      width: 100%; 
      justify-content: center; 
    }

    @media (max-width: $xxs) {
      &+&{
        margin-left: 0;
        margin-top: 8px;
      }
    }
  }

  &__smile {
    margin-right: 8px;
  }

  &__link {
    color: $color-accent-light-blue;
    @include fontSize(14, 20);
    font-weight: 600;

    & + & {
      padding-top: 8px;
    }
  }
}