<template lang="pug">
.object-page
  .container
  .object-page__slider
    ImagesSlider(:data='images')
  .object-page__specifications
    .object-page__description
      p.object-page__title Описание
      p.object-page__text Компания Сталь ТД осуществила монтаж металлического сайдинга Экобрус и металлочерепицы на пристройку к дому в посёлке Волков лес Тосненского района. Металлосайдинг цветов RAL 8017 и RAL 1014 смонтирован на металлическую подсистему. Установлена водосточная система МП Престиж в цвет кровли RAL 3005.
    .object-page__list
      .object-page__specification
        p.object-page__title Локация
        p.object-page__text Ленинградская область, Тосненский район, п. Волков лес
      .object-page__specification
        p.object-page__title Дата
        p.object-page__text Ноябрь 2020
      .object-page__specification
        p.object-page__title Выполненные работы
        nuxt-link.object-page__link(to='/') Монтаж фасадов
        nuxt-link.object-page__link(to='/') Монтаж кровли
      .object-page__specification
        p.object-page__title Объём поставок
        p.object-page__text.bold 280 м²
  .object-page__bottom
    button.object-page__button
      img.object-page__smile(src='/icons/in-love.svg')
      | Хочу такой же проект
    .object-page__controls
      button.object-page__button Предыдущий объект
      button.object-page__button Следующий объект
  .object-page__slider
    //- ProductsSlider(:data='porducts' object='ProductCard' title='Использованные товары')
</template>

<script>
export default {
  data() {
    return {
      images: ['/img/object-1.jpg', '/img/object-1.jpg', '/img/object-1.jpg'],
      porducts: [
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
      ]
    }
  },
  methods: {},
}
</script>

<style lang="scss" src='./object-page.scss'>
</style>