<template lang="pug">
.page__content
  .container
    Breadcrumbs(:data='breadcrumbs')
    CoatingMain(:data='data.main')
    ColorsSection(v-for="item in data.colors_section" :key="item.id" :colors='item.colors', :title='item.title' class='in-coating')
  ProductsSlider(:data='data.categories' object='LinkCard' title='Категории с покрытием PURETAN®')
  ProductsSlider(:data='data.porducts' object='ProductCard' title='Товары с покрытием PURETAN®')
     
</template>

<script>
export default {
  data() {
    return {
      data: {
        main: {
          slider: [
            '/img/cover-test.jpg',
            '/img/coating-big.jpg',
            '/img/coating-big.jpg',
          ],
          info: {
            title: 'PURETAN®',
            description: [
              'PURETAN® особенно хорош своей устойчивостью к коррозии за счёт сложной формулы своего состава (цинка, специального грунта и полиуретана, усиленного полиамидными гранулами).',
              'PURETAN® сохраняет первоначальный цвет долгие годы, совершенно не боится агрессивного воздействия ультрафиолета и отлично сопротивляется механическим повреждениям при транспортировке и монтаже (царапины, сколы).',
              'PURETAN® — полная победа над коррозией, повреждениями и непогодой.',
            ],
            specifications: [
              {
                icon: '/icons/fake.svg',
                name: 'Класс покрытия',
                value: 'Стандарт',
              },
              {
                icon: '/icons/fake.svg',
                name: 'Коррозионная стойкость',
                info: 'Информация',
                quantity: 3,
              },
              {
                icon: '/icons/fake.svg',
                name: 'Цветостойскость',
                info: 'Информация',
                quantity: 3,
              },
              {
                icon: '/icons/fake.svg',
                name: 'Механическая устойчивость',
                info: 'Механическая устойчивость',
                quantity: 3,
              },
              {
                icon: '/icons/zinc-coating.svg',
                name: 'Оцинковка',
                info: 'Информация',
                value: '100 г/м²',
              },
              {
                icon: '/icons/thickness.svg',
                name: 'Толщина',
                value: '25 мкм',
              },
              {
                icon: '/icons/guarantee.svg',
                name: 'Гарантия',
                value: '1 год',
              },
            ],
          },
        },
        colors_section: [
          {
            title: 'Доступные цвета для покрытия PURETAN®',
            colors: [
              {
                hex: '#F8CE9A',
                title: 'RAL 1014',
                name: 'Бежевый',
              },
              {
                hex: '#FEE9C1',
                title: 'RAL 1015',
                name: 'Бежевый',
              },
              {
                hex: '#F7CB3C',
                title: 'RAL 1018',
                name: 'Желтый',
              },
              {
                hex: '#EB6A0A',
                title: 'RAL 1018',
                name: 'Желтый',
              },
              {
                hex: '#8F000C',
                title: 'RAL 1018',
                name: 'Желтый',
              },
              {
                hex: '#6D001B',
                title: 'RAL 1018',
                name: 'Желтый',
              },
              {
                hex: '#571216',
                title: 'RAL 1018',
                name: 'Желтый',
              },
              {
                hex: '#902016',
                title: 'RAL 1018',
                name: 'Желтый',
              },
              {
                hex: '#000064',
                title: 'RAL 1018',
                name: 'Желтый',
              },
              {
                hex: '#021F68',
                title: 'RAL 1018',
                name: 'Желтый',
              },
              {
                hex: '#1D8770',
                title: 'RAL 1018',
                name: 'Желтый',
              },
              {
                hex: '#2C7E28',
                title: 'RAL 1018',
                name: 'Желтый',
              },
              {
                hex: '#0E432F',
                title: 'RAL 1018',
                name: 'Желтый',
              },
              {
                hex: '#9DC799',
                title: 'RAL 1018',
                name: 'Желтый',
              },
              {
                hex: '#0F4A27',
                title: 'RAL 1018',
                name: 'Желтый',
              },
              {
                hex: '#878787',
                title: 'RAL 1018',
                name: 'Желтый',
              },
            ],
          },
        ],
        categories: [
          {
            title: 'Сопутствующие товары',
            link: '/catalog/slug',
            icon: '<svg width="144" height="144" viewBox="0 0 144 144" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M117.6 31.2006L40.8 21.6006L18 112.801L94.8 122.401L100.432 99.8716M117.6 31.2006L127.208 103.213L100.432 99.8716M117.6 31.2006L100.432 99.8716M89.7001 60.1123L108.9 62.5123M82.5728 89.3791L101.773 91.7791M69.1781 23.3162L45.8663 116.545M96.8895 27.6193L73.6357 120.614" stroke="#6E9755" stroke-width="2"/></svg>',
          },
          {
            title: 'Сопутствующие товары',
            link: '/catalog/slug',
            icon: '<svg width="144" height="144" viewBox="0 0 144 144" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M117.6 31.2006L40.8 21.6006L18 112.801L94.8 122.401L100.432 99.8716M117.6 31.2006L127.208 103.213L100.432 99.8716M117.6 31.2006L100.432 99.8716M89.7001 60.1123L108.9 62.5123M82.5728 89.3791L101.773 91.7791M69.1781 23.3162L45.8663 116.545M96.8895 27.6193L73.6357 120.614" stroke="#6E9755" stroke-width="2"/></svg>',
          },
          {
            title: 'Сопутствующие товары',
            link: '/catalog/slug',
            icon: '<svg width="144" height="144" viewBox="0 0 144 144" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M117.6 31.2006L40.8 21.6006L18 112.801L94.8 122.401L100.432 99.8716M117.6 31.2006L127.208 103.213L100.432 99.8716M117.6 31.2006L100.432 99.8716M89.7001 60.1123L108.9 62.5123M82.5728 89.3791L101.773 91.7791M69.1781 23.3162L45.8663 116.545M96.8895 27.6193L73.6357 120.614" stroke="#6E9755" stroke-width="2"/></svg>',
          },
        ],
        porducts: [
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
        {
          image: '/img/product-card-1.png',
          title: 'Профлист С8',
          special: {
            name: 'Премиум покрытие',
            value: 'Полиэстер'
          },
          specifications: [
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.77639 5.55279L3.5 5.69098V6V14V14.309L3.77639 14.4472L9.77639 17.4472L10 17.559L10.2236 17.4472L16.2236 14.4472L16.5 14.309V14V6V5.69098L16.2236 5.55279L10.2236 2.55279L10 2.44098L9.77639 2.55279L3.77639 5.55279Z" fill="#D7E6F5" stroke="#334767"/></svg>',
              value: 'RR 23 (мокрый асфальт)'
            },
            {
              icon: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 2L10 5L7 2" stroke="#334767" stroke-linejoin="round"/><path d="M13 18L10 15L7 18" stroke="#334767" stroke-linejoin="round"/><rect x="1" y="7" width="18" height="6" fill="#D7E6F5"/><rect x="1" y="12" width="18" height="1" fill="#334767"/><rect x="1" y="7" width="18" height="1" fill="#334767"/></svg>',
              value: '0,3 мм'
            }
          ],
          status: 'in-stock',
          price: 84844
        },
      ],
      },
    }
  },
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Сервис подбора покрытий',
          url: '/coating'
        },
      ]

      return breadcrumbs
    },
  },
}
</script>