<template lang="pug">
.page__content
  .container
    Headline(title='Сервис подбора покрытия')
    CoatingSelector(:data='data.selector')
    .coating-page__head
      h2.coating-page__headline Покрытия <sup class='coating-page__sup'>{{ data.coats.length }}</sup>
    .coating-page__list
      CoatingCard(v-for='coat in data.coats', :key='coat.id', :coat='coat') 
</template>

<script>
export default {
  data() {
    return {
      data: {
        selector: {
          select_product: [
            {
              label: 'Dropdown item 1',
              value: 'Dropdown item 1',
            },
            {
              label: 'Dropdown item 2',
              value: 'Dropdown item 2',
            },
            {
              label: 'Dropdown item 3',
              value: 'Dropdown item 3',
            },
          ],
          select_surface: [
            {
              label: '1',
              value: '1',
            },
            {
              label: '2',
              value: '2',
            },
            {
              label: '3',
              value: '3',
            },
          ],
          select_guarantee: [
            {
              label: '1',
              value: '1',
            },
            {
              label: '2',
              value: '2',
            },
            {
              label: '3',
              value: '3',
            },
          ],
          colors: [
            {
              hex: '#C0C3C8',
              text: 'Оцинковка',
            },
            {
              hex: '#0C9041',
              text: 'Зелёный',
            },
            {
              image: '/img/texture-1.jpg',
              text: 'Под дерево',
            },
            {
              hex: '#FFD73D',
              text: 'Жёлтый',
            },
            {
              hex: '#A90808',
              text: 'Красный',
            },
            {
              hex: '#0C9041',
              text: 'Зелёный',
            },
            {
              hex: '#0C9041',
              text: 'Зелёный',
            },
            {
              hex: '#0C9041',
              text: 'Зелёный',
            },
            {
              image: '/img/texture-1.jpg',
              text: 'Под дерево',
            },
            {
              hex: '#FFA500',
              text: 'Оранжевый',
            },
            {
              hex: '#0C9041',
              text: 'Зелёный',
            },
            {
              image: '/img/texture-1.jpg',
              text: 'Под дерево',
            },
            {
              hex: '#C0C3C8',
              text: 'Оцинковка',
            },
            {
              hex: '#0C9041',
              text: 'Зелёный',
            },
            {
              image: '/img/texture-1.jpg',
              text: 'Под дерево',
            },
            {
              hex: '#C0C3C8',
              text: 'Оцинковка',
            },
            {
              hex: '#A90808',
              text: 'Красный',
            },
            {
              image: '/img/texture-1.jpg',
              text: 'Под дерево',
            },
          ],
        },
        filter: {},
        coats: [
          {
            image: '/img/coating-1.jpg',
            slug: 'slug',
            title: 'Полиэстер',
            label: 'Стандарт',
            description:
              'Цвет с двух сторон. Покрытие идеально подходит для строительства забора',
            specifications: [
              {
                icon: '/icons/zinc-coating.svg',
                value: '100 г/м²',
              },
              {
                icon: '/icons/thickness.svg',
                value: '25 мкм',
              },
              {
                icon: '/icons/guarantee.svg',
                value: '10 лет',
              },
            ],
          },
          {
            image: '/img/coating-1.jpg',
            title: 'Полиэстер',
            label: 'Стандарт',
            description:
              'Цвет с двух сторон. Покрытие идеально подходит для строительства забора',
            specifications: [
              {
                icon: '/icons/zinc-coating.svg',
                value: '100 г/м²',
              },
              {
                icon: '/icons/thickness.svg',
                value: '25 мкм',
              },
              {
                icon: '/icons/guarantee.svg',
                value: '10 лет',
              },
            ],
          },
          {
            image: '/img/coating-1.jpg',
            title: 'Полиэстер',
            label: 'Стандарт',
            description:
              'Цвет с двух сторон. Покрытие идеально подходит для строительства забора',
            specifications: [
              {
                icon: '/icons/zinc-coating.svg',
                value: '100 г/м²',
              },
              {
                icon: '/icons/thickness.svg',
                value: '25 мкм',
              },
              {
                icon: '/icons/guarantee.svg',
                value: '10 лет',
              },
            ],
          },
          {
            image: '/img/coating-1.jpg',
            title: 'Полиэстер',
            label: 'Стандарт',
            description:
              'Цвет с двух сторон. Покрытие идеально подходит для строительства забора',
            specifications: [
              {
                icon: '/icons/zinc-coating.svg',
                value: '100 г/м²',
              },
              {
                icon: '/icons/thickness.svg',
                value: '25 мкм',
              },
              {
                icon: '/icons/guarantee.svg',
                value: '10 лет',
              },
            ],
          },
          {
            image: '/img/coating-1.jpg',
            title: 'Полиэстер',
            label: 'Стандарт',
            description:
              'Цвет с двух сторон. Покрытие идеально подходит для строительства забора',
            specifications: [
              {
                icon: '/icons/zinc-coating.svg',
                value: '100 г/м²',
              },
              {
                icon: '/icons/thickness.svg',
                value: '25 мкм',
              },
              {
                icon: '/icons/guarantee.svg',
                value: '10 лет',
              },
            ],
          },
          {
            image: '/img/coating-1.jpg',
            title: 'Полиэстер',
            label: 'Стандарт',
            description:
              'Цвет с двух сторон. Покрытие идеально подходит для строительства забора',
            specifications: [
              {
                icon: '/icons/zinc-coating.svg',
                value: '100 г/м²',
              },
              {
                icon: '/icons/thickness.svg',
                value: '25 мкм',
              },
              {
                icon: '/icons/guarantee.svg',
                value: '10 лет',
              },
            ],
          },
          {
            image: '/img/coating-1.jpg',
            title: 'Полиэстер',
            label: 'Стандарт',
            description:
              'Цвет с двух сторон. Покрытие идеально подходит для строительства забора',
            specifications: [
              {
                icon: '/icons/zinc-coating.svg',
                value: '100 г/м²',
              },
              {
                icon: '/icons/thickness.svg',
                value: '25 мкм',
              },
              {
                icon: '/icons/guarantee.svg',
                value: '10 лет',
              },
            ],
          },
          {
            image: '/img/coating-1.jpg',
            title: 'Полиэстер',
            label: 'Стандарт',
            description:
              'Цвет с двух сторон. Покрытие идеально подходит для строительства забора',
            specifications: [
              {
                icon: '/icons/zinc-coating.svg',
                value: '100 г/м²',
              },
              {
                icon: '/icons/thickness.svg',
                value: '25 мкм',
              },
              {
                icon: '/icons/guarantee.svg',
                value: '10 лет',
              },
            ],
          },
        ],
      },
    }
  },
}
</script>

<style lang="scss">
.coating-page {
  &__head {
    padding-top: 64px;
  }

  &__headline {
    color: $color-text-heading;
    @include fontSize(32, 40);
    font-weight: 700;
    @media (max-width: $m) {
      @include fontSize(24, 32);
    }
  }

  &__sup {
    color: $color-text-secondary;
    @include fontSize(16, 24);
    font-weight: 400;
  }

  &__list {
    padding-top: 24px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    @media (max-width: $m) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media (max-width: $s) {
      padding-top: 16px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (max-width: $xs) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}
</style>