<template lang="pug">
.page__content
  .container
    Breadcrumbs(:data='breadcrumbs')
    Headline(title='Характеристики оцинкованного проката')   
    Wysiwyg(:data='wysiwyg')
    .wysiwyg      
      h2 Преимущества
      ul
        li Долговечность и надёжная защита конструкции от коррозии благодаря уникальной технологии нанесения горячего цинка на поверхность стали, обеспечивающей их максимальное сцепление
        li Пластичность и прочность, что позволяет получить требуемую форму изделия, обеспечить защиту металла от коррозии на изгибах
      img(src='/img/wysiwyg-2.jpg' class='increasing')
      section
        h2 Упаковка и маркировка
        p Маркировка на наклеенных ярлыках.
        p В пачках:
        ul
          li вес пачки — до 10 т;
          li возможна поставка в ленте шириной от 100 до 750 мм
        p В бунтах:
        ul
          li вес рулона — от 5 до 20 т;
          li наружный диаметр рулона на выходе: от 2100 до 2200 мм;
          li внутренний диаметр рулона: от 600 до 620 мм.
      section
        h2 Технические характеристики
        <table>
          <tbody>
            <tr>
              <th>Марка стали</th>
              <th>Стандарт</th>
              <th>Толщина*,&nbsp;мм</th>
              <th>Ширина*,&nbsp;мм</th>
              <th>Вид&nbsp;покрытия</th>
              <th>Класс покрытия</th>
            </tr>
            <tr>
              <td>08пс; 08Ю; Ст3сп/пс; Ст1пс; Ст2пс</td>
              <td>ГОСТ 14918–80</td>
              <td>0,40–2,00</td>
              <td>900–1500</td>
              <td>МТ&nbsp;— без&nbsp;узора кристаллизации КР&nbsp;— с&nbsp;узором кристаллизации</td>
              <td>Класс 1, 2</td>
            </tr>
            <tr>
              <td>08пс; 08Ю; Ст3сп/пс; Ст1пс; Ст2пс</td>
              <td>Cell text</td>
              <td>0,30–2,00</td>
              <td>900–1500</td>
              <td>М&nbsp;— матовый, без&nbsp;узора кристаллизации Н&nbsp;— с&nbsp;узором кристаллизации МД&nbsp;— матовый, дрессированный</td>
              <td>Класс 1, 2</td>
            </tr>
          </tbody>
        </table>
        p
        small *Указан полный диапазон размеров. Конкретные размеры согласовываются при заказе
    .file-page
      h2.file-page__title Файлы для скачивания
      .file-page__grid
        FileCard(v-for="file in files" :key="file.id" :data='file' class='file-page-grid')
</template>

<script>
export default {
  data() {
    return {
      wysiwyg: '',
      files: [
        {
          text: 'Справочник веса профлиста',
          download: '/icons/catalog.svg',
          format: 'PDF',
          size: '48,4 Мб'
        },
        {
          text: 'Правила транспортировки и хранения профилированной продукции',
          download: '/icons/catalog.svg',
          format: 'PDF',
          size: '48,4 Мб'
        },        
        {
          text: 'Справочник веса профлиста',
          download: '/icons/catalog.svg',
          format: 'PDF',
          size: '48,4 Мб'
        },
        {
          text: 'Правила транспортировки и хранения профилированной продукции',
          download: '/icons/catalog.svg',
          format: 'PDF',
          size: '48,4 Мб'
        },        
      ],
    }
  },
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Справочник',
          url: '/files'
        },
      ]

      return breadcrumbs
    },
  },
}
</script>

<style lang="scss">
  .file-page {
    margin-top: 64px;
    &__title {
      color: $color-text-heading;
      @include fontSize(24, 32);
      font-weight: 700;  
    }
    &__grid {    
      margin-top: 24px;
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-auto-rows: 1fr;
      grid-auto-flow: dense;

      @media (max-width: $s) {
        display: flex;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
      }
      
  }
  }
</style>