<template lang="pug">
.dropdown-cart
  .dropdown-cart__head 
    h2.dropdown-cart__title Корзина
  .dropdown-cart__body    
    nuxt-link.dropdown-cart__item(v-for="product in products" :key="product.id" to='/product/slug')
      .dropdown-cart__cover
        img.dropdown-cart__image(:src='product.image')
      .dropdown-cart__content
        h2.dropdown-cart__name {{product.title}}
        p.dropdown-cart__specifications(v-if="product.specifications" v-for="specification in product.specifications" :key="specification.id")  {{specification}}
        p.dropdown-cart__price 122 000 ₽
  .dropdown-cart__bottom
    .dropdown-cart__price-container
      p.dropdown-cart__sum Итого
      h2.dropdown-cart__title 147 758 ₽
    nuxt-link.dropdown-cart__button(to='/cart') Перейти в корзину
</template>

<script>
export default {
  data() {
    return {
      products: [
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            specifications: ['Полиэстер • RR 23 • 0,3 мм', '488 ₽ × 250 м²'],
            badge: 'in-stock',
            quantity: 250,
            price: 400
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            specifications: ['Полиэстер • RR 23 • 0,3 мм', '488 ₽ × 250 м²'],
            badge: 'in-stock',
            quantity: 250,
            price: 400
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            specifications: ['Полиэстер • RR 23 • 0,3 мм', '488 ₽ × 250 м²'],
            badge: 'in-stock',
            quantity: 250,
            price: 400
          },
          {
            image: '/img/product-card-1.png',
            title: 'Профлист С8',
            specifications: ['Полиэстер • RR 23 • 0,3 мм', '488 ₽ × 250 м²'],
            badge: 'in-stock',
            quantity: 250,
            price: 400
          },
          {
            image: '/img/product-card-2.png',
            title: 'Саморез по дереву HD 4,0×45 мм',
            quantity: 250,
            price: 60
          },
          {
            image: '/img/product-card-1.png',
            title: 'Металлическая водосточная система Foramina (МП Престиж)',
            specifications: ['МП Престиж D125/100 • RAL 3005', '488 ₽ × 250 м²'],
            quantity: 2,
            price: 60,
            complect: [
              {
                image: '/img/subproduct-1.png',
                title: 'Держатель желоба карнизный D125*132 усил. 3 мм',
                quantity: 1,
                price: 500
              },
              {
                image: '/img/subproduct-1.png',
                title: 'Держатель желоба карнизный D125*132 усил. 3 мм',
                quantity: 1,
                price: 500
              },
              {
                image: '/img/subproduct-1.png',
                title: 'Держатель желоба карнизный D125*132 усил. 3 мм',
                quantity: 1,
                price: 500
              },
              {
                image: '/img/subproduct-1.png',
                title: 'Держатель желоба карнизный D125*132 усил. 3 мм',
                quantity: 1,
                price: 500
              }
            ]
          }
        ],
    }
  },
}
</script>

<style src='./dropdown-cart.scss' lang="scss">
</style>