.dropdown-cart {
  $this: &;
  &__head {
    padding: 20px 24px;
    box-shadow: inset 0px -1px 0px #E6E7EB;
  }

  &__body {
    height: 384px;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 12px;
      display: none;
    }
    &::-webkit-scrollbar-track {
      // background-color: $color-bg-primary;
      // background-color: red;
      // border-radius: 999px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 999px;
      border: 4px solid transparent;
      background-clip: content-box;
      background-color: $color-accent-light-blue;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    padding: 8px 24px;
    margin-top: 8px;

    &:hover {
      #{$this}__name {
        color: $color-accent-light-blue;
      } 
    }
  }

  &__cover {
    display: flex;
    width: 96px;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  &__image {
    
  }

  &__name {
    color: $color-accent-dark-blue;
    @include fontSize(16, 24);
    font-weight: 700;
    transition: color 0.3s ease;
  }
  &__specifications {
    color: $color-text-secondary;
    @include fontSize(14, 20);
    font-weight: 500;
    margin-top: 4px;

    &+& {
      margin-top: 16px;
    }
  }

  &__price {
    color: $color-text-heading;
    @include fontSize(16, 24);
    font-weight: 700;
    margin-top: 12px;
  }

  &__bottom {
    box-shadow: inset 0px 1px 0px #e6e7eb;
    padding: 16px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    &.viewed {
      display: flex;
    }
  }

  &__title {
    color: $color-text-heading;
    @include fontSize(18, 24);
    font-weight: 600;
  }

  &__price-container {
    display: flex;
    flex-direction: column;
  }

  &__sum {
    color: $color-text-secondary;
    @include fontSize(12, 16);
    font-weight: 400;
    margin-bottom: 4px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-text-contrast;
    @include fontSize(14, 20);
    font-weight: 600;
    border-radius: 4px;
    background-color: $color-accent-dark-blue;
    transition: background-color 0.3s ease;

    &.viewed {
      width: 100%;
      padding: 10px 0;
    }

    &:hover {
      color: $color-text-contrast;
      background-color: $color-accent-light-blue;
    }
  }
}
