<template lang="pug">
.page__content
  .container
    Breadcrumbs(:data='breadcrumbs')
  PromotionPage  
  .container
    Slider(:data='slider_recomended' object='ServiceCard' title='Рекомендуемые услуги')
</template>

<script>
export default {
  data() {
    return {
      slider_recomended: [
        {
          title: 'Порошковая покраска',
          link: '/services/slug',
          image: '/img/service-card-1.svg'
        },
        {
          title: 'Монтаж сэдвич-панелей',
          link: '/services/slug',
          image: '/img/service-card-2.svg'
        },
        {
          title: 'Установка заборов',
          link: '/services/slug',
          image: '/img/service-card-3.svg'
        },
        {
          title: 'Монтаж металлоконструкций',
          link: '/services/slug',
          image: '/img/service-card-4.svg'
        },
        {
          title: 'Порошковая покраска',
          link: '/services/slug',
          image: '/img/service-card-1.svg'
        },
        {
          title: 'Монтаж сэдвич-панелей',
          link: '/services/slug',
          image: '/img/service-card-2.svg'
        },
        {
          title: 'Установка заборов',
          link: '/services/slug',
          image: '/img/service-card-3.svg'
        },
        {
          title: 'Монтаж металлоконструкций',
          link: '/services/slug',
          image: '/img/service-card-4.svg'
        }
      ],
    }
  },
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Акции',
          url: '/promotions'
        },
      ]

      return breadcrumbs
    },
  },
}
</script>

<style lang="scss">
.promotions-page__grid {
  padding-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  @media (max-width: $s) {
    padding-top: 24px;
    grid-template-columns: 1fr;
  }
}
</style>