<template lang="pug">
.page__content
  .container
    Headline(title='Акции')
    .promotions-page__grid
      PromotionCard(
        v-for='promotion in promotions',
        :key='promotion.id',
        :promotion='promotion'
      )
</template>

<script>
export default {
  data() {
    return {
      promotions: [
        {
          title: 'Сайдинг под дерево по выгодным ценам',
          text: '48 дней до завершения',
          image: '/img/promocard-1.png',
          slug: 'slug',
          background: '#639691',
        },
        {
          title: 'Акция на оцинкованный и окрашенный профлист С8 «Дачный»',
          text: '48 дней до завершения',
          image: '/img/promocard-2.png',
          slug: 'slug',
          background: '#5D7BA0',
        },
        {
          title: 'Скидка 25% на водосточные системы',
          text: '48 дней до завершения',
          image: '/img/promocard-3.png',
          slug: 'slug',
          background: '#7998A3',
        },
        {
          title: 'Скидка 8% на фальцевую кровлю',
          text: '48 дней до завершения',
          image: '/img/promocard-4.png',
          slug: 'slug',
          background: '#7998A3',
        }
      ],
    }
  },
}
</script>

<style lang="scss">
.promotions-page__grid {
  padding-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;  

  @media (max-width: $s) {
    padding-top: 24px;
    grid-template-columns: 1fr;
  }  
}
</style>